#set ($pageSize = $core_v2_widget.GetIntValue('pageSize', 15))
#set ($endlessScroll = $core_v2_widget.GetBoolValue('endlessScroll', true))

#set($fetchGroupId = $omnicell_v1_fetch.FetchParentGroup.Id)
#set($userId = $core_v2_user.Accessing.Id)
#set($IsOwner = false)
#set($IsOwner = $omnicell_v1_implementationroom.IsOwner($fetchGroupId, $userId))

#set($IsManager = false)
#set($IsManager = $omnicell_v1_implementationroom.IsManager($fetchGroupId, $userId))

#set($IsAdmin = false)
#set($IsAdmin = $omnicell_v1_implementationroom.IsAdmin())

#if ($IsAdmin == false && $IsManager == false && $IsOnwer == false)
    $core_v2_widget.Hide()
#end


#set($filterType = false)
#set($filterType = $core_v2_widget.GetStringValue('filterType', ''))

#set ($user = false)
#if ($filterType == 'User')
	#set($user = $core_v2_user.Current)
	#if (!$user)
		#set ($user = $core_v2_user.Accessing)
	#end
	## if contextual/accessing user is anonymous, fall back to site filter mode
	#if (!$core_v2_user.IsRegistered($user.Id))
		#set ($filterType = 'Site')
	#end
#else
	#set($user = $core_v2_user.Accessing)
#end

#set ($group = $core_v2_group.Current)

#set ($messageId = '')
#set ($messageId = $core_v2_page.GetQueryStringValue('ActivityMessageID'))

#set ($loadingId = $core_v2_widget.UniqueId('loading'))
#set ($pagerId = $core_v2_widget.UniqueId('pager'))
#set ($containerId = $core_v2_widget.UniqueId('containerId'))
#set ($tabsId = $core_v2_widget.UniqueId('tabs'))

## filter tabs
#set ($filterName0 = $core_v2_widget.ApplyTokens($core_v2_widget.GetStringValue('filterName0',$core_v2_language.GetResource('filterNameDefault'))))
#set ($filterTypes0 = false)
#if($filterType == 'User')
	#set ($filterTypes0 = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('filterUserActivityTypes0','')))
#else
	#set ($filterTypes0 = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('filterActivityTypes0','')))
#end

#set ($filterName1 = $core_v2_widget.ApplyTokens($core_v2_widget.GetStringValue('filterName1',$core_v2_language.GetResource('filterNameDefault'))))
#set ($filterTypes1 = false)
#if($filterType == 'User')
	#set ($filterTypes1 = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('filterUserActivityTypes1','')))
#else
	#set ($filterTypes1 = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('filterActivityTypes1','')))
#end

#set ($filterName2 = $core_v2_widget.ApplyTokens($core_v2_widget.GetStringValue('filterName2',$core_v2_language.GetResource('filterNameDefault'))))
#set ($filterTypes2 = false)
#if($filterType == 'User')
	#set ($filterTypes2 = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('filterUserActivityTypes2','')))
#else
	#set ($filterTypes2 = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('filterActivityTypes2','')))
#end

#set ($filterName3 = $core_v2_widget.ApplyTokens($core_v2_widget.GetStringValue('filterName3',$core_v2_language.GetResource('filterNameDefault'))))
#set ($filterTypes3 = false)
#if($filterType == 'User')
	#set ($filterTypes3 = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('filterUserActivityTypes3','')))
#else
	#set ($filterTypes3 = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('filterActivityTypes3','')))
#end

#set ($filterName4 = $core_v2_widget.ApplyTokens($core_v2_widget.GetStringValue('filterName4',$core_v2_language.GetResource('filterNameDefault'))))
#set ($filterTypes4 = false)
#if($filterType == 'User')
	#set ($filterTypes4 = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('filterUserActivityTypes4','')))
#else
	#set ($filterTypes4 = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('filterActivityTypes4','')))
#end

##<div class="meeting-notes-title">$core_v2_language.GetResource('Omnicell_Fetch_ProjectPlanActivity_Title')<span></div>

#if ($filterTypes0.Values('filters').Count > 0 || $filterTypes1.Values('filters').Count > 0 || $filterTypes2.Values('filters').Count > 0 || $filterTypes3.Values('filters').Count > 0 || $filterTypes4.Values('filters').Count > 0)
	<div class="filter with-query" id="$core_v2_encoding.HtmlAttributeEncode($tabsId)" style="display:none">
		<div class="filter-query view-type">
			<div class="filters">
				<span class="filter-label">$core_v2_language.GetResource('View'):</span>
				#if ($filterTypes0.Values('filters').Count > 0 && $filterName0.length > 0)
					<span class="filter-option"><a href="#" data-filterindex="0">$filterName0</a></span>
				#end
				#if ($filterTypes1.Values('filters').Count > 0 && $filterName1.length > 0)
					<span class="filter-option"><a href="#" data-filterindex="1">$filterName1</a></span>
				#end
				#if ($filterTypes2.Values('filters').Count > 0 && $filterName2.length > 0)
					<span class="filter-option"><a href="#" data-filterindex="2">$filterName2</a></span>
				#end
				#if ($filterTypes3.Values('filters').Count > 0 && $filterName3.length > 0)
					<span class="filter-option"><a href="#" data-filterindex="3">$filterName3</a></span>
				#end
				#if ($filterTypes4.Values('filters').Count > 0 && $filterName4.length > 0)
					<span class="filter-option"><a href="#" data-filterindex="4">$filterName4</a></span>
				#end
			</div>
		</div>
	</div>
#end

<div class="content-list-header activity-stories"></div>
<div class="content-list-name activity-stories"></div>
<ul class="content-list activity-stories" id="$containerId"></ul>
<div class="content-list-footer activity-stories"></div>

#if (!$endlessScroll && $messageId.length == 0)
	<div class="pager" id="$pagerId">
		<a href="#">$core_v2_language.GetResource('showMore')</a>
	</div>
#end

<div id="$loadingId" class="message loading">$core_v2_language.GetResource('loading')</div>

<div class="table-list-footer" style="border-top: 1px dotted #CCC; padding-top:5px;">
#set($viewAll = "p/allprojectactivity.aspx")
    #set ($showViewAllButton = $core_v2_widget.GetBoolValue('ShowMoreButton', false))
    #if ($showViewAllButton)
        <a href="$viewAll" style="font-size: 11px; color: #006699; padding-top:5px;">$core_v2_language.GetResource('viewAll')</a> 
    #end
</div>

#registerEndOfPageHtml('telligent.evolution.widgets.activityStoryStream')
	<script type="text/javascript" src="$core_v2_encoding.HtmlAttributeEncode($core_v2_widget.GetFileUrl("ui.js"))"></script>
#end
#registerEndOfPageHtml()
	<script type="text/javascript">
		jQuery(function(){
			jQuery.telligent.evolution.widgets.activityStoryStream.register({
				wrapper: '#$core_v2_widget.WrapperElementId',
				loader: '#$core_v2_encoding.JavascriptEncode($loadingId)',
				pager: '#$core_v2_encoding.JavascriptEncode($pagerId)',
				container: '#$core_v2_encoding.JavascriptEncode($containerId)',
				filterType: '$core_v2_encoding.JavascriptEncode($filterType)',
				tabs: '#$core_v2_encoding.JavascriptEncode($tabsId)',
				pageSize: $pageSize,
				streamUrl: '$core_v2_encoding.JavascriptEncode($core_v2_widget.GetExecutedFileUrl('stream.vm'))',
				messageId: '$core_v2_encoding.JavascriptEncode($messageId)',
				// moreCommentsUrl: '$core_v2_encoding.JavascriptEncode($core_v2_widget.GetExecutedFileUrl('morecomments.vm'))',
				accessingUserId: $core_v2_user.Accessing.Id,
				userId: #if($user)$user.Id#else-1#end,
				groupId: $group.Id,
				maxReplyLength: $core_v2_configuration.ActivityMessageReplyMaxLength,
				todayText: '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('today'))',
				endlessScroll: false,
				hideOriginalPost: '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('hideOriginalPost'))',
				showOriginalPost: '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('showOriginalPost'))',
				hideHistory: '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('hideHistory'))',
				showHistory: '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('showHistory'))',
				deleteActivityMessage: '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('deleteActivityMessage'))',
				deleteCommentMessage: '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('deleteCommentMessage'))',
				commentModeratedMessaage: '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('CF_Comment_ModeratedMessaage'))'
			});
		});
	</script>
#end