$core_v2_page.SetContentType("text/css")

.group-membership-list .filter .filter-option.selected a {
    font-weight: bold;
    background-color: inherit; 
      color: #5F9933 !important;
}
.group-membership-list .filter .filter-option a {
      color: #5F9933 !important;
      display: inline;
      border: 0;
      transition: initial;
      padding: 0;
}
.group-membership-list .filter .filter-option a:hover {
      text-decoration: underline;
      background-color: inherit; 
      color: #5F9933 !important;
}
.group-membership-list .filter .filter-option {
      display: inline;
}
.content-fragment.group-membership-list .table-item .table-column .field-list, .content-fragment.group-membership-list .table-item .table-column.membership-status {
  text-align: right;
}
.content-fragment.group-membership-list fieldset {
  background-color: inherit;
  border: 0;
  margin-bottom: 0;
}
.content-fragment.group-membership-list .field-item .edit-group-membership {
  border-left: 1px solid #ccc;
  padding-left: 5px;
}
.content-fragment.group-membership-list .table-list {
  position: relative;
  width: 100%;
}
.content-fragment.group-membership-list .field-item {
  display: inline;
  position: relative;
}
.content-fragment.group-membership-list .field-item span {
  display: inline;
  position: relative;
}
.content-fragment.group-membership-list .table-item .table-column.membership-status {
  text-align: right;
}
.content-fragment.group-membership-list .table-column .user-name {
  position: absolute;
  padding-left: 5px;
  padding-top: 8px;
}
.content-fragment.group-membership-list .table-column .avatar {
  width: 32px;
  height: 32px;
  display: inline-table;
  display: -moz-inline-box;
  display: inline-block;
}


.content-fragment.group-membership-list fieldset {
  background-color: inherit !important;
  border: 0 !important;
  margin-bottom: 0 !important;
}
.content-fragment.group-membership-list .field-item span {
  display: inline !important;
  position: relative !important;
}

.content-fragment.group-membership-list .field-item .internal-link.add-member span {
    background: rgba(0, 0, 0, 0) url("/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/button_2D00_sprite.gif") no-repeat scroll 0 -44px;
    display: inline-block;
    height: 22px;
    left: -12px;
    position: absolute;
    top: 0;
    width: 12px;
}

.content-fragment.group-membership-list .field-item .internal-link.add-member {
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    line-height: 22px;
}
