	#set($options = "%{PageSize=15,MembershipType='PendingMember',SortBy='Username',SortOrder='Ascending'}")
	$options.Add('PageIndex', $core_v2_ui.GetCurrentPageIndex())

	#set($users = $omnicell_authentication.GetUsersInRole($customerUnverifiedRoleString))
	#foreach ($user in $users)
	#beforeall
		<div class="table-list-header"></div>
		<table class="table-list">
			<col width="40%" align="left" />
			<col width="40%" align="left" />
			<col width="20%" align="right" />
			<tbody>
	#each
		<tr class="table-item">
			<td class="table-column">
				<span class="avatar">
					#if ($user.ProfileUrl)
						<a class="internal-link view-user-profile" href="$core_v2_encoding.HtmlAttributeEncode($user.ProfileUrl)">
							$core_v2_ui.GetResizedImageHtml($user.AvatarUrl,29,29,"%{ style='border-width: 0px;', alt=$user.DisplayName}")
						</a>
					#else
						$core_v2_ui.GetResizedImageHtml($user.AvatarUrl,29,29,"%{ style='border-width: 0px;', alt=$user.DisplayName}")
					#end
				</span>
				<span class="user-name">
					#if ($user.ProfileUrl)
						<a class="internal-link view-user-profile" href="$core_v2_encoding.HtmlAttributeEncode($user.ProfileUrl)">$user.DisplayName</a>
					#else
						$user.DisplayName
					#end
					#if($user.Username != $user.DisplayName)
						($user.Username)
					#end

					<a class="internal-link view-user-profile" href="$core_v2_encoding.HtmlAttributeEncode($core_v2_urls.EditUser($user.Id))">Edit</a>

				</span>
			</td>
			<td class="table-column membership-status">$core_v2_language.GetResource('Hubs_PendingMember')</td>
			<td class="table-column">
				#if ($core_v2_nodePermission.Get('groups',$group.Id,'Group_ModifyMembership').IsAllowed)
					<div class="field-list-header"></div>
					<fieldset class="field-list">
						<ul class="field-list">
							<li class="field-item accept-member">
								<span class="field-item-input"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "ApproveUser=$user.Id"))" data-userid="$user.Id" data-membershiptype="Member">$core_v2_language.GetResource('FriendRequest_Accept')</a></span> |
							</li>
							<li class="field-item reject-member">
								<span class="field-item-input"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "RejectUser=$user.Id"))" data-userid="$user.Id">$core_v2_language.GetResource('FriendRequest_Reject')</a></span>
							</li>
						</ul>
					</fieldset>
					<div class="field-list-footer"></div>
				#end
			</td>
		</tr>
	#afterall
			</tbody>
		</table>
		<div class="table-list-footer"></div>
	#nodata
		<div class="message norecords">$core_v2_language.GetResource('Groups_Membership_NoPendingRequests')</div>
	#end

##	$core_v2_ui.Pager($members.PageIndex, $members.PageSize, $members.TotalCount)
