$core_v2_page.SetContentType("text/css")

.content-fragment-page .layout-region .left-sidebar {
    clear: both; 
    float: left;
    width: 240px; 
    position: relative;
}

.content-fragment-page .layout-region.content {
    overflow: hidden;
}

.content-fragment.group-banner .navigation-item .internal-link.join-group span {
    background: rgba(0, 0, 0, 0) url("/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/join_5F00_group.gif") no-repeat scroll left center;
    height: 16px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 16px;
}
.content-fragment.group-banner .navigation-item .internal-link.leave-group span {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: -1px;
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/leave_5F00_group.gif') no-repeat center left;
}

.content-fragment.group-banner .navigation-item .internal-link.favorite-on span {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: -1px;
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_sprite.gif') no-repeat 0 -1356px;
}

.content-fragment .group-banner .group-banner-info {
    float: left;
    width: 70%;
}

.content-fragment.group-banner .group-name {
  font-size: 24px;
  color: #7fa3b7;
  line-height: normal;
  margin: 0;
  font-weight: bold;
}
.content-fragment.group-banner .group-description {
  margin: 0;
  color: #666;
  line-height: normal;
  width: 100%;
}

.content-fragment.group-banner .group-avatar img {
  width: 75px;
  height: 75px;
}
.content-fragment.group-banner .navigation-item .internal-link.rss span {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0;
  top: 1px;
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_rss.png') no-repeat left top;
}
.content-fragment.group-banner .group-description {
  font-size: 11px;
}

.content-fragment.group-banner .navigation-item .internal-link.favorite-off span {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: -1px;
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_sprite.gif') no-repeat 0 -110px;
}
.content-fragment.group-banner .navigation-item .internal-link {
  position: relative;
  padding: 0 0 0 29px;
  line-height: 16px;
  margin: 0;
  display: inline-block;
}
.content-fragment.group-banner {
  position: relative;
  min-height: 115px;
}
.content-fragment.group-banner .group-avatar .internal-link.edit-group {
  display: none;
}
.content-fragment.group-banner .navigation-list li.navigation-item:first-child {
  padding-top: 16px;
}
.content-fragment.group-banner .navigation-list {
  margin-right: 4px;
}
.content-fragment.group-banner .navigation-item {
  position: relative;
  font-weight: normal;
  padding: 5px 5px 5px 0px;
  text-align: left;
  border-bottom: 1px dotted #ccc;
  margin: 0;
}
.group-banner .group-banner-actions {
  float: right;
  margin: 4px 20px 0 0;
}
.content-fragment .group-banner {
  position: relative;
  padding: 0;
}
.content-fragment.group-banner .group-avatar {
  display: inline;
  max-width: 81px;
  max-height: 70px;
  padding: 2px;
  /* border: solid 1px #ccc; */
/*  display: table; */
}
.group-banner .group-avatar {
    float: left;
    margin: 13px;
}
.group-banner .group-name {
    padding: 13px 0 3px 0;
}
.group-banner .group-description {
    width: 60%;
}

.group-banner a:link, a:visited, a:active {
    font-weight: normal;
}

/* styles to compensate for reuploading widget */
.content-fragment.group-banner .group-name {
    color: #7fa3b7;
    display: inline;
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}

.group-banner .group-avatar {
    float: left;
    margin-right: 13px;
    margin-top: -1px;
}

.content-fragment .group-banner .group-banner-info {
    float: left;
    margin-top: 15px;
    width: 70%;
}

@media screen and (min-width: 481px) and (max-width: 1035px) {
    .group-banner .group-banner .navigation-item {
        display: inherit;
    }

    .group-banner .group-banner .group-banner-actions {
        float: none;
        padding-left: 0;
    }
    
    .content-fragment .group-banner .group-banner-info {
        width: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width: 870px) {
  /*  .group-banner .group-banner .group-banner-actions {
        float: none;
        padding-left: 106px; 
    } */
    .group-banner .group-banner .navigation-item {
      /*  display: table; */
    }
    .group-banner .group-banner .navigation-item:after {
        content: "";
        clear: both;
        display: table;
    } 
}

@media screen and (max-width: 480px){
 .group-banner .group-banner .group-banner-actions {
    float: none;
    padding-bottom: 10px;
  }
  
 .content-fragment .group-banner .group-banner-info {
      width: 100%;
  }

.group-banner .group-description {
    width: 100%;
    padding-bottom: 10px;
  }
}
