$core_v2_page.SetContentType("text/css")

.home-search-ask .submit-buttons .search-button {
  padding-right: 0 !important;
  float: left;
}

.site-search .home-search-ask .submit-buttons {
  margin: -20px 321px -40px !important;
  padding: 20px 5px 30px !important;
}

.site-search .header-logo-mobile {
    display: none;
}

@media screen and (min-width: 945px) and (max-width: 1040px) {
    .site-search .group-search-ask {
        width: 600px;
    }
}

@media screen and (max-width: 945px) {
    
    .site-search .group-search-ask .search-bar {
        padding: 55px 0 5px 10px;
        width: 250px; 
        float: none;
        background-color: transparent;
    }
    
    .site-search .group-search-ask .search-bar input {
        width: 95%;
    }
    
    .site-search .group-search-ask {
        margin-top: -15px;
    }
    
    .site-search .group-search-ask .search-bar .submit-buttons .search-button {
        padding: 5px 0;
    }
}

@media screen and (max-width: 365px) {
    
    .layout-content.split-content .layout-region.right-sidebar {
        width: auto !important;
        float: none !important;
    }
    
    .site-search .header-logo {
        display: none;
    }
    /*
    .layout-region.right-sidebar .content-fragment.site-user-navigation .navigation-list {
        padding-right: 0 !important;
    }
   .content-fragment.site-user-navigation .navigation-item.user-information {
        padding: 0 !important;
    }
    .site-search .view-user-profile {
        padding: 0;
    }
    */
}