/* Fiji styles specific to Internet Explorer 6 */

/******************************
$BASE.CSS 
*******************************/

.hierarchy-item { height: 1%; }
.hierarchy-item.selected a:link, .hierarchy-item.selected a:visited, .hierarchy-item.selected a:active { color: #fff; }
.content-fragment-content {  height: 0.1%; }
.content-fragment-inner { overflow: hidden; width: 100%; }
.content-fragment-management-fragment-name { width: 50%; padding: 0; }
.fiji-content-fragment-bottom, .fiji-content-fragment-top { width: 100%; overflow: hidden; }
.fiji-content-fragment-bottom { padding-left: 2px; }
.post-rating .active { background-color: #fff; }
.post-rating .active a { background-color: #fff; }

/* $Layout
/******************************/
.page-editing .edit-page:link, .page-editing .save-page:link, .page-editing .edit-page:active, .page-editing .save-page:active, .page-editing .edit-page:visited, .page-editing .save-page:visited, .page-editing .edit-page:hover, .page-editing .save-page:hover { color: #fff; }
.page-management .add-content-fragment, .page-management .clear-content-fragment-search { display: inline-block; }
.page-management .layout { display: inline-block; width: 10% !important; }
.page-management .disabled { visibility: hidden; }
.page-management .layout img { display: inline !important; width: 80%; }
.content-fragment-management .content-fragment-management-content { height: 1%; }
.layout-header { bottom: -1px; }

.fiji-header-round-left { display: inline-block; z-index: 2; bottom: 0; margin-bottom: -15px; }
.fiji-header-round-right { display: inline-block; z-index: 2; bottom: 0; margin-bottom: -15px; }

.layout-content,
.layout-region.content { height: 1%;  }

.menu.content-fragment-wrapper-format-content { background-color: #ddd !important; border: solid 1px #666 !important; color: #333 !important; padding: 0 !important; margin: 0 !important; font-size: 10px !important; }
.menu.content-fragment-wrapper-format-content .menu-item .active { border: solid 5px #333; }

/* $Group Links
/******************************/
.group-links .content-fragment-content { margin-left: 1px; }

/* $Tag Cloud
/******************************/
.tag-cloud .content-fragment-content { margin-left: 1px; }

/* $User Banner
/******************************/
.user-banner { height: 115px; }
.user-banner .user-avatar img { width: 70px !important; height: 70px !important; }
.user-banner .user-status-footer { background-position: left -12px; }
.user-banner .navigation-item .internal-link span { top: 4px; }

/* $User Welcome Message
/******************************/
.content-fragment.message .avatar { position: absolute; top: 0px; left: -90px; }
.content-fragment.message .user-name { position: absolute; top: 90px; left: -90px; }
		
/* $User Folder List
/******************************/
.content-fragment.user-folder-list .content-fragment-content { padding-left: 14px; margin-left: 1px; }
.content-fragment.user-folder-list .navigation-item .internal-link.delete-user-folder { background: url('http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/cross_2D00_small.gif') 3px 0px no-repeat; }

/* $Abbreviated-Post
/******************************/
.abbreviated-post { height: 46px; }
.abbreviated-post .avatar img { width: 32px; height: 32px; }

/* $Tab-Set
/******************************/
.tab-set .tab div { height: 1%; float: left;  }

.with-panes { margin: 0; padding-left: 0; background: url('http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/modal_2D00_tab_2D00_set.gif') repeat-x left bottom; }
.with-panes .tab { float: none; border-right: solid 1px #ccc; border-bottom-width: 0; margin: 2px 0 1px 0; padding: 6px 10px; background: #f3f3f3 url('http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/application_2D00_tabset.gif') repeat-x scroll left bottom; }
.with-panes .tab div { background-image: none; padding: 0; float: none !important; padding: 5x 0 !important; }
.with-panes .tab a {display: block; line-height: 20px; color: #06d; font-weight: bold; float: left}
.with-panes .selected { margin-bottom: -1px; padding-top: 8px; background-color: #FFFFFF !important; background-image: none !important; }
.with-panes .selected div { background-image: none; }
.with-panes .selected a { color: #333 }
.with-panes .tab:hover { font-size: 100% !important; }

.modal .tab-set .tab div { float: none; height: auto; overflow: visible; }
.modal .tab-set .tab:hover { font-size: 100% !important; }
.modal .tab-set .selected, .modal .tab-set .selected div { background-color: #fff !important; background-image: none; }

/* $User Defined Markup
/******************************/
.user-defined-markup { width: auto; }

/* Base modal
/******************************/
.modal-title { background-image: url('http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/modal_2D00_header_2D00_left.gif'); }
.modal-title-2 { background-image: url('http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/modal_2D00_header_2D00_right.gif'); }
.modal-footer { background-image: url('http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/modal_2D00_footer_2D00_left.gif'); }
.modal-footer-2 { background-image: url('http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/modal_2D00_footer_2D00_right.gif'); }
.modal .save-form:visited { color: #fff; }
.modal .upload-file { display: inline-block; }
.modal .upload-file:visited { color: #fff; }
.modal .edit-reply:visited { color: #fff; }
.modal .save-form:visited, .modal .save-form:active { color: #fff !important; }

/* $Admin Bar
/******************************/
.admin-bar ul.field-list { position: absolute; left: 0; }

/*******************************
HEADER-FRAGMENTS.CSS
*******************************/

/* $Search
/******************************/
.header-fragment.search { position: absolute; top: -40px; right: 0px; z-index: 4; text-align: right; }

.search-content .field-item-input { left: 0; position: absolute; top: 3; }
.search-content .field-item { height: 20px; overflow: hidden; position: relative; }
.split-content .search-form .search div { width: 250px; }

/* $Search
/******************************/
.search-form .field-item.search-type .field-item-header { display: inline-block; float: none; }
.search-form .field-item.date-range .field-item-header { display: inline-block; float: none; }
.search-form .field-item.show-friends .field-item-header { display: inline-block; float: none; }

/* $User Welcome Without Login
/******************************/
.site-user-navigation  .avatar img { width: 20px !important; height: 20px !important; }

/* $Quick Post
/******************************/
.content-fragment.quick-post .internal-link.add-post { color: #fff !important; }
.content-fragment.quick-post .message.success { position: relative; }
	.content-fragment.quick-post .message.success .internal-link.close-message { position: absolute; right: 10px; top: 14px; }

/* $Favorite-Places         
/******************************/
.header-fragment.favorite-places .internal-link.favorite-list span { right: 20px; }

/*******************************
CONTENT-FRAGMENTS-CORE.CSS
*******************************/

/* $Quick Post
/*****************************/
.content-fragment.quick-post .field-list .field-item-input .internal-link.add-attachment { display: inline-block; line-height: normal; }

/* $User List
/******************************/
.user-list .avatar img { width: 34px !important; height: 34px !important; }

/* $Friends List
/******************************/
.friendship-list .content-fragment-content { margin-left: 1px; }
.friendship-list .full-post { height: 60px; }
.with-header.friendship-list .full-post{ height: 60px; }
.friendship-list .avatar img { width: 34px !important; height: 34px !important; }

/* $Featured Content List
/******************************/
.featured-content-list .abbreviated-post { height: auto; }
.featured-content-list .content-list { vertical-align: top; display: inline-block; }
.featured-content-list .content-item.first .post-attachment-viewer { position: relative; }
.featured-content-list .content-item { float: none; height: inherit; }
.featured-content-list .content-item.first { float: left; margin-left: -1px; }
.featured-content-list .post-date { margin-right: 3px; }

/* $User Navigation
/******************************/
.user-navigation .navigation-list { width: 100%; padding:0 10px; margin:0; }
.user-navigation .navigation-item { display: inline-block; }
.user-navigation .navigation-item a { display: inline-block; }

/* $Login
/******************************/
.login .field-item.required .field-item-input input { width: 200px; }

/* $Create User
/*****************************/
.create-user .field-item .internal-link.create-account { position: static; }
	.create-user .field-item .internal-link.create-account span { top: 6px; left: 0; }

/* $User Profile
/******************************/
.user-profile .content-fragment-content { margin-left: 1px; }

/* $User Profile Group
/******************************/
.user-profile-group-content-fragment .content-fragment-content { margin-left: 1px; }

/* $Temporary Feed List
/******************************/
.temporary-rss-feed-list .content-fragment-content { margin-left: 1px; }

/* $Search Form
/******************************/
.search-form .search { position: static; text-align: left; }
.search-form .searchbutton a { display: inline-block !important; border-top-width: 0; height: 18px; background-position: right -20px; }

/* $Favorable Content List
/******************************/
.content-fragment.favorable-content-list .filter { margin-top: 0; margin-right: 1px; margin-bottom: 15px; margin-left: 1px;  }
.content-fragment.favorable-content-list .query-filter { position: relative; padding: 0; margin: 0 -12px; }
	.content-fragment.favorable-content-list .filter-option { position: relative; height: 15px; }
	.content-fragment.favorable-content-list .filter-option.selected { height: 12px; top: 1px; padding-top: 14px; padding-bottom: 6px; }
	
.content-fragment.favorable-content-list .content-list .content-item { height: 40px; }
.content-fragment.favorable-content-list .content-list.simple .content-item { height: 20px; }
.content-fragment.favorable-content-list .avatar { position: absolute; left: 0; }
.favorable-content-list .content-fragment-content { margin-left: 1px; }

/* $External Site (IFRAME)
/******************************/
.content-fragment.i-frame .content-fragment-content div {width: 100%; overflow: hidden; padding: 0; }

/* $Invite User
/******************************/
.content-fragment.invite-user .field-item-input input { width: expression(this.type == 'text' || this.type == 'password' ? '90%' : 'auto'); }
.content-fragment.invite-user .content-fragment-content { position: relative; left: 1px; }

/* $User File List
/******************************/
.user-file-list .content-list .abbreviated-post .post-attachment-viewer img { height: 95px; width: 95px; }


/*******************************
CONTENT-FRAGMENTS-FORUMS.CSS
*******************************/

/* $Browse Forums
/******************************/
.content-fragment.browse-forums .content-fragment-content { }
.content-fragment.browse-forums .field-item-input { background-position: 1px right; }
.content-fragment.browse-forums ul.field-list { background-position: 1px left; margin-bottom: 15px; overflow: hidden; height: 26px; }
.content-fragment.browse-forums .dataTables_wrapper { display: inline-block; position: relative; width: 100%; }
.content-fragment.browse-forums.top-side-border-only .content-fragment-footer { display: none !important; }
.content-fragment.browse-forums .field-item-input .internal-link.clear-search { top: -11px; padding: 34px 0 0 0; }
.content-fragment.browse-forums .table-list a { display: inline-block; }

/* $Forum Thread List
/******************************/
.thread-list .content-fragment-content { height: 1%; position: relative; left: 1px; }
.thread-list .abbreviated-post .avatar img { width: 32px; height: 32px; }
.thread-list .filter { margin: 0 -12px; }
.thread-list span.filter-option.selected { margin-bottom: -1px; position: relative; padding-bottom: 6px; }
.thread-list .abbreviated-post { height: auto; }
.thread-list .table-header .table-header-column.date-sort { text-align: center; }
.thread-list .abbreviated-post.discussion .post-attributes { width: 70px; }

/* $Forum Thread
/******************************/
.thread .content-fragment-header .view-application span { left: -6px; }
.thread .post-actions .add-post { color: #fff !important; }
.thread .post-actions .suggest-answer { color: #fff !important; }
.thread .full-post .post-tags span { display: inline-block; }
.thread .full-post .post-actions-cell .navigation-list { height: 25px; }
.thread .full-post .post-actions-cell .navigation-list .moderation-menu { display: block; text-align: right; padding-top: 40px; }
.thread .field-list .add-inline-post { display: inline-block; margin-right: 15px; margin-top: 5px; }
.thread .field-list .add-post { display: inline-block; }
.thread .full-post { width: 100%; overflow-x: hidden; }
.thread .field-list .add-post:hover, .thread .field-list .add-post { background: none; border: none; height: inherit; margin: inherit; padding: inherit; margin-top: 8px; margin-left: 0px; padding-left: 10px; }

.thread .post-rating .active { background-color: #ECECEC; }
.thread .post-rating .active a { background-color: #ECECEC; }

.thread .fiji-post-answer-form .internal-link.verify-answer { display: inline-block; }
.thread .fiji-post-answer-form .internal-link.not-answer { display: inline-block; }
.thread .fiji-inner-post-answer-form { width: 96%; vertical-align: middle; display: inline-block; }

.thread .suggest-answer-label { position: absolute; top: 9px; }
.thread .internal-link.cancel-reply { padding-top: 9px; padding-right: 10px; }
.thread .field-list .internal-link.cancel-reply { bottom: 15px; left: 2px; }
.thread .inner-post-answer-form.fiji-inner-post-answer-form { position: relative; padding-left: 180px; }
.thread .inner-post-answer-form.fiji-inner-post-answer-form .inner-post-answer-question { position: absolute; left: 8px; }
.thread .inner-post-answer-form.fiji-inner-post-answer-form .verify-answer { margin-top: -2px; }
.thread .inner-post-answer-form.fiji-inner-post-answer-form .not-answer { margin-top: -2px; }

.thread .post-attachment-container { padding-left: 10px; }
.thread .post-attachment-viewer { position: relative; display: inline !important; }
.thread .post-attachment { position: relative; display: inline !important; }

.menu__moderation-content { background-color:#fff; border: solid 1px #999; color: #000; }
.menu__moderation-content__menu-item { background-color: #fff; font-size: 90%; border: solid 1px #fff; cursor: pointer; padding: 3px; margin-right: 5px; }
.menu__moderation-content__menu-item__hover { background-color: #f4f4f4; color: #000; font-size: 90%; border: solid 1px #E1E1E1; cursor: pointer; padding: 3px; margin-right: 5px; }
.menu__moderation__button { padding-left: 6px; padding-right: 14px; }
		.menu__moderation__button__inactive { background: url('http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/descending.gif') no-repeat center right; }
		.menu__moderation__button__active { background: url('http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/ascending.gif') no-repeat center right; }

/* $Forum Links
/******************************/
.forum-links .navigation-item .internal-link { display: block; }
.forum-links .navigation-item .internal-link span { left: -18px; }
.forum-links .navigation-item .internal-link.add-application span { left: -15px; }
.forum-links .navigation-item .internal-link.subscription-on span { left: -15px; }
.forum-links .navigation-item .internal-link.subscription-off span { left: -15px; }

/* $Forum Thread Details
/******************************/
.thread-details .abbreviated-post .attribute-item { position: relative; height: 1%; }
.thread-details .abbreviated-post .post-rating .rating { padding-left: 0px; margin-left: 4px; }

/*******************************
CONTENT-FRAGMENTS-GROUPS.CSS
*******************************/

/* $Group Membership
/******************************/
.content-fragment.group-membership .content-fragment-content { position: relative; left: 1px; }

/* $Group Application Links
/******************************/
.group-application-navigation .add-post { z-index: 1;  }
.group-application-navigation .navigation-list { width: 100%; padding:0 10px; margin:0; }
.group-application-navigation .navigation-item { display: inline-block; }
.group-application-navigation .navigation-item a { display: inline-block; }
.group-application-navigation a.add-post { position: absolute; right: 50px; top: -10px; background: url('http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/group_2D00_addpost_2D00_button.gif') no-repeat right -26px; height: 26px; color: #fff; font-size: 10px; padding: 3px 42px 0px 0px; font-weight: bold; font-size: 12px; line-height: 19px; white-space: nowrap; }
.group-application-navigation a.add-post span { background: url('http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/group_2D00_addpost_2D00_button.gif') no-repeat left top; display: block; position: absolute; left: -38px; top: 0; width: 38px; height: 26px; }

/* $Group List
/******************************/
.group-list .group-avatar img { width: 80px; height: 80px; }
.group-list .full-post { height: 28px; }
.group-list .full-post .avatar img { width: 18px !important; height: 18px !important; }
.group-list .content-item.simple { height: 0; }
.group-list .content-item.simple { height: 37px; padding-top: 7px; }
.group-list .content-item.simple .group-avatar img { width: 30px !important; height: 30px !important; }
.group-list .content-item.simple-extended { height: 0; }
.group-list .content-item.standard { height: 88px; padding-left: 88px !important; }
.group-list .content-fragment-content { margin-left: 1px; }
.group-list .fiji-post-content-icon { left: -24px !important; top: 0px !important; }

/* $Group Membership List
/******************************/
.group-membership-list .content-item .avatar img { width: 40px !important; height: 40px !important; }
.group-membership-list .content-fragment-content { margin-left: 1px; }

/* $Group Contact Form
/******************************/
.group-contact .content-fragment-content { margin-left: 1px; }


/*******************************
CONTENT-FRAGMENTS-MEDIAGALLERIES.CSS
*******************************/

/* $Browse Media Galleries
/******************************/
.content-fragment.browse-media-galleries .content-fragment-content { }
.content-fragment.browse-media-galleries .field-item-input { background-position: 1px right; }
.content-fragment.browse-media-galleries ul.field-list { background-position: 1px left; margin-bottom: 15px; overflow: hidden; height: 26px; }
.content-fragment.browse-media-galleries .dataTables_wrapper { display: inline-block; position: relative; width: 100%; }
.content-fragment.browse-media-galleries.top-side-border-only .content-fragment-footer { display: none; }
.content-fragment.browse-media-galleries .field-item-input .internal-link.clear-search { top: -11px; padding: 34px 0 0 0; }
.content-fragment.browse-media-galleries .table-list a { display: inline-block; }

/* $Media Gallery Files List
/******************************/
.media-gallery-post-list .file-thumbnail-list .abbreviated-post .post-thumbnail img { height: 95px; width: 95px; }
.media-gallery-post-list .add-post { padding: 2px 0; line-height: normal; }
.content-fragment.media-gallery-post-list .query-filter .filter-option.selected { display: inline-block; height: 17px; position: relative; bottom: -1px; }
.media-gallery-post-list .filter.detail .view-type { top: -42px; }
.media-gallery-post-list .table-header .table-header-column { border-bottom: solid 1px #999; }

/* $Media Gallery File
/******************************/
.media-gallery-post .full-post .post-preview { width: 50px !important; }
.media-gallery-post .full-post .post-preview img { width: 50px !important; height: 50px !important; }
.media-gallery-post .view-application span { left: -4px; }
.media-gallery-post .full-post .post-rating { right: 20px; }
.media-gallery-post .full-post .post-name .download-attachment span { left: -18px; }

/* $Media Gallery File Details
/******************************/
.media-gallery-post-details .avatar img { width: 40px !important; }
.media-gallery-post-details .user-name { margin-left: 8px; }
.media-gallery-post-details .user-name a { margin-left: 8px; }
.media-gallery-post-details .content-fragment-content { margin-left: 1px; }

/* $Media Gallery File Comment List
/******************************/
.media-gallery-post-comment-list .full-post .avatar img { width: 32px; height: 32px; }
.media-gallery-post-comment-list .full-post .avatar { left: -76px !important; top: 0 !important; }

/* $Media Gallery File Comment Form
/******************************/
.add-media-gallery-post-comment .field-item textarea { width: 90%; }
.add-media-gallery-post-comment .add-reply { display: inline-block; }
.add-media-gallery-post-comment .add-reply:visited { color: #fff; }
.add-media-gallery-post-comment .add-reply.disabled:visited { color: #fff; }
.add-media-gallery-post-comment .message.success { position: relative; }
.add-media-gallery-post-comment .message.success .internal-link.close-message { position: absolute; float: none; right: 10px; top: 12px; }

/* $Media Gallery Links
/******************************/
.media-gallery-links .navigation-item .internal-link { display: block; }
.media-gallery-links .navigation-item .internal-link span { left: -18px; }

/* $Delete Media Gallery Post
/******************************/
.delete-media-gallery-post .full-post .post-preview { width: 50px !important; }
.delete-media-gallery-post .full-post .post-preview img { width: 50px !important; height: 50px !important; }


/*******************************
CONTENT-FRAGMENTS-MESSAGES.CSS
*******************************/

/* $Activity Message List
/******************************/
.activity-message-list { overflow: hidden; }
.activity-message-list .content-fragment-content { position: relative; height: 1%; left: 1px; display: inline-block; }
.activity-message-list .full-post { height: 42px; line-height: normal; }
.activity-message-list .content-list .field-item { height: 40px; }
.activity-message-list .post-author { height: 1%; }
.activity-message-list .full-post .post-author .avatar img {width: 28px !important; height: 28px !important; }
.activity-message-list .content-list .field-item-input .avatar img { width: 28px !important; height: 28px !important; }
.activity-message-list .status .field-item-input { overflow: hidden; }
.activity-message-list .filter-option.selected { margin-bottom: -1px; position: relative; padding-bottom: 6px; }
.activity-message-list .filter-option { margin-bottom: -6px; }
.activity-message-list .fiji-reply-form { height: 24px; overflow: hidden; }
.activity-message-list .reply .field-list-header { display: none; }
.activity-message-list li.content-item.reply { margin-left: 30px; }
.activity-message-list li.content-item .field-item { margin-right: 0; }
.activity-message-list li.content-item.reply .field-item-input { width: auto; }
.activity-message-list fieldset.field-list { border-width: 0; }
.activity-message-list .fiji-reply-form table { width: 98%; }
.activity-message-list .fiji-reply-form td.fiji-reply { padding-right: 0; }
.activity-message-list .fiji-reply-form td.fiji-reply-submit { padding-right: 10px; }
.activity-message-list .content-list .field-item-input.processing td.fiji-reply-submit a { padding: 18px 0px 0px 0px; width: 16px; background-position: top left; }


/* $Messages Conversation List
/******************************/
.conversation-list .avatar img { width: 34px !important; height: 34px !important; }

/* $Messages Conversation
/******************************/
.content-fragment.conversation fieldset { margin-top: 36px !important; }
.content-fragment.conversation .field-item .add-reply { color: #fff !important; }

/* $User Status
/******************************/
.content-fragment.user-status .attribute-item.user-avatar { left: -42px !important; }

/*******************************
CONTENT-FRAGMENTS-WEBLOGS.CSS
*******************************/

/* $Browse Blogs
/******************************/
.content-fragment.browse-blogs .content-fragment-content { position: relative; }
.content-fragment.browse-blogs .field-item-input { background-position: 1px right; }
.content-fragment.browse-blogs ul.field-list { background-position: 1px left; margin-bottom: 15px; overflow: hidden; height: 26px; }
.content-fragment.browse-blogs .field-item-input .internal-link.clear-search { top: -11px; padding: 34px 0 0 0; }
.content-fragment.browse-blogs .table-list a { display: inline-block; }

/* $Blog Blog Post
/******************************/
.blog-post .full-post .post-author .avatar img { width: 27px !important; height: 27px !important; }
.blog-post .full-post .post-author .avatar { left: 0px;  }
.blog-post .content-fragment-header .view-application span { left: -4px; }
.blog-post .full-post .post-actions .navigation-list .navigation-item a.favorite-off span { top: 2px; line-height: 18px; }
.blog-post .full-post .post-actions .navigation-list .navigation-item a.favorite-on span { top: 2px; line-height: 18px; }

/* $Blog Blog Feedback List
/******************************/
.blog-feedback-list .content-list-name { display: inline-block; width: 1%; }
.blog-feedback-list .full-post .avatar img { width: 32px; height: 32px; }
.blog-feedback-list .full-post .avatar { left: -76px !important; top: 0 !important; }

/* $Blog Blog Post Comment Form
/******************************/
.blog-post-comment-form .add-reply { display: inline-block; }
.blog-post-comment-form .add-reply:visited { color: #fff; }
.blog-post-comment-form .add-reply.disabled:visited { color: #fff; }
.blog-post-comment-form .message.success { position: relative; }
.blog-post-comment-form .message.success .internal-link.close-message { position: absolute; float: none; right: 10px; top: 12px; }

/* $Blog Contact
/******************************/
.contact-blog .internal-link.send-email { display: inline-block; }

/* $Blog Blog Links
/*****************************/
.blog-links .navigation-item .internal-link span { left: -20px; margin-top: -3px; }
.blog-links .content-fragment-content { margin-left: 1px; }
.blog-links .navigation-item .internal-link.favorite-off span { top: 5px; }
.blog-links .navigation-item .internal-link.favorite-on span { top: 5px; }

/* $Blog Post List
/*****************************/
.blog-post-list .content-fragment-content { margin-left: 1px; }
.blog-post-list .filter { display: inline-block; }
.blog-post-list .content-list .post-actions { padding-left: 4px; }
	.blog-post-list .navigation-list.post-list .navigation-item .rss { width: 0; overflow: hidden; visibility: hidden; line-height: 20px; outline: none; left: -30px; }
		.blog-post-list .navigation-list.post-list .navigation-item .rss span { position: absolute; top: 0; right: 0; width: 14px; height: 14px; visibility: visible; background: transparent url('http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_rss.png') no-repeat center center; }
	.blog-post-list .navigation-list.post-list .navigation-item .add-post { background: url('http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/addpost_2D00_button.gif') no-repeat right -20px; color: #fff; font-size: 10px; padding: 4px 12px 4px 7px; margin-left: 0; display: inline-block; line-height: 12px; }
		.blog-post-list .navigation-list.post-list .navigation-item .add-post span { position: absolute; top: 0; left: -18px; width: 18px; height: 20px; line-height: 20px; display: inline-block; background: url('http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/addpost_2D00_button.gif') no-repeat left top; }
.blog-post-list .simple-expanded .abbreviated-post { height: auto; }
.blog-post-list .simple .abbreviated-post { height: auto; }

/* $Blog About
/*****************************/
.about-blog .content-fragment-content { margin-left: 1px; }

/*******************************
CONTENT-FRAGMENTS-WIKIS.CSS
*******************************/

/* $Browse Wikis
/******************************/
.content-fragment.browse-wikis ul.field-list { margin-bottom: 15px; overflow: hidden; height: 26px; }
.content-fragment.browse-wikis .field-item-input .internal-link.clear-search { top: -11px; padding: 34px 0 0 0; }
.content-fragment.browse-wikis .table-list a { display: inline-block; }

/* $Wiki Page Navigation
/******************************/
.page-navigation .navigation-item.selected { position: relative; overflow: visible; margin-bottom: -3px; }
.page-navigation .content-fragment-content { display: inline-block; position: relative; height: auto; margin-bottom: -11px; }

/* $Wiki Page Hierarchy
/******************************/
.modal .wiki-page-hierarchy { height: 345px; }

/* $Wiki Page
/******************************/
.page .full-post .post-rating { right: 20px; }
.page .full-post .post-content.user-defined-markup { width: 100%; }

/* $Wiki Page Edit
/******************************/
.page-edit .field-item-input select { width: 450px; }
.page-edit .field-item.post-feature .field-item-input.featured-post-url .user-file-url { display: inline-block; }

/* $Wiki Page List
/******************************/
.page-list .content-fragment-content { margin-left: 1px; }

/* $Wiki Page Details
/******************************/
.page-details .attribute-item.page-author .avatar { left: -36px; }
.page-details .attribute-item.page-author .avatar img { width: 27px !important; height: 27px !important; }
.page-details .attribute-item.page-author .user-name { display: block; }
.page-details .content-fragment-content { margin-left: 1px; }
.page-details .page-revision-count,
.page-details .post-reply-count { display: inline; }

/* $Wiki Comment List
/******************************/
.comment-list .full-post .avatar img { width: 32px !important; height: 32px !important; }
.comment-list .full-post .avatar { left: -76px !important; top: 0 !important; }
.comment-list .full-post .post-date { margin-right: 13px; }

/* $Wiki Links
/******************************/

/* $Wiki Create Edit Page Comment
/******************************/
.create-edit-page-comment .add-reply { display: inline-block; }
.create-edit-page-comment .add-reply:visited { color: #fff; }
.create-edit-page-comment .add-reply.disabled:visited { color: #fff; }
.create-edit-page-comment .message.success { position: relative; }
.create-edit-page-comment .message.success .internal-link.close-message { position: absolute; float: none; right: 10px; top: 12px; }

/* $Wiki Page Hierarchy
/******************************/
.wiki-page-hierarchy .content-fragment-content { margin-left: 1px; }

/*******************************
FOOTER-FRAGMENTS.CSS
*******************************/

/* $User Info Popup
/******************************/
.user-info-popup-content { width: 214px; overflow: hidden; }
.user-info-popup-content .abbreviated-post { width: 180px; overflow-x: hidden; }
.user-info-popup-content img { width: 120px !important; }
.user-info-popup-content .arrow { background-image: url('http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/bubble_2D00_arrows.gif'); }
.user-info-popup-content .abbreviated-post-header { background-image: url('http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/bubble_2D00_top.gif'); }
.user-info-popup-content .abbreviated-post-header .l { background-image: url('http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/bubble_2D00_corners.gif'); }
.user-info-popup-content .abbreviated-post-header .r { background-image: url('http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/bubble_2D00_corners.gif'); }
.user-info-popup-content .outer-wrapper { background-image: url('http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/bubble_2D00_right.gif'); }
.user-info-popup-content .inner-wrapper { background-image: url('http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/bubble_2D00_left.gif'); }
.user-info-popup-content .abbreviated-post-footer { background-image: url('http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/bubble_2D00_bottom.gif'); }
.user-info-popup-content .abbreviated-post-footer .l { background-image: url('http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/bubble_2D00_corners.gif'); }
.user-info-popup-content .abbreviated-post-footer .r { background-image: url('http://omnicell75.local/cfs-file.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/bubble_2D00_corners.gif'); }
