#set($searchText = $core_v2_page.GetQueryStringValue('w_searchtext'))
#set($groupId = $core_v2_page.GetQueryStringValue('w_groupId'))
#set($queryString = "q=$core_v2_encoding.UrlEncode($searchText)")

#set($collapse = true)
#set($query = "%{Query=$searchText,PageSize=10,Collapse=$collapse}")
#if($groupId && $groupId != '')
	$query.Add('Filters', "group::$groupId")
	#set($queryString = "$queryString&groups=$groupId")
#end

#set($results = $core_v2_searchResult.List($query))

#if ($results.Count > 0)
	<div><a target="_blank" href="$core_v2_encoding.HtmlAttributeEncode($core_v2_urls.Search("%{ QueryString = $queryString }"))" class="internal-link search"><span></span>$core_v2_language.GetResource('CF_Search_ShowAll')</a></div>

	## results for known categories
	#set ($searchCategories = $core_v2_searchCategory.List())
	#foreach ($searchCategory in $searchCategories)

		#set($shownHeader = false)
		#foreach($result in $results)
			#if ($result.Category == $searchCategory.Category)
				#if (!$shownHeader)
					<div class="content-list-header"></div>
					<div class="content-list-name">$searchCategory.HtmlName</div>
					<ul class="content-list">
					#set($shownHeader = true)
				#end
				<li class="content-item"><a target="_blank" href="$core_v2_encoding.HtmlAttributeEncode($result.Url)" class="internal-link view-group"><span>$result.Title</span></a>
			#end
		#end
		#if ($shownHeader)
			</ul>
			<div class="content-list-footer"></div>
		#end

	#end

	## results with no known category grouped under 'Other'
	#set($shownHeader = false)
	#foreach($result in $results)
		#set ($searchCategory = false)
		#set ($searchCategory = $core_v2_searchCategory.Get($result.Category))
		#if (!$searchCategory)
			#if (!$shownHeader)
				<div class="content-list-header"></div>
				<div class="content-list-name">$core_v2_language.GetResource('CF_Search_Other')</div>
				<ul class="content-list">
				#set($shownHeader = true)
			#end
			<li class="content-item"><a target="_blank" href="$core_v2_encoding.HtmlAttributeEncode($result.Url)" class="internal-link view-post"><span>$result.Title</span></a>
		#end
	#end
	#if ($shownHeader)
		</ul>
		<div class="content-list-footer"></div>
	#end

#else
	<div class="message norecords">$core_v2_language.GetResource('CF_Search_NoSearchResults')</div>
#end
