#set($mediaId = $core_v2_utility.ParseInt($core_v2_page.GetQueryStringValue('w_mediaId')))
#set($media = false)
#if ($mediaId > 0)
	#set($media = $core_v2_media.Get($core_v2_gallery.Current.Id, $mediaId))
#else
	#foreach($m in $core_v2_media.List("%{GalleryId=$core_v2_gallery.Current.Id,SortBy='PostDate',SortOrder='Descending',PageSize=1,PageIndex=0}"))
		#set($media = $m)
	#end
#end

#if($media)
	<div style="text-align:center;">
		<div style="font-weight:bold;font-size:100%;padding:8px 0"><a href="$core_v2_encoding.HtmlAttributeEncode($media.Url)">$media.Title</a></div>
		<div style="width:400px;min-height:300px;background-color:#000;color:#fff;margin:0 auto;padding:2px;">
			<table cellpadding="0" cellspacing="0" border="0" style="width:400px;height:300px;"><tr><td valign="middle"><td align="center">
				#set($viewHtml = false)
				#set($viewHtml = $core_v2_ui.GetViewHtml($media.File.FileUrl, "%{Width=400,Height=300}"))
				#if($viewHtml && $viewHtml.Length > 0)
					$viewHtml
				#else
					$core_v2_language.GetResource('MediaGallery_FileNotViewableNoDownload')
				#end
			</td></tr></table>
		</div>
	</div>
#else
	<div style="text-align:center;">
		<div style="font-weight:bold;font-size:100%;padding:8px 0">&nbsp;</div>
		<div style="width:400px;min-height:300px;background-color:#000;color:#fff;margin:0 auto;padding:2px;">
			<table cellpadding="0" cellspacing="0" border="0" style="width:400px;height:300px;"><tr><td valign="middle"><td align="center">
				$core_v2_language.GetResource('MediaGallery_FileNotViewableNoDownload')
			</td></tr></table>
		</div>
	</div>
#end