#set($groupId = $core_v2_group.Current.Id)
#set($pagedResults = $omnicell_v1_traininguser.ListMembers($groupId, "", "", 0, 1000))
#foreach($member in $pagedResults)
#beforeall
<xml>
<ss:Workbook xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet">
    <ss:Worksheet ss:Name="Subscribers">
        <ss:Table>
            <ss:Row>
                <ss:Cell>
                    <ss:Data ss:Type="String">$core_v2_language.GetResource('Name')</ss:Data>
                </ss:Cell>
                <ss:Cell>
                    <ss:Data ss:Type="String">$core_v2_language.GetResource('LastName')</ss:Data>
                </ss:Cell>
                <ss:Cell>
                    <ss:Data ss:Type="String">$core_v2_language.GetResource('FirstName')</ss:Data>
                </ss:Cell>
                <ss:Cell>
                    <ss:Data ss:Type="String">$core_v2_language.GetResource('CSN')</ss:Data>
                </ss:Cell>
                 <ss:Cell>
                    <ss:Data ss:Type="String">$core_v2_language.GetResource('Email')</ss:Data>
                </ss:Cell>
                <ss:Cell>
                    <ss:Data ss:Type="String">$core_v2_language.GetResource('Facilty')</ss:Data>
                </ss:Cell>
				<ss:Cell>
                    <ss:Data ss:Type="String">$core_v2_language.GetResource('Title')</ss:Data>
                </ss:Cell>
                <ss:Cell>
                     <ss:Data ss:Type="String">$core_v2_language.GetResource('AuthorizedDate')</ss:Data>
                </ss:Cell>   
            </ss:Row>
#each
     <ss:Row>
        <ss:Cell>
            <ss:Data ss:Type="String">$member.User.Displayname</ss:Data>
        </ss:Cell>
        
        <ss:Cell>
            <ss:Data ss:Type="String">$member.User.ProfileFields.Get("LastName").Value</ss:Data>
        </ss:Cell>
        <ss:Cell>
            <ss:Data ss:Type="String">$member.User.ProfileFields.Get("FirstName").Value</ss:Data>
        </ss:Cell>
        <ss:Cell>
            <ss:Data ss:Type="String">$member.User.ProfileFields.Get("CSN").Value</ss:Data>
        </ss:Cell>
        <ss:Cell>
            <ss:Data ss:Type="String">$member.User.PrivateEmail</ss:Data>
        </ss:Cell>        
        <ss:Cell>
            <ss:Data ss:Type="String">$member.User.ProfileFields.Get("Facility").Value</ss:Data>
        </ss:Cell>
		<ss:Cell>
            <ss:Data ss:Type="String">$member.User.ProfileFields.Get("Title").Value</ss:Data>
        </ss:Cell>
        <ss:Cell>
            <ss:Data ss:Type="String">$!member.User.ProfileFields.Get("AuthDate").Value</ss:Data>
        </ss:Cell>
    </ss:Row>
#afterall
        </ss:Table>
    </ss:Worksheet>
</ss:Workbook>
</xml>
#end
#set($contentDisposition = $core_v2_language.FormatString("attachment;filename={0}{1}", $core_v2_language.FormatDate($core_v2_utility.CurrentDate, "yyyyMMdd"), "_Subscribers.xml"))
$core_v2_page.SetContentType("text/xml; charset=utf-8")
$omnicell_v1_page.AddHeader("Content-Disposition", $contentDisposition)

