#set($fetchGroupId = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('parentGroup', 'Group=25')).Value("Group"))
#set($userId = $core_v2_user.Accessing.Id)

#set($parent = $core_v2_utility.ParseInt($fetchGroupId))
#set($userId = $core_v2_user.Accessing.Id)

#set($groupUser = $core_v2_groupUserMember.Get($parent, "%{UserId = $userId}"))
#set($roles = $core_v2_role.List("%{UserId = $userId}"))
#set($administratorsRoleString = "Administrators")
#set($IsAdmin = false)

#foreach($role in $roles)
    #if($role.Name == $administratorsRoleString)
        #set($IsAdmin = true)
    #end
#end
#set($IsOwner = false)
#if($groupUser.MembershipType == "Owner")
    #set($IsOwner = true)
#end

#set($IsManager = false)
#if($groupUser.MembershipType == "Manager")
    #set($IsManager = true)
#end

#if ($IsOwner == false && $IsManager == false)
    $core_v2_widget.Hide()
#end

#set ($isButtonOnly = $core_v2_widget.GetBoolValue('isButtonOnly', false))
## SMR - Get the current group id
#set ($currGroup = -1)
#set ($currGroup=$core_v2_group.Current)
$core_v2_widget.ExecuteFile('get-user-and-roles.vm')

#set ($serviceUrl = "/ops/fetch/p/updateirinfo.aspx?qsgroupid=$currGroup.Id")
#set ($url = "/ops/fetch/p/updateirinfo.aspx?qsgroupid=$currGroup.Id")

#set ($buttonstring="")
#set ($butttonstring=$core_v2_widget.GetStringValue('${resource:Omnicell_UpdateIR_Info}','Something'))

#set ($options = "%{}")
#set ($csn = "")

##Admin: $IsAdmin<BR>
##Manager: $IsManager<BR>
##Owner: $IsOwner<BR>

<div class="ticketButton">
    <a href="$url"><div class="new-ir-button"><span>Edit Room Title and Type</span></div></a>
</div>f