#set ($pageIndex = $core_v2_utility.ParseInt($core_v2_page.GetQueryStringValue('w_pageIndex')))
#set ($pageSize = $core_v2_utility.ParseInt($core_v2_page.GetQueryStringValue('w_pageSize')))
#set ($userId = $core_v2_utility.ParseInt($core_v2_page.GetQueryStringValue('w_userId')))

#set($rollupDailyMessage = $core_v2_language.GetResource('EmailDigest_Rollup_Daily'))
#if($rollupDailyMessage.Length > 27) 
    #set($rollupDailyMessage = "$rollupDailyMessage.SubString(0,25)...")
#end
#set($rollupWeeklyMessage = $core_v2_language.GetResource('EmailDigest_Rollup_Weekly'))
#if($rollupWeeklyMessage.Length > 27) 
    #set($rollupWeeklyMessage = "$rollupWeeklyMessage.SubString(0,25)...")
#end
#set($rollupUnsubscribed = $core_v2_language.GetResource('EmailDigest_Rollup_GroupUnsubscribed'))
#if($rollupUnsubscribed.Length > 29) 
    #set($rollupUnsubscribed = "$rollupUnsubscribed.SubString(0,27)...")
#end

#set($groups = $core_v2_group.List("%{UserId='$userId',PageIndex=$pageIndex,PageSize=$pageSize}"))
#foreach($group in $groups)
<tr class="email-setting-table-row">
<td><div class="email-setting-group">$group.Name</div></td>
<td>
	#set($subscription = false)
	#set($subscription = $core_v2_emailDigest.GetByGroup($group.Id))
	<div class='email-digest-subscription'>
		<span id='$core_v2_widget.UniqueId('emailDigestRollupWrapper')_$group.Id' class='email-digest-rollup'>
			<span id='$core_v2_widget.UniqueId('emailDigestRollup')_$group.Id'>
			#if($subscription && $subscription.FrequencyInDays == 1)
				$rollupDailyMessage
			#elseif($subscription && $subscription.FrequencyInDays == 7)
				$rollupWeeklyMessage
			#else
				$rollupUnsubscribed
			#end
			</span>
			<span class='drop-down-arrow'>&nbsp;</span>
		</span>
	</div>
</td>
</tr>
	#registerEndOfPageHtml()
		<script type='text/javascript'>
			jQuery(function(){
				jQuery.telligent.evolution.emailDigest.register({
					context: 'group',
					subscriptionId: '#if($subscription)$subscription.Id#end',
					frequency: #if($subscription) $subscription.FrequencyInDays #else 0 #end,
					contextId: $group.Id,
					rollupTextId: '$core_v2_widget.UniqueId('emailDigestRollup')_$group.Id',
					selectPopupId: '$core_v2_widget.UniqueId('digestSelectPopup')',
					selectableTag: '$core_v2_widget.UniqueId('email-digest-selectable')_$group.Id',
					rollupWrapperId: '$core_v2_widget.UniqueId('emailDigestRollupWrapper')_$group.Id',
					emailDigestUrl: '$core_v2_encoding.JavascriptEncode($core_v2_widget.GetExecutedFileUrl('emaildigestupdate.vm'))',
					popupUnsubscribe: '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('EmailDigest_SubscriptionSelectOptions_Unsubscribe'))',
					popupDaily: '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('EmailDigest_SubscriptionSelectOptions_Daily'))',
					popupWeekly: '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('EmailDigest_SubscriptionSelectOptions_Weekly'))',
					rollupUnsubscribed: '$core_v2_encoding.JavascriptEncode($rollupUnsubscribed)',
					rollupDaily: '$core_v2_encoding.JavascriptEncode($rollupDailyMessage)',
					rollupWeekly: '$core_v2_encoding.JavascriptEncode($rollupWeeklyMessage)',
					dailyMessage: '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('EmailDigest_Message_Daily'))',
					weeklyMessage: '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('EmailDigest_Message_Weekly'))',
					unsubscribeGroupMessage: '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('EmailDigest_Message_UnsubscribedGroup'))',
					errorMessage: '$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('EmailDigest_SubscriptionError'))'
				});
			});
		</script>
	#end
#end
