#set ($notificationTypes = $core_v2_notificationType.List())
#set ($notificationDistributionTypes = $core_v2_notificationDistributionType.List())
#set ($userPreferences = $core_v2_notificationUserPreference.List())
#set ($distributionTypeCount = false)
#set ($distributionTypeCount = $notificationDistributionTypes.count)
#set ($distributionColumns = $distributionTypeCount * 1)
#set ($totalColumns = 3 + $distributionColumns)
#set ($category = "")

<div class="setting-list-header"></div>
<fieldset class="setting-list">
    <legend class="setting-list-description">$core_v2_language.GetResource('EditProfile_NotificationsTitle')</legend>
    <label class="notification-description">$core_v2_language.GetResource('EditProfile_NotificationsDescription')</label>

    #foreach ($notificationType in $notificationTypes)
    #beforeall
        <table class="notification-setting-item-group">
    #each
        #set ($notificationTypeEnabled = false)
        #foreach($preference in $userPreferences.Preferences)
		#if ($preference.NotificationTypeId == $notificationType.NotificationTypeId && !$preference.DistributionType)
			#set($notificationTypeEnabled = $preference.IsEnabled)
		#end
	#end
        #if ($notificationType.Category != $category)
            #set ($category = $notificationType.Category)
            <tr>
                <th colspan="$totalColumns">
                    <label class="notification-category-label">$notificationType.Category</label>
                </th>
            </tr>
            <tr>
                <th colspan="2">
                    <label class="notification-description">$core_v2_language.GetResource('Notifications_NotifyWhen')</label>
                    <a href="#" class="multiSelector all" data-category="$category">$core_v2_language.GetResource('SelectAll')</a>
                    <a href="#" class="multiSelector none" data-category="$category">$core_v2_language.GetResource('DeSelectAll')</a>
                </th>
                <th>
                    <label class="notification-description">$core_v2_language.GetResource('Notifications_NotifyBy')</label>
                </th>
                #foreach ($distributionType in $notificationDistributionTypes)
                    <th  class="notification-distribution-type-header">
                        #set ($multiSelectorCategory = "${category}-${distributionType.DistributionTypeId}")
                        <label class="notification-distribution-type">$distributionType.Name</label>
                        <a href="#" class="multiSelector all" data-category="$multiSelectorCategory">$core_v2_language.GetResource('SelectAll')</a>
                        <a href="#" class="multiSelector none" data-category="$multiSelectorCategory">$core_v2_language.GetResource('DeSelectAll')</a>
                    </th>
                #end
            </tr>
        #end
        <tr #if (!$notificationTypeEnabled) class="disabled" #end
            class="notification-setting-item">
            #set ($notificationTypeName = $core_v2_widget.UniqueId("notificationType:${notificationType.NotificationTypeId}"))
            <td class="notification-setting-item-checkboxinput">
                <input type="checkbox"
                    class="notificationType multiSelectable"
                    data-category="$category"
                    name="$core_v2_encoding.HtmlAttributeEncode($notificationTypeName)"
                    id="$core_v2_encoding.HtmlAttributeEncode($notificationTypeName)"
                    value="$notificationType.NotificationTypeId"
                    #if ($notificationTypeEnabled) data-enabled="true" #else data-enabled="false" #end
                    data-notificationtype="$notificationType.NotificationTypeId"
                    #if ($notificationTypeEnabled) checked="checked" #end />
            </td>
            <td class="notification-setting-item-label">
                <label for="$core_v2_encoding.HtmlAttributeEncode($notificationTypeName)">$notificationType.Description</label>
            </td>
            <td></td>
            #foreach ($distributionType in $notificationDistributionTypes)
                #set ($distributionTypeEnabled = false)
                #foreach($preference in $userPreferences.Preferences)
			#if ($preference.NotificationTypeId == $notificationType.NotificationTypeId && $preference.DistributionTypeId == $distributionType.DistributionTypeId)
				#set($distributionTypeEnabled = $preference.IsEnabled)
			#end
		#end
                #set ($multiSelectorCategory = "${category}-${distributionType.DistributionTypeId}")
                <td class="notification-setting-item-checkboxinput">
                    <input type="checkbox"
                        class="distributionType multiSelectable"
                        data-category="$multiSelectorCategory"
                        value="$distributionType.DistributionTypeId"
                        data-notificationtype="$notificationType.NotificationTypeId"
                        data-distributiontype="$distributionType.DistributionTypeId"
                        #if ($distributionTypeEnabled) data-enabled="true" #else data-enabled="false" #end
                        #if (!$notificationTypeEnabled) disabled="disabled" #end
                        #if ($distributionTypeEnabled) checked="checked" #end />
                </td>
            #end
        </tr>
    #afterall
        </table>
    #end

</fieldset>
<div class="setting-list-footer"></div>

