$core_v2_page.SetContentType("text/css")

.content-fragment.group-membership-list .table-list {
  position: relative;
  width: 100%;
}

.tab-set.with-panes {
  margin: 0;
  padding-left: 0;
  overflow: visible !important;
  border-bottom: 1px solid #ccc;
  padding-top: 15px;
  background: #fff url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/filter_2D00_background.png') repeat-x bottom left;
}

.tab-set.with-panes .tab {
  float: none;
  border-right: solid 1px #ccc;
  border-bottom-width: 0;
  margin: 2px 0px -1px 0px;
  margin-right: 1px;
  color: #0066DD !important;
  padding: 3px 12px 20px 12px;
  line-height: 15px;
  height: 16px;
  border-right: 0px;
  font-weight: normal;
  background: Transparent;
}

.layout-content {
    overflow: visible !important; 
}

.tab-set.with-panes div {
  overflow: visible !important;
}

.tab-set.with-panes div table {
	width: auto;
}

.tab-set table:hover td:last-child a {
  border-right: none !important;
}

.tab-set.with-panes td {
  background: transparent url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/filter_2D00_separator_2D00_background.png') no-repeat bottom right;
}

.tab-set.with-panes .tab {
	border: none;
}

.tab-set.with-panes .tab:hover {
	font-weight: bold !important;
}

.tab-set.with-panes .tab.selected {
  background: #fff;
  color: #000 !important;
  font-weight: bold;
  display: inline-block;
  overflow: visible;
  position: relative;
}

.tab-set.with-panes .tab.selected div {
  background-image: none;
}

.tab-set.with-panes .tab div {
  background-image: none;
  padding: 0;
  overflow: visible !important;
}

.tab-set .tab.selected div {
  background: transparent url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/tab_2D00_set.png') no-repeat right -90px;
}

.content-fragment.group-membership-list .table-column .avatar {
  width: 32px;
  height: 32px;
  display: inline-table;
  display: -moz-inline-box;
  display: inline-block;
}

.content-fragment.group-membership-list .table-column .avatar .internal-link img {
	display: inline;
}

.content-fragment.group-membership-list .table-column .user-name {
  position: absolute;
  padding-left: 5px;
  padding-top: 8px;
}

.content-fragment.group-membership-list .table-item .table-column fieldset.field-list {
	border: none;
	margin-bottom: 10px;
	padding: 0;
	background-color: transparent;
}

.content-fragment.group-membership-list .table-item .table-column .field-list,
.content-fragment.group-membership-list .table-item .table-column.membership-status {
  text-align: right;
}

.content-fragment.group-membership-list .table-item .table-column {
  overflow: hidden;
}

.content-fragment.group-membership-list .field-item {
  display: inline;
/*  position: relative; */
}

.content-fragment.group-membership-list .field-item-input {
	margin: 0 !important;
}

.content-fragment .group-membership-list .filter {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: 1px solid #d4e7c5;
    clear: both;
    color: #999;
    font-size: 16px;
    height: 25px;
    margin: 0;
    padding: 15px 0 0;
}
.content-fragment .group-membership-list .filter {
    height: 42px !important;
    margin: inherit !important;
    padding: 15px 0 3px !important;
    position: relative !important;
}
.group-membership-list .filter {
    border-top: 0 none;
    margin: 1em 0 10px;
    padding: 10px 0 0;
}

.group-membership-list .clear {
    clear: both;
    display: block;
}

.group-membership-list .filter-label {
    float: left;
    display: block;
}

.content-fragment .query-filter .filter-option {
   display: block !important;
    background: #d4e7c5 none repeat scroll 0 0;
    float: left;
    width: 20% !important;
}
.content-fragment .query-filter .filter-option.selected {
    font-weight: bold !important;
    background-color: #bdc3c7;
    color: white !important;
}

.group-membership-list .message.norecords {
    background-color: #cadbee;
    border: 1px solid #300;
    color: #000;
    padding: 12px;
}
.group-membership-list .message {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    margin: 1em 1em 1em 0;
    text-transform: uppercase;
}

.group-membership-list .filter:hover .filter-option a {
	border-color: #cbd0d3 !important;
	color: #869198 !important;
}

.group-membership-list .filter:hover .filter-option .selected a {
	border-color: #cbd0d3 !important;
	color: #fff !important;
}

.group-membership-list .filter .filter-option a:hover {
     color: #5f9933 !important;
}

.group-membership-list .tab-pane .field-list .field-item .field-item-input .internal-link.add-member, .group-membership-list .tab-pane .field-list .field-item .field-item-input .internal-link.invite-member {
   line-height: 44px !important;
  height: 44px !important;
  padding: 0 30px 0 30px !important;
  border: 0px !important;
  border-radius: 3px !important;
  display: inline-block !important;
  background: none !important;
  background-color: #6bac39 !important;
  color: white !important;
  font-family: Arial, 'Helvetica', sans-serif !important;
  font-size: 13px !important;
  margin-right: 10px !important;
  -webkit-transition: background-color 0.15s !important;
  -moz-transition: background-color 0.15s !important;
  transition: background-color 0.15s !important;
}

