#set ($pageIndex = 0)

<div class="conversation-browser" id="$core_v2_widget.UniqueId('conversationBrowser')">
    <div class="conversation-browser-column conversations">
        <div class="content-list-header conversations"></div>
        <div class="content-list-name conversations">
            #set ($totalConversations = $core_v2_conversation.List("%{ PageIndex = '0', PageSize = '1'}").TotalCount)
            <h4>$core_v2_language.GetResource('Inbox') ($!totalConversations)</h4>
            <a class="new internal-link button" href="#"><span></span>$core_v2_language.GetResource('AddNew')</a>
        </div>
        <ul class="content-list conversations" id="$core_v2_widget.UniqueId('conversationList')">
            $core_v2_widget.ExecuteFile('view-standard-conversations.vm')
        </ul>
        <div class="content-list-footer conversations"></div>
    </div>
    <div class="conversation-browser-column messages" id="$core_v2_widget.UniqueId('messageList')">
        <div class="content-list-header messages">
            <h4 class="subject"></h4>
            <h4 class="nodata select">$core_v2_language.GetResource('SelectConversation')</h4>
            <h4 class="nodata empty">$core_v2_language.GetResource('ViewConversations_NoTopics')</h4>
            <a class="delete internal-link button" href="#"><span></span>$core_v2_language.GetResource('ViewUserProfile_DeleteConversation')</a>
        </div>
        <div class="content-list-name messages"></div>
        <ul class="content-list messages">
            <li class="content-item reply-form">
                <div class="field-list-header reply"></div>
                <fieldset class="field-list reply">
                    <ul class="field-list reply">
                        <li class="field-item reply body">
                            <span class="field-item-input reply">
                                #set ($body = '')
                                $core_v2_editor.Render('Reply', "%{Width='100%', Height='50px', Value=$body }")
                            </span>
                        </li>
                        <li class="field-item reply post-submit">
                            <span class="field-item-input reply">
                                <a href="#" class="internal-link add-reply button reply">
                                    <span></span>$core_v2_language.GetResource('Reply')
                                </a>
                                <span class="processing" style="visibility: hidden;"></span>
                            </span>
                        </li>
                    </ul>
                </fieldset>
                <div class="field-list-footer"></div>
            </li>
        </ul>
    </div>

</div>