$core_v2_page.SetContentType("text/css")

.content-fragment.media-gallery-post-details .abbreviated-post {
  padding-left: 0;
}

.content-fragment.media-gallery-post-details .post-attributes .attribute-item {
  display: block;
  color: #000;
}

.content-fragment.media-gallery-post-details .attribute-name {
  margin: 0 3px 0 0;
}

.content-fragment.media-gallery-post-details .post-attributes .attribute-item .attribute-value {
  font-weight: bold;
}
