.subscription-course-search .course-search-container { background-color: #F3F3F2; border: 1px solid #7CB64D; min-height:70px;}
    .subscription-course-search .course-search-container .course-search { clear:both; padding-left: 130px; padding-top:20px;}
    .subscription-course-search .course-search-container .course-search input {width: 300px; height:20px; float:left;}
    .subscription-course-search .course-search-container .course-search .course-search-button {margin:0; padding:0 10px;}
    .subscription-course-search .course-search-container .course-search .search-criteria { padding-top:10px; padding-bottom:10px;}
    .subscription-course-search .course-search-container .course-search .search-criteria span { color:#7FA3B7;}
