##
## Displays a form allowing the user to post a question to a forum
##

## needs to first get a list of related forums
## does this by re-searching the parent search page's query, minus any chosen category, + a forumapp category

## combine the categoryless field filters with a forum category
#if ($categorylessFilters.length > 0)
	#set ($categorylessFilters = "${categorylessFilters}||")
#end
#set ($categorylessFilters = "${categorylessFilters}99,category,forum")
## also grab the facet counts for sections,
## which would then be usable as the list of related forum ids since
## all results are of forum category
#set ($fieldFacets = "section,count,5,0,1")

## ...and query for top 5 related forums
#set ($relatedForumsQuery = "%{}")
$relatedForumsQuery.Add("Query", $query)
$relatedForumsQuery.Add("PageSize", 1)
$relatedForumsQuery.Add("PageIndex", 0)
$relatedForumsQuery.Add("FieldFilters", $categorylessFilters)
$relatedForumsQuery.Add("FieldFacets", $fieldFacets)
$relatedForumsQuery.Add("DateRangeFilters", $dateFilters)
#set ($relatedForumSearchResults = $core_v2_searchResult.List($relatedForumsQuery))

## get the default forum
#set ($defaultForum = false)
#if ($defaultAskForumId > 0)
	#set ($defaultForum = $core_v2_forum.Get($defaultAskForumId))
#end

## if there were no related forums or default forum specified, don't show this form
#if ($defaultForum)
	<div class="field-list-header"></div>
	<fieldset class="field-list askform">
		<ul class="field-list">
			<li class="field-item body">
				<label for="$core_v2_encoding.HtmlAttributeEncode($core_v2_widget.UniqueId('askBody'))" class="field-item-header">$core_v2_language.GetResource('Core_SearchResults_Ask_Body')</label>
				<span class="field-item-description">$core_v2_language.GetResource('Core_SearchResults_Ask_BodyLegend')</span>
				<span class="field-item-input">
				    <textarea placeholder="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('Core_SearchResults_Ask_BodyPlaceholder'))" id="$core_v2_encoding.HtmlAttributeEncode($core_v2_widget.UniqueId('askBody'))" name="$core_v2_encoding.HtmlAttributeEncode($core_v2_widget.UniqueId('askBody'))" rows="4"></textarea>
				</span>
				<span class="field-item-validation" style="display:none;"></span>
			</li>
			<li class="field-item title">
				<label for="$core_v2_encoding.HtmlAttributeEncode($core_v2_widget.UniqueId('askTitle'))" class="field-item-header">$core_v2_language.GetResource('Core_SearchResults_Ask_Title')</label>
				<span class="field-item-description"></span>
				<span class="field-item-input">
					<textarea placeholder="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('Core_SearchResults_Ask_TitlePlaceholder'))" id="$core_v2_encoding.HtmlAttributeEncode($core_v2_widget.UniqueId('askTitle'))" name="$core_v2_encoding.HtmlAttributeEncode($core_v2_widget.UniqueId('askTitle'))" />
				</span>
				<span class="field-item-validation" style="display:none;"></span>
			</li>
			<li class="field-item forum">
				<label for="$core_v2_encoding.HtmlAttributeEncode($core_v2_widget.UniqueId('askForum'))" class="field-item-header">$core_v2_language.GetResource('Core_SearchResults_Ask_Forum')</label>
				<span class="field-item-description"></span>
				<span class="field-item-input">
					<select id="$core_v2_encoding.HtmlAttributeEncode($core_v2_widget.UniqueId('askForum'))" name="$core_v2_encoding.HtmlAttributeEncode($core_v2_widget.UniqueId('askForum'))">
						## display all related forums
						#set ($relatedForumsCount = 0)
						#foreach ($relatedForumFacet in $relatedForumSearchResults.FieldFacets)
							#set ($relatedForum = false)
							#set ($relatedForum = $core_v2_forum.Get($core_v2_utility.ParseInt($relatedForumFacet.FieldValue)))
							#if ($relatedForum)
								#set ($relatedForumsCount = $relatedForumsCount + 1)
								<option value="$relatedForum.Id">$core_v2_language.GetResource('Core_SearchResults_In') $relatedForum.Name $core_v2_language.GetResource('Core_SearchResults_In_LowerCase') $relatedForum.Group.Name</option>
							#end
						#end
						## add in the default forum if there were no other related forums
						#if ($relatedForumsCount == 0)
							<option value="$defaultForum.Id">$core_v2_language.GetResource('Core_SearchResults_In') $defaultForum.Name $core_v2_language.GetResource('Core_SearchResults_In_LowerCase') $defaultForum.Group.Name</option>
						#end
					</select>
				</span>
				<span class="field-item-validation" style="display:none;"></span>
			</li>
			<li class="field-item submit">
				<span class="field-item-input">
					<a id="$core_v2_encoding.HtmlAttributeEncode($core_v2_widget.UniqueId('askSubmit'))" href="#" class="internal-link add-post disabled">
						<span></span>$core_v2_language.GetResource('Core_SearchResults_Ask_Continue')
					</a>
				</span>
			</li>
		</ul>
	</fieldset>
	<div class="field-list-footer"></div>
#end
