##
## Ajax Callback which Performs a Site Search
##

## get all the parameters for searching

#set ($query = '')
#set ($query = $core_v2_page.GetQueryStringValue('w_q'))
#set ($groupFilter = $core_v2_page.GetQueryStringValue('w_group'))
#set ($categoryFilter = $core_v2_page.GetQueryStringValue('w_category'))
#set ($tagFilter = $core_v2_encoding.HtmlEncode($core_v2_page.GetQueryStringValue('w_tag')))
#set ($audienceFilter = $core_v2_page.GetQueryStringValue('w_audience'))

#set ($productFilter = $core_v2_page.GetQueryStringValue('w_product'))
#set ($featureFilter = $core_v2_page.GetQueryStringValue('w_feature'))
#set ($versionFilter = $core_v2_page.GetQueryStringValue('w_version'))
#set ($interfaceFilter = $core_v2_page.GetQueryStringValue('w_interface'))

#set ($userFilter = $core_v2_page.GetQueryStringValue('w_author'))
#set ($dateRangeFilter = $core_v2_page.GetQueryStringValue('w_date'))
#set ($sort = $core_v2_page.GetQueryStringValue('w_sort'))
#set ($date = $core_v2_page.GetQueryStringValue('w_date'))
#set ($collapse = $core_v2_page.GetQueryStringValue('w_collapse'))
#set ($pageSize = $core_v2_widget.GetIntValue('pageSize', 10))
#set ($pageIndex = $core_v2_ui.GetCurrentPageIndex())
#set ($defaultAskForumId = false)
#set ($defaultAskForumId = $core_v2_utility.ParseInt($core_v2_page.GetQueryStringValue('w_defaultAskForumId')))

#if (!$defaultAskForumId || $defaultAskForumId == 0)
    #set ($defaultAskForum = $core_v2_page.ParseQueryString($core_v2_widget.GetStringValue('defaultAskForum', '')))
	#if ($defaultAskForum.Value('Forum'))
		#set ($defaultAskForumId = $core_v2_utility.ParseInt($defaultAskForum.Value('Forum')))
	#end
#end

#if ($defaultAskForumId && $defaultAskForumId > 0 && !$core_v2_nodePermission.Get('forums', $defaultAskForumId, 'Forum_CreatePost').IsAllowed)
	#set ($defaultAskForumId = 0)
#end

## these parameters control how many of each of the left filter categories to have pre-revealed (previously had clicked 'View More')
#set ($defaultVisibleFilters = 4)
#set ($groupVisible = $core_v2_utility.ParseInt($core_v2_page.GetQueryStringValue('w_groupVisible')))
#set ($tagVisible = $core_v2_utility.ParseInt($core_v2_page.GetQueryStringValue('w_tagVisible')))
#set ($audienceVisible = $core_v2_utility.ParseInt($core_v2_page.GetQueryStringValue('w_audienceVisible')))
#set ($productVisible = $core_v2_utility.ParseInt($core_v2_page.GetQueryStringValue('w_productVisible')))
#set ($userVisible = $core_v2_utility.ParseInt($core_v2_page.GetQueryStringValue('w_authorVisible')))
#set ($featureVisible = $core_v2_utility.ParseInt($core_v2_page.GetQueryStringValue('w_featureVisible')))
#set ($versionVisible = $core_v2_utility.ParseInt($core_v2_page.GetQueryStringValue('w_versionVisible')))
#set ($interfaceVisible = $core_v2_utility.ParseInt($core_v2_page.GetQueryStringValue('w_interfaceVisible')))

#if ($groupVisible == 0)
	#set ($groupVisible = $defaultVisibleFilters)
#end
#if ($tagVisible == 0)
	#set ($tagVisible = $defaultVisibleFilters)
#end
#if ($audienceVisible == 0)
    #set ($audienceVisible = $defaultVisibleFilters)
#end
#if ($userVisible == 0)
	#set ($userVisible = $defaultVisibleFilters)
#end
#if ($productVisible == 0)
    #set ($productVisible = $defaultVisibleFilters)
#end
#if ($featureVisible == 0)
    #set ($featureVisible = $defaultVisibleFilters)
#end
#if ($versionVisible == 0)
    #set ($versionVisible = $defaultVisibleFilters)
#end
#if ($interfaceVisible == 0)
    #set ($interfaceVisible = $defaultVisibleFilters)
#end
#set($quote = '"')
##
## build the facets and filters concurrently
##
#set ($facets = "")
#set ($filters = "")
#set ($dateFacets = "")
#set ($dateFilters = "")
#set ($breadCrumbs = "")
#set ($breadCrumbCount = 0)
#set ($filterIndex = 0)
#set ($dq = '"')
## separate filter without categories for use in querying related forums in the ask form
#set ($categorylessFilters = "")
## category
#set ($facets = "${facets}category,count,12,0,0")
#if ($categoryFilter)
	#set ($facets = "${facets}!${filterIndex}")
	#set ($filters = "${filters}${filterIndex},category,$categoryFilter")

	#set ($categoryName = $categoryFilter)
    #set ($category = false)
    #set ($category = $core_v2_searchCategory.Get($categoryFilter))
	#if ($category)
	    #set ($categoryName = $category.HtmlName)
	#end
    #if($categoryName == "Wikis")
        #set($categoryName = "Topics")
    #end
	#if ($categoryName)
		#set ($breadCrumbs = "${breadCrumbs}<span style=${dq}z-index:100${dq} class=${dq}breadcrumb-item${dq} data-filtername=${dq}category${dq} data-filtervalue=${dq}$core_v2_encoding.HtmlAttributeEncode($categoryFilter)${dq}><span>$categoryName</span><a href=${dq}#${dq}>x</a></span>")
		#set ($breadCrumbCount = $breadCrumbCount + 1)
	#end
	#set ($filterIndex = $filterIndex + 1)
#end
## only show user, group, tag, and date facets if "People" or "Groups" category filter was not selected
#if ($categoryFilter != 'user' && $categoryFilter != 'group')
	## user
	#set ($facets = "${facets}||user,count,12,0,1")
	#if ($userFilter)
        #set($userRevamp = "$quote$userFilter$quote")
		#set ($facets = "${facets}!${filterIndex}")
		#if ($filters.length > 0)
			#set ($filters = "${filters}||")
		#end
		#set ($filters = "${filters}${filterIndex},user,$userRevamp")
		#if ($categorylessFilters.length > 0)
			#set ($categorylessFilters = "${categorylessFilters}||")
		#end
		#set ($categorylessFilters = "${categorylessFilters}${filterIndex},user,$userRevamp")

		#set ($user = false)
		#set ($user = $core_v2_user.Get("%{ Id = $core_v2_utility.ParseInt($userFilter) }"))
		#if ($user)
			#set ($breadCrumbs = "${breadCrumbs}<span style=${dq}z-index:99${dq} class=${dq}breadcrumb-item${dq} data-filtername=${dq}author${dq} data-filtervalue=${dq}$core_v2_encoding.HtmlAttributeEncode($userFilter)${dq}><span>Author $user.DisplayName</span><a href=${dq}#${dq}>x</a></span>")
			#set ($breadCrumbCount = $breadCrumbCount + 1)
		#end
		#set ($filterIndex = $filterIndex + 1)
	#end
	## group
	#set ($facets = "${facets}||group,count,12,0,1")
	#if ($groupFilter)
        #set($groupRevamp = "$quote$groupFilter$quote")
		#set ($facets = "${facets}!${filterIndex}")
		#if ($filters.length > 0)
			#set ($filters = "${filters}||")
		#end
		#set ($filters = "${filters}${filterIndex},group,$groupRevamp")
		#if ($categorylessFilters.length > 0)
			#set ($categorylessFilters = "${categorylessFilters}||")
		#end
		#set ($categorylessFilters = "${categorylessFilters}${filterIndex},group,$groupRevamp")

		#set ($group = false)
		#set ($group = $core_v2_group.Get("%{ Id = $core_v2_utility.ParseInt($groupFilter) }"))
		#if ($group)
			#set ($breadCrumbs = "${breadCrumbs}<span style=${dq}z-index:98${dq} class=${dq}breadcrumb-item${dq} data-filtername=${dq}group${dq} data-filtervalue=${dq}$core_v2_encoding.HtmlAttributeEncode($groupFilter)${dq}><span>Group $group.Name</span><a href=${dq}#${dq}>x</a></span>")
			#set ($breadCrumbCount = $breadCrumbCount + 1)
		#end
		#set ($filterIndex = $filterIndex + 1)
	#end
    ## audience
    #set ($facets = "${facets}||AudienceType_wsmv,count,12,0,1")
    #if ($audienceFilter)
        #set($audienceRevamp = "$quote$audienceFilter$quote")
        #set ($facets = "${facets}!${filterIndex}")
        #if ($filters.length > 0)
    		#set ($filters = "${filters}||")
    	#end
    	#set ($filters = "${filters}${filterIndex},AudienceType_wsmv,$audienceRevamp")
    	#if ($categorylessFilters.length > 0)
    		#set ($categorylessFilters = "${categorylessFilters}||")
    	#end
    	#set ($categorylessFilters = "${categorylessFilters}${filterIndex},AudienceType_wsmv,$audienceRevamp")
    
    	#set ($audience = false)
    	#set ($audience = $core_v2_group.Get("%{ Id = $core_v2_utility.ParseInt($audienceFilter) }"))
    	#if ($audience)
    		#set ($breadCrumbs = "${breadCrumbs}<span style=${dq}z-index:98${dq} class=${dq}breadcrumb-item${dq} data-filtername=${dq}audience${dq} data-filtervalue=${dq}$core_v2_encoding.HtmlAttributeEncode($audienceFilter)${dq}><span>Audience $audience.Name</span><a href=${dq}#${dq}>x</a></span>")
    		#set ($breadCrumbCount = $breadCrumbCount + 1)
    	#end
    	#set ($filterIndex = $filterIndex + 1)
    #end

    ## features
    #set ($facets = "${facets}||FeatureList_wsmv,count,12,0,1")
    #if ($featureFilter)
        #set($featureRevamp = "$quote$featureFilter$quote")
        #set ($facets = "${facets}!${filterIndex}")
        #if ($filters.length > 0)
        	#set ($filters = "${filters}||")
    	#end
    	#set ($filters = "${filters}${filterIndex},FeatureList_wsmv,$featureRevamp")
    	#if ($categorylessFilters.length > 0)
    		#set ($categorylessFilters = "${categorylessFilters}||")
    	#end
    	#set ($categorylessFilters = "${categorylessFilters}${filterIndex},FeatureList_wsmv,$featureRevamp")
    
    	#set ($features = false)
    	#set ($features = $core_v2_group.Get("%{ Id = $core_v2_utility.ParseInt($featuresFilter) }"))
    	#if ($features)
    		#set ($breadCrumbs = "${breadCrumbs}<span style=${dq}z-index:98${dq} class=${dq}breadcrumb-item${dq} data-filtername=${dq}feature${dq} data-filtervalue=${dq}$core_v2_encoding.HtmlAttributeEncode($featureFilter)${dq}><span>Feature $features.Name</span><a href=${dq}#${dq}>x</a></span>")
    		#set ($breadCrumbCount = $breadCrumbCount + 1)
    	#end
    	#set ($filterIndex = $filterIndex + 1)
    #end

    ## versions
    #set ($facets = "${facets}||Versions_wsmv,count,12,0,1")
    #if ($versionFilter)
        #set ($facets = "${facets}!${filterIndex}")
        #if ($filters.length > 0)
            #set ($filters = "${filters}||")
    	#end
    	#set ($filters = "${filters}${filterIndex},Versions_wsmv,$versionFilter")
    	#if ($categorylessFilters.length > 0)
    		#set ($categorylessFilters = "${categorylessFilters}||")
    	#end
    	#set ($categorylessFilters = "${categorylessFilters}${filterIndex},Versions_wsmv,$versionFilter")
    
    	#set ($versions = false)
    	#set ($versions = $core_v2_group.Get("%{ Id = $core_v2_utility.ParseInt($versionFilter) }"))
    	#if ($versions)
    		#set ($breadCrumbs = "${breadCrumbs}<span style=${dq}z-index:98${dq} class=${dq}breadcrumb-item${dq} data-filtername=${dq}version${dq} data-filtervalue=${dq}$core_v2_encoding.HtmlAttributeEncode($versionFilter)${dq}><span>Versions $versions.Name</span><a href=${dq}#${dq}>x</a></span>")
    		#set ($breadCrumbCount = $breadCrumbCount + 1)
    	#end
    	#set ($filterIndex = $filterIndex + 1)
    #end

    ## interfaces
    #set ($facets = "${facets}||Interfaces_wsmv,count,12,0,1")
    #if ($interfaceFilter)
        #set($interfaceRevamp = "$quote$interfaceFilter$quote")
        #set ($facets = "${facets}!${filterIndex}")
        #if ($filters.length > 0)
            #set ($filters = "${filters}||")
    	#end
    	#set ($filters = "${filters}${filterIndex},Interfaces_wsmv,$interfaceRevamp")
    	#if ($categorylessFilters.length > 0)
    		#set ($categorylessFilters = "${categorylessFilters}||")
    	#end
    	#set ($categorylessFilters = "${categorylessFilters}${filterIndex},Interfaces_wsmv,$interfaceRevamp")
    
    	#set ($interfaces = false)
    	#set ($interfaces = $core_v2_group.Get("%{ Id = $core_v2_utility.ParseInt($interfaceFilter) }"))
    	#if ($interfaces)
    		#set ($breadCrumbs = "${breadCrumbs}<span style=${dq}z-index:98${dq} class=${dq}breadcrumb-item${dq} data-filtername=${dq}interface${dq} data-filtervalue=${dq}$core_v2_encoding.HtmlAttributeEncode($interfaceFilter)${dq}><span>Interface $interfaces.Name</span><a href=${dq}#${dq}>x</a></span>")
    		#set ($breadCrumbCount = $breadCrumbCount + 1)
    	#end
    	#set ($filterIndex = $filterIndex + 1)
    #end

    ## product -- 
    #set ($facets = "${facets}||ProductValueFilter_wsmv,count,12,0,1")
    #if ($productFilter)
        #set($productRevamp = "$quote$productFilter$quote")
        #set ($facets = "${facets}!${filterIndex}")
        #if ($filters.length > 0)
        	#set ($filters = "${filters}||")
    	#end
    	#set ($filters = "${filters}${filterIndex},ProductValueFilter_wsmv,$productRevamp")
    	#if ($categorylessFilters.length > 0)
    		#set ($categorylessFilters = "${categorylessFilters}||")
    	#end
    	#set ($categorylessFilters = "${categorylessFilters}${filterIndex},ProductValueFilter_wsmv,$productRevamp")
    
    	#set ($product = false)
    	#set ($product = $core_v2_group.Get("%{ Id = $core_v2_utility.ParseInt($productFilter) }"))
    	#if ($product)
    		#set ($breadCrumbs = "${breadCrumbs}<span style=${dq}z-index:98${dq} class=${dq}breadcrumb-item${dq} data-filtername=${dq}product${dq} data-filtervalue=${dq}$core_v2_encoding.HtmlAttributeEncode($productFilter)${dq}><span>Products $product.Name</span><a href=${dq}#${dq}>x</a></span>")
    		#set ($breadCrumbCount = $breadCrumbCount + 1)
    	#end
    	#set ($filterIndex = $filterIndex + 1)
    #end

    ## tag
	#set ($facets = "${facets}||tag,count,12,0,1")
	#if ($tagFilter)
		#set ($quote = '"')
		#set ($quotedTagFilter = "${quote}${tagFilter}${quote}")
		#set ($facets = "${facets}!${filterIndex}")
		#if ($filters.length > 0)
			#set ($filters = "${filters}||")
		#end
		#set ($filters = "${filters}${filterIndex},tag,$quotedTagFilter")
		#if ($categorylessFilters.length > 0)
			#set ($categorylessFilters = "${categorylessFilters}||")
		#end
		#set ($categorylessFilters = "${categorylessFilters}${filterIndex},tag,$quotedTagFilter")

		#set ($breadCrumbs = "${breadCrumbs}<span style=${dq}z-index:97${dq} class=${dq}breadcrumb-item${dq} data-filtername=${dq}tag${dq} data-filtervalue=${dq}$core_v2_encoding.HtmlAttributeEncode($tagFilter)${dq}><span>Tag $tagFilter</span><a href=${dq}#${dq}>x</a></span>")
		#set ($filterIndex = $filterIndex + 1)
		#set ($breadCrumbCount = $breadCrumbCount + 1)
	#end

	## date ranges
	#set ($dateFormat = "yyyy'-'MM'-'dd'T'HH':'mm':'ss")
	#set ($minDate = $core_v2_utility.ParseDate('0001-01-01'))
	#set ($currentDate = $core_v2_language.FormatDate($core_v2_utility.CurrentDate, $dateFormat))
	#set ($minimumDate = $core_v2_language.FormatDate($minDate, $dateFormat))
	#set ($weekAgoDate = $core_v2_language.FormatDate($core_v2_utility.CurrentDate.AddDays(-7), $dateFormat))
	#set ($monthAgoDate = $core_v2_language.FormatDate($core_v2_utility.CurrentDate.AddMonths(-1), $dateFormat))
	#set ($yearAgoDate = $core_v2_language.FormatDate($core_v2_utility.CurrentDate.AddYears(-1), $dateFormat))
	## keys/constants for referring to date ranges
	#set ($pastWeekKey = "past_week")
	#set ($pastMonthKey = "past_month")
	#set ($pastYearKey = "past_year")
	## possible date filters/ranges
	#set ($pastWeekRange = "date,$weekAgoDate,$currentDate,true")
	#set ($pastMonthRange = "date,$monthAgoDate,$currentDate,true")
	#set ($pastYearRange = "date,$yearAgoDate,$currentDate,true")
	## date filters
	#if ($dateRangeFilter)
		#if ($dateRangeFilter == $pastWeekKey)
			#set ($dateFilters = $pastWeekRange)
		#elseif ($dateRangeFilter == $pastMonthKey)
			#set ($dateFilters = $pastMonthRange)
		#elseif ($dateRangeFilter == $pastYearKey)
			#set ($dateFilters = $pastYearRange)
		#end
		#set ($dateFilters = "${filterIndex},$dateFilters")
		#set ($pastWeekRange = "${pastWeekRange}!${filterIndex}")
		#set ($pastMonthRange = "${pastMonthRange}!${filterIndex}")
		#set ($pastYearRange = "${pastYearRange}!${filterIndex}")

		#set ($dateRangeName = $core_v2_language.GetResource("Core_SearchResults_${dateRangeFilter}"))
		#set ($breadCrumbs = "${breadCrumbs}<span style=${dq}z-index:96${dq} class=${dq}breadcrumb-item${dq} data-filtername=${dq}date${dq} data-filtervalue=${dq}$core_v2_encoding.HtmlAttributeEncode($dateRangeFilter)${dq}><span>${dateRangeName}</span><a href=${dq}#${dq}>x</a></span>")
	#end
	## date facets
	#set ($dateFacets = "$dateFacets$pastWeekRange||")
	#set ($dateFacets = "$dateFacets$pastMonthRange||")
	#set ($dateFacets = "$dateFacets$pastYearRange")

	## literal array needs to be ToArray()d due to an NVelocity issue with directly referencing elements
	#set ($dateKeys = [$pastWeekKey, $pastMonthKey, $pastYearKey])
	#set ($dateKeys = $dateKeys.ToArray())
#end

##
## construct and perform search query
##

#set ($searchQuery = "%{}")
$searchQuery.Add("Query", $query)
$searchQuery.Add("PageSize", $pageSize)
$searchQuery.Add("PageIndex", $pageIndex)
$searchQuery.Add("FieldFacets", $facets)
$searchQuery.Add("FieldFilters", $filters)

#if ($dateFacets)
	$searchQuery.Add("DateRangeFacets", $dateFacets)
#end
#if ($dateFilters)
	$searchQuery.Add("DateRangeFilters", $dateFilters)
#end

#if ($sort)
	$searchQuery.Add("Sort", $sort)
#end
#if (!$collapse || $collapse.Length == 0)
	#set ($collapse = true)
#end
$searchQuery.Add("Collapse", $collapse)
#set ($searchResults = false)
#set ($searchResultCount = 0)
#if ($query.Length > 0)
	#set ($searchResults = $core_v2_searchResult.List($searchQuery))
	#set ($searchResultCount = $searchResults.TotalCount)
#end

##
## post-process the filter results into separate lists of data since all
## filter facets are returned from the API in a merged list
##
#set ($categoryFacets = [])
#set ($userFacets = [])
#set ($groupFacets = [])
#set ($audienceFacets = [])
#set ($productFacets = [])
#set ($featureFacets = [])
#set ($versionFacets = [])
#set ($interfaceFacets = [])

#set ($tagFacets = [])
#set ($addedAt = 0)

#foreach ($facet in $searchResults.FieldFacets)
	#if ($facet.FieldName == 'category')
		#set ($addedAt = $categoryFacets.Add($facet))
	#elseif ($facet.FieldName == 'user')
		#set ($addedAt = $userFacets.Add($facet))
	#elseif ($facet.FieldName == 'group')
		#set ($addedAt = $groupFacets.Add($facet))
	#elseif ($facet.FieldName == 'tag')
		#set ($addedAt = $tagFacets.Add($facet))
    #elseif ($facet.FieldName == 'AudienceType_wsmv')
    	#set ($addedAt = $audienceFacets.Add($facet))
    #elseif ($facet.FieldName == 'ProductValueFilter_wsmv')
        #set ($addedAt = $productFacets.Add($facet))
    #elseif ($facet.FieldName == 'FeatureList_wsmv')
        #set ($addedAt = $featureFacets.Add($facet))
    #elseif ($facet.FieldName == 'Interfaces_wsmv')
        #set ($addedAt = $interfaceFacets.Add($facet))
    #elseif ($facet.FieldName == 'Versions_wsmv')
        #set ($addedAt = $versionFacets.Add($facet))
    #end
#end

<div class="search-filters">

	<div class="filter-data">
		<span class="result-heading">$core_v2_language.GetResource('Core_SearchResults_Results')</span>
		<span class="result-count">$searchResultCount</span>
	</div>

	<div class="filter-heading-wrapper">
		<div class="filter-heading-header"></div>
		<div class="filter-heading-content">
			<span>$core_v2_language.GetResource('Core_SearchResults_Narrow')</span>
		</div>
		<div class="filter-heading-footer" style="background-image: url($core_v2_widget.GetFileUrl('narrow.png'))"></div>
	</div>

	<div class="search-facet-filters">
		<div class="search-filter category-filters" data-filtername="category">
			#foreach ($facet in $categoryFacets)
			#beforeall
				<div class="navigation-list-header"></div>
				<ul class="navigation-list">
					<li class="navigation-item no-type-filter #if (!$categoryFilter) selected #end" data-filtervalue="">
						<a href="#">
							<span class="navigation-item-title">$core_v2_language.GetResource('Core_SearchResults_Everywhere')</span>
						</a>
					</li>
			#each
				<li class="navigation-item type-filter #if ($categoryFilter == $facet.FieldValue) selected #end" data-filtervalue="$core_v2_encoding.HtmlAttributeEncode($facet.FieldValue)">
					<a href="#">
                    	#set ($categoryName = $facet.FieldValue)
                        #set ($category = false)
                        #set ($category = $core_v2_searchCategory.Get($facet.FieldValue))
                    	#if ($category)
                    	    #set ($categoryName = $category.HtmlName)
                    	#end
                        #if($categoryName == "Wikis")
                            #set($categoryName = "Topics")
                        #end
						<span class="navigation-item-title">$categoryName</span>
						<span class="navigation-item-count">($facet.DocumentCount)</span>
					</a>
				</li>
			#afterall
				</ul>
				<div class="navigation-list-footer"></div>
			#end
		</div>

    	<div class="search-filter group-filters" data-filtername="group" style="display: none;">
        	#set ($facetCount = 0)
        	#foreach ($facet in $groupFacets)
        	#beforeall
        		<div class="navigation-list-header">
        			<span>$core_v2_language.GetResource('Core_SearchResults_TopGroups')</span>
        		</div>
        		<ul class="navigation-list">
        			<li class="navigation-item no-group-filter #if (!$groupFilter) selected #end" data-filtervalue="">
        				<a href="#">
        					<span class="navigation-item-title">$core_v2_language.GetResource('Core_SearchResults_AllGroups')</span>
        				</a>
        			</li>
        	#each
        		#set ($group = false)
        		#set ($group = $core_v2_group.Get("%{ Id = $core_v2_utility.ParseInt($facet.FieldValue) }"))
        		#if ($group)
        			<li class="navigation-item group-filter #if ($groupFilter == $facet.FieldValue) selected #end" data-filtervalue="$core_v2_encoding.HtmlAttributeEncode($facet.FieldValue)" #if($facetCount >= $groupVisible) style="display:none;" #end>
        				<a href="#">
        					<span class="navigation-item-title">$group.Name</span>
        					<span class="navigation-item-count">($facet.DocumentCount)</span>
        				</a>
        			</li>
        		#end
        		#set ($facetCount = $facetCount + 1)
        	#afterall
        		</ul>
        		<div class="navigation-list-footer">
        			#if ($groupFacets.Count > $groupVisible)
        				#set ($hiddenCount = $groupFacets.Count - $groupVisible)
        				<a href="#" class="view-more">
        					$core_v2_language.FormatString($core_v2_language.GetResource('Core_SearchResults_ViewMore'), $hiddenCount.ToString())
        				</a>
        			#end
        		</div>
        	#end
        </div>

        <div class="search-filter product-filters" data-filtername="product">
        	#set ($facetCount = 0)
        	#foreach ($facet in $productFacets)
        	#beforeall
        		<div class="navigation-list-header">
        			<span>$core_v2_language.GetResource('Core_SearchResults_TopProducts')</span>
        		</div>
        		<ul class="navigation-list">
        			<li class="navigation-item no-product-filter #if (!$productFilter) selected #end" data-filtervalue="">
        				<a href="#">
        					<span class="navigation-item-title">$core_v2_language.GetResource('Core_SearchResults_AllProducts')</span>
        				</a>
        			</li>
        	#each
        		#set ($product = false)
        		##set ($audience = $core_v2_user.Get("%{ Id = $core_v2_utility.ParseInt($facet.FieldValue) }"))
                #set ($product = $facet )
        		#if ($product)
        			<li class="navigation-item product-filter #if ($productFilter == $facet.FieldValue) selected #end" data-filtervalue="$core_v2_encoding.HtmlAttributeEncode($facet.FieldValue)" #if($facetCount >= $productVisible) style="display:none;" #end>
        				<a href="#">
        					<span class="navigation-item-title">$product.FieldValue</span>
        					<span class="navigation-item-count">($facet.DocumentCount)</span>
        				</a>
        			</li>
        		#end
        		#set ($facetCount = $facetCount + 1)
        	#afterall
        		</ul>
        		<div class="navigation-list-footer">
        			#if ($productFacets.Count > $productVisible)
        				#set ($hiddenCount = $productFacets.Count - $productVisible)
        				<a href="#" class="view-more">
        					$core_v2_language.FormatString($core_v2_language.GetResource('Core_SearchResults_ViewMore'), $hiddenCount.ToString())
        				</a>
        			#end
        		</div>
        	#end
        </div>

        <div class="search-filter feature-filters" data-filtername="feature">
            #set ($facetCount = 0)
        	#foreach ($facet in $featureFacets)
        	#beforeall
        		<div class="navigation-list-header">
        			<span>$core_v2_language.GetResource('Core_SearchResults_TopFeatures')</span>
        		</div>
        		<ul class="navigation-list">
        			<li class="navigation-item no-product-filter #if (!$featureFilter) selected #end" data-filtervalue="">
        				<a href="#">
        					<span class="navigation-item-title">$core_v2_language.GetResource('Core_SearchResults_AllFeatures')</span>
        				</a>
        			</li>
        	#each
        		#set ($feature = false)
        		##set ($audience = $core_v2_user.Get("%{ Id = $core_v2_utility.ParseInt($facet.FieldValue) }"))
                #set ($feature = $facet )
        		#if ($feature)
        			<li class="navigation-item feature-filter #if ($featureFilter == $facet.FieldValue) selected #end" data-filtervalue="$core_v2_encoding.HtmlAttributeEncode($facet.FieldValue)" #if($facetCount >= $featureVisible) style="display:none;" #end>
        				<a href="#">
        					<span class="navigation-item-title">$feature.FieldValue</span>
        					<span class="navigation-item-count">($facet.DocumentCount)</span>
        				</a>
        			</li>
        		#end
        		#set ($facetCount = $facetCount + 1)
        	#afterall
        		</ul>
        		<div class="navigation-list-footer">
        			#if ($featureFacets.Count > $featureVisible)
        				#set ($hiddenCount = $featureFacets.Count - $featureVisible)
        				<a href="#" class="view-more">
        					$core_v2_language.FormatString($core_v2_language.GetResource('Core_SearchResults_ViewMore'), $hiddenCount.ToString())
        				</a>
        			#end
        		</div>
        	#end
        </div>

    	<div class="search-filter audience-filters" data-filtername="audience">
        	#set ($facetCount = 0)
        	#foreach ($facet in $audienceFacets)
        	#beforeall
        		<div class="navigation-list-header">
        			<span>$core_v2_language.GetResource('Core_SearchResults_TopAudiences')</span>
        		</div>
        		<ul class="navigation-list">
        			<li class="navigation-item no-audience-filter #if (!$audienceFilter) selected #end" data-filtervalue="">
        				<a href="#">
        					<span class="navigation-item-title">$core_v2_language.GetResource('Core_SearchResults_AllAudiences')</span>
        				</a>
        			</li>
        	#each
        		#set ($audience = false)
        		##set ($audience = $core_v2_user.Get("%{ Id = $core_v2_utility.ParseInt($facet.FieldValue) }"))
                #set ($audience = $facet )
        		#if ($audience)
        			<li class="navigation-item audience-filter #if ($audienceFilter == $facet.FieldValue) selected #end" data-filtervalue="$core_v2_encoding.HtmlAttributeEncode($facet.FieldValue)" #if($facetCount >= $audienceVisible) style="display:none;" #end>
        				<a href="#">
        					<span class="navigation-item-title">$audience.FieldValue</span>
        					<span class="navigation-item-count">($facet.DocumentCount)</span>
        				</a>
        			</li>
        		#end
        		#set ($facetCount = $facetCount + 1)
        	#afterall
        		</ul>
        		<div class="navigation-list-footer">
        			#if ($audienceFacets.Count > $audienceVisible)
        				#set ($hiddenCount = $audienceFacets.Count - $audienceVisible)
        				<a href="#" class="view-more">
        					$core_v2_language.FormatString($core_v2_language.GetResource('Core_SearchResults_ViewMore'), $hiddenCount.ToString())
        				</a>
        			#end
        		</div>
        	#end
        </div>

        <div class="search-filter version-filters" data-filtername="version">
        	#set ($facetCount = 0)
        	#foreach ($facet in $versionFacets)
        	#beforeall
        		<div class="navigation-list-header">
        			<span>$core_v2_language.GetResource('Core_SearchResults_TopVersions')</span>
        		</div>
        		<ul class="navigation-list">
        			<li class="navigation-item no-version-filter #if (!$versionFilter) selected #end" data-filtervalue="">
        				<a href="#">
        					<span class="navigation-item-title">$core_v2_language.GetResource('Core_SearchResults_AllVersions')</span>
        				</a>
        			</li>
        	#each
        		#set ($version = false)
        		##set ($audience = $core_v2_user.Get("%{ Id = $core_v2_utility.ParseInt($facet.FieldValue) }"))
                #set ($version = $facet )
        		#if ($version)
        			<li class="navigation-item audience-filter #if ($versionFilter == $facet.FieldValue) selected #end" data-filtervalue="$core_v2_encoding.HtmlAttributeEncode($facet.FieldValue)" #if($facetCount >= $versionVisible) style="display:none;" #end>
        				<a href="#">
        					<span class="navigation-item-title">$version.FieldValue</span>
        					<span class="navigation-item-count">($facet.DocumentCount)</span>
        				</a>
        			</li>
        		#end
        		#set ($facetCount = $facetCount + 1)
        	#afterall
        		</ul>
        		<div class="navigation-list-footer">
        			#if ($versionFacets.Count > $versionVisible)
        				#set ($hiddenCount = $versionFacets.Count - $versionVisible)
        				<a href="#" class="view-more">
        					$core_v2_language.FormatString($core_v2_language.GetResource('Core_SearchResults_ViewMore'), $hiddenCount.ToString())
        				</a>
        			#end
        		</div>
        	#end
        </div>
        
        <div class="search-filter interface-filters" data-filtername="interface">
        	#set ($facetCount = 0)
        	#foreach ($facet in $interfaceFacets)
        	#beforeall
        		<div class="navigation-list-header">
        			<span>$core_v2_language.GetResource('Core_SearchResults_TopInterfaces')</span>
        		</div>
        		<ul class="navigation-list">
        			<li class="navigation-item no-interface-filter #if (!$interfaceFilter) selected #end" data-filtervalue="">
        				<a href="#">
        					<span class="navigation-item-title">$core_v2_language.GetResource('Core_SearchResults_AllInterfaces')</span>
        				</a>
        			</li>
        	#each
        		#set ($interface = false)
        		##set ($audience = $core_v2_user.Get("%{ Id = $core_v2_utility.ParseInt($facet.FieldValue) }"))
                #set ($interface = $facet )
        		#if ($interface)
        			<li class="navigation-item interface-filter #if ($interfaceFilter == $facet.FieldValue) selected #end" data-filtervalue="$core_v2_encoding.HtmlAttributeEncode($facet.FieldValue)" #if($facetCount >= $interfaceVisible) style="display:none;" #end>
        				<a href="#">
        					<span class="navigation-item-title">$interface.FieldValue</span>
        					<span class="navigation-item-count">($facet.DocumentCount)</span>
        				</a>
        			</li>
        		#end
        		#set ($facetCount = $facetCount + 1)
        	#afterall
        		</ul>
        		<div class="navigation-list-footer">
        			#if ($interfaceFacets.Count > $interfaceVisible)
        				#set ($hiddenCount = $interfaceFacets.Count - $interfaceVisible)
        				<a href="#" class="view-more">
        					$core_v2_language.FormatString($core_v2_language.GetResource('Core_SearchResults_ViewMore'), $hiddenCount.ToString())
        				</a>
        			#end
        		</div>
        	#end
        </div>

		<div class="search-filter author-filters" data-filtername="author">
			#set ($facetCount = 0)
			#foreach ($facet in $userFacets)
			#beforeall
				<div class="navigation-list-header">
					<span>$core_v2_language.GetResource('Core_SearchResults_TopAuthors')</span>
				</div>
				<ul class="navigation-list">
					<li class="navigation-item no-author-filter #if (!$userFilter) selected #end" data-filtervalue="">
						<a href="#">
							<span class="navigation-item-title">$core_v2_language.GetResource('Core_SearchResults_AllAuthors')</span>
						</a>
					</li>
			#each
				#set ($user = false)
				#set ($user = $core_v2_user.Get("%{ Id = $core_v2_utility.ParseInt($facet.FieldValue) }"))
				#if ($user)
					<li class="navigation-item author-filter #if ($userFilter == $facet.FieldValue) selected #end" data-filtervalue="$core_v2_encoding.HtmlAttributeEncode($facet.FieldValue)" #if($facetCount >= $userVisible) style="display:none;" #end>
						<a href="#">
							<span class="navigation-item-title">$user.DisplayName</span>
							<span class="navigation-item-count">($facet.DocumentCount)</span>
						</a>
					</li>
				#end
				#set ($facetCount = $facetCount + 1)
			#afterall
				</ul>
				<div class="navigation-list-footer">
					#if ($userFacets.Count > $userVisible)
						#set ($hiddenCount = $userFacets.Count - $userVisible)
						<a href="#" class="view-more">
							$core_v2_language.FormatString($core_v2_language.GetResource('Core_SearchResults_ViewMore'), $hiddenCount.ToString())
						</a>
					#end
				</div>
			#end
		</div>
#*
		<div class="search-filter tag-filters" data-filtername="tag">
			#set ($facetCount = 0)
			#foreach ($facet in $tagFacets)
			#beforeall
				<div class="navigation-list-header">
					<span>$core_v2_language.GetResource('Core_SearchResults_Tags')</span>
				</div>
				<ul class="navigation-list">
					<li class="navigation-item no-tag-filter #if (!$tagFilter) selected #end" data-filtervalue="">
						<a href="#">
							<span class="navigation-item-title">$core_v2_language.GetResource('Core_SearchResults_AllTags')</span>
						</a>
					</li>
			#each
				<li class="navigation-item tag-filter #if ($tagFilter == $facet.FieldValue) selected #end" data-filtervalue="$core_v2_encoding.JavascriptEncode($facet.FieldValue)" #if($facetCount >= $tagVisible) style="display:none;" #end>
					<a href="#">
						<span class="navigation-item-title">$facet.FieldValue</span>
						<span class="navigation-item-count">($facet.DocumentCount)</span>
					</a>
				</li>
				#set ($facetCount = $facetCount + 1)
			#afterall
				</ul>
				<div class="navigation-list-footer">
					#if ($userFacets.Count > $tagVisible)
						#set ($hiddenCount = $userFacets.Count - $tagVisible)
						<a href="#" class="view-more">
							$core_v2_language.FormatString($core_v2_language.GetResource('Core_SearchResults_ViewMore'), $hiddenCount.ToString())
						</a>
					#end
				</div>
			#end
		</div>
    
		#if ($dateKeys)
			## date range facets need to be ToArray()'d first due to an NVelocity direct element referencing issue
			#set ($dateRangeFacets = $searchResults.DateRangeFacets.ToArray())
            #set ($maxFacetIndex = $dateRangeFacets.length - 1)

			<div class="search-filter date-filters" data-filtername="date">
				#foreach($dateFacetIndex in [0..$maxFacetIndex])
				#beforeall
					<div class="navigation-list-header">
						<span>$core_v2_language.GetResource('Core_SearchResults_Dates')</span>
					</div>
					<ul class="navigation-list">
						<li class="navigation-item no-tag-filter #if (!$dateRangeFilter) selected #end" data-filtervalue="">
							<a href="#">
								<span class="navigation-item-title">$core_v2_language.GetResource('Core_SearchResults_AllDates')</span>
							</a>
						</li>
				#each
					#if ($dateKeys.length > $dateFacetIndex && $dateRangeFacets.length > $dateFacetIndex)
						#set ($dateKey = false)
						#set ($dateKey = $dateKeys.get($dateFacetIndex))
						<li class="navigation-item date-filter #if ($dateRangeFilter == $dateKey) selected #end" data-filtervalue="$core_v2_encoding.JavascriptEncode($dateKey)">
							<a href="#">
								<span class="navigation-item-title">$core_v2_language.GetResource("Core_SearchResults_${dateKey}")</span>
								<span class="navigation-item-count">($dateRangeFacets.get($dateFacetIndex).DocumentCount)</span>
							</a>
						</li>
					#end
				#afterall
					</ul>
					<div class="navigation-list-footer"></div>
				#end
			</div>
		#end
    *#
	</div>

</div>

<div class="search-query">
	<fieldset class="field-list">
		<ul class="field-list">
			<li class="field-item search">
				<div>
					<span class="field-item-input">
						<input type="text" size="45" maxlength="128" id="$core_v2_widget.UniqueId('searchTextInput')" name="$core_v2_widget.UniqueId('searchTextInput')" value="$core_v2_encoding.HtmlAttributeEncode($query)" />
					</span>
				</div>
				<span class="field-item-validation" style="display:none;"></span>
			</li>
			<li class="field-item searchbutton">
				<span class="field-item-input">
					<a href="#" id="$core_v2_widget.UniqueId('searchSubmitInput')" name="$core_v2_widget.UniqueId('searchSubmitInput')" style="background-image: url($core_v2_widget.GetFileUrl('search.png'))">Search</a>
				</span>
			</li>
			<li class="field-item sort">
				<label class="field-item-header" for="$core_v2_widget.UniqueId('searchSortSelect')">$core_v2_language.GetResource('Core_SearchResults_SortBy')</label>
				<span class="field-item-input">
					<select id="$core_v2_widget.UniqueId('searchSortSelect')" name="$core_v2_widget.UniqueId('searchSortSelect')">
						<option value="">$core_v2_language.GetResource('Core_SearchResults_MostRelevant')</option>
						<option value="date desc">$core_v2_language.GetResource('Core_SearchResults_MostRecent')</option>
						<option value="titlesort">$core_v2_language.GetResource('Core_SearchResults_Alphabetical')</option>
						<option value="rating desc">$core_v2_language.GetResource('Core_SearchResults_HighestRating')</option>
					</select>
				</span>
			</li>
			#if ($core_v2_configuration.EnableRssSearch)
				<li class="field-item rss">
					<span class="field-item-input">
						<a href="#" id="$core_v2_widget.UniqueId('subscribeToRss')" class="internal-link rss" title="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('SearchResults_RSS'))">$core_v2_language.GetResource('SearchResults_RSS')</a>
					</span>
				</li>
			#end
		</ul>
	</fieldset>

	##<div class="breadcrumb-list-wrapper">
		##<div class="breadcrumb-list-header" style="#if($breadCrumbs.length == 0)display:none;#end">$core_v2_language.GetResource('Core_SearchResults_FilterBy')</div>
		##<div class="breadcrumb-list">$breadCrumbs</div>
		##<div class="breadcrumb-list-footer"></div>
	##</div>
</div>
$core_v2_widget.ExecuteFile('search-results.vm')
