$core_v2_page.SetContentType("text/css") 

.search-result-list .content-fragment-content {
    word-wrap: break-word;
    padding-top: 10px;
}
.search-result-list .search-filters {
    border: 1px solid #c0c0c0;
    float: left;
    padding: 5px;
    width: 174px;
}

.search-result-list .result-heading {
    display: block;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.search-result-list .filter-data {
    color: #777;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-top: 0;
}

.search-result-list .result-count {
    font-size: 24px;
    font-weight: bold;
    padding-top: 0;
}

.search-result-list .filter-heading-wrapper {
    border-top: 1px solid #898989;
    display: block;
    padding-top: 1px;
}

.search-result-list .filter-heading-content {
    background-color: #e6e6e6;
    border: 1px solid #d4d4d4;
    display: block;
    color: #3b3b3b;
    font-weight: bold;
    padding: 5px;
}

.search-result-list .filter-heading-footer {
    background-position: 17px 0;
    background-repeat: no-repeat;
    height: 14px;
    position: relative;
    top: -2px;
    z-index: 10;
}

.search-result-list .search-facet-filters {
    overflow-x: hidden;
    padding: 3px;
}

.search-result-list .search-filter {
    padding: 0;
}

.search-result-list .navigation-list-header {
    color: #545454;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 8px;
    text-transform: uppercase;
    clear: both;
}

.search-result-list .navigation-list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.search-result-list .category-filters .navigation-list .navigation-item {
    font-size: 13px;
    padding-bottom: 5px;
    display: block;
    clear: both;
}
    
.search-result-list .category-filters .navigation-list .navigation-item.selected a {
    border-left: 8px solid #646464;
    color: #545454;
    font-weight: bold;
    padding-left: 5px;
    text-decoration: none;
}

.search-result-list .category-filters .navigation-list .navigation-item a {
    color: #646464;
    font-weight: bold;
    line-height: 1.1em;
    padding-left: 5px;
    text-decoration: none;
}

.search-result-list .search-filter .navigation-list .navigation-item .navigation-item-count {
    font-weight: normal;
    float: right;
}

.search-result-list .search-filter .navigation-list .navigation-item {
    clear: both;
    display: block;
    font-size: 12px;
}

.search-result-list .search-query {
    margin-left: 195px;
    width: 70%;
}

.search-result-list .search-filter .navigation-list .navigation-item.selected a {
    color: #545353;
    font-weight: bold;
    text-decoration: none;
}

.search-result-list .search-filter .navigation-list .navigation-item a {
    display: block;
    overflow: auto;
    color: #777;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
}

.search-result-list .navigation-list-footer {
    border-bottom: 3px dotted #e5e5e5;
    clear: both;
    padding-bottom: 5px;
}

.search-result-list .navigation-list-footer a {
    color: #444;
    padding: 3px;
    text-decoration: underline;
}

.search-result-list .search-results-wrapper {
    float: right;
    width: 70%;
}

.search-result-list .field-list li {
    display: inline;
}

.search-result-list .field-item .search {
    width: 40%;
}

.search-result-list .avatar {
    display: none;
}

.search-result-list .author {
    display: none !important;
}

.search-result-list .date {
    display: none;
}

.search-result-list .content > .content {
    padding-left: 0 !important;
}

.search-result-list .name {
    padding-left: 0 !important;
}

.search-result-list .attachment {
    display: none;
}

@media screen and (min-width: 690px) and (max-width: 960px) {
  .content-fragment.search-result-list .search-results-wrapper {
    width: 70% !important;
 }
 
}

@media screen and (max-width: 765px) {
    .search-result-list .search-query  {
        clear: both;
        margin-left: 0;
        width: 100%;
    }
    
    .content-fragment.search-result-list li.content-item {
         height: auto !important;
    }
}

@media screen and (max-width: 420px) {
   .content-fragment.search-result-list .content.abbreviated .name, .popup-list .content.abbreviated .name {
       position: relative !important;
   }
}