#set($sortBy = false)
#set($sortBy = $core_v2_page.GetQueryStringValue('SortBy'))
#if (!$sortBy)
	#set($sortBy = 'RoleName')
#end

<div class="filter">
	<div class="query-filter">
		<span class="filter-label">$core_v2_language.GetResource('Hubs_SortBy')</span>
		<span class="filter-option#if($sortBy != 'RoleAddedDate' && $sortBy != 'RoleMembershipType') selected#end"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "SortBy=RoleName&$core_v2_ui.PageIndexQueryStringKey=1&Show="))">$core_v2_language.GetResource('Hubs_RoleName')</a></span>
	  	<span class="separator">|</span>
		<span class="filter-option#if($sortBy =='RoleAddedDate') selected#end"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "SortBy=RoleAddedDate&$core_v2_ui.PageIndexQueryStringKey=1&Show="))">$core_v2_language.GetResource('Hubs_RecentRoleMembers')</a></span>
	  	<span class="separator">|</span>		
		<span class="filter-option#if($sortBy =='RoleMembershipType') selected#end"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "SortBy=RoleMembershipType&$core_v2_ui.PageIndexQueryStringKey=1&Show="))">$core_v2_language.GetResource('Hubs_MembershipType')</a></span>
	</div>
</div>

#set($options = "%{PageSize=15,MembershipType='Manager,Member,Owner'}")
$options.Add('PageIndex', $core_v2_ui.GetCurrentPageIndex())

#if ($sortBy == 'RoleAddedDate')
	$options.Add('SortBy', 'RoleAddedDate')
	$options.Add('SortOrder', 'Descending')
#elseif ($sortBy == 'RoleMembershipType')
	$options.Add('SortBy', 'MembershipType')
	$options.Add('SortOrder', 'Descending')
#else
	$options.Add('SortBy', 'RoleName')
	$options.Add('SortOrder', 'Ascending')
#end

#set($members = $core_v2_groupRoleMember.List($group.Id, $options))
#foreach ($member in $members)
#beforeall
	<div class="table-list-header"></div>
	<table class="table-list">
		<col width="40%" align="left" />
		<col width="40%" align="left" />
		<col width="20%" align="right" />
		<tbody>
#each
	<tr class="table-item">
		<td class="table-column">
			#if(!$member.Role.ImageUrl || $member.Role.ImageUrl == '')
				<div style="height:29px;"><span class="user-name">$member.Role.Name</span></div>
			#else
				$!core_v2_ui.GetResizedImageHtml($member.Role.ImageUrl,29,29,"%{style='border-width: 0px;'}")
				<span class="user-name">$member.Role.Name</span>
			#end

		</td>
		<td class="table-column membership-status">$member.MembershipType</td>
		<td class="table-column">
			#if ($core_v2_nodePermission.Get('groups',$group.Id,'Group_ModifyMembership').IsAllowed)
				<div class="field-list-header"></div>
				<fieldset class="field-list">
					<ul class="field-list">
						<li class="field-item delete-member">
							<span class="field-item-input"><a href="#" data-roleid="$member.Role.Id">$core_v2_language.GetResource('Remove')</a></span>
						</li>
						<li class="field-item edit-member">
							<span class="field-item-input"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "RoleId=$member.Role.Id"))" class="internal-link edit-group-membership">$core_v2_language.GetResource('Groups_GroupMembershipList_Edit')</a>
						</li>
					</ul>
				</fieldset>
				<div class="field-list-footer"></div>
			#end
		</td>
	</tr>
#afterall
		</tbody>
	</table>
	<div class="table-list-footer"></div>
#nodata
	<div class="message norecords">$core_v2_language.GetResource('Groups_Membership_NoRoleMembers')</div>
#end

$core_v2_ui.Pager($members.PageIndex, $members.PageSize, $members.TotalCount)