#if ($group.GroupType == 'Joinless')
	$core_v2_widget.Hide()
#end

#set($members = $core_v2_groupUserMember.List($group.Id, "%{MembershipType='Manager,Member,Owner',SortBy='UserPosts',SortOrder='Descending',PageSize=5,IncludeRoleMembers='True'}"))

#foreach($member in $members)
#beforeall
	<div class="content-list-header"></div>
		<ul class="content-list">
#each
	<li class="content-item">
		<span class="avatar">
			#if ($member.User.ProfileUrl)
				<a class="internal-link view-user-profile" href="$core_v2_encoding.HtmlAttributeEncode($member.User.ProfileUrl)">
					$core_v2_ui.GetResizedImageHtml($member.User.AvatarUrl,40,40,"%{ style='border-width: 0px;', alt=$member.User.DisplayName}")
				</a>
			#else
				$core_v2_ui.GetResizedImageHtml($member.User.AvatarUrl,40,40,"%{ style='border-width: 0px;', alt=$member.User.DisplayName}")
			#end
		</span>
		<span class="user-name">
			#if ($member.User.ProfileUrl)
				<a class="internal-link view-user-profile" href="$core_v2_encoding.HtmlAttributeEncode($member.User.ProfileUrl)">$member.User.DisplayName</a>
			#else
				$member.User.DisplayName
			#end
		</span>
		<div class="abbreviated-post-header"></div>
		<div class="abbreviated-post">
			<div class="post-date">
				<span class="label">$core_v2_language.GetResource('CF_GroupMembers_LastLogin')</span>
				<span class="value">$core_v2_language.FormatDate($member.User.LastLoginDate)</span>
			</div>
		</div>
		<div class="abbreviated-post-footer"></div>
	</li>
#afterall
	</ul>
	<div class="content-list-footer"></div>
	#set($url = false)
	#set($url = $core_v2_groupUrls.MemberList($group.Id))
	#if ($url)
		<div class="navigation-list-header"></div>
		<ul class="navigation-list">
			<li class="navigation-item"><a href="$core_v2_encoding.HtmlAttributeEncode($url)" class="internal-link view-group-membership"><span></span>$core_v2_language.GetResource('MoreEllipsis')</a></li>
		</ul>
		<div class="navigation-list-footer"></div>
	#end
#end