
#set($count = 0)
#set($links = false)
#set($links = $core_v2_group.ListNewPostLinks($core_v2_group.Current.Id))
<div class="navigation-list-header"></div>
<ul class="navigation-list">
#foreach($link in $links)
	#if($count < 20)
		<li class="navigation-item"><a href="$core_v2_encoding.HtmlAttributeEncode($link.Url)" class="$link.CssClass"><span></span>$link.Label</a></li>
	#elseif ($count == 20)
		#set($remaining = $links.Count - $count)
		<li class="navigation-item">$core_v2_language.FormatString($core_v2_language.GetResource('Groups_GroupApplicationNavigation_NewPost_MoreApps'), $remaining.ToString())</li>
	#end
	#set($count = $count + 1)
#end
</ul>
<div class="navigation-list-footer"></div>
