$core_v2_page.SetContentType("text/css")

.omnicell-create-implementation-room fieldset.field-list {
    display: none;
}

.omnicell-create-implementation-room fieldset.field-list ul.field-list .field-item {
  margin: 0 !important;
  padding: .5em 0;
}

.omnicell-create-implementation-room .field-item-header {
  font-size: 14px;
}

.omnicell-create-implementation-room fieldset .field-list .field-item .field-item-header {
	margin: 0;
	font-weight: bold;
}

.omnicell-create-implementation-room fieldset .field-list .field-item .field-item-input {
	margin-bottom: 0;
	margin-top: 0;
	margin-right: 10px;
}

.omnicell-create-implementation-room .field-item .field-item-input input {
/*	width: 100% !important; */
}