$core_v2_page.SetContentType("text/css")

.omnicell-subscription-csn {}
.omnicell-subscription-csn .csn-addition-container { background-color: #F3F3F2; border: 1px solid #7CB64D; min-height: 70px; padding-top: 6px; margin-bottom: 10px; width: 300px; }
.omnicell-subscription-csn .search-label {margin: 20px 0; font-weight:bold; display: block;}
.omnicell-subscription-csn .csn-addition-container .csn-add { clear:both; padding-left: 3px; padding:20px; margin-bottom: 10px;}
.omnicell-subscription-csn .csn-addition-container .csn-add input {width: 170px; height:25px; float:left;}
.omnicell-subscription-csn .csn-filter { background-color: #F3F3F2; border: 1px solid #7CB64D; min-height: 70px; padding-top: 6px; margin-bottom: 10px; width: 300px; }
.omnicell-subscription-csn .csn-filter .filter-label {padding-left:3px; font-weight:bold;}
.omnicell-subscription-csn .csn-filter .csn-search { clear:both; padding-left: 3px; padding:20px; margin-bottom: 10px;}
.omnicell-subscription-csn .csn-filter .csn-search input {width: 170px; height:25px; float:left;}
.omnicell-subscription-csn .csn-add .omnicell-button { padding:0 9px 0 4px; letter-spacing:0.4px; font-size:14px; background: url("$core_v2_widget.GetFileUrl('btnButton.png')") no-repeat scroll right -27px transparent; color: #6E727D; display: inline-block; font-weight: bold; height: 27px; line-height: 27px; margin-left: 10px; position: relative; z-index: 3; text-decoration:none; text-align: center;}
.omnicell-subscription-csn .csn-add .omnicell-button span { background: url("$core_v2_widget.GetFileUrl('btnButton.png')") no-repeat scroll left top transparent; display: inline-block; height: 27px; left: -5px; position: absolute; top: 0; width: 7px;}
.omnicell-subscription-csn .csn-search .omnicell-button { padding:0 9px 0 4px; letter-spacing:0.4px; font-size:14px; background: url("$core_v2_widget.GetFileUrl('btnButton.png')") no-repeat scroll right -27px transparent; color: #6E727D; display: inline-block; font-weight: bold; height: 27px; line-height: 27px; margin-left: 10px; position: relative; z-index: 3; text-decoration:none; text-align: center;}
.omnicell-subscription-csn .csn-search .omnicell-button span { background: url("$core_v2_widget.GetFileUrl('btnButton.png')") no-repeat scroll left top transparent; display: inline-block; height: 27px; left: -5px; position: absolute; top: 0; width: 7px;}

.omnicell-subscription-csn a.omnicell-button { padding:0 9px 0 4px; letter-spacing:0.4px; font-size:14px; background: url("$core_v2_widget.GetFileUrl('btnButton.png')") no-repeat scroll right -27px transparent; color: #6E727D; display: inline-block; font-weight: bold; height: 27px; line-height: 27px; margin-left: 10px; min-width: 50px; position: relative; z-index: 3; text-decoration:none; float:right;}
.omnicell-subscription-csn a.omnicell-button span { background: url("$core_v2_widget.GetFileUrl('btnButton.png')") no-repeat scroll left top transparent; display: inline-block; height: 27px; left: -5px; position: absolute; top: 0; width: 7px;}

.omnicell-subscription-csn .csnTable { width: 100%; text-align: left; }
.omnicell-subscription-csn .table-header-column { background-color: #D2D2D2; text-align: left; font-size: 12px; }

.omnicell-subscription-csn .csnTable tr:nth-child(even) { background-color: #F2F2F1; }
.omnicell-subscription-csn .csnTable tr:nth-child(odd) { background-color: #FFFFFF; }

.results-checkbox {text-align:center;width: 55px;}
.table-header-column.results-checkbox {text-align:center !important;}

.table-column {border-bottom: 0px !important;}
.table-header-column {text-transform:none !important;}
