$core_v2_page.SetContentType("text/css") 

/*
.layout-region .left-sidebar {
    clear: both;
    float: left;
    width: 270px;
}
*/

.dita-page .logo { display: none;}
.dita-page .disclaimer{ display: none;}
.dita-page .dita{ }

/* title page */

.dita-page .post-name{
    font-size: 18px;
    font-weight: bold;
    color: #5f9933;
    margin-bottom: 10px;
 
}


 .dita-page a{
   color: #5f9933;
   text-decoration: underline;
  /*font-family: Myriad Pro Light SemiCond;*/
   font-weight: normal;
    font-size: 15px;
}
 .dita-page dt a{
   color: #5f9933;
   text-decoration: underline;
  /*font-family: Myriad Pro Light SemiCond;*/
    font-size: 15px;
       font-weight: normal;
} 


 .dita-page .pdf-link a{

  /*font-family: Myriad Pro Light SemiCond;*/
    font-size: 15px;
	   color: #5f9933;
} 
.dita-page .related-links{
    padding-top: 40px;
    clear: both;
}
.dita-page .wiki-sub{
       font-size: 16px;
}


/* wiki page */


.dita-page h4{
    font-size: 15px;
    font-weight: bold;
}

.dita-page .table{
   margin-bottom: 26px;
   margin-top: 26px; 
   width: auto;
   min-width: 75%;
}

.dita-page .li > .tablenoborder {
    height: auto;
    overflow: auto;
    width: 90%;
}
.dita-page .tablenoborder{
height: auto;
overflow: auto;
width: 100%;
}


.dita-page .full-post{
  padding-left: 40px;   
}
/* PDF Body */
.dita-page .post-content.user-defined-markup{
 /*border-bottom: 1px solid #D7DCD5;*/
 margin-bottom: 20px;
  font-size: 15px;
  color: #222e36;

}

.dita-page .post-rating{
    display: block;
   float: right; 
   margin-right: 15px;
}
/* This is like the h3 header */

.dita-page .title.topictitle{
    /*font-family: Myriad Pro Light Cond;*/
  font-size: 18px;
  color: #5f9933;

}

.dita-page h2.title.sectiontitle{
    /*font-family: Myriad Pro Light Cond;*/
  font-size: 16px;
  font-weight: bold;
  color: #5f9933;
 /* margin-bottom: -17px; */
}

.dita-page h3.title.sectiontitle{
   
  font-size: 16px;
  color: #5f9933;
  border-bottom: none;
  margin-bottom: -10px;
}

.dita-page .title.topictitle1{
    /*font-family: Myriad Pro Light Cond;*/
    font-weight: bold;
    font-size: 18px;
    color: #5f9933;

/*  border-bottom: 1px dotted;*/
}

.dita-page .title.topictitle2{
    /*font-family: Myriad Pro Light Cond;*/
  font-size: 18px;
  color: #5f9933;
  margin-bottom: -17px;
  /*  border-bottom: 1px dotted;*/
}

.dita-page .post-name{
   /*font-family: Myriad Pro Light Cond;*/
  font-size: 18px;
  color: #5f9933;
}
.dita-page .doc-desc{
  border: none;
  margin-bottom: -12px;
}

.dita-page .shortdesc{
  font-size: 15px;
     /*font-family: Myriad Pro Light SemiCond;*/
     color: #222e36;
}



.dita-page .post-shortDesc{
  font-size: 15px;
     /*font-family: Myriad Pro Light SemiCond;*/
     color: #222e36;
}
.dita-page .title.sectiontitle{
    /*font-family: Myriad Pro Light Cond;*/
  font-size: 19pt;
  color: #5f9933;
}

.dita-page .familylinks{
 margin-top: 30px;
margin-bottom: 35px; 

}

.dita-page .previouslink{
    margin-bottom: 7px;
    /*color: #585858;*/
     /*font-family: Myriad Pro Light SemiCond;*/ 
         font-size: 15px;
}
.dita-page .nextlink{
    margin-bottom: 7px;
/*color: #585858;*/
  /*font-family: Myriad Pro Light SemiCond;*/
      font-size: 15px;
}

.dita-page  .ExistingPageLink{
  color: #5f9933;
  text-decoration: underline;
  /*font-family: Myriad Pro Light SemiCond;*/
  font-weight: normal;
    font-size: 15px;
}



.dita-page .p{
   font-size: 15px;
   /*font-family: Myriad Pro Light SemiCond;*/
   color: #222e36;
}
.dita-page .li{
   font-size: 15px;
    margin: 5px 0;
      /*font-family: Myriad Pro Light SemiCond;*/
      color: #222e36;
}

.dita-page .li.step
{
 margin: 5px 0 5px 5pt;
 	   /*font-family: Myriad Pro Light SemiCond;*/

}

.dita-page .link.ulchildlink
{
 margin: 11pt 0pt 11pt 0pt;
        /*font-family: Myriad Pro Light SemiCond;*/

}

.dita-page .ul{
    padding-left:18pt;
    margin-top: 11pt;
	   /*font-family: Myriad Pro Light SemiCond;*/
}
.dita-page .image{
    display: block;
    margin: 26px 0pt 26px 0pt;
    padding-left: 20px;
}

/*
.dita-page .inlineImage {
    display: block;
    margin: 26px 0pt 26px 0pt;
    padding-left: 20px; 
}
*/

.dita-page .tableImg {
    max-width: none;
}

.dita-page img:hover {
    cursor: url($core_v2_widget.GetFileUrl('mag.png')), auto;
}

.dita-page .ol{
    padding-left:18pt;
    margin-top: 11pt;
	   /*font-family: Myriad Pro Light SemiCond;*/
}


.dita-page .section.result{
      font-size: 15px;
     
    /*font-family: Myriad Pro Light SemiCond;*/
    color: #222e36;
    margin-bottom: 11px;
}


.dita-page .relinfo.relconcepts{
 margin-bottom: 11pt;   
}

.dita-page .relinfo.reltasks{
 margin-bottom: 11pt;   
}

/* print */
.dita-page .page-print{

  margin-right: 3px;
  border-right: 1px solid #D7DCD5;

}

.dita-page .page-print a{
  margin-right: 9pt;
  color: #5f9933;
  text-decoration: underline;
 
  font-weight: normal;
  font-size: 13px;
}

.dita-page .page-print a:hover{
   text-decoration: underline;
   color: #5f9933;
font-weight: normal;
}

/* pdf button */
.dita-page .page-download{
  margin-right: 0pt;

}
/* pdf submit*/
.dita-page .pdf-submit{
    border: none;   
    color: #5f9933;
    text-decoration: underline;
    font-weight: normal;
    font-size: 13px;
    background-color: white;
 
}

.dita-page .pdf-submit:hover{
    text-decoration: underline;
    color: #5f9933;
    font-weight: normal;
}

/* download doc */
.dita-page .post-download{
    margin-right: 0px;
    border-left: 1px solid #D7DCD5;
    border-right: 1px solid #D7DCD5;

}

.dita-page .post-download a{
      margin-right: 0px;
      padding-left: 14px;
      padding-right: 14px;
    color: #5f9933;
    text-decoration: underline;
    font-weight: normal;
    font-size: 13px;
}

.dita-page .post-download a:hover{
    text-decoration: underline;
    color: #5f9933;
    font-weight: normal;
}

/* bookmark div*/
.dita-page .post-actions{
           float: right; 
}

/* bookmark */
.dita-page .internal-link{
        color: #5f9933;
    text-decoration: none;
    font-weight: normal;
    font-size: 13px;
        text-decoration: underline;
}
/* share */

.dita-page .page-email a{
            color: #5f9933;
    text-decoration: underline;
    font-weight: normal;
    font-size: 13px;
    padding-left: 14px;
    border-right: 1px solid #D7DCD5;
    padding-right: 14px;

}

/* the listing */

.dita-page dt{
        font-size: 15px;
        font-weight: bold;
}

.dita-page dd{
        font-size: 15px;
		padding-bottom: 11px;
		 color: #222e36;
}

.dita-page .pdfImg {
    float: left;
    padding-right: 5px;
}

.dita-page .noteTable {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin: 10px 0;
}

.dita-page .noteTable img {
    width: 41px;
    height: 41px !important;
    max-width: none;
    vertical-align: middle;
}

/* print preview */

@media print{

     .dita-page .page-print, .dita-page .page-download, .dita-page .pdf-submit, .dita-page .post-download, .dita-page .page-email 
     {
       display: none !important;
     }
     .dita-page .like-toggle, .dita-page .count, .dita-page .post-moderate
     {
         display: none !important;
     }

     .dita-page .logo { display: block;}
	 .dita-page .disclaimer{ display: block;}
     
   .dita-page .image {
         page-break-before: avoid;
         page-break-after: avoid;
         page-break-inside: avoid; 
    }
	 
}

/*Omnicell additions */
.dita-page .ph.uicontrol {
    font-weight: bold;
}

.dita-page .ph.userinput {
    font-family: Arial;
}

.dita-page caption {
    font-weight: bold;
    margin-bottom: 2px;
}

.dita-page .figcap {
    font-weight: bold;
}

/* Omnicell note styling */

.dita-page .note {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 15px 15px 15px 55px !important;
    margin-top: 10px;
    min-height: 25px;
}

.dita-page .note.note {
    background: url($core_v2_widget.GetFileUrl('DxNoteGeneric.png')) no-repeat left center;
}

.dita-page .notetitle {
    font-weight: bold;
}

.dita-page .note.important {
    background: url($core_v2_widget.GetFileUrl('DxNoteImportant.png')) no-repeat left center;
}


.dita-page .importanttitle {
    font-weight: bold;
}

.dita-page .note.caution {
    background: url($core_v2_widget.GetFileUrl('DxNoteCaution.png')) no-repeat left center;
    border-top: none;
    margin-top: -5px;
}


.dita-page .cautiontitle {
    font-weight: bold;
    border-top: 1px solid black; 
    padding-left: 55px;
    margin-top: 10px;
    padding-top: 10px;
}

.dita-page .note.warning {
    background: url($core_v2_widget.GetFileUrl('DxNoteOther.png')) no-repeat left center;
}


.dita-page .warningtitle {
    font-weight: bold;
}

/* Omnicell definition list styling */
.dita-page .dl{
    overflow: auto;
}

.dita-page .dt.dlterm, .dd{
    float: left;
    padding-top: 10px;
   
}

.dita-page .dt.dlterm{
    clear: left;
    margin-right: 2%;
    width: 23%;
}

.dita-page .dd{
    width: 75%;
    margin-left: 0;
}

.dita-page .full-post-footer {
    margin: 5px 40px;
}

.dita-page .user-defined-markup table th, .user-defined-markup table td {
    border-bottom: 1px solid #000 !important;
}

.dita-page .user-defined-markup a:hover {
    text-decoration: none !important;
}

#simplemodal-container a.modalCloseImg {
    background:url($core_v2_widget.GetFileUrl('x.png')) no-repeat; /* adjust url as required */
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-18px;
	cursor:pointer;
}

/* Miriam upgrade styles */

div.itemgroup.stepresult a img {
    margin-top: 20px;
    margin-bottom: 20px;
}

div.itemgroup.info a img {
    margin-top: 20px;
    margin-bottom: 20px;
}

div.itemgroup.stepxmp a img.inlineImage {
    margin-top: 20px;
}

.dita-page h2 + p {
    margin-top: 0;
}

.dita-page h2 + div.p {
    margin-top: -15px;
}

.dita-page h2 + a + ul {
    margin-top: 0 !important;
}

.dita-page .note .tip {
    border-top: medium none;
    margin-top: -5px;
    padding-top: 0; 
}

.dita-page .note .tip {
    padding-top: 0;
}

.dita-page .tip {
    background-color: rgba(0, 0, 0, 0.9);
     color: #222e36;
    font-size: 15px;
    max-width: 100%;
    margin-bottom: 8px;
    padding: 2px 6px;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.dita-page .tiptitle {
    font-weight: bold;
    padding-top: 0;
}

/* for table font-size issues */
.dita-page .tp {
    font-size: 15px;
}

/* for nested unordered lists */
.dita-page .ul li > ul {
    list-style-type: circle;
}

/* Dita task styles */
.dita-page .info, .stepxmp, .stepresult, .cmd {
    margin: 10px 0;

}