#set ($productParentGroupId = $omnicell_v1_traininggallery.ProductGroupId)
#set ($groups = $core_v2_group.List("%{ParentGroupId=$productParentGroupId,PageSize=100, IncludeAllSubGroups=1}"))
#set ($selProd = false)
#set ($selProd = $core_v2_group.Get("%{Id = $currProduct}"))

#set ($prodText = $core_v2_language.GetResource('Omnicell_All_Products'))
#if($selProd && $selProd.Id == $currProduct)
    #set($prodText = $selProd.Name)
#end

<a href="#" class="omnicell-filter-list-button" id="$core_v2_widget.UniqueId('productGroupButton')"><span></span>$core_v2_language.GetResource('Omnicell_Product_Label') $prodText</a>
<div id="$core_v2_widget.UniqueId('productGroupMenu')"></div>

<script type="text/javascript">

   jQuery(function(){
    
    var productGroupButton = $("#$core_v2_widget.UniqueId('productGroupButton')")
    var productGroupMenu = $("#$core_v2_widget.UniqueId('productGroupMenu')")
    
    productGroupMenu.glowPopUpMenu({
    	groupCssClass: 'menu moderation-content menu__moderation-content',
		itemCssClass: 'menu-item menu__moderation-content__menu-item',
		itemSelectedCssClass: 'menu-item hover menu__moderation-content__menu-item__hover',
		itemExpandedCssClass: 'menu-item expanded',
		position: 'down',
		zIndex: 100,
		iconWidth: 30,
		iconHeight: 30,
		menuItems: [
            [0, '$core_v2_language.GetResource('Omnicell_All_Products')', '$core_v2_page.AdjustQueryString($filterQs, "$prodParam=")']
        #foreach ($group in $groups)
            #set($okToAdd = true)
            #if($prodFilterType > 0)
                #if($prodFilterType == 1 && $productFilters.Contains($group.Id.ToString()))
                    #set($okToAdd = false)
                #elseif($prodFilterType == 2 && !$productFilters.Contains($group.Id.ToString()))
                    #set($okToAdd = false)
                #end
            #end
            #if(($filterProds || $prodFilterType > 0) && $okToAdd)
                #if($filterProds)
                    #set($groupUser = false)
                    #set($groupUser = $core_v2_groupUserMember.Get($group.Id, "%{UserId=$core_v2_user.Accessing.Id}"))
                    #set($okToAdd = $groupUser.IsDirectMember)
                #end
                #if($okToAdd)
                    #if($userProdFilter.Length > 0)
                        #set($userProdFilter = "$userProdFilter OR")
                    #end
                    #set($userProdFilter = "$userProdFilter $group.Id")
                #end
            #end
            #if ($okToAdd)
                #set($prodCount = $prodCount + 1)
                ,['$group.Id', '$group.Name', '$core_v2_page.AdjustQueryString($filterQs, "$prodParam=$group.Id")']
            #end
        #end
        ]
	});
    
	productGroupButton.click(function()
	{
		if (!productGroupMenu.glowPopUpMenu('isOpen'))
			productGroupMenu.glowPopUpMenu('open', this);
		else
			productGroupMenu.glowPopUpMenu('close');
            
		return false;
	});
});
</script>

