$core_v2_page.SetContentType("text/css")


.content-fragment.login-and-create-user p {
  margin: 0;
  line-height: 1.3em;
}
div.login-right div.login-alternative.login-standard-options-selected > a, div.login-right div.login-alternative.login-standard-options-selected > a span, div.login-right div.login-alternative.login-standard-options-selected > a:hover, div.login-right div.login-alternative.login-standard-options-selected > a:hover span, div.login-right div.login-alternative.login-standard-options-selected > a.disabled, div.login-right div.login-alternative.login-standard-options-selected > a.disabled span {
  background: Transparent url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/register.png') no-repeat top left;
  width: 97px;
  height: 24px;
  margin-top: 13px;
  display: inline-block;
  z-index: 3;
  font-size: 0px;
}
.content-fragment.login-and-create-user .internal-link.submit-button.login, .content-fragment.login-and-create-user .internal-link.submit-button.login span, .content-fragment.login-and-create-user .internal-link.submit-button.login:hover, .content-fragment.login-and-create-user .internal-link.submit-button.login:hover span, .content-fragment.login-and-create-user .internal-link.submit-button.login.disabled, .content-fragment.login-and-create-user .internal-link.submit-button.login.disabled span, .content-fragment.login-and-create-user div.login-alternative a, .content-fragment.login-and-create-user div.login-alternative a span, .content-fragment.login-and-create-user div.login-alternative a:hover, .content-fragment.login-and-create-user div.login-alternative a:hover span, .content-fragment.login-and-create-user div.login-alternative a.disabled, .content-fragment.login-and-create-user div.login-alternative a.disabled span {
  position: relative;
  background: Transparent url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/login.png') no-repeat top left;
  width: 97px;
  height: 24px;
  display: inline-table;
  display: -moz-inline-box;
  display: inline-block;
  z-index: 3;
  font-size: 0px;
}
.content-fragment.login-and-create-user .content-fragment-content .page {
  float: right;
  border: 1px solid #cccccc;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #f2f2f2;
  background: -moz-linear-gradient(top, #e5e6e7 0%, #f2f2f2 52%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e6e7), color-stop(52%, #f2f2f2));
  padding-left: 15px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-top: 0px;
  max-width: 477px;
  min-height: 382px;
}

.content-fragment.login-and-create-user div.login-banner {
    max-width: 388px;
}


.content-fragment.login-and-create-user div.login-banner img {
    max-width: 100%;
}


.content-fragment.login-and-create-user .content-fragment-content .page.join-manual {
    width: 500px !important;
}


.content-fragment.login-and-create-user .content-fragment-content .page.join-manual .field-item.required{color:#000;}
.content-fragment.login-and-create-user .content-fragment-content .page.login .field-item.required{color:#000;}

.content-fragment.login-and-create-user .omnicell-page1{width:500px; }

.content-fragment.login-and-create-user .omnicell-page1 .field-item-validation .error{font-weight: normal; }



.content-fragment.login-and-create-user .omnicell-page2 .createUserProductList{
    width:500px;
}

.content-fragment.login-and-create-user .content-fragment-content .page {
    padding: 20px 20px 20px 0px;
    margin-top: -25px;
    
}
/*.content-fragment.login-and-create-user .content-fragment-content .page.temp-reg{
    background: -moz-linear-gradient(center top , #E5E6E7 0%, #F2F2F2 52%) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    border-radius: 8px 8px 8px 8px;
    float: left;
    min-height: 260px !important;
    padding: 18px 10px 0 15px;
    margin-left: 5px;
    width: 220px !important;
}*/

.content-fragment.login-and-create-user .content-fragment-content .page.temp-reg{
    clear: both;
    min-height: 150px !important;
    padding: 18px 10px 0 15px;
    margin-left: 5px;
    width: 240px !important;
    border: none;
    background: none;
    
}
.content-fragment.login-and-create-user .content-fragment-content .page.temp-reg p{
    padding-bottom: 30px;
}

.content-fragment.login-and-create-user .content-fragment-content .page.temp-reg h2 {
    font-weight: bold;
}

.content-fragment.login-and-create-user .content-fragment-content .page{
   /*width: auto !important; */
   min-height: 278px !important;
}

.content-fragment.login-and-create-user .content-fragment-content .page.login.noreg{
    width: 275px;
}

.content-fragment.login-and-create-user .content-fragment-content .page.login  input {
    width: 154px;
}

.content-fragment.login-and-create-user .content-fragment-content .page.login  input[type="checkbox"] {
    width: 18px;
}

.content-fragment.login-and-create-user .content-fragment-content .page-content h2 {font-weight: bold; margin-top: 10px;}
.content-fragment.login-and-create-user .content-fragment-content .page-content h2 span {font-weight: normal; font-size: 13px;}



.forgotpw{width:175px;}

.content-fragment.login-and-create-user .omnicell-page1 a.create-account-next { padding:1px 30px 7px 24px; letter-spacing:0.4px; font-size:16px; background: url("$core_v2_widget.GetFileUrl('btnGreen.png')") no-repeat scroll right -24px transparent; color: #FFFFFF; display: inline-block; font-weight: bold; height: 24px; line-height: 24px; margin-left: 0px; min-width: 50px; position: relative; z-index: 3; text-decoration:none; }
.content-fragment.login-and-create-user .omnicell-page1 a.create-account-next span { background: url("$core_v2_widget.GetFileUrl('btnGreen.png')") no-repeat scroll left top transparent; display: inline-block; height: 24px; left: -5px; position: absolute; top: 0; width: 7px;}

.content-fragment.login-and-create-user .omnicell-page2 a.create-account-back { padding:1px 18px 7px 24px; letter-spacing:0.4px; font-size:16px; background: url("$core_v2_widget.GetFileUrl('btnGreen.png')") no-repeat scroll right -24px transparent; color: #FFFFFF; display: inline-block; font-weight: bold; height: 24px; line-height: 24px; margin-left: 0px; min-width: 50px; position: relative; z-index: 3; text-decoration:none; }
.content-fragment.login-and-create-user .omnicell-page2 a.create-account-back span { background: url("$core_v2_widget.GetFileUrl('btnGreen.png')") no-repeat scroll left top transparent; display: inline-block; height: 24px; left: -5px; position: absolute; top: 0; width: 7px;}

.content-fragment.login-and-create-user .omnicell-page2 a.create-account-reg { padding:1px 18px 7px 10px; letter-spacing:0.4px; font-size:16px; background: url("$core_v2_widget.GetFileUrl('btnGreen.png')") no-repeat scroll right -24px transparent; color: #FFFFFF; display: inline-block; font-weight: bold; height: 24px; line-height: 24px; margin-left: 0px; min-width: 50px; position: relative; z-index: 3; text-decoration:none; }
.content-fragment.login-and-create-user .omnicell-page2 a.create-account-reg span { background: url("$core_v2_widget.GetFileUrl('btnGreen.png')") no-repeat scroll left top transparent; display: inline-block; height: 24px; left: -5px; position: absolute; top: 0; width: 7px;}


.content-fragment.login-and-create-user .content-fragment-content .page.temp-reg a.omnicell-temp-reg-button { padding:1px 18px 7px 10px; letter-spacing:0.4px; font-size:16px; background: url("$core_v2_widget.GetFileUrl('btnGreen.png')") no-repeat scroll right -24px transparent; color: #FFFFFF; display: inline-block; font-weight: bold; height: 24px; line-height: 24px; margin-left: 0px; min-width: 50px; position: relative; z-index: 3; text-decoration:none; }
.content-fragment.login-and-create-user .content-fragment-content .page.temp-reg a.omnicell-temp-reg-button span { background: url("$core_v2_widget.GetFileUrl('btnGreen.png')") no-repeat scroll left top transparent; display: inline-block; height: 24px; left: -5px; position: absolute; top: 0; width: 7px;}
.content-fragment.login-and-create-user .register-right2 { margin-top: 50px;}

#koloptin { width: 200px; float: right; display: block;}

.login-and-create-user .page .page-content {
    margin : 1em;
}

.login-and-create-user .field-item-validation {
    color: #f00;
}

.login-and-create-user a > img {
    display: inline;
}

@media screen and (max-width: 890px) {
    .content-fragment.login-and-create-user .content-fragment-content .page {
        float: left; 
     
    }
    
     div.login-banner {
         margin-top: 10px;
     }
}

@media screen and (max-width: 570px) {
     .content-fragment.login-and-create-user .content-fragment-content .page {
        margin-bottom: 10px;
        padding: 0 20px 5px 0;
    }
    
    
    .footer-fragments {
        clear: both;
    }
    
    div.login-right {
        clear: left !important;
        margin-top: 10px;
        width: 100% !important;
    }
    
    div.login-banner {
        float: none !important;
        width: 100% !important;
    }
}

