##
## Renders tabs for standard contextual and accessing view types
## Executed after execution of individual view types to avoid double-requesting of tab-displayed counts
##

#if ($queryType != "accessingUser" && ($currentUser && $currentUser.Id == $accessingUser.Id))
	<div class="filter">
		<div class="query-filter">
			<span class="filter-option #if($viewType == 'Friends')selected #end">
				<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "Show=Friends&$core_v2_ui.PageIndexQueryStringKey=1"))">
					$core_v2_language.GetResource('Friends')
				</a>
			</span>
			<span class="separator">|</span>
			<span class="filter-option #if($viewType == 'Review')selected #end">
				<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "Show=Review&$core_v2_ui.PageIndexQueryStringKey=1"))">
					$core_v2_language.GetResource('Friends_RequestsReview')
					#if ($reviewFriendshipCount > 0)
						<strong>(${reviewFriendshipCount})</strong>
					#end
				</a>
			</span>
			<span class="separator">|</span>
			<span class="filter-option #if($viewType == 'Pending')selected #end">
				<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "Show=Pending&$core_v2_ui.PageIndexQueryStringKey=1"))">
					<span></span>$core_v2_language.GetResource('Friends_YourRequests')
					#if ($pendingFriendshipCount > 0)
						<strong>(${pendingFriendshipCount})</strong>
					#end
				</a>
			</span>
		</div>
	</div>
#elseif($queryType == "accessingUser")
	<div class="filter">
		<div class="query-filter">
			#if ($viewType == "Friends")
				<span class="filter-option selected">$core_v2_language.GetResource('Friends_ApprovedFriends')</span>
			#else
				<span class="filter-option">
					<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "Show=Friends&$core_v2_ui.PageIndexQueryStringKey=1"))">
						$core_v2_language.GetResource('Friends_ApprovedFriends')
					</a>
				</span>
			#end
			<span class="separator">|</span>
			#if ($viewType == "Everyone")
				<span class="filter-option selected">$core_v2_language.GetResource('Core_FriendshipList_Filter_Everyone')</span>
			#else
				<span class="filter-option">
					<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "Show=Everyone&$core_v2_ui.PageIndexQueryStringKey=1"))">
						$core_v2_language.GetResource('Core_FriendshipList_Filter_Everyone')
					</a>
				</span>
			#end
			<span class="separator">|</span>
			#if ($viewType == "Following")
				<span class="filter-option selected">$core_v2_language.GetResource('Core_FriendshipList_Filter_Following')</span>
			#else
				<span class="filter-option">
					<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "Show=Following&$core_v2_ui.PageIndexQueryStringKey=1"))">
						$core_v2_language.GetResource('Core_FriendshipList_Filter_Following')
					</a>
				</span>
			#end
			<span class="separator">|</span>
			#if ($viewType == "Followers")
				<span class="filter-option selected">$core_v2_language.GetResource('Followers')</span>
			#else
				<span class="filter-option">
					<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "Show=Followers&$core_v2_ui.PageIndexQueryStringKey=1"))">
						$core_v2_language.GetResource('Followers')
					</a>
				</span>
			#end
		</div>
	</div>
#end