#if ($core_v2_page.IsPost)
	$core_v2_page.SetContentType('application/json')

	#set($emailAddress = false)
	#set($emailAddress = $core_v2_page.GetFormValue('emailAddress'))

	#set($user = false)
	#set($user = $core_v2_user.Get("%{Email=$emailAddress}"))

	#if ($user && $user.Errors.Count == 0)
		#if ($core_v2_configuration.PasswordRecoveryMethod == 'Reset')
			#set ($response = $core_v2_authentication.ResetPassword($user.Id))
			#if ($response.Errors.Count == 0)
				{"success":"true","message":"<b>$core_v2_encoding.JavaScriptEncode($core_v2_language.GetResource('ForgottenPassword_PasswordResetTitle'))</b><div>$core_v2_encoding.JavascriptEncode($core_v2_language.FormatString($core_v2_language.GetResource('ForgottenPassword_PasswordResetMessage'), $emailAddress))</div>"}
			#else
				#if($response.Errors.get_Item(0).Type == 'UserAccountLocked')
					{"success":"false","message":"$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('ForgottenPassword_UserAccountLocked'))"}
				#else
					$core_v2_page.SendJsonError($response.Errors)
				#end
			#end
		#else
			#set($response = $core_v2_authentication.SendChangePasswordEmail($user.Id))
			#if ($response.Errors.Count == 0)
				{"success":"true","message":"<b>$core_v2_encoding.JavaScriptEncode($core_v2_language.GetResource('ForgottenPassword_PasswordLinkSentTitle'))</b><div>$core_v2_encoding.JavascriptEncode($core_v2_language.FormatString($core_v2_language.GetResource('ForgottenPassword_PasswordLinkSentMessage'), $emailAddress))</div>"}
			#else
				$core_v2_page.SendJsonError($response.Errors)
			#end
		#end
	#else
		{"success":"false","message":"$core_v2_encoding.JavascriptEncode($core_v2_language.FormatString($core_v2_language.GetResource('ForgottenPassword_EmailNotFound'), $core_v2_encoding.HtmlEncode($core_v2_urls.Register($core_v2_urls.Home()))))"}
	#end
#end