<div class="training-list scheduled-training" style="width:325px;float:left;">
<h3 style="font-weight: normal; margin-top: 5px; margin-right: 0px; margin-bottom: 5px; margin-left: 0px;">Scheduled Courses</h3>
<div style="border:solid 1px #D4E7C4; width:325px;">
	<p style="margin:10px;">Below is a list of available upcoming online training courses.</p>

#foreach($media in $scheduledMedias)
#beforeall
	<ul style="margin:0;padding:0;" class="jcarousel-skin-tango omnicarousel">
#each
#if ($media.MediaGalleryType.Id == 3)

	<li style="width: 325px;list-style-type: none; list-style-position: outside; list-style-image: none; border-top:solid 1px #F5F5F5;">
		<span style="float:left;width:20px;margin:10px;">
			<a href="$core_v2_encoding.HtmlAttributeEncode($media.Url)" border="0">
				<img src="/cfs-file.ashx/__key/themefiles/s-7e987e474b714b01ba29b4336720c446-files/training_2D00_scheduled_2D00_icon.jpg" style="border:none" />
			</a>
		</span>
		<span style="float:left;width:285px;margin-top:10px">
			<span style="display:block;"><a href="$core_v2_encoding.HtmlAttributeEncode($media.Url)" border="0">$media.Title</a></span>
			<span style="float:left;width:190px;margin-right:10px;color:#999999;">
				#set($groupListString = "")
				#foreach($group in $media.Groups)
					#set($groupUser = false)
					#set($groupUser = $core_v2_groupUserMember.Get($group.Id, "%{UserId=$core_v2_user.Accessing.Id}"))
					#if ($groupUser != false && $groupUser.IsDirectMember)
##                    <a href="$core_v2_encoding.HtmlAttributeEncode($group.Url)" class="internal-link view-post product-name">$group.Name<br></a>
						#set($groupListString = "$groupListString $group.Name")
					#end
				#end

				#if($groupListString.Length > 50)
					<span title="$groupListString" alt="$groupListString" class="hoverDetail">$core_v2_language.Truncate($groupListString, 50, '...')</span>
				#else
					$groupListString
				#end
			</span>
			#set($date = "")
			#set($date = $media.ScheduledDate)
			#if($date != "")
				#set($date = $core_v2_language.FormatDateAndTime($media.ScheduledDate))
			#end
##			<span style="float:right;width:75px;color:#999999;">$date</span>
		</span>
		<span style="clear:both"></span>
	</li>
#end
#nodata
	<div class="message norecords">$core_v2_language.GetResource('NoRecords')</div>
#afterall
	</ul>
#end
<div style="clear:both"></div>
$core_v2_ui.Pager($scheduledMedias.PageIndex, $scheduledMedias.PageSize, $scheduledMedias.TotalCount)

</div>
</div>