$core_v2_page.AddLink('stylesheet', $core_v2_widget.GetExecutedFileUrl('projecthealth.css'))
#set($productGroupId = $omnicell_v1_product.ProductParentGroupId)
#set($products = $core_v2_group.List("%{ParentGroupId = $productGroupId}"))
#set($pageIndex = $core_v2_ui.GetCurrentPageIndex())
#set($pageSize = $core_v2_widget.GetStringValue('pageSize', '20'))
#set($parentGroupId = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('parentGroup', 'Group=25')).Value("Group"))
#set($pageSize =$core_v2_utility.ParseInt($pageSize))

#set($healthReportStatus = "")
#set($healthReportStatus = $core_v2_page.GetQueryStringValue('hth'))

#set($healthReportCompletionStatus = "")
#set($healthReportCompletionStatus = $core_v2_page.GetQueryStringValue('pct'))

#set($projectHealthDateStart = "")
#set($projectHealthDateStart = $core_v2_utility.ParseDate($core_v2_page.GetQueryStringValue('start')))

#set($projectHealthDateEnd = "")
#set($projectHealthDateEnd = $core_v2_utility.ParseDate($core_v2_page.GetQueryStringValue('end')))

#if($projectHealthDateStart != "" && $projectHealthDateEnd != "" && $projectHealthDateEnd < $projectHealthDateStart)
#set($projectHealthDateEnd = $projectHealthDateStart)
#end

#set($totaldays=0)
#set($totaldays=$projectHealthDateStart.Subtract($projectHealthDateEnd).TotalDays)
#if ($totaldays==0)
    #set($projectHealthDateEnd=$core_v2_utility.CurrentDate.AddDays(1))
    #set($projectHealthDateStart=$projectHealthDateEnd.AddDays(-90))
#end


#set($csn = "")
#set($csn = $core_v2_page.GetQueryStringValue('csn'))

#set($faccity = "")
#set($faccity = $core_v2_page.GetQueryStringValue('city'))
#if (!$faccity || $faccity == "")
    #set ($faccity = "")
#end
#set($state = "")
#set($state = $core_v2_page.GetQueryStringValue('state'))

#set($country = "")
#set($country = $core_v2_page.GetQueryStringValue('country'))

#set($tom = "")
#set($tom = $core_v2_page.GetQueryStringValue('tom'))
#if($tom != "")
    #set($tomString = $core_v2_utility.Split(':', $tom))
    #set($tomId = $tomString.get_item(1))
    #set($userTOM = false)
    #set($userTOM = $core_v2_user.Get("%{Id = $tomId}"))
    #if($userTOM)
        #set($territoryMgr = "$userTOM.DisplayName ($userTOM.UserName)")
    #end
#end

#set($dod = "")
#set($dod = $core_v2_page.GetQueryStringValue('dod'))
#if($dod != "")
    #set($dodString = $core_v2_utility.Split(':', $dod))
    #set($dodId = $dodString.get_item(1))
    #set($userDOD = false)
    #set($userDOD = $core_v2_user.Get("%{Id = $dodId}"))
    #if($userDOD)
        #set($divisionalDir = "$userDOD.DisplayName ($userDOD.UserName)")
    #end
#end

##set($fetchGroupId = $omnicell_v1_fetch.FetchParentGroup.Id)
#set($userId = $core_v2_user.Accessing.Id)
## set group user to find permissions for main fetch group
#set($parent = $core_v2_utility.ParseInt($parentGroupId))
#set($groupUser = $core_v2_groupUserMember.Get($parent, "%{UserId = $userId}"))
#set($roles = $core_v2_role.List("%{UserId = $userId}"))
#set($administratorsRoleString = "Administrators")
#set($IsAdmin = false)

#foreach($role in $roles)
    #if($role.Name == $administratorsRoleString)
		#set($IsAdmin = true)
    #end
#end

#set($IsOwner = false)
#if($groupUser.MembershipType == "Owner")
    #set($IsOwner = true)
#end
##set($IsOwner = $omnicell_v1_implementationroom.IsOwner($fetchGroupId, $userId))

#set($IsManager = false)
#if($groupUser.MembershipType == "Manager")
    #set($IsManager = true)
#end
##set($IsManager = $omnicell_v1_implementationroom.IsManager($fetchGroupId, $userId))

#set($isFetchGroup = false)
#if($parentGroupId == $core_v2_group.Current.Id)
    #set($isFetchGroup  = true)
#end

#if(!$isFetchGroup )
 <div style="color:red;">This is not the Fetch for Operations Group</div><br/>

#else
    #set ($sort = false)
    #set ($sort= $core_v2_page.GetQueryStringValue('sort'))
    #if ($sort == false)
        #set ($sort = 'date')
    #end
    #if ($sort == 'titlesort')
        #set ($sort ='IRGroup_s')
    #end
    #set ($sdir = false)
    #set ($sdir= $core_v2_page.GetQueryStringValue('sdir'))
    #if ($sdir == false)
        #set ($sdir = 'desc')
    #end
    ##Start Date: $projectHealthDateStart<BR>
    ##End Date: $projectHealthDateEnd<BR>
    ##set($pagedResults = $omnicell_v1_projecthealth.List($core_v2_group.Current.Id, "%{FetchId = $fetchGroupId, StartDate = $projectHealthDateStart, EndDate = $projectHealthDateEnd, HealthReportStatus = $healthReportStatus, HealthReportCompletionStatus = $healthReportCompletionStatus, CSN = $csn, City = $faccity, State = $state, Country = $country, TerritoryOpMgr = $tom, DivisionalOpDir = $dod, PageSize = $pageSize, PageIndex = $pageIndex, Sort = $sort:$sdir}"))
    #set($pagedResults = $omnicell_v1_projecthealth.List($core_v2_group.Current.Id, "%{FetchId = $parentGroupId, StartDate = $projectHealthDateStart, EndDate = $projectHealthDateEnd, HealthReportStatus = $healthReportStatus, HealthReportCompletionStatus = $healthReportCompletionStatus, CSN = $csn, City = $faccity, State = $state, Country = $country, TerritoryOpMgr = $tom, DivisionalOpDir = $dod, PageSize = $pageSize, PageIndex = $pageIndex, Sort = $sort:$sdir}"))
    ##set($pagedResults = $omnicell_v1_projecthealth.List($core_v2_group.Current.Id))

    #if ($sort == 'IRGroup_s')
        #set ($sort ='titlesort')
    #end

<div class="resultscontainer">
    <div class="title">$core_v2_language.GetResource('Omnicell_ImplementationRoom_Title')<span>$core_v2_language.GetResource('Omnicell_ImplementationRoom_Subtitle')</span></div>
#foreach($projectHealthReport in $pagedResults)
#beforeall
    <table class="resultstable">
      <tr>
        <td class="tablecol"><a href="#" rel='titlesort' class="">Implementation Room</a></td>
        <td class="tablecol"><a href="#" rel='FactSheetCity_s' class="">City</a></td>
        <td class="tablecol"><a href="#" rel='FactSheetState_s' class="">State</a></td>
        <td class="tablecol"><a href="#" rel='FactSheetCountry_s' class="">Country</a></td>
        <td class="tablecol"><a href="#" rel='date' class="">Last Update</a></td>
        <td class="tablecol"><a href="#" rel='Product_s' class="">Product</a></td>
        <td class="tablecol"><a href="#" rel='HealthReportStatusCode_s' class="">Health</a></td>
        <td class="tablecol"><a href="#" rel='HealthReportCompletionStatusCode_s' class="">% Complete</a></td>
      </tr>
#afterall
    </table>
    $core_v2_ui.Pager($pagedResults.PageIndex, $pagedResults.PageSize, $pagedResults.TotalCount)
    #each
        <tr>
            <td class="room"><a href="$projectHealthReport.ImplementationRoomGroup.Url">$projectHealthReport.ImplementationRoom.Name</a><br/>$projectHealthReport.ImplementationRoom.Description<br/>TOM: $projectHealthReport.ImplementationRoom.FactSheet.TerritoryOpMgrUser.DisplayName</td>
            <td class="city">$projectHealthReport.ImplementationRoom.FactSheet.ContactCity</td>
            #if($projectHealthReport.ImplementationRoom.FactSheet.ContactState != "AA")
                <td class="state">$projectHealthReport.ImplementationRoom.FactSheet.ContactState</td>
            #else
                <td class="state"></td>
            #end
            <td class="country">$projectHealthReport.ImplementationRoom.FactSheet.ContactCountry</td>
            <td class="postdate">$core_v2_language.FormatDate($projectHealthReport.HealthReportDate, "MM/dd/yy")</td>
            <td class="product">$!projectHealthReport.ProductGroup.Name</td>
            <td class="healthstatus">$projectHealthReport.HealthReportStatus</td>
            <td class="completionstatus">$projectHealthReport.HealthReportCompletionStatus</td>
        </tr>
    #nodata
     <div style="color:red;">No Implementation Rooms were found that meet your filter criteria</div>
    #end
    </div>
#end

##CURRENT GROUP ID: $core_v2_group.Current.Id<BR>
##FETCH GROUP ID: $fetchGroupId <BR>
##OWNER: $IsOwner<BR>
##MANAGER: $IsManager  <BR>
##ADMIN: $IsAdmin <BR>

## Owners 
#if($IsOwner || $IsAdmin)
<h3 class="header">$core_v2_language.GetResource('Omnicell_ImplementationRoom_FilterTitle')</h3>

<fieldset class="field-list filtercontainer">

    <ul class="field-list">
        <li class="field-item projecthealth-tom">
        <label for="$core_v2_widget.UniqueId('territoryOpMgrId')" class="field-item-header">Territory Operational Manager</label>
         <span>
            <input type="text" id="$core_v2_widget.UniqueId('territoryOpMgrId')"  data-id="$tom" value="$!territoryMgr" autocomplete="off"/>
          </span>
          <span class="field-item-validation tom" style="display: none;"></span>
         </li>
         <li class="field-item projecthealth-dod">
         <label for="$core_v2_widget.UniqueId('divisionalOpDirId')" class="field-item-header">Divisional Operations Director</label>
          <span>
             <input type="text" id="$core_v2_widget.UniqueId('divisionalOpDirId')" data-id="$dod" value="$!divisionalDir" autocomplete="off"/>
           </span>
           <span class="field-item-validation dod" style="display: none;"></span>
          </li>
    </ul>
</fieldset>
#end

## Managers
#if($IsManager || $IsOwner || $IsAdmin)
<fieldset class="field-list filtercontainer">

    <ul class="field-list">
        <li class="field-item projecthealth-csn">
        <label for="$core_v2_widget.UniqueId('csn')" class="field-item-header">CSN</label>
         <span>
            <input type="text" id="$core_v2_widget.UniqueId('csn')" value="$csn" autocomplete="off" />
          </span>
          <span class="field-item-validation csn" style="display: none;"></span>
    </li>
       <li class="field-item projecthealth-facilitycity">
        <label for="$core_v2_widget.UniqueId('facilityCity')" class="field-item-header">Facility City</label>
         <span>
            <input type="text" value="${faccity}" name="FacilityCityID" id="$core_v2_widget.UniqueId('facilityCity')" autocomplete="off" />
          </span>
          <span class="field-item-validation city" style="display: none;"></span>
        </li>
         
         <li class="field-item projecthealth-facilitystate">
            <label for="$core_v2_widget.UniqueId('facilityStateList')" class="field-item-header">Facility State</label>
             <span>
                 <select id="$core_v2_widget.UniqueId('facilityStateList')">
                    <option value="0">Choose One</option>
                    <option value="AL" #if($state=="AL") selected #end>Alabama</option>
                    <option value="AK" #if($state=="AK") selected #end>Alaska</option>
                    <option value="AZ" #if($state=="AZ") selected #end>Arizona</option>
                    <option value="AR" #if($state=="AR") selected #end>Arkansas</option>
                    <option value="CA" #if($state=="CA") selected #end>California</option>
                    <option value="CO" #if($state=="CO") selected #end>Colorado</option>
                    <option value="CT" #if($state=="CT") selected #end>Connecticut</option>
                    <option value="DE" #if($state=="DE") selected #end>Delaware</option>
                    <option value="DC" #if($state=="DC") selected #end>District of Columbia</option>
                    <option value="FL" #if($state=="FL") selected #end>Florida</option>
                    <option value="GA" #if($state=="GA") selected #end>Georgia</option>
                    <option value="HI" #if($state=="HI") selected #end>Hawaii</option>
                    <option value="ID" #if($state=="ID") selected #end>Idaho</option>
                    <option value="IL" #if($state=="IL") selected #end>Illinois</option>
                    <option value="IN" #if($state=="IN") selected #end>Indiana</option>
                    <option value="IA" #if($state=="IA") selected #end>Iowa</option>
                    <option value="KS" #if($state=="KS") selected #end>Kansas</option>
                    <option value="KY" #if($state=="KY") selected #end>Kentucky</option>
                    <option value="LA" #if($state=="LA") selected #end>Louisiana</option>
                    <option value="ME" #if($state=="ME") selected #end>Maine</option>
                    <option value="MD" #if($state=="MD") selected #end>Maryland</option>
                    <option value="MA" #if($state=="MA") selected #end>Massachusetts</option>
                    <option value="MI" #if($state=="MI") selected #end>Michigan</option>
                    <option value="MN" #if($state=="MN") selected #end>Minnesota</option>
                    <option value="MS" #if($state=="MS") selected #end>Mississippi</option>
                    <option value="MO" #if($state=="MO") selected #end>Missouri</option>
                    <option value="MT" #if($state=="MT") selected #end>Montana</option>
                    <option value="NE" #if($state=="NE") selected #end>Nebraska</option>
                    <option value="NV" #if($state=="NV") selected #end>Nevada</option>
                    <option value="NH" #if($state=="NH") selected #end>New Hampshire</option>
                    <option value="NJ" #if($state=="NJ") selected #end>New Jersey</option>
                    <option value="NM" #if($state=="NM") selected #end>New Mexico</option>
                    <option value="NY" #if($state=="NY") selected #end>New York</option>
                    <option value="NC" #if($state=="NC") selected #end>North Carolina</option>
                    <option value="ND" #if($state=="ND") selected #end>North Dakota</option>
                    <option value="OH" #if($state=="OH") selected #end>Ohio</option>
                    <option value="OK" #if($state=="OK") selected #end>Oklahoma</option>
                    <option value="OR" #if($state=="OR") selected #end>Oregon</option>
                    <option value="PA" #if($state=="PA") selected #end>Pennsylvania</option>
                    <option value="RI" #if($state=="RI") selected #end>Rhode Island</option>
                    <option value="SC" #if($state=="SC") selected #end>South Carolina</option>
                    <option value="SD" #if($state=="SD") selected #end>South Dakota</option>
                    <option value="TN" #if($state=="TN") selected #end>Tennessee</option>
                    <option value="TX" #if($state=="TX") selected #end>Texas</option>
                    <option value="UT" #if($state=="UT") selected #end>Utah</option>
                    <option value="VT" #if($state=="VT") selected #end>Vermont</option>
                    <option value="VA" #if($state=="VA") selected #end>Virginia</option>
                    <option value="WA" #if($state=="WA") selected #end>Washington</option>
                    <option value="WV" #if($state=="WV") selected #end>West Virginia</option>
                    <option value="WI" #if($state=="WI") selected #end>Wisconsin</option>
                    <option value="WY" #if($state=="WY") selected #end>Wyoming</option>
                </select>
            </span>
            <span class="field-item-validation facilitystate" style="display: none;"></span>
        </li>

         <li class="field-item projecthealth-facilitycountry">
            <label for="$core_v2_widget.UniqueId('facilityCountryList')" class="field-item-header">Facility Country</label>
             <span>
                 <select id="$core_v2_widget.UniqueId('facilityCountryList')">
                    <option value="0">Choose One</option>
                    <option value="US">United States of America</option>
                    <option value="AF">Afghanistan</option>
                    <option value="AL">Albania</option>
                    <option value="DZ">Algeria</option>
                    <option value="AS">American Samoa</option>
                    <option value="AD">Andorra</option>
                    <option value="AG">Angola</option>
                    <option value="AI">Anguilla</option>
                    <option value="AG">Antigua-Barbuda</option>
                    <option value="AR">Argentina</option>
                    <option value="AA">Armenia</option>
                    <option value="AW">Aruba</option>
                    <option value="AU">Australia</option>
                    <option value="AT">Austria</option>
                    <option value="AZ">Azerbaijan</option>
                    <option value="BS">Bahamas</option>
                    <option value="BH">Bahrain</option>
                    <option value="BD">Bangladesh</option>
                    <option value="BB">Barbados</option>
                    <option value="BY">Belarus</option>
                    <option value="BE">Belgium</option>
                    <option value="BZ">Belize</option>
                    <option value="BJ">Benin</option>
                    <option value="BM">Bermuda</option>
                    <option value="BT">Bhutan</option>
                    <option value="BO">Bolivia</option>
                    <option value="BL">Bonaire</option>
                    <option value="BA">Bosnia-Herzegovina</option>
                    <option value="BW">Botswana</option>
                    <option value="BR">Brazil</option>
                    <option value="BC">British Indian Ocean Ter</option>
                    <option value="BN">Brunei</option>
                    <option value="BG">Bulgaria</option>
                    <option value="BF">Burkina Faso</option>
                    <option value="BI">Burundi</option>
                    <option value="KH">Cambodia</option>
                    <option value="CM">Cameroon</option>
                    <option value="CA">Canada</option>
                    <option value="IC">Canary Islands</option>
                    <option value="CV">Cape Verde</option>
                    <option value="KY">Cayman Islands</option>
                    <option value="CF">Central African Republic</option>
                    <option value="TD">Chad</option>
                    <option value="CD">Channel Islands</option>
                    <option value="CL">Chile</option>
                    <option value="CN">China</option>
                    <option value="CI">Christmas Island</option>
                    <option value="CS">Cocos Island</option>
                    <option value="CO">Colombia</option>
                    <option value="CC">Comoros</option>
                    <option value="CG">Congo</option>
                    <option value="CK">Cook Islands</option>
                    <option value="CR">Costa Rica</option>
                    <option value="CT">Cote D'Ivoire</option>
                    <option value="HR">Croatia</option>
                    <option value="CU">Cuba</option>
                    <option value="CB">Curacao</option>
                    <option value="CY">Cyprus</option>
                    <option value="CZ">Czech Republic</option>
                    <option value="DK">Denmark</option>
                    <option value="DJ">Djibouti</option>
                    <option value="DM">Dominica</option>
                    <option value="DO">Dominican Republic</option>
                    <option value="TM">East Timor</option>
                    <option value="EC">Ecuador</option>
                    <option value="EG">Egypt</option>
                    <option value="SV">El Salvador</option>
                    <option value="GQ">Equatorial Guinea</option>
                    <option value="ER">Eritrea</option>
                    <option value="EE">Estonia</option>
                    <option value="ET">Ethiopia</option>
                    <option value="FA">Falkland Islands</option>
                    <option value="FO">Faroe Islands</option>
                    <option value="FJ">Fiji</option>
                    <option value="FI">Finland</option>
                    <option value="FR">France</option>
                    <option value="GF">French Guiana</option>
                    <option value="PF">French Polynesia</option>
                    <option value="FS">French Southern Ter</option>
                    <option value="GA">Gabon</option>
                    <option value="GM">Gambia</option>
                    <option value="GE">Georgia</option>
                    <option value="DE">Germany</option>
                    <option value="GH">Ghana</option>
                    <option value="GI">Gibraltar</option>
                    <option value="GB">Great Britain</option>
                    <option value="GR">Greece</option>
                    <option value="GL">Greenland</option>
                    <option value="GD">Grenada</option>
                    <option value="GP">Guadeloupe</option>
                    <option value="GU">Guam</option>
                    <option value="GT">Guatemala</option>
                    <option value="GN">Guinea</option>
                    <option value="GY">Guyana</option>
                    <option value="HT">Haiti</option>
                    <option value="HW">Hawaii</option>
                    <option value="HN">Honduras</option>
                    <option value="HK">Hong Kong</option>
                    <option value="HU">Hungary</option>
                    <option value="IS">Iceland</option>
                    <option value="IN">India</option>
                    <option value="ID">Indonesia</option>
                    <option value="IA">Iran</option>
                    <option value="IQ">Iraq</option>
                    <option value="IR">Ireland</option>
                    <option value="IM">Isle of Man</option>
                    <option value="IL">Israel</option>
                    <option value="IT">Italy</option>
                    <option value="JM">Jamaica</option>
                    <option value="JP">Japan</option>
                    <option value="JO">Jordan</option>
                    <option value="KZ">Kazakhstan</option>
                    <option value="KE">Kenya</option>
                    <option value="KI">Kiribati</option>
                    <option value="NK">Korea North</option>
                    <option value="KS">Korea South</option>
                    <option value="KW">Kuwait</option>
                    <option value="KG">Kyrgyzstan</option>
                    <option value="LA">Laos</option>
                    <option value="LV">Latvia</option>
                    <option value="LB">Lebanon</option>
                    <option value="LS">Lesotho</option>
                    <option value="LR">Liberia</option>
                    <option value="LY">Libya</option>
                    <option value="LI">Liechtenstein</option>
                    <option value="LT">Lithuania</option>
                    <option value="LU">Luxembourg</option>
                    <option value="MO">Macau</option>
                    <option value="MK">Macedonia</option>
                    <option value="MG">Madagascar</option>
                    <option value="MY">Malaysia</option>
                    <option value="MW">Malawi</option>
                    <option value="MV">Maldives</option>
                    <option value="ML">Mali</option>
                    <option value="MT">Malta</option>
                    <option value="MH">Marshall Islands</option>
                    <option value="MQ">Martinique</option>
                    <option value="MR">Mauritania</option>
                    <option value="MU">Mauritius</option>
                    <option value="ME">Mayotte</option>
                    <option value="MX">Mexico</option>
                    <option value="MI">Midway Islands</option>
                    <option value="MD">Moldova</option>
                    <option value="MC">Monaco</option>
                    <option value="MN">Mongolia</option>
                    <option value="MS">Montserrat</option>
                    <option value="MA">Morocco</option>
                    <option value="MZ">Mozambique</option>
                    <option value="MM">Myanmar</option>
                    <option value="NA">Nambia</option>
                    <option value="NU">Nauru</option>
                    <option value="NP">Nepal</option>
                    <option value="AN">Netherland Antilles</option>
                    <option value="NL">Netherlands (Holland, Europe)</option>
                    <option value="NV">Nevis</option>
                    <option value="NC">New Caledonia</option>
                    <option value="NZ">New Zealand</option>
                    <option value="NI">Nicaragua</option>
                    <option value="NE">Niger</option>
                    <option value="NG">Nigeria</option>
                    <option value="NW">Niue</option>
                    <option value="NF">Norfolk Island</option>
                    <option value="NO">Norway</option>
                    <option value="OM">Oman</option>
                    <option value="PK">Pakistan</option>
                    <option value="PW">Palau Island</option>
                    <option value="PS">Palestine</option>
                    <option value="PA">Panama</option>
                    <option value="PG">Papua New Guinea</option>
                    <option value="PY">Paraguay</option>
                    <option value="PE">Peru</option>
                    <option value="PH">Philippines</option>
                    <option value="PO">Pitcairn Island</option>
                    <option value="PL">Poland</option>
                    <option value="PT">Portugal</option>
                    <option value="PR">Puerto Rico</option>
                    <option value="QA">Qatar</option>
                    <option value="ME">Republic of Montenegro</option>
                    <option value="RS">Republic of Serbia</option>
                    <option value="RE">Reunion</option>
                    <option value="RO">Romania</option>
                    <option value="RU">Russia</option>
                    <option value="RW">Rwanda</option>
                    <option value="NT">St Barthelemy</option>
                    <option value="EU">St Eustatius</option>
                    <option value="HE">St Helena</option>
                    <option value="KN">St Kitts-Nevis</option>
                    <option value="LC">St Lucia</option>
                    <option value="MB">St Maarten</option>
                    <option value="SP">Saipan</option>
                    <option value="SO">Samoa</option>
                    <option value="AS">Samoa American</option>
                    <option value="SM">San Marino</option>
                    <option value="SA">Saudi Arabia</option>
                    <option value="SN">Senegal</option>
                    <option value="RS">Serbia</option>
                    <option value="SC">Seychelles</option>
                    <option value="SL">Sierra Leone</option>
                    <option value="SG">Singapore</option>
                    <option value="SK">Slovakia</option>
                    <option value="SI">Slovenia</option>
                    <option value="SB">Solomon Islands</option>
                    <option value="OI">Somalia</option>
                    <option value="ZA">South Africa</option>
                    <option value="ES">Spain</option>
                    <option value="LK">Sri Lanka</option>
                    <option value="SD">Sudan</option>
                    <option value="SR">Suriname</option>
                    <option value="SZ">Swaziland</option>
                    <option value="SE">Sweden</option>
                    <option value="CH">Switzerland</option>
                    <option value="SY">Syria</option>
                    <option value="TA">Tahiti</option>
                    <option value="TW">Taiwan</option>
                    <option value="TJ">Tajikistan</option>
                    <option value="TZ">Tanzania</option>
                    <option value="TH">Thailand</option>
                    <option value="TG">Togo</option>
                    <option value="TK">Tokelau</option>
                    <option value="TO">Tonga</option>
                    <option value="TT">Trinidad &amp; Tobago</option>
                    <option value="TN">Tunisia</option>
                    <option value="TR">Turkey</option>
                    <option value="TU">Turkmenistan</option>
                    <option value="TC">Turks &amp; Caicos Is</option>
                    <option value="TV">Tuvalu</option>
                    <option value="UG">Uganda</option>
                    <option value="UA">Ukraine</option>
                    <option value="AE">United Arab Emirates</option>
                    <option value="GB">United Kingdom</option>
                    <option value="UY">Uruguay</option>
                    <option value="UZ">Uzbekistan</option>
                    <option value="VU">Vanuatu</option>
                    <option value="VS">Vatican City State</option>
                    <option value="VE">Venezuela</option>
                    <option value="VN">Vietnam</option>
                    <option value="VB">Virgin Islands (Brit)</option>
                    <option value="VA">Virgin Islands (USA)</option>
                    <option value="WK">Wake Island</option>
                    <option value="YE">Yemen</option>
                    <option value="ZR">Zaire</option>
                    <option value="ZM">Zambia</option>
                    <option value="ZW">Zimbabwe</option>
                </select>
            </span>
            <span class="field-item-validation facilitycountry" style="display: none;"></span>
        </li>

    </ul>
</fieldset>
#end
## Members

<fieldset class="field-list filtercontainer">

    <ul class="field-list">
        <li class="field-item projecthealth-date">
        <label for="$core_v2_widget.UniqueId('projectHealthDateStart')" class="field-item-header">Start Date</label>
         <span>
            <input type="text" id="$core_v2_widget.UniqueId('projectHealthDateStart')" value="$projectHealthDateStart" />
          </span>
          <span class="field-item-validation healthdatestart" style="display: none;"></span>
         </li>
         <li class="projecthealth-daterangeto"><span> to </span></li>
          <li class="field-item projecthealth-date">
         <label for="$core_v2_widget.UniqueId('projectHealthDateEnd')" class="field-item-header">End Date</label>
          <span>
             <input type="text" id="$core_v2_widget.UniqueId('projectHealthDateEnd')" value="$projectHealthDateEnd" />
           </span>
           <span class="field-item-validation healthdateend" style="display: none;"></span>
          </li>
         
         <li class="field-item projecthealth-status">
            <label for="$core_v2_widget.UniqueId('healthList')" class="field-item-header">Project Health</label>
             <span>
                 <select id="$core_v2_widget.UniqueId('healthList')">
                    <option value="0">Choose One</option>
                    <option value="1">Green</option>
                    <option value="2">Yellow</option>
                    <option value="3">Red</option>
                </select>
            </span>
            <span class="field-item-validation health" style="display: none;"></span>
        </li>
        
         <li class="field-item projecthealth-completionstatus">
            <label for="$core_v2_widget.UniqueId('percentageCompleteList')" class="field-item-header">% Complete</label>
             <span>
                  <select id="$core_v2_widget.UniqueId('percentageCompleteList')">
                     <option value="0">Choose One</option>
    				 <option value="1">0% Implementation Room Created</option>
                     <option value="2">60% Discovery, Kick Off, Planning stage</option>
                     <option value="3">65% Equipment landed</option>
                     <option value="4">70% Data build, Interface testing</option>
                     <option value="5">75% Implementation started people on site</option>
                     <option value="6">80% Equipment Build and configuration</option>
                     <option value="7">85% Testing Complete</option>
                     <option value="8">90% Training in process</option>
                     <option value="9">95% Go Live, Implementation roll out</option>
                     <option value="91">100% System Live, Acceptance Letter Signed and processed</option>
                     <option value="93">105% Archive</option>
                 </select>
            </span>
            <span class="field-item-validation percentcomplete" style="display: none;"></span>
        </li>

    </ul>
</fieldset>

<fieldset class="field-list save-post-form">
    <ul class="field-list">
    	<li class="field-item">
            <span class="field-item-input">
            	<a id="$core_v2_widget.UniqueId('searchbutton')" class="internal-link create-room submit-button" href="#">
            		<span></span>$core_v2_language.GetResource('Omnicell_ImplementationRoom_Filter')
            	</a>
            	<span id="$core_v2_widget.UniqueId('statusLabel')" class="processing" style="visibility: hidden;"></span>
            </span>
            
            
		</li>
	</ul>
</fieldset>




#registerEndOfPageHtml('omnicell.widgets.projecthealthreport')
    <script type="text/javascript" src="$core_v2_encoding.HtmlAttributeEncode($core_v2_widget.GetFileUrl('ui.js'))"></script>
#end
#registerEndOfPageHtml()
    <script type="text/javascript">
         jQuery(function(){
			jQuery.omnicell.widgets.projecthealthreport.register({
				searchButton: jQuery('#$core_v2_widget.UniqueId('searchbutton')'),
                projectHealthDateStart: jQuery('#$core_v2_widget.UniqueId('projectHealthDateStart')'),
                projectHealthDateEnd: jQuery('#$core_v2_widget.UniqueId('projectHealthDateEnd')'),
                healthList: jQuery('#$core_v2_widget.UniqueId('healthList')'),
                percentagecompleteList: jQuery('#$core_v2_widget.UniqueId('percentageCompleteList')'),
                csn: jQuery('#$core_v2_widget.UniqueId('csn')'),
                facilityCity: jQuery('#$core_v2_widget.UniqueId('facilityCity')'),
                facilityStateList: jQuery('#$core_v2_widget.UniqueId('facilityStateList')'),
                facilityCountryList: jQuery('#$core_v2_widget.UniqueId('facilityCountryList')'),
                territoryOpMgrInput: jQuery('#$core_v2_widget.UniqueId('territoryOpMgrId')'),
                divisionalOpDirInput: jQuery('#$core_v2_widget.UniqueId('divisionalOpDirId')'),
                sortkey: "$core_v2_encoding.JavascriptEncode($sort)",
                sortdir: "$core_v2_encoding.JavascriptEncode($sdir)",
                startDate: "$core_v2_encoding.JavascriptEncode($core_v2_language.FormatDate($projectHealthDateStart, 'MM/dd/yyyy'))",
                endDate: "$core_v2_encoding.JavascriptEncode($core_v2_language.FormatDate($projectHealthDateEnd, 'MM/dd/yyyy'))",
				healthStatus: "$core_v2_encoding.JavascriptEncode($healthReportStatus)",
                healthPercentageComplete: "$core_v2_encoding.JavascriptEncode($healthReportCompletionStatus)",
                findUsersOrRolesUrl : '$core_v2_encoding.JavascriptEncode($core_v2_widget.GetExecutedFileUrl('find-users-or-roles.vm'))'
			});
		});
	</script>
#end