#set($fileName = $core_v2_page.GetQueryStringValue('w_fileName'))
#set($folder = $core_v2_userFolder.Current)
#set($user = $core_v2_user.Current)
#set($folderPath = "")

#if ($folder && $folder.Path && $folder.Path != "")
	#set($folderPath = $core_v2_utility.Join(".", $folder.Path))
#end

#set($file = false)
#if ($fileName && $fileName != "")
	#set($file = $core_v2_userFile.Get($user.Id, $folderPath, $fileName))
#else
	#set($files = $core_v2_userFile.List($user.Id, "%{FolderPath=$folderPath,SortBy='Name',SortOrder='Ascending',PageSize=1,PageIndex=0}"))
	#if($files.TotalCount > 0)
		#set($file = $files.get_Item(0))
	#else
		#set($file = false)
	#end
#end

#if($file)
	<div style="text-align:center;">
		<div style="font-weight:bold;font-size:100%;padding:8px 0"><a href="$core_v2_encoding.HtmlAttributeEncode($file.Url)">$core_v2_encoding.HtmlEncode($file.Name)</a></div>
		<div style="width:400px;min-height:300px;background-color:#000;color:#fff;margin:0 auto;padding:2px;">
			<table cellpadding="0" cellspacing="0" border="0" style="width:400px;height:300px;"><tr><td valign="middle"><td align="center">
				#set($viewHtml = false)
				#set($viewHtml = $core_v2_ui.GetViewHtml($file.Url, "%{Width=400,Height=300}"))
				#if($viewHtml && $viewHtml.Length > 0)
					$viewHtml
				#else
					$core_v2_language.GetResource('MediaGallery_FileNotViewableNoDownload')
				#end
			</td></tr></table>
		</div>
	</div>
#else
	<div style="text-align:center;">
		<div style="font-weight:bold;font-size:100%;padding:8px 0">&nbsp;</div>
		<div style="width:400px;min-height:300px;background-color:#000;color:#fff;margin:0 auto;padding:2px;">
			<table cellpadding="0" cellspacing="0" border="0" style="width:400px;height:300px;"><tr><td valign="middle"><td align="center">
				$core_v2_language.GetResource('MediaGallery_FileNotViewableNoDownload')
			</td></tr></table>
		</div>
	</div>
#end