#set ($pageSize = $core_v2_widget.GetIntValue('pageSize', 15))
#set ($popularOnly = $core_v2_widget.GetBoolValue('popularOnly', false))
#set ($forumOrGroup = $core_v2_page.ParseQueryString($core_v2_widget.GetStringValue('selectedForumOrGroup', '')))
#set ($currentForum = $core_v2_forum.Current)
#set ($forumId = -1)
#set ($groupId = -1)
#set ($includeSubGroups = false)
#set ($isRegistered = $core_v2_user.IsRegistered($core_v2_user.Accessing.Id))
#set ($sortOrder = $core_v2_widget.GetStringValue('sortOrder', 'descending'))
#set ($sortBy = $core_v2_widget.GetStringValue('sortBy', 'dateTime'))

#set ($sortBy = $sortBy.ToLower())
#if ($sortBy == 'datetime' || $sortBy == 'lastpost')
	#set($sortBy = 'lastpost')
#elseif ($sortBy == 'replies' || $sortBy == 'totalreplies')
	#set($sortBy = 'replies')
#elseif ($sortBy == 'views')
	#set($sortBy = 'views')
#else
	#set($sortBy = 'topic')
#end

#if ($forumOrGroup.Value('Forum'))
	#set($forumId = $core_v2_utility.ParseInt($forumOrGroup.Value('Forum')))
#elseif ($forumOrGroup.Value('Group'))
	#set($includeSubGroups = $core_v2_utility.ParseBool($forumOrGroup.Value('IncludeSubGroups')))
	#set ($groupId = $core_v2_utility.ParseInt($forumOrGroup.Value('Group')))
#end

#set ($queryType = "active")

#if ($forumId < 1 && $groupId < 1)
	#if ($core_v2_forum.Current)
		#set ($forumId = $core_v2_forum.Current.Id)
	#elseif ($core_v2_group.Current)
		#set ($groupId = $core_v2_group.Current.Id)
	#end
#end

#if ($groupId != -1)
	#set($threads = $core_v2_forumThread.List($queryType, "%{GroupId = '$groupId', SortBy = '$sortBy', SortOrder = '$sortOrder', PopularOnly = $popularOnly, IncludeSubGroups = $includeSubGroups, PageSize = $pageSize, PageIndex = 0}"))
#else
	#set($threads = $core_v2_forumThread.List($queryType, "%{ForumId = '$forumId', GroupId = '$groupId', SortBy = '$sortBy', SortOrder = '$sortOrder', PopularOnly = $popularOnly, IncludeSubGroups = $includeSubGroups, PageSize = $pageSize, PageIndex = 0}"))
#end

#foreach($thread in $threads)
#each
	#if ($core_v2_forumUrls.Thread($thread.Id))
	<div class="abbreviated-post-header popular"></div>
	<div class="abbreviated-post popular">
		<h4 class="post-name"><a href="$core_v2_forumUrls.Thread($thread.Id)" class="internal-link view-post forum"><span></span>$core_v2_language.Truncate($thread.Subject, 65, "...")</a></h4>
		<div class="post-author">
			#set ($latestPostDisplayName = $core_v2_language.Truncate("$thread.Author.DisplayName", 15, "..."))
			#if ($thread.Author.ProfileUrl)
				<span class="user-name">$core_v2_language.GetResource("by") <a href="$core_v2_encoding.HtmlAttributeEncode($thread.Author.ProfileUrl)" class="internal-link view-user-profile">$latestPostDisplayName</a></span>
			#else
				<span class="user-name">$core_v2_language.GetResource("by") $latestPostDisplayName</span>
			#end
		</div>
	</div>
	<div class="abbreviated-post-footer popular"></div>
	#end
#nodata
	$core_v2_widget.Hide()
#end