$core_v2_page.SetContentType("text/css")

.international-admin .table-admin {
    font-size: 10px;
    width: 100%; 
    text-align: left;
}

.international-admin .table-column {
    padding-left: 5px;
}

.international-admin .createError {
    display: none;
    color: red;
}

.international-admin .table-header-column {
    background-color: #D2D2D2;
    text-align: left;
}

.international-admin .table-admin tr:nth-child(even) {
    background-color: #F2F2F1;
}

.international-admin .table-admin tr:nth-child(odd) {
    background-color: #FFFFFF;
}

.international-admin .createCustomer {
    margin-top: 20px;
    padding-top: 20px;
}

.international-admin .customer-table td {
   height: 20px;
}

.international-admin .field-item {
    padding: 10px;
}

.international-admin .table-button  {
    background-color: #5f9933;
    color: #fff !important;
    padding: 10px;
}

.international-admin .table-button:hover {
    text-decoration: none;
}