.omnibold {
    font-weight: bold;   
}

.omniform{
    width:700px;
	margin:0 auto;
}
.omniform .omniContent{
    margin-right:30px;   
}

.green_border{
	background: #D4E7C5;
	height:1px;
	width:100%;
	margin:10px 0 10px 0;
}

.omnifield{
	margin:5px 0 5px 0;
}

.omnilabel{
	float:left;
	width:120px;
}

.omniform .user_question{
    float:left;
    width:340px;
    height:200px;
    border:solid 1px #D4E7C5;
}

.omniform .possible_answers
{
    float:left;
    width:340px;
    height:200px;
    border:solid 1px #D4E7C5;
    margin-left:10px;
}

.omniform .submitMessage
{
    display:none;
}
.omniform .submitMessage
{
    color: #77BF3F;
    font-size: 18px;
    font-weight: bold;
}

.omniform .message.success {
  padding: 12px;
  color: #030;
  border: solid 1px #030;
  background-color: #88dd88;
