#set($searchText = $core_v2_page.GetQueryStringValue('w_searchtext'))
#set($groupId = $core_v2_page.GetQueryStringValue('w_groupId'))
#set($queryString = "q=$core_v2_encoding.UrlEncode($searchText)")

#set($query = "%{Query=$searchText,PageSize=10}")
#if($groupId && $groupId != '')
    $query.Add('Filters', "group::$groupId")
	#set($queryString = "$queryString&groups=$groupId")
#end

#set($results = $core_v2_searchResult.List($query))

#if ($results.Count > 0)
	<div><a target="_blank" href="$core_v2_encoding.HtmlAttributeEncode($core_v2_urls.Search("%{ QueryString = $queryString }"))" class="internal-link search"><span></span>ShowAll</a></div>

	#set($shownHeader = false)
	#foreach($result in $results)
		#if ($result.ContentType == 'group')
			#if (!$shownHeader)
				<div class="content-list-header"></div>
				<div class="content-list-name">Groups</div>
				<ul class="content-list">
				#set($shownHeader = true)
			#end
			<li class="content-item"><a target="_blank" href="$core_v2_encoding.HtmlAttributeEncode($result.Url)" class="internal-link view-group"><span>$result.Title</span></a>
		#end
	#end
	#if ($shownHeader)
		</ul>
		<div class="content-list-footer"></div>
	#end

	#set($shownHeader = false)
	#foreach($result in $results)
		#if ($result.ContentType == 'user')
			#if (!$shownHeader)
				<div class="content-list-header"></div>
				<div class="content-list-name">People</div>
				<ul class="content-list">
				#set($shownHeader = true)
			#end
			<li class="content-item"><a target="_blank" href="$core_v2_encoding.HtmlAttributeEncode($result.Url)" class="internal-link view-user-profile"><span>$result.Title</span></a>
		#end
	#end
	#if ($shownHeader)
		</ul>
		<div class="content-list-footer"></div>
	#end

	#set($shownHeader = false)
	#foreach($result in $results)
		#if ($result.ContentType == 'wiki')
			#if (!$shownHeader)
				<div class="content-list-header"></div>
				<div class="content-list-name">Wikis</div>
				<ul class="content-list">
				#set($shownHeader = true)
			#end
			<li class="content-item"><a target="_blank" href="$core_v2_encoding.HtmlAttributeEncode($result.Url)" class="internal-link view-post"><span>$result.Title</span></a>
		#end
	#end
	#if ($shownHeader)
		</ul>
		<div class="content-list-footer"></div>
	#end

	#set($shownHeader = false)
	#foreach($result in $results)
		#if ($result.ContentType == 'blog')
			#if (!$shownHeader)
				<div class="content-list-header"></div>
				<div class="content-list-name">Blogs</div>
				<ul class="content-list">
				#set($shownHeader = true)
			#end
			<li class="content-item"><a target="_blank" href="$core_v2_encoding.HtmlAttributeEncode($result.Url)" class="internal-link view-post"><span>$result.Title</span></a>
		#end
	#end
	#if ($shownHeader)
		</ul>
		<div class="content-list-footer"></div>
	#end

	#set($shownHeader = false)
	#foreach($result in $results)
		#if ($result.ContentType == 'forum' || $result.ContentType == 'forumreply')
			#if (!$shownHeader)
				<div class="content-list-header"></div>
				<div class="content-list-name">Forums</div>
				<ul class="content-list">
				#set($shownHeader = true)
			#end
			<li class="content-item"><a target="_blank" href="$core_v2_encoding.HtmlAttributeEncode($result.Url)" class="internal-link view-post"><span>$result.Title</span></a>
		#end
	#end
	#if ($shownHeader)
		</ul>
		<div class="content-list-footer"></div>
	#end

	#set($shownHeader = false)
	#foreach($result in $results)
		#if ($result.ContentType == 'file')
			#if (!$shownHeader)
				<div class="content-list-header"></div>
				<div class="content-list-name">Files</div>
				<ul class="content-list">
				#set($shownHeader = true)
			#end
			<li class="content-item"><a target="_blank" href="$core_v2_encoding.HtmlAttributeEncode($result.Url)" class="internal-link view-post"><span>$result.Title</span></a>
		#end
	#end
	#if ($shownHeader)
		</ul>
		<div class="content-list-footer"></div>
	#end

	#set($shownHeader = false)
	#foreach($result in $results)
		#if ($result.ContentType == 'page')
			#if (!$shownHeader)
				<div class="content-list-header"></div>
				<div class="content-list-name">Pages</div>
				<ul class="content-list">
				#set($shownHeader = true)
			#end
			<li class="content-item"><a target="_blank" href="$core_v2_encoding.HtmlAttributeEncode($result.Url)" class="internal-link view-post"><span>$result.Title</span></a>
		#end
	#end
	#if ($shownHeader)
		</ul>
		<div class="content-list-footer"></div>
	#end

	#set($shownHeader = false)
	#foreach($result in $results)
		#if ($result.ContentType == 'blogapp' || $result.ContentType == 'forumapp' || $result.ContentType == 'fileapp' || $result.ContentType == 'wikiapp')
			#if (!$shownHeader)
				<div class="content-list-header"></div>
				<div class="content-list-name">Places</div>
				<ul class="content-list">
				#set($shownHeader = true)
			#end
			#if ($result.ContentType == 'blogapp')
				<li class="content-item"><a target="_blank" href="$core_v2_encoding.HtmlAttributeEncode($result.Url)" class="internal-link weblog"><span>Blogs - $result.Title</span></a>
			#elseif ($result.ContentType == 'forumapp')
				<li class="content-item"><a target="_blank" href="$core_v2_encoding.HtmlAttributeEncode($result.Url)" class="internal-link forum"><span>Forums - $result.Title</span></a>
			#elseif ($result.ContentType == 'fileapp')
				<li class="content-item"><a target="_blank" href="$core_v2_encoding.HtmlAttributeEncode($result.Url)" class="internal-link media-gallery"><span>Files - $result.Title</span></a>
			#else
				<li class="content-item"><a target="_blank" href="$core_v2_encoding.HtmlAttributeEncode($result.Url)" class="internal-link wiki"><span>Wikis - $result.Title</span></a>
			#end
		#end
	#end
	#if ($shownHeader)
		</ul>
		<div class="content-list-footer"></div>
	#end

	#set($shownHeader = false)
	#foreach($result in $results)
		#if ($result.ContentType != 'blogapp' && $result.ContentType != 'forumapp' && $result.ContentType != 'fileapp' && $result.ContentType != 'wikiapp' && $result.ContentType != 'page' && $result.ContentType != 'file' && $result.ContentType != 'forum' && $result.ContentType != 'blog' && $result.ContentType != 'wiki' && $result.ContentType != 'user' && $result.ContentType != 'group' && $result.ContentType != 'forumreply')
			#if (!$shownHeader)
				<div class="content-list-header"></div>
				<div class="content-list-name">Other</div>
				<ul class="content-list">
				#set($shownHeader = true)
			#end
			<li class="content-item"><a target="_blank" href="$core_v2_encoding.HtmlAttributeEncode($result.Url)" class="internal-link view-post"><span>$result.Title</span></a>
		#end
	#end
	#if ($shownHeader)
		</ul>
		<div class="content-list-footer"></div>
	#end
#else
	<div class="message norecords">NoSearchResults</div>
#end
