/*.omnicell-create-implementation-room .field-item .field-item-input input,
.omnicell-create-implementation-room .field-item .field-item-input select,
.omnicell-create-implementation-room .field-item .field-item-input textarea { width: 97%;} */
.omnicell-create-implementation-room .field-item .field-item-input .submit-button { margin: 1px !important; padding: 4px !important; border: solid 1px #999; border-color: #ccc #999 #999 #ccc; background: #eee !important; color: #333; font-size: 14px; white-space: nowrap; display: inline-table; display: -moz-inline-box; display: inline-block; height: auto; line-height: normal !important; }
    .omnicell-create-implementation-room .field-item .field-item-input .submit-button.disabled { color: #aaa; }
    
.requiredtext { float: right; color: #f00; font-size: 15px; margin-top: 7px; }

.omnicell-create-implementation-room legend { background: #ccc; font-size: 21px; width: 97%; padding: 9px 15px; }
    .omnicell-create-implementation-room legend span { float: right; color: #f00; font-size: 15px; margin-top: 7px; }
    
.omnicell-create-implementation-room .field-item-header { font-size: 14px; }
.omnicell-create-implementation-room .header { font-size: 18px; font-weight: bold; padding-top: 25px;}
.omnicell-create-implementation-room .sub-header { font-size: 16px; clear: both; font-weight: bold; padding-top: 25px;}

.omnicell-create-implementation-room .left { float: left; clear: both;}
.omnicell-create-implementation-room .right { float: left; }
.omnicell-create-implementation-room .center { clear: none; float: left; margin-left:5px; }
    .omnicell-create-implementation-room .center.right { float: left; }

.omnicell-create-implementation-room .two { width: 49%; }
.omnicell-create-implementation-room .three { width: 30%; }
.omnicell-create-implementation-room .four { width: 23.5%; }
.omnicell-create-implementation-room .small { width: 15%; }

.omnicell-create-implementation-room .facility-name { width: 38%; }
.omnicell-create-implementation-room .facility-time-zone { width: auto; }
.omnicell-create-implementation-room .notes { clear:both; }
    .omnicell-create-implementation-room .notes textarea { height: 90px; }
.omnicell-create-implementation-room .field-item-description { color: #000; }
.omnicell-create-implementation-room .csn-input { width: 20%; }
.omnicell-create-implementation-room .room-type-input { width: 97%; }
.omnicell-create-implementation-room .field-item-exist { display: none; color: #000; }
.omnicell-create-implementation-room .field-item-csn-exists {
    display: none;
    color: red;
}

.omnicell-create-implementation-room input[type="submit"] {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #6bac39 !important;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border: 0 none;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-family: Arial,"Helvetica",sans-serif;
    font-size: 13px;
    height: 33px;
    line-height: 33px !important;
    margin-right: 10px;
    padding: 0 30px !important;
    transition: background-color 0.15s ease 0s;
}

.omnicell-create-implementation-room .room-info {
    font-weight: bold;
    font-size: 14px;
}

.country {margin-left:5px !important;}
