##set ($featuresGroupId = $omnicell_v1_featuretype.List())
##set ($features = $core_v2_group.List("%{ParentGroupId=$featuresGroupId,PageSize=100, IncludeAllSubGroups=1}"))
#set($pageUrl = $core_v2_page.Url)

#set ($selFeature = false)
#set ($selFeature = $core_v2_page.GetQueryStringValue('FeatureListId'))

#set ($featureText = $core_v2_language.GetResource('Omnicell_All_Features'))

#if($selFeature)
    #set($featureText = $selFeature)
#end

<span>$core_v2_language.GetResource('Omnicell_Feature_Label')</span><BR />
<a href="#" class="omnicell-filter-list-button"  id="$core_v2_widget.UniqueId('featureSelectionButton')"><span></span> $featureText</a>
<div id="$core_v2_widget.UniqueId('featureGroupMenuContainer')"></div>

<script type="text/javascript">
    var featureSelectButton = jQuery("#$core_v2_widget.UniqueId('featureSelectionButton')");
	var featureGroupsMenuContainer = jQuery("#$core_v2_widget.UniqueId('featureGroupMenuContainer')");
	var featureGroupsMenuContainerString = "$core_v2_widget.UniqueId('featureGroupMenuContainer')";
	var featureGroupsMenuContainer = jQuery('#' + featureGroupsMenuContainerString );	

   jQuery(function(){
//   jQuery(document).ready(function(){  
	featureGroupsMenuContainer.glowPopUpMenu({
		groupCssClass: 'menu moderation-content menu__moderation-content',
		itemCssClass: 'menu-item menu__moderation-content__menu-item',
		itemSelectedCssClass: 'menu-item hover menu__moderation-content__menu-item__hover',
		itemExpandedCssClass: 'menu-item expanded',
		position: 'down',
		zIndex: 100,
		iconWidth: 30,
		iconHeight: 30,
		menuItems: []
	});
    
    ##  featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'CabinetRemoteSupport',text:'Cabinet Remote Support',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=$core_v2_encoding.UrlEncode("UrlEncode"))',icon_url:''}));    
    ## mhunter - give option for all products
    featureGroupsMenuContainer.glowPopUpMenu('add', featureGroupsMenuContainer.glowPopUpMenu('createMenuItem', {id:'',text:'All Features',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=")',icon_url:'$group.AvatarUrl'}));	

    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'CabinetRemoteSupport',text:'Cabinet Remote Support',url:'$core_v2_page.AdjustQueryString($pageUrl,"FeatureListId=Cabinet Remote Support")',icon_url:''})); 
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'Carousel',text:'Carousel',url:'$core_v2_page.AdjustQueryString($pageUrl,"FeatureListId=Carousel")',icon_url:''})); 
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'CathRack',text:'Cath Rack',url:'$core_v2_page.AdjustQueryString($pageUrl,"FeatureListId=Cath Rack")',icon_url:''})); 
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'CSMCabinet',text:'CSM Cabinet',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=CSM Cabinet")',icon_url:''}));
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'CTUpgrade&FileManager',text:'CT Upgrade & File Manager',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=$core_v2_encoding.UrlEncode('CT Upgrade & File Manager')")',icon_url:''}));
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'CybernetAIO',text:'Cybernet AIO',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=Cybernet AIO")',icon_url:''})); 
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'DispensingAlerts',text:'Dispensing Alerts',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=Dispensing Alerts")',icon_url:''})); 
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'Drawer/CarrierModules',text:'Drawer/Carrier Modules',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=$core_v2_encoding.UrlEncode('Drawer/Carrier Modules')")',icon_url:''}));
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'ExternalReturnBin',text:'External Return Bin',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=External Return Bin")',icon_url:''})); 
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'FlexLock',text:'FlexLock',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=FlexLock")',icon_url:''})); 
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'InterfaceServices',text:'Interface Services',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=Interface Services")',icon_url:''})); 
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'ItemScan',text:'Item Scan',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=Item Scan")',icon_url:''}));
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'MedLookup',text:'Med Lookup',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=Med Lookup")',icon_url:''})); 
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'MedicationLabelPrinter',text:'Medication Label Printer',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=Medication Label Printer")',icon_url:''})); 
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'OCRA',text:'OCRA',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=OCRA")',icon_url:''})); 
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'OmniBuyer',text:'OmniBuyer',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=OmniBuyer")',icon_url:''}));
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'OmniDispenser',text:'OmniDispenser',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=OmniDispenser")',icon_url:''})); 
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'OmniExplorer',text:'OmniExplorer',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=OmniExplorer")',icon_url:''})); 
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'OmniRX',text:'OmniRX',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=OmniRX")',icon_url:''})); 
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'OmniTT',text:'OmniTT',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=OmniTT")',icon_url:''}));
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'OptiFlexCL',text:'OptiFlex CL',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=OptiFlex CL")',icon_url:''})); 
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'OptiFlexMS',text:'OptiFlex MS',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=OptiFlex MS")',icon_url:''})); 
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'OptiFlexSS',text:'OptiFlex SS',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=OptiFlex SS")',icon_url:''})); 
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'Packager',text:'Packager',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=Packager")',icon_url:''}));
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'PCBoxUpgrade',text:'PC Box Upgrade',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=PC Box Upgrade")',icon_url:''})); 
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'RemoteItems',text:'Remote Items',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=Remote Items")',icon_url:''})); 
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'RxScan',text:'Rx Scan',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=Rx Scan")',icon_url:''})); 
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'SafetyPak',text:'SafetyPak',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=SafetyPak")',icon_url:''}));
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'SafetyStock',text:'SafetyStock',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=SafetyStock")',icon_url:''})); 
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'SATOPrinter',text:'SATO Printer',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=SATO Printer")',icon_url:''})); 
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'SupplyMobileCart',text:'Supply Mobile Cart',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=Supply Mobile Cart")',icon_url:''})); 
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'SutureRack',text:'Suture Rack',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=Suture Rack")',icon_url:''}));
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'Touch&Go',text:'Touch & Go',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=$core_v2_encoding.UrlEncode('Touch & Go')")',icon_url:''})); 
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'VMWarev',text:'VMWare v',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=VMWare v")',icon_url:''}));
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'Suite',text:'Suite',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=Suite")',icon_url:''})); 
    featureGroupsMenuContainer.glowPopUpMenu('add',featureGroupsMenuContainer.glowPopUpMenu('createMenuItem',{id:'WorkflowRXServer',text:'WorkflowRX Server',url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=WorkflowRX Server")',icon_url:''}));


##	#foreach ($group in $features)
##		#set($groupUser = false)
##		#set($groupUser = $core_v2_groupUserMember.Get($group.Id, "%{UserId=$core_v2_user.Accessing.Id}"))
##		#if ($filterAllGroups == "false" || ($groupUser != false && $groupUser.IsDirectMember)) 
##			#set($selected = "")
##			#if($filterGroupId  == $group.Id)
##				#set($selectedFeatureGroup = $group.Name)
##			#end
##
##			featureGroupsMenuContainer.glowPopUpMenu('add', featureGroupsMenuContainer.glowPopUpMenu('createMenuItem', {
##				id:'$group.Id',
##				text:'$group.Name',
##				url:'$core_v2_page.AdjustQueryString($pageUrl, "FeatureListId=$group.Id")',
##				icon_url:'$group.AvatarUrl'
##			}));	
##		#end		
##
##	#end
	
	featureSelectButton.click(function()
	{
##		#if($filterAllGroups  == 'false')
			if (!featureGroupsMenuContainer.glowPopUpMenu('isOpen'))
				featureGroupsMenuContainer.glowPopUpMenu('open', this);
			else
				featureGroupsMenuContainer.glowPopUpMenu('close');
##		#end
		
##		event.preventDefault();
		return false;
	});
});
</script>

