$core_v2_page.SetContentType("text/css")

.media-gallery-post-list { }

 .media-gallery-post-list .filter-panel {}
    .media-gallery-post-list .filter-panel .filter-list { float: left; margin-bottom: 3px; }
 .media-gallery-post-list .filter-product-panel { clear:both; }
   .media-gallery-post-list .filter-product-panel .filter-products { float:right; line-height: 30px; position: relative; width: 165px; font-size: 12px; }
       .media-gallery-post-list .filter-product-panel .filter-products input { position: absolute; right: 0; top: 5px; }
    

 .media-gallery-post-list .resultscontainer { clear: both; padding-top: 10px; }

 .media-gallery-post-list a.omnicell-filter-list-button { padding:0 30px 0 4px; letter-spacing:0.4px; font-size: 11px; background: url("$core_v2_widget.GetFileUrl('btnFilter.png')") no-repeat scroll right -27px transparent; color: #6E727D; display: inline-block; font-weight: bold; height: 27px; line-height: 27px; margin-left: 10px; min-width: 50px; position: relative; z-index: 3; text-decoration:none; }
  .media-gallery-post-list a.omnicell-filter-list-button span { background: url("$core_v2_widget.GetFileUrl('btnFilter.png')") no-repeat scroll left top transparent; display: inline-block; height: 27px; left: -5px; position: absolute; top: 0; width: 7px;}
  
  
  .filter-header span {
  font-size: 16px;
  margin: 0 0 5px 0px;
  }
  
  .filter-header p {
  font-size: 12px;
  font-weight: normal;
  padding-right: 10px;
  }
  
  .content-fragment.media-gallery-post-list .filter {
  height: 55px !important;
  }
  
  .maindivcontainer {
  margin-top: 10px;
  }
  
  .save-link-btn {
  width: 30%;
  position: relative;
  top: 20px;
  }
  
    .add-more-link {
  float: right;
  font-style: italic;
  }

 .media-gallery-post-list .pager {
      width: 600px;
}