<div class="home-search-ask">
	<input type="text" name="search" placeholder="What do you need to know?" />
	<div class="submit-buttons">
		<div class="search-button">
			<a href="#"><img src="http://dev.myomnicell.com/cfs-file.ashx/__key/themefiles/s-7e987e474b714b01ba29b4336720c446-files/search_2D00_button.png" height="26" width="98" /></a>
		</div>
		<div class="ask-button">
			<a href="#"><img src="http://dev.myomnicell.com/cfs-file.ashx/__key/themefiles/s-7e987e474b714b01ba29b4336720c446-files/ask_2D00_button.png" height="26" width="98" /></a>
		</div>
	</div>
</div>