#set($searchText = $core_v2_page.GetQueryStringValue('w_searchtext'))
#set($groupId = $core_v2_page.GetQueryStringValue('w_groupId'))
#set($queryString = "q=$core_v2_encoding.UrlEncode($searchText)")

#set($query = "%{Query=$searchText,PageSize=10}")
#if($groupId && $groupId != '')
	$query.Add('Filters', "group::$groupId")
	#set($queryString = "$queryString&groups=$groupId")
#end

#set($results = $core_v2_searchResult.List($query))

#if ($results.Count > 0)
	<div><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_urls.Search("%{ QueryString = $queryString }"))" class="internal-link search"><span></span>$core_v2_language.GetResource('CF_Search_ShowAll')</a></div>

	#set($shownHeader = false)
	#foreach($result in $results)
		#if ($result.ContentType == 'group')
			#if (!$shownHeader)
				<div class="content-list-header"></div>
				<div class="content-list-name">$core_v2_language.GetResource('CF_Search_Group')</div>
				<ul class="content-list">
				#set($shownHeader = true)
			#end
			<li class="content-item"><a href="$core_v2_encoding.HtmlAttributeEncode($result.Url)" class="internal-link view-group"><span>$result.Title</span></a>
		#end
	#end
	#if ($shownHeader)
		</ul>
		<div class="content-list-footer"></div>
	#end

	#set($shownHeader = false)
	#foreach($result in $results)
		#if ($result.ContentType == 'user')
			#if (!$shownHeader)
				<div class="content-list-header"></div>
				<div class="content-list-name">$core_v2_language.GetResource('CF_Search_User')</div>
				<ul class="content-list">
				#set($shownHeader = true)
			#end
			<li class="content-item"><a href="$core_v2_encoding.HtmlAttributeEncode($result.Url)" class="internal-link view-user-profile"><span>$result.Title</span></a>
		#end
	#end
	#if ($shownHeader)
		</ul>
		<div class="content-list-footer"></div>
	#end

	#set($shownHeader = false)
	#foreach($result in $results)
		#if ($result.ContentType == 'wiki')
			#if (!$shownHeader)
				<div class="content-list-header"></div>
				<div class="content-list-name">$core_v2_language.GetResource('CF_Search_Wiki')</div>
				<ul class="content-list">
				#set($shownHeader = true)
			#end
			<li class="content-item"><a href="$core_v2_encoding.HtmlAttributeEncode($result.Url)" class="internal-link view-post"><span>$result.Title</span></a>
		#end
	#end
	#if ($shownHeader)
		</ul>
		<div class="content-list-footer"></div>
	#end

	#set($shownHeader = false)
	#foreach($result in $results)
		#if ($result.ContentType == 'blog')
			#if (!$shownHeader)
				<div class="content-list-header"></div>
				<div class="content-list-name">$core_v2_language.GetResource('CF_Search_Blog')</div>
				<ul class="content-list">
				#set($shownHeader = true)
			#end
			<li class="content-item"><a href="$core_v2_encoding.HtmlAttributeEncode($result.Url)" class="internal-link view-post"><span>$result.Title</span></a>
		#end
	#end
	#if ($shownHeader)
		</ul>
		<div class="content-list-footer"></div>
	#end

	#set($shownHeader = false)
	#foreach($result in $results)
		#if ($result.ContentType == 'forum' || $result.ContentType == 'forumreply')
			#if (!$shownHeader)
				<div class="content-list-header"></div>
				<div class="content-list-name">$core_v2_language.GetResource('CF_Search_Forum')</div>
				<ul class="content-list">
				#set($shownHeader = true)
			#end
			<li class="content-item"><a href="$core_v2_encoding.HtmlAttributeEncode($result.Url)" class="internal-link view-post"><span>$result.Title</span></a>
		#end
	#end
	#if ($shownHeader)
		</ul>
		<div class="content-list-footer"></div>
	#end

	#set($shownHeader = false)
	#foreach($result in $results)
		#if ($result.ContentType == 'file')
			#if (!$shownHeader)
				<div class="content-list-header"></div>
				<div class="content-list-name">$core_v2_language.GetResource('CF_Search_File')</div>
				<ul class="content-list">
				#set($shownHeader = true)
			#end
			<li class="content-item"><a href="$core_v2_encoding.HtmlAttributeEncode($result.Url)" class="internal-link view-post"><span>$result.Title</span></a>
		#end
	#end
	#if ($shownHeader)
		</ul>
		<div class="content-list-footer"></div>
	#end

	#set($shownHeader = false)
	#foreach($result in $results)
		#if ($result.ContentType == 'page')
			#if (!$shownHeader)
				<div class="content-list-header"></div>
				<div class="content-list-name">$core_v2_language.GetResource('CF_Search_CustomPage')</div>
				<ul class="content-list">
				#set($shownHeader = true)
			#end
			<li class="content-item"><a href="$core_v2_encoding.HtmlAttributeEncode($result.Url)" class="internal-link view-post"><span>$result.Title</span></a>
		#end
	#end
	#if ($shownHeader)
		</ul>
		<div class="content-list-footer"></div>
	#end

	#set($shownHeader = false)
	#foreach($result in $results)
		#if ($result.ContentType == 'blogapp' || $result.ContentType == 'forumapp' || $result.ContentType == 'fileapp' || $result.ContentType == 'wikiapp')
			#if (!$shownHeader)
				<div class="content-list-header"></div>
				<div class="content-list-name">$core_v2_language.GetResource('CF_Search_Places')</div>
				<ul class="content-list">
				#set($shownHeader = true)
			#end
			#if ($result.ContentType == 'blogapp')
				<li class="content-item"><a href="$core_v2_encoding.HtmlAttributeEncode($result.Url)" class="internal-link weblog"><span>$core_v2_language.GetResource('CF_Search_Blog') - $result.Title</span></a>
			#elseif ($result.ContentType == 'forumapp')
				<li class="content-item"><a href="$core_v2_encoding.HtmlAttributeEncode($result.Url)" class="internal-link forum"><span>$core_v2_language.GetResource('CF_Search_Forum') - $result.Title</span></a>
			#elseif ($result.ContentType == 'fileapp')
				<li class="content-item"><a href="$core_v2_encoding.HtmlAttributeEncode($result.Url)" class="internal-link media-gallery"><span>$core_v2_language.GetResource('CF_Search_File') - $result.Title</span></a>
			#else
				<li class="content-item"><a href="$core_v2_encoding.HtmlAttributeEncode($result.Url)" class="internal-link wiki"><span>$core_v2_language.GetResource('CF_Search_Wiki') - $result.Title</span></a>
			#end
		#end
	#end
	#if ($shownHeader)
		</ul>
		<div class="content-list-footer"></div>
	#end

	#set($shownHeader = false)
	#foreach($result in $results)
		#if ($result.ContentType != 'blogapp' && $result.ContentType != 'forumapp' && $result.ContentType != 'fileapp' && $result.ContentType != 'wikiapp' && $result.ContentType != 'page' && $result.ContentType != 'file' && $result.ContentType != 'forum' && $result.ContentType != 'blog' && $result.ContentType != 'wiki' && $result.ContentType != 'user' && $result.ContentType != 'group' && $result.ContentType != 'forumreply')
			#if (!$shownHeader)
				<div class="content-list-header"></div>
				<div class="content-list-name">$core_v2_language.GetResource('CF_Search_Other')</div>
				<ul class="content-list">
				#set($shownHeader = true)
			#end
			<li class="content-item"><a href="$core_v2_encoding.HtmlAttributeEncode($result.Url)" class="internal-link view-post"><span>$result.Title</span></a>
		#end
	#end
	#if ($shownHeader)
		</ul>
		<div class="content-list-footer"></div>
	#end
#else
	<div class="message norecords">$core_v2_language.GetResource('CF_Search_NoSearchResults')</div>
#end
