a:link, a:visited, a:hover, a:active {
 font-weight: bold;
}

.sidebar_links {
  list-style: none !important;
  padding-left: 0 !important;
  font-size: 16px;
}

.header-fragments .layout {
 border-top: none;
}
.header-fragments .layout .layout-content {
    background: #000000;
}
.header-fragments .content-fragment{
    margin: 0;
}
.header-fragments .content-fragment.site-user-navigation {
 margin: 0;
}
.header-fragments .layout .content-fragment.site-search {
 display:none;
}
.header-fragments .layout .header-top-content.with-adaptable-elements .layout-region.header {
 background: #444444;
    border:none;
    padding-bottom:1px;
}
.header-fragments .layout .header-top-content.with-adaptable-elements.scrolled .layout-region.header {
    border:none;
}
.header-fragments .layout .header-top-content.with-adaptable-elements.scrolled .layout-region.content {
    background: #000000;
    border: none;
}
.header-fragments .content-fragment.site-user-navigation .navigation-list.eyebrow{
 text-align: right;
}

.header-fragments .content-fragment.site-user-navigation .navigation-item.return-to-home{
 border-left: none;
 display: inline !important;
}
.header-fragments .content-fragment.site-user-navigation .navigation-item.user-information {
 padding-left:0;
 border-left:1px solid #999898;
}
.header-fragments .content-fragment.site-user-navigation .avatar {
 display: none;
}
.header-fragments .content-fragment.fetch-site-search fieldset.field-list ul.field-list {
    margin: 30px 0;
    float:right;
    max-width: 320px;
    width: 100%;
}
.header-fragments .content-fragment.fetch-site-search fieldset.field-list ul.field-list .field-item {
    float:left;
    margin:0;
    padding:0;
}
.header-fragments .content-fragment.fetch-site-search fieldset.field-list ul.field-list li:first-child {
  width: 90%;
  max-width: 295px;
}
.header-fragments .content-fragment.fetch-site-search fieldset.field-list ul.field-list .field-item .field-item-input {
    margin: 0;
    padding: 0;
}
.header-fragments .content-fragment.fetch-site-search .field-item-header{
    display:none;
}
.header-fragments .content-fragment.fetch-site-search .fetch_logo{
    margin: 30px;
}
.header-fragments .content-fragment.fetch-site-search .search {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    max-width:320px;
    width: 100%;
    padding-right:25px;
}
.header-fragments .content-fragment.fetch-site-search fieldset.field-list ul.field-list .field-item .field-item-input .internal-link.search-options:after {
    color: #bdc3c7;
    content: "\e803";
    cursor: pointer;
    display: block;
    font-family: Entypo;
    font-size: 20px;
    height: 20px;
    width: 20px;
    margin-top: -9px;
    margin-left: -25px;
}

/* search results menu popup */
.menu.search-content.results {
    width: 320px;
    background:#ffffff;
    border:solid 3px #F4F4F3;
    padding: 20px;
}
.menu.search-content.results .internal-link.search {
    display: block;
    margin: 1.5em 0;
}
.menu.search-content.results .content-list li.content-item {
    border-top: 1px dotted #40535c;
    padding: 1px 0;
}
.menu.search-content.results .content-list-footer {
    margin-bottom: 1.5em;
}

.menu.search-content.results fieldset.field-list {
    margin: 20px;
}
.menu.search-content.results fieldset.field-list li.field-item {
    border-bottom: 1px dotted #f4f4f3;
    margin: 10px 0;
}


/* options menu popup */
.menu.search-content.options {
    width: 200px;
    background:#ffffff;
    border:solid 3px #F4F4F3;
}
.menu.search-content.options fieldset.field-list {
    margin: 20px;
}
.menu.search-content.options .field-list .field-list-description {
    text-transform: uppercase;
    color: #f90;
}
.menu.search-content.options fieldset.field-list li.field-item {
    border-bottom: 1px dotted #f4f4f3;
    margin: 10px 0;
}
.menu.search-content.options fieldset.field-list li.field-item label.field-item-header {
    margin-left: 10px;
}
.menu.search-content.options fieldset.field-list li.field-item span.field-item-input {
    position: absolute;
    left: 10px;
    margin-top: -20px;
}



    .content-fragment-page {
        background: none repeat scroll 0 0 #FFFFFF;
        overflow: visible;
    }
    .content-fragment-page .content-fragment.with-header .content-fragment-header div {
        background-image:-moz-linear-gradient(53% 3% 180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%); 
        background-image:-webkit-gradient(linear,53% 3%,53% 97%,color-stop(0, rgb(146,203,99)),color-stop(1, rgb(101,159,53)));
        background-image:-webkit-linear-gradient(180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%);
        background-image:-o-linear-gradient(180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%);
        background-image:-ms-linear-gradient(180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%);
        background-image:linear-gradient(180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%);
        border-color:rgb(226,226,225);
        border-width:1px;
        -moz-border-radius:1px;
        -webkit-border-radius:1px;
        border-radius:1px;
        border-style:solid;
        -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff92cb63,endColorstr=#ff659f35,GradientType=0)";
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff92cb63,endColorstr=#ff659f35,GradientType=0);
        color: #FFF;
        font-size: 20px;
        padding: 5px 0 5px 10px;
    }
    /*
    .header-fragments-header {background:#000 url('/cfs-file.ashx/__key/themefiles/s-7e987e474b714b01ba29b4336720c446-files/fetch_5F00_header_5F00_bg.png');}
    .header-fragments {background-color: #000; min-height: 150px;}
    .header-fragments .layout {border-top: 0px;}
    */
/*
    .layout-region .header {  background: url("/cfs-file.ashx/__key/themefiles/s-7e987e474b714b01ba29b4336720c446-files/fetch_5F00_header_5F00_bg.png") repeat-x scroll left top rgba(0, 0, 0, 0); }
    .content-fragment-page.home { background: url('/cfs-file.ashx/__key/themefiles/sa-7e987e474b714b01ba29b4336720c446-files/fetch_5F00_header_5F00_bg.png') top left repeat-x; }
    .layout-content.header-top-content-left-sidebar-right .layout-region.header {background:#000 url('http://dev.myomnicell.com/cfs-file.ashx/__key/widgetcontainerfiles/7e987e474b714b01ba29b4336720c446-c6108064af6511ddb074de1a56d89593-54-header-header/1223591672_2D00_fetch_5F00_header_5F00_bg.png') top left repeat-x; z-index:1; }
*/
    
    .layout-content.header-top-content-left-sidebar-right .layout-region.header  {height:127px; margin-bottom:25px; text-align:right; }
    .layout-content.header-top-content-left-sidebar-right .layout-region.header {border-top: 0px;}
    
    .content-fragment.site-user-navigation a {color: #FFFFFF !important; font-weight: normal; font-size: 14px;}
    
    .content-fragment.site-user-navigation .avatar img {display: none;}
    
    .view-user-profile {color: #FFFFFF !important; font-weight: normal !important;}
    
    .fetch_logo {margin-top:30px; float:left;}
    
    .search_placeholder {margin: 35px 0 0 137px; float:right; width:300px; }
    
    .return_btn {margin: 35px 0px 0px 55px; cursor: pointer; float:right; width:250px;}
    
    .page_titles h2 {color: #000 !important; font-size: 31px !important; font-weight: normal; padding: 29px 0 29px 12px !important;}
    
    .layout-content.content-left-sidebar-right .layout-region.right-sidebar {background-color: #fff;}
    .layout-content.header-top-content-left-sidebar-right .layout-region.right-sidebar { margin-bottom:-1500px; margin-left: 20px; padding-bottom: 1500px; width: 250px; }
    .layout-content.header-top-content-left-sidebar-right .layout-region.right-sidebar {background-color: #fff;}
    
    .sidebar_links {list-style:none; padding-left: 0; font-size:16px;}
    .sidebar_links li {margin:10px 0;}
    .sidebar_links li:first-child {margin:-10px 0 10px 0;}
    .sidebar_links a {color: #006699; font-weight:normal;}
    
    .read_more {float: right; padding: 10px 0; font-style: italic;}
    
    .content-fragment.group-banner .group-name {padding-left:0px;}
    .content-fragment.group-banner .group-avatar {display: none;}
    .content-fragment.group-banner .group-description {padding-left:0px}
    .content-fragment.group-banner .group-name {color: #000 !important; font-size: 31px !important; max-width:450px;}
    
    .content-fragment.with-header.thread .content-fragment-header {padding-left: 0px;}
    
    .content-fragment.thread .field-list .internal-link.add-post {display: none;}
    
    .content-fragment.thread .abbreviated-post .post-name {padding-left: 10px;}
    
    .view-user-profile {color: #999898 !important;}
    
    .content-fragment.thread-list .table-header-column.total-replies-sort, .content-fragment.thread-list .table-column.total-replies {vertical-align: middle;}
    
    .abbreviated-post .post-name {color: #7FA3B7 !important;}
    .content-fragment.thread .content-fragment-content {background-color: #FFF;}
    
    .content-fragment.thread .full-post .post-author {background-color: #FFF; border-bottom:none;}
    
    .abbreviated-post .post-name a {color: #006699 !important; font-size: 16px !important;}
    
    .content-fragment.media-gallery-post-list .filter.detail {padding-top: 0;}
    .content-fragment.media-gallery-post-list .filter {height: 70px !important;}
    .filter-header {padding: 0 0 20px 20px; font-size: 18px;font-weight: bold;}
    
    .ticketButton {width: 212px; height: 34px; background-image: url('/cfs-file.ashx/__key/themefiles/s-7e987e474b714b01ba29b4336720c446-files/blue_5F00_btn.png'); margin: 0 auto;}
    .ticketButton a {color:#fff; font-size: 14px;font-weight: normal;}
    .ticketButton span {padding: 8px 5px 0px 9px; display: block;}
    
    .new-ir-button {margin: 10px 0;}
    
    .layout-content.header-top-content-left-sidebar-right .layout-region.content{
        border-right:1px solid #D4E7C4;
     margin-top:10px;
     padding-right:20px;
    }
    
    .content-fragment.blog-post-list .content-fragment-header .internal-link.rss {top:15px !important;}

    .content-fragment.site-search {position: relative; top: -50px; margin: 35px 0 0 137px; float:right; z-index:900;};

/*
    .content-fragment-page.home {
    background: url('/cfs-file.ashx/__key/themefiles/g-25-7e987e474b714b01ba29b4336720c446-files/fetch_5F00_header_5F00_bg.png') top left repeat-x;
    }
    
    .content-fragment-page {
    background: url('/cfs-file.ashx/__key/themefiles/s-7e987e474b714b01ba29b4336720c446-files/fetch_5F00_header_5F00_bg.png') top left repeat-x !important;
    }
  */  
    .content-fragment.site-search fieldset {padding: 51px 0 0 0;}
    
    #newpostbutton {
    border-bottom: none;
    margin: 0px 0px;
    top: 52px;
    position: relative;
    }
    
    .content-fragment.group-application-navigation .internal-link.add-post {background: none !important;font-size:12px;color:#fff !important;right:-60px;top: -15px;}   

    .count.reply-count {display:none;}
    .content-fragment.group-accessibility-information .message.disclaimer {display:none;}
    .post-like {display: inline-block; width: 80px;}
    /* styles for the private employees only widget */
     .fRight {
        text-align: right;
        font-style: italic;
        padding-top: 5px;
    }
    
    .full-post .post-preview {display: none;} /* IE8 conditional */
   

.content-fragment-page .content-fragment.with-header .content-fragment-header {
  background-image: -moz-linear-gradient(53% 3% 180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%);
  background-image: -webkit-gradient(linear,53% 3%,53% 97%,color-stop(0, rgb(146,203,99)),color-stop(1, rgb(101,159,53)));
  background-image: -webkit-linear-gradient(180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%);
  background-image: -o-linear-gradient(180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%);
  background-image: -ms-linear-gradient(180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%);
  background-image: linear-gradient(180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%);
  border-color: rgb(226,226,225);
  border-width: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  border-style: solid;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff92cb63,endColorstr=#ff659f35,GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff92cb63,endColorstr=#ff659f35,GradientType=0);
  color: #FFF !important;
  font-size: 20px !important;
  padding: 8px 0 8px 10px !important;
  font-weight: bold;
  line-height: 1em;
  letter-spacing: -1px;
}

.content-list .content-item {
  margin: 0;
  padding: .1em 0;
  border-bottom: dotted 1px #ccc;
}

.abbreviated-post .post-author, .abbreviated-post .post-date, .abbreviated-post .post-application, .abbreviated-post .post-actions {
  font-size: 11px;
  color: #666;
}

.abbreviated-post .post-date {
  display: inline;
}

.field-item .field-item-input .submit-button, fieldset .button {
  margin: 1px !important;
  padding: 4px !important;
  border: solid 1px #999;
  border-color: #ccc #999 #999 #ccc;
  background: #eee !important;
  color: #333;
  font-size: 14px;
  white-space: nowrap;
  display: inline-table;
  display: -moz-inline-box;
  display: inline-block;
  height: auto;
  line-height: normal !important;
}

.media-gallery-post .post-like .like-toggle {
    float: left;
}

.content-fragment.media-gallery-post .full-post .fiji-favorite-post {
    float: left;
  display: inline-block;
  font-size: 13px;
  padding: 6px 10px 8px 6px;
}

.content-fragment.forum-links .navigation-list-item .internal-link {
  padding-left: 18px;
  position: relative;
  font-weight: normal;
}

.content-fragment.forum-links .navigation-list-item .internal-link span {
  background-image: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_sprite.gif');
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  line-height: 15px;
  width: 16px;
  height: 15px;
}

.content-fragment.forum-links .navigation-list-item .internal-link.subscription-off span {
  background-position: 0 -1524px;
  left: 2px;
}

.content-fragment.forum-links .navigation-list-item .internal-link.view-control-panel span {
  background-position: 0 -338px;
}

.content-fragment.forum-links .navigation-list-item .internal-link.rss span {
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_rss.gif') center center no-repeat;
}

.content-fragment.forum-links .navigation-list-item .internal-link.mark-all-read span {
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_mark_2D00_read.gif') center center no-repeat;
}

.content-fragment.forum-links .navigation-list-item .internal-link.favorite-off span {
  background-position: 2px -510px;
}

.content-fragment.forum-links .navigation-list-item .internal-link.email-post span {
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_share.gif') no-repeat center center;
}

.content-fragment.forum-links .navigation-list-item .internal-link.add-application span {
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_add.gif') center center no-repeat;
}

/* MEDIA GALLERY LINKS */

.content-fragment.media-gallery-links .navigation-item .internal-link.view-application span {
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_sprite.gif') 0 -1807px no-repeat;
}

.content-fragment.media-gallery-links .navigation-item .internal-link.view-slideshow span {
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_slideshow.gif') center center no-repeat;
}

.content-fragment.media-gallery-links .navigation-item .internal-link.rss span {
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_sprite.gif') 0 -1402px no-repeat;
}

.content-fragment.media-gallery-links .navigation-item .internal-link.edit-application span {
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_settings.gif') center center no-repeat;
}

.content-fragment.media-gallery-links .navigation-item .internal-link.add-application span {
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_add.gif') center center no-repeat;
}

.content-fragment.media-gallery-links .navigation-item .internal-link.add-post span {
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_add.gif') center center no-repeat;
}

@media only screen and (max-width: 570px) {
  body {
    padding-top: 0 !important;
  }
  .single-column {
    width: 100%;
    overflow: hidden;
  }
  .header-logo-mobile {
    display: none !important;
  }
  .header-fragments .content-fragment.site-user-navigation .navigation-list.eyebrow {
    text-align: left;
  }
  .content-fragment.site-user-navigation .navigation-item {
    line-height: 30px;
  }
  .header-fragments .content-fragment.site-user-navigation .navigation-item.return-to-home {
    display: block !important;
  }
  .header-fragments .content-fragment.site-user-navigation .navigation-item.user-information {
    border-left: none;
  }
  .content-fragment.site-user-navigation a {
    font-size: 12px;
  }
  fieldset .field-list .field-item .field-item-input .processing::before, 
  fieldset .field-list .field-item .field-item-input .processing .ie7_before {
    position: relative;
  }
  .header-fragments .content-fragment.fetch-site-search .fetch_logo
  {
    margin:20px 0 0 20px; 
    float:none;
  }

  .header-fragments .content-fragment.fetch-site-search fieldset.field-list ul.field-list {
      margin: 20px 0 0 20px;
      float:none;
  }

  .fetch-site-search .field-list  {
    padding-bottom: 20px;
  }
}
