$core_v2_page.SetContentType("text/css")

#simplemodal-container {
 /*   background-color: #FFF; */
    padding: 20px;
    /* height: 550px; */
    /* width: 560px; */
   /*overflow: hidden; */
}

#simplemodal-container a.modalCloseImg {
    background:url($core_v2_widget.GetFileUrl('x.png')) no-repeat; /* adjust url as required */
    width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-18px;
	cursor:pointer;
}

.emailTable {
    margin: 10px; 
    border-spacing: 10px;
    border-collapse: separate;
}

.video-suggestion .emailForm {
    margin: 5px;
    padding: 15px;
    background-color: #999;
    display: none;
}

.video-suggestion .emailTable {
    margin: 0 auto;
    padding: 15px;
    background-color: #999;

}
.video-suggestion table.emailTable td {
    margin: 0px;
    padding: 0px;
}

.emailError {
    display: none;
    color: red;
}

.video-suggestion input {
    width: 200px;
}

.video-suggestion .emailbody {
  resize: none;  
}


.video-suggestion .submitEmail {
    width: 100px;
}

.vid-link a {
    background-color: #5f9933;
    color: #fff !important;
    padding: 10px;
}

.vid-link a:hover {
    text-decoration: none;
}

.submitemail {
   background-color: #5f9933;
   border-color: #5f9933;
   color: #fff !important;
   padding: 10px;
}

.video-suggestion input[type=button] {
   /* background: url('/cfs-file.ashx/__key/communityserver-components-sitefiles/cara_2D00_button_2D00_bg.png') repeat-x;
    text-indent:;
    width:125px;
    height:38px;
    font-family: "LeagueGothicRegular";
    font-size: 20px;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none; */
}
.video-suggestion .submitEmail:hover { text-decoration: none; color: rgb(170, 213, 237); }

.modalWindow {position: absolute;right: 20px;top: 20px;}