$core_v2_page.SetContentType("text/css")

.content-fragment.blog-post-list .content-list.simple .abbreviated-post {
  padding: 3px 0;
  min-height: 0;
}

.content-fragment.blog-post-list .content-list.simple .post-name {
  font-size: 14px;
  margin: 0 0 3px;
}

.content-fragment.blog-post-list .content-list.simple .content-item .post-date .label {
  display: none;
}

.content-fragment.blog-post-list .content-list .post-date .value {
  margin-left: 0px;
  float: left;
}

.content-fragment.blog-post-list .content-list.simple .post-author .avatar {
  display: none;
}

.content-fragment.blog-post-list .content-list.simple .content-item.simple {
  padding: .1em 0;
}
