$core_v2_widget.ExecuteFile("subview-perform-query.vm")
#set($querySortBy = $core_v2_page.GetQueryStringValue('PostSortBy'))
#if(!$querySortBy)
	#set($querySortBy = $postSortBy)
#end

#set($standardView = $core_v2_language.Lowercase($core_v2_page.GetCookieValue('BlogPostList-ViewType')))
#if(!$standardView || $standardView.length == 0)
	#set($standardView = $core_v2_language.Lowercase($core_v2_widget.GetStringValue('viewDetail', 'List')))
#end

<div class="navigation-list-header"></div>
<div class="navigation-list-footer"></div>
<div>
	<div class="filter">

		<div class="query-type">
			<span class="filter-label">$core_v2_language.GetResource('Hubs_SortBy')</span>
			<span class="filter-option #if($querySortBy == 'MostRecent') selected #end">
				<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "PostSortBy=MostRecent&$core_v2_ui.PageIndexQueryStringKey=1"))">
					$core_v2_language.GetResource('MostRecent')
				</a>
			</span>
##			<span class="separator">|</span>
			<span class="filter-option #if($querySortBy == 'MostViewed') selected #end">
				<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "PostSortBy=MostViewed&$core_v2_ui.PageIndexQueryStringKey=1"))">
					$core_v2_language.GetResource('MostViews')
				</a>
			</span>
##			<span class="separator">|</span>
			<span class="filter-option #if($querySortBy == 'MostComments') selected #end">
				<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "PostSortBy=MostComments&$core_v2_ui.PageIndexQueryStringKey=1"))">
					$core_v2_language.GetResource('MostComments')
				</a>
			</span>
		</div>

##		<div class="view-type">
##			<span class="filter-option #if($standardView == 'list') selected #end ">
##				<a href="#" title="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('Weblog_ListView'))" class="internal-link view-list">
##					$core_v2_language.GetResource('Weblog_ListView')
##				</a>
##			</span>
##			<span class="separator">|</span>
##			<span class="filter-option #if($standardView == 'detail') selected #end ">
##				<a href="#" title="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('Weblog_DetailView'))" class="internal-link view-detail-list">
##					$core_v2_language.GetResource('Weblog_DetailView')
##				</a>
##			</span>
##		</div>

	</div>

	<div class="content-list-header standard"></div>
	<ul class="content-list standard">
		$core_v2_widget.ExecuteFile("subview-render-standard.vm")
	</ul>
	<div class="content-list-footer standard"></div>

	$core_v2_ui.Pager($posts.PageIndex, $posts.PageSize, $posts.TotalCount)

</div>