<div class="setting-list-header"></div>
<fieldset class="setting-list">
	 <legend class="setting-list-description">${core_v2_language.GetResource("EditProfile_OptionsTitle")}</legend>
	 <ul class="setting-list">
		## <li class="setting-item setting-editor">
		## 	<div class="setting-item-label">
		## 		<label class="setting-item-header" for="$core_v2_widget.UniqueId('EditorList')">${core_v2_language.GetResource("EditProfile_Editor")}</label>
		## 	</div>
		## 	<span class="setting-item-input">
		## 		#foreach($editor in $core_v2_configuration.Editors)
		## 		#beforeall
		## 			<select id="$core_v2_widget.UniqueId('EditorList')" name="$core_v2_widget.UniqueId('EditorList')">
		## 		#each
		## 			<option value="$editor.Value"#if ($editor.Value == $user.EditorType) selected="selected"#end>$editor.Name</option>
		## 		#afterall
		## 			</select>
		## 		#end
		## 	</span>
		## </li>
		#if (${core_v2_configuration.EnableDisplayNames})
			<li class="setting-item setting-enable-display-names">
				<div class="setting-item-label"><label class="setting-item-header" for="$core_v2_widget.UniqueId('EnableDisplayNames')">${core_v2_language.GetResource("EditProfile_DisplayName")}</label></div>
				<span class="setting-item-input"><input type="checkbox" id="$core_v2_widget.UniqueId('EnableDisplayNames')" #if (${user.EnableDisplayName}) checked="checked" #end /></span>
			</li>
		#end
		<li class="setting-item setting-display-in-member-list">
			<div class="setting-item-label"><label class="setting-item-header" for="$core_v2_widget.UniqueId('EnableDisplayInMemberList')">${core_v2_language.GetResource("EditProfile_DisplayInMemberList")}</label></div>
			<span class="setting-item-input"><input type="checkbox" id="$core_v2_widget.UniqueId('EnableDisplayInMemberList')" #if (${user.EnableDisplayInMemberList}) checked="checked" #end /></span>
		</li>
		#if (${core_v2_configuration.EnableEmoticons})
		<li class="setting-item setting-enable-emoticons">
			<div class="setting-item-label"><label class="setting-item-header" for="$core_v2_widget.UniqueId('EnableEmoticons')">${core_v2_language.GetResource("Admin_SiteSettings_EnableEmoticons")}</label></div>
			<span class="setting-item-input"><input type="checkbox" id="$core_v2_widget.UniqueId('EnableEmoticons')" #if (${user.EnableEmoticons}) checked="checked" #end /></span>
		</li>
		#end
		#if ($core_v2_configuration.EnableSignatures)
			<li class="setting-item setting-enable-user-signatures">
				<div class="setting-item-label"><label class="setting-item-header" for="$core_v2_widget.UniqueId('EnableUserSignatures')">${core_v2_language.GetResource("EditProfile_EnableUserSignatures")}</label></div>
				<span class="setting-item-input"><input type="checkbox" id="$core_v2_widget.UniqueId('EnableUserSignatures')" #if (${user.EnableUserSignatures}) checked="checked" #end /></span>
			</li>
		#end
		## <li class="setting-item setting-time-zone">
		## 	<div class="setting-item-label"><label class="setting-item-header" for="$core_v2_widget.UniqueId('Timezone')">${core_v2_language.GetResource("EditProfile_AboutTimeZone")}</label></div>
		## 	<span class="setting-item-input">
		## 		#foreach($timezone in $core_v2_configuration.TimeZones)
		## 		#beforeall
		## 			<select id="$core_v2_widget.UniqueId('Timezone')" name="$core_v2_widget.UniqueId('Timezone')">
		## 		#each
		## 			<option value="$timezone.Id"#if ($timezone.Id == $user.TimeZoneId) selected="selected"#end>$timezone.Name</option>
		## 		#afterall
		## 			</select>
		## 		#end
		## 	</span>
		## </li>
		## <li class="setting-item setting-date-format">
		## 	<div class="setting-item-label"><label class="setting-item-header" for="$core_v2_widget.UniqueId('DateFormat')">${core_v2_language.GetResource("EditProfile_OptionsDateFormat")}</label></div>
		## 	<span class="setting-item-input">
		## 		#foreach($format in $core_v2_configuration.GetDateFormats($language))
		## 		#beforeall
		## 			<select id="$core_v2_widget.UniqueId('DateFormat')" name="$core_v2_widget.UniqueId('DateFormat')">
		## 		#each
		## 			<option value="$core_v2_encoding.HtmlAttributeEncode($format.Format)"#if ($format.Format == $user.DateFormat) selected="selected"#end>$format.Name</option>
		## 		#afterall
		## 			</select>
		## 		#end
		## 	</span>
		## </li>
	 </ul>
##</fieldset>
 <div class="setting-list-footer"></div>
 <div class="setting-list-header"></div>
 <fieldset class="setting-list">
 	<legend class="setting-list-description">$core_v2_language.GetResource("Profile_EditApiKeys")</legend>
 	<ul class="setting-list">
 		<li class="setting-item setting-edit-api-keys">
 			<span class="setting-item-input"><a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_urls.ApiKeys())" class="internal-link edit-api-keys"><span></span>${core_v2_language.GetResource("Profile_EditApiKeysDescription")}</a></span>
 		</li>
 	</ul>
 </fieldset>
 <div class="setting-list-footer"></div>

