<div class="setting-list-header"></div>
<fieldset class="setting-list">
    <legend class="setting-list-description">$core_v2_language.GetResource("Core_EditUser_BasicInformation")</legend>
    <ul class="setting-list">
    	<li class="setting-item setting-name">
		#if ($core_v2_configuration.EnableDisplayNames)
	    		<div class="setting-item-label">
	    			<label class="setting-item-header" for="$core_v2_widget.UniqueId('CommonName')">${core_v2_language.GetResource("EditProfile_CommonName")}</label>
				</div>
				<span class="setting-item-input"><input type="text" size="30" maxlength="50" id="$core_v2_widget.UniqueId('CommonName')" value="${user.DisplayName}" /></span>
			</li>
		#end
		## <li class="setting-item setting-birthday">
		## 	<div class="setting-item-label">
    		## 	<label class="setting-item-header" for="$core_v2_widget.UniqueId('EnableBirthday')">${core_v2_language.GetResource("EditProfile_Birthday")}</label>
		## 	</div>
		## 	<span class="setting-item-input" id="$core_v2_widget.UniqueId('Birthday')">
		## 		#if ($user.Birthday)
		## 			<input type="radio" name="$core_v2_widget.UniqueId('Birthday')" value="NotSet" />$core_v2_language.GetResource("NotSet")
		## 			<input type="radio" name="$core_v2_widget.UniqueId('Birthday')" value="Set" checked="checked" />
		## 			<input type="text" id="$core_v2_widget.UniqueId('BirthdayDate')" value="$core_v2_language.FormatDate($user.Birthday, 'yyyy-MM-dd')" class="datetime-picker" />
		## 		#else
		## 			<input type="radio" name="$core_v2_widget.UniqueId('Birthday')" value="NotSet" checked="checked" />$core_v2_language.GetResource("NotSet")
		## 			<input type="radio" name="$core_v2_widget.UniqueId('Birthday')" value="Set" />
		## 			<input type="text" id="$core_v2_widget.UniqueId('BirthdayDate')" disabled="disabled" class="datetime-picker" />
		## 		#end
		## 	</span>
	## 	</li>
		#if ($core_v2_configuration.EnableGender)
			<li class="setting-item setting-gender">
				<div class="setting-item-label">
	    			<label class="setting-item-header" for="$core_v2_widget.UniqueId('Gender')">${core_v2_language.GetResource("EditProfile_AboutGender")}</label>
				</div>
				<span class="setting-item-input" id="$core_v2_widget.UniqueId('Gender')">
					<input type="radio" name="$core_v2_widget.UniqueId('Gender')" #if ($user.Gender == "" || $user.Gender == "NotSet") checked="checked" #end value="NotSet" />
					<label for="$core_v2_widget.UniqueId('GenderNotSet')">${core_v2_language.GetResource("NotSet")}</label>
					<input type="radio" name="$core_v2_widget.UniqueId('Gender')" #if ($user.Gender == "Male") checked="checked" #end value="Male" />
					<label for="$core_v2_widget.UniqueId('GenderMale')">${core_v2_language.GetResource("Male")}</label>
					<input type="radio" name="$core_v2_widget.UniqueId('Gender')" #if ($user.Gender == "Female") checked="checked" #end value="Female" />
					<label for="$core_v2_widget.UniqueId('GenderFemale')">${core_v2_language.GetResource("Female")}</label>
				</span>
			</li>
		#end
	## 	<li class="setting-item setting-language">
	## 		<div class="setting-item-label">
    ## 			<label class="setting-item-header" for="$core_v2_widget.UniqueId('Language')">${core_v2_language.GetResource("EditProfile_OptionsLanguage")}</label>
	## 		</div>
	## 		<span class="setting-item-input">
	## 			<select id="$core_v2_widget.UniqueId('Language')">
	## 				#foreach ($language in $core_v2_configuration.Languages)
	## 				#each
	## 					<option value="$language.Value" #if ($language.Value == $user.Language) selected="selected" #end>$language.Name</option>
	## 				#end
	## 			</select>
	## 		</span>
	## 	</li>
		<li class="setting-item setting-public-email">
			<div class="setting-item-label">
    			<label class="setting-item-header" for="$core_v2_widget.UniqueId('PublicEmail')">${core_v2_language.GetResource("EditProfile_ContactPublicEmail")}</label>
			</div>
			<span class="setting-item-input">
				<input type="text" size="30" maxlength="50" id="$core_v2_widget.UniqueId('PublicEmail')" name="$core_v2_widget.UniqueId('PublicEmail')" value="${user.PublicEmail}" />
			</span>
			<span class="setting-item-validation" style="display: none;"></span>
		</li>
## 		<li class="setting-item setting-share-favorites">
## 			<div class="setting-item-label">
 ##    			<label class="setting-item-header" for="$core_v2_widget.UniqueId('ShareFavorites')">${core_v2_language.GetResource("EditProfile_Favorites_Share")}</label>
## 			</div>
## 			<span class="setting-item-input" id="$core_v2_widget.UniqueId('ShareFavorites')">
## 				<input type="radio" name="$core_v2_widget.UniqueId('ShareFavorites')" value="on" #if ($user.EnableFavoriteSharing) checked="checked" #end />${core_v2_language.GetResource("Yes")}
## 				<input type="radio" name="$core_v2_widget.UniqueId('ShareFavorites')" value="off" #if (!$user.EnableFavoriteSharing) checked="checked" #end />${core_v2_language.GetResource("No")}
## 			</span>
## 		</li>
## 		<li class="setting-item setting-shared-feeds">
## 			<div class="setting-item-label">
##     			<label class="setting-item-header" for="$core_v2_widget.UniqueId('RssFeeds')">${core_v2_language.GetResource("ViewUserProfile_Tab_RssFeeds")}</label>
##     			<span class="setting-item-description">$core_v2_language.GetResource("EditProfile_RssFeeds")</span>
 ##    		</div>
## 			<span class="setting-item-input">
## 				<textarea cols="100" rows="5" id="$core_v2_widget.UniqueId('RssFeeds')">$!core_v2_utility.Join($core_v2_utility.NewLine, $user.RSSFeeds)</textarea>
## 			</span>
## 			<span class="setting-item-validation" style="display: none;"></span>
## 		</li>
		#if ($core_v2_configuration.EnableSignatures)
			<li class="setting-item setting-signature">
				<div class="setting-item-label">
	    			<label class="setting-item-header" for="$core_v2_widget.UniqueId('Signature')">${core_v2_language.GetResource("EditProfile_AboutSignature")}</label>
				</div>
				<span class="setting-item-input">$core_v2_editor.Render('Signature',"%{Width='100%',Height='250px',Value='$!user.Signature'}")</span>
				<span class="setting-item-validation" style="display: none;" id="$core_v2_widget.UniqueId('SignatureValidation')"></span>
			</li>
		#end
	</ul>
</fieldset>
<div class="setting-list-footer"></div>