#set($forum = $core_v2_forum.Current)
#set($thread = $core_v2_forumThread.Current)
#set($wikiPage = $core_v2_wikiPage.Current)
#set($currentUser = $core_v2_user.Current)
#set($accessingUser = $core_v2_user.Accessing)
#set($replies = [])
#set($isQuestionAndAnswer = false)
#set($showInlineReplies = $core_v2_widget.GetBoolValue('showInlineReplies', false))
#set($hasModeratePermission = $core_v2_nodePermission.Get('forums', $forum.Id, 'Forum_Moderate').IsAllowed)
#set($threadReplyUrl = $core_v2_page.AbsoluteUrl($core_v2_forumUrls.Thread($thread.Id)))
#set($hasModifyThreadPermission = $core_v2_nodePermission.Get("forums", $forum.Id, "Forum_ModifyPost", "%{ PostId = '${thread.Id}', PostType = 'threads'}").IsAllowed)
#set($removeCaptureButtonId = $core_v2_widget.UniqueId("deleteWikiPage"))
#set($posts = false)
#set($isOnFirstPage = true)
#set($pageIndex = $core_v2_ui.GetCurrentPageIndex())
#set($currentReply = false)
#set($currentReply = $core_v2_forumReply.Current)
#set($showRatingsOrLikes = $core_v2_widget.GetStringValue('showRatingsOrLikes', 'likes'))
#set($showRatings = false)
#if ($showRatingsOrLikes == 'ratings' || $showRatingsOrLikes == 'ratingsAndLikes')
	#set($showRatings = true)
#end
#set($showLikes = false)
#if ($showRatingsOrLikes == 'likes' || $showRatingsOrLikes == 'ratingsAndLikes')
	#set($showLikes = true)
#end

#if($thread.ThreadType == "QuestionAndAnswer")
    #set($isQuestionAndAnswer = true)
#end

#if(!$core_v2_nodePermission.Get('forums', $forum.Id, 'Forum_ReadForum').IsAllowed)
    $core_v2_widget.Hide()
#end

$core_v2_forumThread.IncrementViewCount($thread.Id)

#if($isQuestionAndAnswer)
	#if($currentReply && $currentReply.Id != $thread.Id)
		#set($pageIndex = $core_v2_forumReply.GetForumReplyPageIndex($thread.Id, $currentReply.Id, "%{PageSize = '15', IncludeThreadStarter = 'False'}"))
	#end
	#set($posts = $core_v2_forumReply.List($thread.Id, "%{PageIndex = $pageIndex, PageSize = 15, IncludeThreadStarter = 'False'}"))
#else
	#if($currentReply && $currentReply.Id != $thread.Id)
		#set($pageIndex = $core_v2_forumReply.GetForumReplyPageIndex($thread.Id, $currentReply.Id, "%{PageSize = '15', IncludeThreadStarter = 'True'}"))
	#end
    #set($posts = $core_v2_forumReply.List($thread.Id, "%{PageIndex = $pageIndex, PageSize = 15, IncludeThreadStarter = 'True'}"))
#end

#if ($posts)
#foreach($postItem in $posts)
	#set($lastPostId = $postItem.Id)
#end
#end

#set($totalCountPlusOne = $posts.TotalCount + 1)
#set($lastPageIndex = $core_v2_ui.GetLastPageIndex($posts.PageSize, $totalCountPlusOne))
#if($lastPageIndex && $lastPageIndex != $posts.PageIndex)
    #set($threadReplyUrl = $core_v2_page.AdjustQueryString($threadReplyUrl, "$core_v2_ui.PageIndexQueryStringKey=${lastPageIndex}"))
#end
#if($posts.PageIndex > 1)
    #set($isOnFirstPage = false)
#end

#if($wikiPage)
    #set($wikiPageUrl = $core_v2_wikiUrls.Page($wikiPage.Id))
	#set($wikiEditPageUrl = $core_v2_wikiUrls.EditPage($wikiPage.Id, $thread.Id))
    <div class="message capture">
        <strong>$core_v2_language.FormatString($core_v2_language.GetResource("Wiki_CapturedThread"), "<a href='$wikiPageUrl' class='internal-link view-post'>$wikiPage.Title</a>")</strong>
		#if($wikiEditPageUrl)
		<a href='$wikiEditPageUrl'>$core_v2_language.GetResource("Wiki_Recapture")</a>
		#end
        #if($hasModifyThreadPermission)
        #if($wikiEditPageUrl)<span class="separator">|</span>#end
        <a href="javascript:void(0);" id="$removeCaptureButtonId">$core_v2_language.GetResource("Wiki_Capture_Delete")</a>
        #end
    </div>
#end

#if($isQuestionAndAnswer)
    $core_v2_widget.ExecuteFile("view-questionandanswer.vm")
#else
    $core_v2_widget.ExecuteFile("view-flat.vm")
#end
#if($posts && $posts.TotalCount > 0)
    $core_v2_ui.Pager($posts.PageIndex, $posts.PageSize, $posts.TotalCount, "%{BaseUrl = '${threadReplyUrl}', ShowPrevious = 'true', ShowNext = 'true'}")
#end

<span class="processing" style="visibility: hidden;"></span>

#registerEndOfPageHtml('telligent.evolution.widgets.thread')
    <script type="text/javascript" src="$core_v2_encoding.HtmlAttributeEncode($core_v2_widget.GetFileUrl('ui.js'))"></script>
#end
#registerEndOfPageHtml()
    <script type="text/javascript">
    //<![CDATA[
    jQuery(function(){
    #set ($allTags = '')
    #if ($hasModifyPostPermission)
			#set ($tags = $core_v2_utility.Slice($core_v2_tags.ToStrings($core_v2_forum.ListTags("%{ ForumId = $forum.Id }")), 0, 100))
            #foreach($tag in $tags)
                #each
                    #set($allTags = "$allTags'$core_v2_encoding.JavascriptEncode($core_v2_encoding.HtmlDecode($tag))'")
                #between
                    #set($allTags = "$allTags,")
            #end
    #end
            jQuery.telligent.evolution.widgets.thread.register({
				wrapperSelector: '#$core_v2_encoding.JavascriptEncode($core_v2_widget.WrapperElementId)',
				threadId:$thread.Id,
				forumId:$forum.Id,
				advancedReplyUrl:"$core_v2_encoding.JavascriptEncode($core_v2_widget.GetExecutedFileUrl('advanced-reply.vm'))",
				replyUrl:"$core_v2_encoding.JavascriptEncode($core_v2_widget.GetExecutedFileUrl('reply.vm'))",
				threadReplyUrl: "$core_v2_encoding.JavascriptEncode($threadReplyUrl)",
				markAnswerUrl: "$core_v2_encoding.JavascriptEncode($core_v2_widget.GetExecutedFileUrl('markanswer.vm'))",
				isQuestion: #if($isQuestionAndAnswer) true #else false #end,
				showInlineReplies: #if($showInlineReplies) true #else false #end,
				replyBodyRequiredText: "$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('ForumApplication_MissingBody'))",
				removeCaptureButtonSelector: '#${removeCaptureButtonId}',
				deleteWikiConfirmationText: "$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('CF_ForumThread_ConfirmDeleteLink'))",
				deletePageAssociationUrl: "$core_v2_encoding.JavascriptEncode($core_v2_widget.GetExecutedFileUrl('delete-page-association.vm'))",
				moderationMenuUrl: "$core_v2_encoding.JavascriptEncode($core_v2_widget.GetExecutedFileUrl('moderation-menu.vm'))",
				totalPosts: #if ($posts) $posts.Count #else 0 #end,
				toggleLockErrorMessage: "$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('ModerateThread_Lock_Toggle_Error'))",
				toggleUserModerationErrorMessage: "$core_v2_encoding.JavascriptEncode($core_v2_language.GetResource('ModerateThread_UserModeration_Toggle_Error'))",
				toggleLockUrl: "$core_v2_encoding.JavascriptEncode($core_v2_widget.GetExecutedFileUrl('toggle-lock.vm'))",
				toggleUserModerationUrl: "$core_v2_encoding.JavascriptEncode($core_v2_widget.GetExecutedFileUrl('toggle-user-moderation.vm'))"
            });
    });
    //]]>
    </script>
#end