#set($verifiedAnswers = $core_v2_forumReply.List($thread.Id, "%{ ForumReplyQueryType = 'verified-answers', PageIndex = '0' }"))

#if($thread.ThreadStatus == "Answered")
<div class="abbreviated-post-header verified-answer"></div>
<div class="abbreviated-post verified-answer">
#elseif($thread.ThreadStatus == "AnsweredNotVerified")
<div class="abbreviated-post-header suggested-answer"></div>
<div class="abbreviated-post suggested-answer">
#else
<div class="abbreviated-post-header not-answered"></div>
<div class="abbreviated-post not-answered">
#end
    <h4 class="post-name">$thread.Subject</h4>
    <div class="post-status"><span></span>
#if($thread.ThreadStatus == "Answered")
        $core_v2_language.GetResource("Theme_Forum_ThisQuestionIsAnswered")
    </div>
</div>
<div class="abbreviated-post-footer verified-answer"></div>
#elseif($thread.ThreadStatus == "AnsweredNotVerified")
        $core_v2_language.GetResource("Theme_Forum_ThisQuestionHasSuggestedAnswers")
    </div>
</div>
<div class="abbreviated-post-footer suggested-answer"></div>
#else
        $core_v2_language.GetResource("Theme_Forum_ThisQuestionHasNoAnswers")
    </div>
</div>
<div class="abbreviated-post-footer not-answered"></div>
#end

#set($post = $thread)
$core_v2_widget.ExecuteFile("view-post.vm")

#if($isOnFirstPage)
    #if($verifiedAnswers && $verifiedAnswers.TotalCount > 0)
    <div class="content-list-header verified-answers"></div>
    <div class="content-list-name verified-answers">$core_v2_language.GetResource("PostQuestionAnswerView_AllVerifiedAnswer")</div>
    <ul class="content-list verified-answers">
        #foreach($post in $verifiedAnswers)
           <li class="content-item">
               $core_v2_widget.ExecuteFile("view-post.vm")
          </li>
      #end
    </ul>
    <div class="content-list-footer verified-answers"></div>
    #end
#end

#if ($posts && $posts.TotalCount > 0)
<div class="content-list-header all-replies"></div>
<div class="content-list-name all-replies">$core_v2_language.GetResource("PostQuestionAnswerView_AllReplies")</div>
<ul class="content-list all-replies">
#foreach($post in $posts)
    <li class="content-item">
        $core_v2_widget.ExecuteFile("view-post.vm")
    </li>
#end
</ul>
<div class="content-list-footer all-replies"></div>
#end