#set($pageIndex = 0)
#set($pageIndex = $core_v2_page.GetQueryStringValue('w_pageIndex'))
#set($searchText = $core_v2_page.GetQueryStringValue('w_searchText'))
#set($pageSize = $core_v2_widget.GetIntValue('itemsBeforeScroll', 5))
#set($sortBy = false)
#set($sortOrder = false)
#set($showSubGroups = $core_v2_widget.GetBoolValue('groupAndSubGroups', false))

#set($searchResults = $core_v2_gallery.Search($searchText, "%{GroupId=$core_v2_group.Current.Id,IncludeSubGroups=$showSubGroups,PageSize=$pageSize,PageIndex=$pageIndex}"))

#set($columnCount = 0)
#set($showSortOptions = false)
#set($hasResults = false)

<div class="table-list-header"></div>
<table class="table-list">
	$core_v2_widget.ExecuteFile('header.vm')
	<tbody>
	#foreach($searchResult in $searchResults)
	#each
		#set($gallery = false)
		#set($gallery = $core_v2_gallery.Get("%{Id=$searchResult.ContentId}"))
		#if($gallery)
			<tr class="table-item">
				#if($showTitle)
					<td class="table-column application-title">
						<a class="internal-link view-application" href="$core_v2_encoding.HtmlAttributeEncode($gallery.Url)">$gallery.Name</a>
						#if ($gallery && $core_v2_bookmark.SupportsBookmarks($core_v2_gallery.ContentTypeId) && $core_v2_bookmark.CanBookmark($gallery.ContentId, $core_v2_gallery.ContentTypeId) && $core_v2_bookmark.CanUnBookmark($gallery.ContentId, $core_v2_gallery.ContentTypeId))
							$core_v2_ui.Bookmark($gallery.ContentId, $core_v2_gallery.ContentTypeId)
						#end
						#if($gallery.Description)<span class="description">$gallery.Description</span>#end
					</td>
				#end
				#if($showGroup)
					<td class="table-column application-group">$gallery.Group.Name</td>
				#end
				#if($showPosts || $showLastPost)
					#set($pages = $core_v2_media.List("%{GalleryId=$gallery.Id,PageIndex=0,PageSize=1}"))
				#end
				#if($showPosts)
					<td class="table-column post-count">
						$pages.TotalCount
					</td>
				#end
				#if ($showLastPost)
					<td class="table-column post-date">
						#if($pages.TotalCount > 0)
							#set ($currentDateString = $core_v2_utility.CurrentDate.Today.ToShortDateString())
							#if ($gallery.LatestPostDate.ToShortDateString() == $currentDateString)
								$core_v2_language.GetResource('Today')
							#elseif($gallery.LatestPostDate.AddDays(1).ToShortDateString() == $currentDateString)
								$core_v2_language.GetResource('Yesterday')
							#else
								$core_v2_language.FormatDate($gallery.LatestPostDate)
							#end
						#else
							$core_v2_language.GetResource('NA')
						#end
					</td>
				#end
			</tr>
			#set($hasResults = true)
		#end
	#end
	#if(!$hasResults)
		<tr class="table-item"><td colspan="$columnCount"><div class="message norecords">$core_v2_language.GetResource('UIFragment_Core_BrowseApplication_NoResults')</div></td></tr>
	#end
</tbody>
</table>
<div class="table-list-footer"></div>
<div class="pager">
	#if($searchResults.PageIndex > 0)
		<a href="javascript:void(0)" class="previous"><span>$core_v2_language.GetResource('Utility_Pager_previousButton')</span></a>
		<span class="separator"></span>
	#end
	#if(($searchResults.PageIndex + 1) * $searchResults.PageSize < $searchResults.TotalCount)
		<a href="javascript:void(0)" class="next"><span>$core_v2_language.GetResource('Utility_Pager_nextButton')</span></a>
	#end
</div>