$core_v2_page.SetContentType("text/css")


.content-fragment.media-gallery-post-list .table-header {
  position: relative;
  margin-right: 12px;
  border-bottom: 1px solid #999;
}
.content-fragment.media-gallery-post-list .filter{
  height:50px !important;
}
.content-fragment.media-gallery-post-list .table-header-column.post-name {
  padding-left: 5px;
}
.content-fragment.media-gallery-post-list .table-header .table-header-column {
  padding: 8px 0px 0px 0px;
  border-top: 0px;
  border-bottom: 0px;
  color: #005AE1;
  line-height: 18px;
  text-align: left;
}
.content-fragment.media-gallery-post-list .table-header-column .internal-link.sort-ascending span {
  background-image: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/ascending.gif');
}
.content-fragment.media-gallery-post-list .table-header-column .internal-link.sort-descending span, .content-fragment.media-gallery-post-list .table-header-column .internal-link.sort-ascending span {
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/descending.gif') no-repeat top center;
  width: 10px;
  height: 6px;
  margin: 0;
  position: absolute;
  top: 6px;
  right: 0;
  padding: 0 3px;
}
.content-fragment.media-gallery-post-list .table-header-column .internal-link.selected {
  color: #333;
  font-weight: bold;
}
.content-fragment.media-gallery-post-list .table-header-column .internal-link.sort-descending, .content-fragment.media-gallery-post-list .table-header-column .internal-link.sort-ascending {
  background-image: none;
  width: auto;
  height: auto;
  padding: 0 18px 0 0;
  margin: 0;
  overflow: hidden;
  line-height: 18px;
  display: inline-table;
  display: -moz-inline-box;
  display: inline-block;
  position: relative;
  font-weight: normal;
}

.content-fragment.media-gallery-post-list .content-fragment-content {
  position: relative;
  padding-top: 10px;
}
.content-fragment.media-gallery-post-list .table-column.post-rating {
  text-align: right;
  padding-right: 6px;
}
.content-fragment.media-gallery-post-list .abbreviated-post .post-name {
  font-size: 12px;
  margin-bottom: 0;
  margin-right: 5px;
  overflow: hidden;
  padding-top: 14px;
}
.content-fragment.media-gallery-post-list .table-column {
  padding: 8px 0;
}
.content-fragment.media-gallery-post-list .table-item {
  border-bottom: 1px dotted #ccc;
}
.content-fragment.media-gallery-post-list .abbreviated-post {
  margin: 0;
  padding: 0;
}
.content-fragment.media-gallery-post-list .table-column .abbreviated-post .post-name {
  font-size: 12px;
  padding-top: 5px;
  overflow: hidden;
}
.content-fragment.media-gallery-post-list .table-list {
  position: relative;
  clear: both;
  width: 100%;
  overflow: hidden;
  table-layout: fixed;
  margin-top: 0;
}

.media-gallery-post-list .table-header-column.post-name, .media-gallery-post-list .table-column.post-name {
    width: 39%;
}
.media-gallery-post-list .post-type {
    width: 19%;
}
.media-gallery-post-list .post-group {
    width: 30%;
}
.media-gallery-post-list .post-rating {
    width: 12%;
}
.media-gallery-post-list .table-header-column.post-group {
    color: #77BF40 !important;
    font-weight: normal;
}
.media-gallery-post-list .table-header-column.post-rating {
    color: #77BF40 !important;
    font-weight: normal;
}
.media-gallery-post-list .table-list {
    min-width: 550px;
    overflow: auto;
}

.media-gallery-post-list { }

 .media-gallery-post-list .filter-panel {}
    .media-gallery-post-list .filter-panel .filter-list { float: left; margin-bottom: 3px; }
 .media-gallery-post-list .filter-product-panel { clear:both; }
   .media-gallery-post-list .filter-product-panel .filter-products { float:right; line-height: 30px; position: relative; width: 165px; font-size: 12px; }
       .media-gallery-post-list .filter-product-panel .filter-products input { position: absolute; right: 0; top: 5px; }
    

 .media-gallery-post-list .resultscontainer { clear: both; padding-top: 10px; }

 .media-gallery-post-list a.omnicell-filter-list-button { padding:0 30px 0 4px; letter-spacing:0.4px; font-size: 11px; background: url("$core_v2_widget.GetFileUrl('btnFilter.png')") no-repeat scroll right -27px transparent; color: #6E727D; display: inline-block; font-weight: bold; height: 27px; line-height: 27px; margin-left: 10px; min-width: 50px; position: relative; z-index: 3; text-decoration:none; }
  .media-gallery-post-list a.omnicell-filter-list-button span { background: url("$core_v2_widget.GetFileUrl('btnFilter.png')") no-repeat scroll left top transparent; display: inline-block; height: 27px; left: -5px; position: absolute; top: 0; width: 7px;}
  
.media-gallery-post-list .message {
    font-size: 14px;
    font-weight: bold;
    margin: 1em 1em 1em 0;
    text-transform: uppercase;
    font-style: normal;
}

.media-gallery-post-list .message.norecords {
    background-color: #cadbee;
    border: 1px solid #300;
    color: #000;
    padding: 12px;
}