 .content-fragment.group-application-navigation.omnicellgroup-application-navigation .navigation-item a ,
     .content-fragment.group-application-navigation.omnicellgroup-application-navigation .navigation-item.selected a {
    font-size: 12px;
}

.content-fragment.group-application-navigation.omnicellgroup-application-navigation .internal-link.add-post {
    background: url("/cfs-file.ashx/__key/themefiles/s-7e987e474b714b01ba29b4336720c446-files/newpost.png") no-repeat scroll left top transparent;
    font-size: 0;
    padding: 3px 74px 0;
    right: 1px;
    top: -4px;
}