.content-fragment.group-application-navigation .navigation-item.selected a:link, .content-fragment.group-application-navigation .navigation-item.selected a:visited, .content-fragment.group-application-navigation .navigation-item.selected a:hover, .content-fragment.group-application-navigation .navigation-item.selected a:active {
font-size: 13px;
}
.content-fragment.group-application-navigation .navigation-item a {
    font-size: 13px !important;
}