#set($weblogs = false)
#set($weblogs = $core_v2_blog.ListForQuickPost())

#if(!$weblogs || $weblogs.Count == 0)
<div class="message directions">
	$core_v2_language.GetResource('CF_Core_QuickPost_NoWeblogs')
</div>
#else
<div class="field-list-header"></div>
<fieldset class="field-list">
	<legend class="field-list-description"><span>$core_v2_language.GetResource("CF_Core_QuickPost_QuickPost")</span></legend>
	<ul class="field-list">
		<li class="field-item post-to">
			<label class="field-item-header">$core_v2_language.GetResource('CF_Core_QuickPost_PublishToWeblog')</label>
			#if ($weblogs.Count > 1)
				<span class="field-item-input">
				<select>
				#foreach($weblog in $weblogs)
					<option value="$weblog.Id">$weblog.Name</option>
				#end
				</select>
				</span>
			#else
				#foreach($weblog in $weblogs)
					<span class="field-item-input" data-weblog-id="$weblog.Id">$weblog.Name</span>
				#end
			#end
		</li>
		<li class="field-item post-title">
			<label class="field-item-header" for="quickpost-title">$core_v2_language.GetResource("CF_Core_QuickPost_Title")</label>
			<span class="field-item-input">
			    <textarea rows="1" name="quickpost-title" maxlength="256" class="empty" value='$core_v2_language.GetResource("CF_Core_QuickPost_Title_Help")'></textarea>
			</span>
			<span class="field-item-validation"></span>
		</li>
		<li class="field-item post-body">
			<label class="field-item-header" for="quickpost-body">$core_v2_language.GetResource("CF_Core_QuickPost_Body")</label>
			<span class="field-item-input"><textarea rows="2" name="quickpost-body" class="empty">$core_v2_language.GetResource('CF_Core_QuickPost_Body_Help')</textarea></span>
			<span class="field-item-validation"></span>
		</li>
		<li class="field-item post-submit">
			<span class="field-item-input">
				<a href="javascript:void(0)" class="internal-link add-post add-post__disabled add-post__disabled__internal-link disabled disabled__internal-link"><span></span>$core_v2_language.GetResource("CF_Core_QuickPost_Post")</a>
				<a href="javascript:void(0)" class="internal-link advanced-post"><span></span>$core_v2_language.GetResource("CF_Core_QuickPost_AdvancedPost")</a>
			</span>
			<div style="clear: both;"></div>
		</li>
	</ul>
</fieldset>
<div class="field-list-footer"></div>
#end