#if ($core_v2_page.IsPost)
    #set($fileName = false)
	#set($fileIsRemote = false)
	#set($fileUrl = false)
	#set($fileContextId = false)
	#set($mediaId = false)

	#set($title = $core_v2_page.GetFormValue('Title'))
	#set($body = $core_v2_page.GetFormValue('Body'))
	#set($galleryId = $core_v2_utility.ParseInt($core_v2_page.GetFormValue('GalleryId')))
	#set($tags = $core_v2_page.GetFormValue('Tags'))
	#set($fileChanged = $core_v2_page.GetFormValue('FileChanged')) ## 1/0
	#set($fileName = $core_v2_page.GetFormValue('FileName')) ## set if file is updated
	#set($fileUrl = $core_v2_page.GetFormValue('FileUrl')) ## set if file is updated and remote
	#set($fileIsRemote = $core_v2_page.GetFormValue('FileIsRemote')) ## set if file is updated
	#set($fileContextId = $core_v2_page.GetFormValue('FileContextId')) ## set if file is updated and not remote
	#set($mediaId = $core_v2_utility.ParseInt($core_v2_page.GetFormValue('Id'))) ## set if media is being updated

	#set($options = "%{Name=$title,Description=$body,Tags=$tags}")
	#set($contentType = false)
	#if ($fileChanged == '1')
		#if ($fileIsRemote == '1')
			#set($contentType = $core_v2_ui.GetMimeType($fileUrl))
			$options.Add('FileUrl', $fileUrl)
			$options.Add('ContentType', $contentType)
		#else
			#set($file = false)
			#set($file = $core_v2_uploadedFile.Get($fileContextId, $fileName))
			#if ($file)
				#set($contentType = $core_v2_ui.GetMimeType($fileName))
				$options.Add('FileData',$file.FileData)
				$options.Add('FileName',$file.Name)
				$options.Add('ContentType', $contentType)
			#end
		#end
	#end

	#set($media = false)
	#if ($mediaId && $mediaId > 0)
		#set($media = $core_v2_media.Preview($galleryId, $mediaId, $options))
	#else
		#if (!$title)
			#set ($title = "")
		#end
		#if (!$fileName)
			#set ($fileName = "")
		#end
		#if (!$contentType)
			#set ($contentType = "")
		#end
		
		#set($media = $core_v2_media.Preview($galleryId, $title, $contentType, $fileName, $options))
	#end

	#if ($media)
		<div class="full-post-header"></div>
		<div class="full-post">
			<h3 class="post-name">$!media.Title</h3>
			#set ($mediaType = $core_v2_ui.GetMediaType($media.File.FileUrl))
			#if ($media.File && $media.File.FileUrl && ($mediaType == "Video" || $mediaType == "Image"))
				<div class="post-attachment-viewer">
					$!core_v2_ui.GetViewHtml($media.File.FileUrl, "%{Width = 500, Height = 400}")
				</div>
			#elseif ($media.File && $media.File.FileUrl)
				<div class="post-attachment">
					$!core_v2_ui.GetPreviewHtml($media.File.FileUrl, "%{Width = 114, Height = 114}")
				</div>
			#end
			<div class="post-content user-defined-markup">$body</div>
		</div>
		<div class="full-post-footer"></div>
	#else
		$core_v2_page.SetStatusCode(500)
	#end
#end