$core_v2_page.SetContentType("text/css")

.content-fragment.blog-post-list .content-list.simple .content-item {
  margin: 0;
  padding: .1em 0;
  border-bottom: dotted 1px #ccc;
}

.content-fragment.blog-post-list .content-list.simple .abbreviated-post {
  padding: 3px 0;
  min-height: 0;
}

.content-fragment.blog-post-list .content-list.simple .post-name {
  font-size: 14px;
  margin: 0 0 3px;
}

.content-fragment.blog-post-list .content-list .post-date .value {
  margin-left: 0px;
}

.content-fragment.blog-post-list .content-list.simple .abbreviated-post .post-author {
	display: inline;
}

.content-fragment.blog-post-list .content-list.simple .content-item .post-date .label,
.content-fragment.blog-post-list .content-list.simple .post-author .avatar {
  display: none;
}
