$core_v2_page.SetContentType("text/css")

.api-key-list .ticketButton {
        margin-top: 10px;
    }

@media screen and (max-width: 480px) {
    .api-key-list .ticketButton {
        margin-top: -30px;
    }
}

