##
## Form shown when a non-linked user attempts to log in via oauth and the oauth
## provider doesn't expose an email address of its own
##

<input type="hidden" name="$core_v2_encoding.HtmlAttributeEncode($actionInput)" id="$core_v2_encoding.HtmlAttributeEncode($actionInput)"	value="collect_email_address" />

<div class="page-header"></div>
<div class="page">
	<div class="page-content">

		<h2>$core_v2_language.GetResource('Login_Title')</h2>
		<h3></h3>

		<div class="field-list-header"></div>
		<fieldset class="field-list collect-email">
			<ul class="field-list collectemail">
				<li class="field-item user-name required">
					<div class="field-item-header"><label for="$core_v2_encoding.HtmlAttributeEncode($emailInput)">$core_v2_language.GetResource('Login_Email_Required')</label></div>
					<input type="text" name="$core_v2_encoding.HtmlAttributeEncode($emailInput)" id="$core_v2_encoding.HtmlAttributeEncode($emailInput)" maxlength="64" size="30" />
					<span class="field-item-validation" style="display: none;"></span>
				</li>
				<li class="field-item">
					<a class="internal-link collectemail submit-button" href="#"><span></span>$core_v2_language.GetResource('Login_Email_Button')</a>
					<span class="processing" style="visibility: hidden;"></span>
				</li>
			</ul>
		</fieldset>
		<div class="field-list-footer"></div>

	</div>
</div>
<div class="page-footer"></div>