##
## Sub-Form shown whenever user credentials need to be collected
##

<li class="field-item user-name required">
	<div class="field-item-header">
		<label for="$core_v2_encoding.HtmlAttributeEncode($usernameInput)">
			#if ($useCommunityNames)
				$core_v2_language.FormatString($core_v2_language.GetResource('Login_Community_UserName'), $siteInfo.SiteName)
			#else
				$core_v2_language.GetResource('Login_UserName')
			#end
		</label>
	</div>
	<span class="field-item-validation" style="display: none;"></span>
	<span class="field-item-input"><input name="$core_v2_encoding.HtmlAttributeEncode($usernameInput)" id="$core_v2_encoding.HtmlAttributeEncode($usernameInput)" maxlength="64" size="30" type="text"></span>
</li>
<li class="field-item password required">
	<div class="field-item-header">
		<label for="$core_v2_encoding.HtmlAttributeEncode($passwordInput)">
			#if ($useCommunityNames)
				$core_v2_language.FormatString($core_v2_language.GetResource('Login_Community_Password'), $siteInfo.SiteName)
			#else
				$core_v2_language.GetResource('Login_Password')
			#end
		</label>
	</div>
	<span class="field-item-validation" style="display: none;"></span>
	<span class="field-item-input"><input name="$core_v2_encoding.HtmlAttributeEncode($passwordInput)" id="$core_v2_encoding.HtmlAttributeEncode($passwordInput)" maxlength="64" size="30" type="password" autocomplete="off"></span>
</li>
