#set($pagedResults = $omnicell_v1_traininguser.ListMembers($groupId, $searchTextQSEmail, $searchTextQSCSN, $pageIndex, $pageSize))
<div class="resultscontainer">
    <div class="select-instr">Select Customer to Remove Access to Training</div>
    #foreach($member in $pagedResults)
    #beforeall
        <table id="$core_v2_widget.UniqueId('memberresults')" class="resultstable">
        <tr>
            <th class="results-header results-facility">$core_v2_language.GetResource('Facilty')</th>
            <th class="results-header results-csn">$core_v2_language.GetResource('CSN')</th>
            <th class="results-header results-name">$core_v2_language.GetResource('Name')</th>
            <th class="results-header results-email">$core_v2_language.GetResource('Email')</th>
			<th class="results-header results-authdate">$core_v2_language.GetResource('AuthorizedDate')</th>
            <th class="results-header results-checkbox"><a href="#" id="$core_v2_widget.UniqueId('memberCheckAllLink')"><span></span>$core_v2_language.GetResource('SelectAll')</a></th>
        </tr>
        #each
        <tr>
            <td class="results-facility">
                $member.User.ProfileFields.Get("Facility").Value
            </td>
            <td class="results-csn">
                $member.User.ProfileFields.Get("CSN").Value
            </td>
            <td class="results-name">
                $member.User.Displayname
            </td>
            <td class="results-email">
                $member.User.PrivateEmail
            </td>
			<td class="results-authdate">
				#if($member.User.ProfileFields.Get("AuthDate").Value != '')
					$core_v2_language.FormatDate($core_v2_utility.ParseDate($member.User.ProfileFields.Get("AuthDate").Value), "MM/dd/yyyy")
				#end
            </td>
            <td class="results-checkbox"><input type="checkbox" class="remove-checkbox" data-userid="$member.User.Id"/>
            </td>
        </tr>
    #afterall
    </table>
    
    #nodata
        No Members
    #end
</div>
<a href="#" class="omnicell-button" id="$core_v2_widget.UniqueId('memberExportButton')"><span></span>Export</a>
<a href="#" class="omnicell-button" id="$core_v2_widget.UniqueId('memberRemoveButton')"><span></span>Remove</a>

#registerEndOfPageHtml('omnicell.traininguser.subscriptionMemberSearch')
    <script type="text/javascript" src="$core_v2_encoding.HtmlAttributeEncode($core_v2_widget.GetFileUrl('ui.js'))"></script>
#end
#registerEndOfPageHtml()
    <script type="text/javascript">
        jQuery(function(){
            jQuery.omnicell.traininguser.subscriptionMember.register({
				exportButton: jQuery('#$core_v2_widget.UniqueId('memberExportButton')'),
                removeButton: jQuery('#$core_v2_widget.UniqueId('memberRemoveButton')'),
                checkAllLink: jQuery('#$core_v2_widget.UniqueId('memberCheckAllLink')'),
                resultsTable: jQuery('#$core_v2_widget.UniqueId('memberresults')'),
                exportUrl: '$core_v2_encoding.JavascriptEncode($core_v2_widget.GetExecutedFileUrl('member-csv.vm'))',
                removeUrl: '$core_v2_encoding.JavascriptEncode($core_v2_widget.GetExecutedFileUrl('remove-members.vm'))',
                groupId: '$core_v2_group.Current.Id'
			});
		});
	</script>
#end
