fieldset .field-list .field-item {
  margin: 10px 0 0px 0 !important;
}
a:link, a:visited, a:active {
  outline: none;
  color: #06d;
  text-decoration: none;
  font-weight: bold;
}
.field-item-header {
  font-weight: bold;
  display: block;
}
.field-item {
  margin: 0;
  padding: .5em 0;
}
fieldset.field-list {
  border: none;
  padding: 0;
}
.filter:hover .filter-option.selected a {
 background-color: inherit;
 color: #5F9933 !important
}
.tab-pane {
  background: #fff;
  border-top-width: 0;
  padding: 10px;
}
.post-moderate .ui-moderate a {
  display: none;
}

.icon, .icon span {
  background: url("http://www.omnicell.com/App_Themes/images/bg-sprite-8.png") no-repeat scroll 0 100px transparent;
  /* display: block; */
  font-size: 0 !important;
  overflow: hidden;
  position: relative;
}
.post-like {
  display: inline;
  font-size: 13px;
  padding: 6px 10px 8px 6px;
}


.content-fragment-page .content-fragment.with-header .content-fragment-header  {
  border: medium none;
  color: #53534B;
  font-size: 16px;
  margin-bottom: 8px;
  padding-bottom: 3px;
  text-transform: capitalize;
  border-bottom: 1px solid #D4E7C5;
}
.pager {
  text-align: center;
  margin-top: 5px;
}

.overflow-x-auto {
  overflow-x: auto;
}
.abbreviated-post .post-name {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 8px 0;
  color: #999;
}
.techDocsType {
  color: #666666;
  font-size: 10px;
}
.table-column {
  border-bottom: dotted 1px #ccc;
  padding: 8px;
  margin: 0;
}

.abbreviated-post {
  position: relative;
  padding: 10px 0 10px 46px;
  /* min-height: 46px; */
}
.table-header-column {
  border-top: dotted 1px #ccc;
  border-bottom: solid 1px #999;
  padding: 8px;
  font-size: 9px;
  margin: 0;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: left;
}
.table-list {
  margin: 1em 0;
  border-collapse: collapse;
}

/* BEGIN CUSTOM.CSS */

img {
  border: none;
}
.content-fragment.thread-list .abbreviated-post.verified-answered .post-thumbnail {
  background: url("/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/answered.png") repeat scroll 0 0 transparent;
  height: 16px;
  width: 16px;
  top: 0;
}
.content-fragment.thread-list .abbreviated-post.not-answered .post-thumbnail {
  background: url("/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/unanswered.png") repeat scroll 0 0 transparent;
  height: 16px;
  width: 16px;
  top: 0;
}
.header-fragments-header {
  background: none;
  background-color: #fff;
}
.header-fragments .layout  {
  border-top: 10px solid #F3F3F2;
}
.content-fragment-page {
  background: none;
  background-color: #fff;
  overflow:hidden;
}
.content-fragment.site-user-navigation a {
  color: #999898;
}
.content-fragment.site-user-navigation a {
    margin: 0 0 0 8px;
    padding: 0 0 0 8px;
}
/*breadcrumbs */

.breadcrumb-list{
  background-color: #F4F4F3;
  font-size: 10px;
  height: 33px; // *DL, was 21px;
  margin-top: 0;
  padding: 9px 0 0 0; // *DL was 10px 0 0 0;
}
.breadcrumb-item:last-child a {
  color: #52524a;
}

.breadcrumb-list .separator{
  background: url("/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/breadcrumbseparator.png") top right no-repeat;
  margin-top: 0;
  padding: 10px 0 7px;
  color: #F4F4F3;
}
.breadcrumb-list a, .breadcrumb-list a:link, .breadcrumb-list a:visited, .breadcrumb-list a:hover, .breadcrumb-list a:active {
    font-weight: normal;
    outline: medium none;
    text-decoration: none;
}
.breadcrumb-list .internal-link.view-home  {
  color: #5F9933;
  margin-left: -3px;
}
.breadcrumb-list .internal-link.view-home a, .breadcrumb-list .internal-link.view-home a:link, .breadcrumb-list .internal-link.view-home a:visited, .breadcrumb-list .internal-link.view-home a:hover, .breadcrumb-list .internal-link.view-home a:active  {
  color: #5F9933;
 }
.breadcrumb-list .breadcrumb-item a, .breadcrumb-list .breadcrumb-item  a:link, .breadcrumb-list .breadcrumb-item a:visited, .breadcrumb-list .breadcrumb-item a:hover, .breadcrumb-list .breadcrumb-item a:active{
    color: #79c041;
}
.breadcrumb-list.breadcrumb-item:last-child a, .breadcrumb-list .breadcrumb-item:last-child a:link, .breadcrumb-list .breadcrumb-item:last-child a:visited, .breadcrumb-list .breadcrumb-item:last-child a:hover, .breadcrumb-list .breadcrumb-item:last-child a:active{ 
  color: #52524a;
}
.breadcrumb-list .breadcrumb-item {
  background-color: #F3F3F2;
    color: #79c041;
    margin: 0 3px;
  padding-left: 5px;
}
/*custom home page banner */

.content-fragment .custom-banner  {
  padding: 0;
  width: 100%;
  /*height:65px; */
}

.content-fragment .custom-banner  .left{
  width:155px;
  /*top: -40px; 
  position: absolute; */
}
.content-fragment .custom-banner  .right{
/*  float:left;
  width:520px;
  top: -40px; 
  left: 155px;
  position: absolute; */
}

 .custom-banner  .omnicell-logo {
  border: medium none;
  height: 107px;
  width: 146px;
}

.custom-banner  h2.group-name {
  color: #7FA3B7;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1.25px;
    margin: 8px 0 0;
  border: none;
}
 .custom-banner .welcome-text {
  font-size: 16px;
  margin: 0;
  color: #52524a;
}
 .custom-banner .personal-links {
  color: #5F9933;
}
 .custom-banner .personal-links span{
  padding-right: 10px;
  margin-right: 7px;
  border-right: 1px solid #5F9933;
}
.content-fragment .custom-banner .personal-links  a, 
.content-fragment .custom-banner .personal-links a:link, 
.content-fragment .custom-banner .personal-links a:visited, 
.content-fragment .custom-banner .personal-links a:hover, 
.content-fragment .custom-banner .personal-links a:active {
  font-size: 16px;
  text-decoration: none;
  color: #5F9933;
  font-weight: normal;
}
.content-fragment .custom-banner .personal-links .last-link {
  border: none;
}

/* deprecated
.content-fragment .custom-banner .group-banner .group-banner-info {
  margin: 0;
}
.content-fragment .custom-banner .group-banner .group-banner-info h2 {
  border: none;
}
 .custom-banner .group-banner .group-banner-info .group-avatar {
  border: medium none;
  display: table;
  height: 107px;
  width: 146px;
  padding: 2px;
  position: absolute;
  top: 20px;
}
.custom-banner .group-banner .group-banner-info .group-name {
  color: #7FA3B7;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1.25px;
    margin: 0;
    padding: 26px 240px 0 155px;
}
 .custom-banner .group-banner .group-banner-info .group-description {
  font-size: 16px;
  margin: 0;
  padding: 0 60px 0 155px;
  color: 52524a;
}
 .custom-banner .group-banner .group-banner-info .personal-links {
  color: #5F9933;
  float: left;
  display: block;
  padding: 0 100px 20px 155px;
}
 .custom-banner .group-banner .group-banner-info .personal-links span{
  padding-right: 10px;
  margin-right: 7px;
  border-right: 1px solid #5F9933;
}
.content-fragment .custom-banner .group-banner .group-banner-info .personal-links  a, 
.content-fragment .custom-banner .group-banner .group-banner-info .personal-links a:link, 
.content-fragment .custom-banner .group-banner .group-banner-info .personal-links a:visited, 
.content-fragment .custom-banner .group-banner .group-banner-info .personal-links a:hover, 
.content-fragment .custom-banner .group-banner .group-banner-info .personal-links a:active {
  font-size: 16px;
  text-decoration: none;
  color: #5F9933;
  font-weight: normal;
}
.content-fragment .custom-banner .group-banner .group-banner-info .personal-links .last-link {
  border: none;
}
*/

/*custom search/ask bar */
.content-fragment  .home-search-ask {
  padding: 6px 5px 3px 5px;
  width: 100%;
  margin: 10px 0;
  background-color: #f2f2f1;
}
.content-fragment  .home-search-ask input {
  width: 100%;
  margin-bottom: 12px;
  font-size: 20px;
  height: 30px;
  color: #52524A;
  font-weight: normal;
  font: arial;
}
.content-fragment.site-search .internal-link.search-options {
  float: right;
  }
.content-fragment .home-search-ask .submit-buttons {
  background-color: #F2F2F3;
  margin: -20px 300px -40px;
  padding: 20px 0 30px;
  text-align: center;
  width: 100px;
}
.home-search-ask .submit-buttons .search-button {
  padding-right: 15px;
  float: left;
}
.home-search-ask .submit-buttons .ask-button {
  float: right;
}
/*announcment */
.content-fragment.no-wrapper.html-content .content-fragment-content, .content-fragment.no-wrapper-with-spacing.html-content .content-fragment-content {
  clear: both;
}

/*custom my stuff */
.custom-my-stuff {
  font-size: 12px;
  color: #6a747c;
  margin: 10px 0;
}
.custom-my-stuff a, .custom-my-stuff a:link, .custom-my-stuff a:visited, .custom-my-stuff a:hover, .custom-my-stuff a:active{
  color: #6a747c;
  font-size: 12px;
  font-weight: bold;
}
.custom-my-stuff img {
  margin: 5px 5px 8px 0;
  display: inline;
}
/*left and right regions*/
.layout-content.content-left-sidebar-right .layout-region.right-sidebar {
  background-color: #f2f2f1;
  margin-left: 20px;
  width: 250px;
  padding-bottom:1500px;
  margin-bottom:-1500px;
  
}
.layout-content.content-left-sidebar-right .layout-region.content {
  border-right: #d4e7c4 solid 1px;
  padding-right: 10px; // *DL changed to 10px from 20px
   margin-top: 10px;
}

/* Custom bottom widget */
.custom-bottom-widget .custom-bottom-left {
  float: left;
  width: 249px;
  margin: 10px 0 0 0;
  padding: 0;
}
.custom-bottom-widget .custom-bottom-right {
  float: left;
  margin: 10px 0 0 1px;
  padding: 0;
  width: 439px;
/*  overflow:hidden; */
}

.product-add-edit {
  float:right;
  margin-top:8px;
  margin-right:5px
}
.product-add-edit a,
.product-add-edit a:link,
.product-add-edit a:visited,
.product-add-edit a:hover,
.product-add-edit a :active
{
  background-color: #fff;
  color: #52a539 !important;
  font-size: 11px !important; 
}

.user-userprofile .layout-region-inner > .content-fragment.thread-list {
  float: right;
  width:249px;
}

.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list {
  float: right;
  margin: 10px 0 0 0;
  padding: 0;
}
.custom-bottom-widget .custom-bottom-left .content-fragment.thread-list {
  margin: 10px 0 0 0;
  padding: 0;
}
.custom-bottom-widget .custom-bottom-left .product a, .custom-bottom-widget .custom-bottom-left .product a:link, .custom-bottom-widget .custom-bottom-left .product a:visited, .custom-bottom-widget .custom-bottom-left .product a:hover, .custom-bottom-widget .custom-bottom-left .product a:active {
  color: #52524a;
  font-size: 14px;
  font-weight: normal;
}
.custom-bottom-widget .custom-bottom-left  .product-list .product.selected {
  background: url("/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/selectedproduct.png") no-repeat left center;
}
.custom-bottom-widget .custom-bottom-left  .product-list {
  border-left: 1px solid #D4E7C5;
  border-right: 1px solid #D4E7C5;
}
.custom-bottom-widget .custom-bottom-left  .product-list .product img {
  margin: 5px 5px 5px 0;
}
.custom-bottom-widget .custom-bottom-left .scroll-up img{
  margin-top: 8px;
  border-left: 1px solid #D4E7C5;
}
.custom-bottom-widget .custom-bottom-left .scroll-up {
  border-left: 1px solid #D4E7C5;
}
.custom-bottom-widget .custom-bottom-left .scroll-down{
  border-left: 1px solid #D4E7C5;
  
}
.scroll-down img {
  height: 14px !important; 
}
.scroll-down {
  height: 14px !important; 
  margin-bottom: 5px;
}
.custom-bottom-widget .custom-bottom-left .all-products {
  background-color: #7ac142;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.custom-bottom-widget .custom-bottom-left .all-products a, .custom-bottom-widget .custom-bottom-left .all-products a:link, .custom-bottom-widget .custom-bottom-left .all-products a:visited, .custom-bottom-widget .custom-bottom-left .all-products a:hover, .custom-bottom-widget .custom-bottom-left .all-products a:active {
  background-color: #7ac142;
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-weight: normal;
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .table-list {
  border-left: 1px solid #D4E7C5;
  width: 100%;
  margin: 0;
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list.myproducts{
  left:-2px;
  position:relative;
  width: 439px;
}

.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .table-list .table-item {
  border-bottom: 1px solid #f5f5f5;
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .table-list .table-item  td{
  height: 33px;
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .table-column {
  padding: 0;
}
.custom-bottom-widget .custom-bottom-right h4 {
  padding: 0;
  margin: 0;
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .table-column.post-name .abbreviated-post {
  padding: 0;
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .table-column.total-replies .abbreviated-post {
  padding: 0;
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .content-fragment-content .table-column.post-status {
  padding: 5px 10px;
  width: 18px;
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .content-fragment-content .table-column.post-date {
  color: #999;
  font-size: 11px;
  width: 125px;
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .abbreviated-post .post-application {
  color: #999;
  font-size: 11px;
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .abbreviated-post .post-application a, .custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .abbreviated-post .post-application a:link, .custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .abbreviated-post .post-application a:visited, .custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .abbreviated-post .post-application a:hover, .custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .abbreviated-post .post-applicationa:active {
  color: #999;
  font-size: 11px;
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .abbreviated-post .post-author {
  color: #999;
  font-size: 11px;
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .abbreviated-post .post-author a, .custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .abbreviated-post .post-author a:link, .custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .abbreviated-post .post-author a:visited, .custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .abbreviated-post .post-author a:hover, .custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .abbreviated-post .post-author a:active {
  color: #999;
  font-size: 11px;
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .abbreviated-post .post-name {
  border: none;
  line-height: 80%;
}
.custom-bottom-widget .custom-bottom-right .scroll-down img {
  margin-bottom: 5px
}
.custom-bottom-widget .custom-bottom-right .content-fragment.thread-list .content-fragment-content .view-all {
  background-color: #f2f2f1;
  text-align: center;
  font-size: 14px;
  color: #52524a;
}
.custom-bottom-widget .custom-bottom-right .view-all a, .custom-bottom-widget .custom-bottom-right .view-all a:link, .custom-bottom-widget .custom-bottom-right .view-all a:visited, .custom-bottom-widget .custom-bottom-right .view-all a:hover, .custom-bottom-widget .custom-bottom-right .view-all a:active{
  background-color: #f2f2f1;
  text-align: center;
  font-size: 14px;
  color: #52524a;
  font-weight: normal;
}
.custom-bottom-widget .custom-bottom-right .view-all {
  background-color: #f2f2f1;
  text-align: center;
  font-size: 14px;
  color: #52524a;
  font-weight: normal;
  width: 100%;
}
/*customer page */
.content-fragment.thread-list .table-list {
  width: 100%;
  margin: 0;
}
.content-fragment.thread-list {
  overflow: visible;
}
.content-fragment.thread-list .filter-option {
  padding: 7px;
  border-right: 1px solid #fff;
  height: 14px;
  margin: 0;
  border-collapse: collapse;
}
.content-fragment.thread-list .filter-option.selected {
    border-left: 1px solid #D4E7C5;
    border-right: 1px solid #D4E7C5;
    border-top: 1px solid #D4E7C5;
    height: 14px;
  color: #52524a;
  font-size: 16px;
  border-collapse: collapse;
  
}
.content-fragment.thread-list .filter-option.selected a, .content-fragment.thread-list .filter-option.selected a:link, .content-fragment.thread-list .filter-option.selected a:visited, .content-fragment.thread-list .filter-option.selected a:hover, .content-fragment.thread-list .filter-option.selected a:active{
  font-weight: normal;
  font-size: 16px;
  color: #52524a;
  text-decoration: none;
}
.content-fragment.thread-list .filter .separator {
  background: none;
  margin: -1px;
}
.content-fragment.thread-list .filter {
  clear: both;
  background: none;
  border-bottom: 1px solid #D4E7C5;
  color: #999;
  height: 25px;
  margin: 0;
  font-size: 16px;
  padding: 15px 0 0 0;
}
.content-fragment.thread-list .filter a, .content-fragment.thread-list .filter a:link, .content-fragment.thread-list .filter a:visited, .content-fragment.thread-list .filter a:hover, .content-fragment.thread-list .filter a:active{
  color: #999;
  text-decoration: none;
  font-size: 16px;
}

.content-fragment.thread-list .table-header {
  display: none;
}
.content-fragment.thread-list .table-column {
  border: none;
  /*padding: 2px 0;*/
}
.content-fragment.thread-list .table-item {
/* border-bottom: 1px solid #f5f5f5;*/
}
.content-fragment.thread-list .table-column.post-name .abbreviated-post {
  padding: 0;
}

.content-fragment.thread-list .table-item  td{
  /*height: 33px;*/
}
.content-fragment.thread-list .table-column.post-status {
  width: 25px;
}
.table-column.post-date {
  color: #999;
  font-size: 11px;
  width: 150px;
}
.content-fragment.thread-list .table-header-column.total-replies-sort, .content-fragment.thread-list .table-column.total-replies {
  text-align: right;
  width: 65px;
}  
.content-fragment.thread-list .table-column.total-replies .abbreviated-post {
  padding: 0;
}
.content-fragment.thread-list .abbreviated-post.read .post-name a, .content-fragment.thread-list .abbreviated-post.read .post-name  a:link, .content-fragment.thread-list .abbreviated-post.read .post-name  a:visited,  .content-fragment.thread-list .abbreviated-post.read .post-name a:hover, .content-fragment.thread-list .abbreviated-post.read .post-name  a:active {
  color: #5F9933;
  font-size: 12px;
}
.content-fragment.thread-list .abbreviated-post .post-application a, .content-fragment.thread-list .abbreviated-post .post-application a:link, .content-fragment.thread-list .abbreviated-post .post-application a:visited, .content-fragment.thread-list .abbreviated-post .post-application a:hover, .content-fragment.thread-list .abbreviated-post .post-application a:active {
  color: #666;
  text-decoration: none;
  font-size: 11px;
}
.content-fragment.thread-list .abbreviated-post.verified-answered .post-attributes {
  display: none;
}
.content-fragment.thread-list .abbreviated-post.verified-answered .post-author {
  display: none;
 }
.content-fragment.thread-list .abbreviated-post.verified-answered .post-date {
  color: #999;
  font-size: 11px;
}
.content-fragment.thread-list .table-column.post-status .post-attributes .internal-link.view-post.forum {
  display: none;
}
.content-fragment.thread-list .abbreviated-post.not-answered .post-author {
  display: none;
}
.content-fragment.thread-list .abbreviated-post.not-answered .post-date {
  font-size: 11px;
  color: #999;
}
.content-fragment.thread-list .abbreviated-post.discussion .post-author {
  display: none;
}
.content-fragment.thread-list .abbreviated-post .post-date .value {
  color: #999;
  font-size: 11px;
}
.content-fragment.thread-list .abbreviated-post .post-reply-count {
  font-size: 11px;
  font-weight: normal;
  color: #999;
}
/*group page */
.forums-threadlist .table-column.post-author {
    width: 50px;
}
.forums-threadlist .content-fragment.thread-list .table-column.post-name {
    width: 100px;
}
.forums-threadlist  .content-fragment.thread-list .table-column.post-status {
    width: 53px;
}
.forums-threadlist .content-fragment.thread-list .table-header-column.total-replies-sort, .forums-threadlist .content-fragment.thread-list .table-column.total-replies {
  width: 16px;
  padding-right: 10px;
}
.forums-threadlist .table-column.post-author .avatar img {
  display: none;
}
.forums-threadlist .content-fragment.thread-list .table-column.post-author .user-name {
  font-size: 11px;
  color: #999;
    display: inline;
}
/*custom footer */
.custom-footer {
  width: 990px;
  border-top: 1px solid #EEEEED;
  padding-top: 20px;
  background-color: #fff;
  margin-top: 5px;
}
.custom-footer .site-links  {
  float: left;
  width: 45%;
}
.custom-footer .site-links ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
.custom-footer .site-links ul li {
  display: inline; 
  
}
.custom-footer .site-links ul li a {
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
  color: #A39F9F;
  padding: 5px;
}
.copyright {
  padding: 5px;
  color: #B3B2B2;
  font-size: 11px;
  font-weight: normal;
}
.custom-footer .social-links {
  float: right;
  width: 55%;
}
.custom-footer .social-links ul {
  margin: 0 0 0 409px;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
.custom-footer .social-links ul li {
  display: inline; 
  
}
.custom-footer .social-links ul li a {
  float: left;
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
  color: #A39F9F;
  padding: 0px;
  margin: 0 0 0 5px;
}
.icon, .icon span {
    background: url("http://www.omnicell.com/App_Themes/images/bg-sprite-8.png") no-repeat scroll 0 100px transparent;
  /*  display: block; */
    font-size: 0 !important;
    overflow: hidden;
    position: relative;
}
.icon-youtube, .icon-youtube span {
  background-position: -299px 0;
  height: 18px;
  width: 18px;
}
.icon-twitter, .icon-twitter span {
  background-position: -253px 0;
  height: 18px;
  width: 18px;
}
.icon-linkedin, .icon-linkedin span {
  background-position: -276px 0;
  height: 18px;
  width: 18px;
}
.icon-facebook, .icon-facebook span {
  background-position: -230px 0;
  height: 18px;
  width: 18px;
}
.icon-google, .icon-google span {
  background-position: -323px 0;
  height: 18px;
  width: 18px;
}
.footer-fragments-header {
  border: none;
}
.footer-fragments-footer {
  border: none;
}
.footer-fragments {
  padding: 10px 0;
  }
/*general settings */
a:hover {
  text-decoration: underline;
}
.clear {
  clear: both;
}
h1 a:link , h1 a:visited, h1 a:hover, h1 a:active, h2 a:link , h2 a:visited, h2 a:hover, h2 a:active, h3 a:link , h3 a:visited, h3 a:hover, h3 a:active, h4 a:link , h4 a:visited, h4 a:hover, h4 a:active{
  /*-- color: #52524a; --*/
  font-weight: normal;
}
a:link , a:visited, a:hover, a:active{
  color: #5F9933;
}
html, body {
  background-color: #fff !important;
}
img {
  border: none;
}
.announcements {
  background: #f2f2f1;
  margin: 20px 0;
  padding: 10px;
}
.announcements h3 {
  font-size: 14px;
  color: #5F9933;
  border: none;
  padding: 0;
  margin: 0;
  font-weight: normal;
}
.announcements p {
  font-size: 11px;
  color: #999;
  padding: 0;
  margin: 0;
}
/* local and expert members list */

.omnicell-experts-list {
    float: right;
    width: 48%;
  padding-left: 5px;
  
}
.omnicell-members-widget .omnicell-experts-list .content-list-header {
  padding-left: 5px;
}
.omnicell-members-widget .user-name {
    margin-left: 20px !important; 
  color: #52524a;
  font-size: 10px;
}
.omnicell-members-widget .user-name a, .omnicell-members-widget .user-name a:link, .omnicell-members-widget .user-name a:visited, .omnicell-members-widget .user-name a:hover, .omnicell-members-widget .user-name a:active {
  color: #52524a;
  text-decoration: none;
  font-weight: normal;
}
.omnicell-members-widget .content-list .avatar {
  border: none !important;
  position: absolute;
}
.omnicell-members-widget .content-list .content-item {
    border: none;
    border-top: 0 none;
    min-height: 0;
    padding: 5px 0;
    position: relative;
  margin: 0;
}

.omnicell-local-members-list {
    float: right;
  width: 100%;
/*  width: 49%;
  border-right: #d4e7c4 1px solid;*/
}
.omnicell-members-widget .navigation-item {
  font-size: 11px;
  color: #79c041;
}
.omnicell-members-widget .content-list-header {
  border-bottom: #d4e7c4 1px solid;
  margin-left: -5px;
  padding: 0;
  font-size: 16px;
  color: #52524a;
}

.common-home ~ div.header-fragments .site-search {
  display:none;
}

.group-search-ask .header-logo {
  float: left;
  margin: 8px;
}

.group-search-ask .search-bar {
    background-color: #F3F3F2;
    float: right;
    margin: 0;
/*    margin: 0 60px 0 0;*/
    padding: 7px 0 5px 10px;
    width: 430px;
/*    width: 530px;*/
  top:20px;
}
.group-search-ask .search-bar input {
  float: left;
  padding: 0;
  width: 300px;
  height: 24px;
}
.group-search-ask .search-bar .submit-buttons .search-button {
  float: left;
  margin: 0;
  padding: 0 10px;
}
.group-search-ask .search-bar .submit-buttons .ask-button {
  float: left;
  margin: 0;
  padding: 0;
}
.group-search-ask {
  width: 700px;
  overflow: visible;
}
.user-banner .user-name {
  font-size: 24px;
  color: #7fa3b7;
  padding: 17px 0 0 105px;
  line-spacing: normal;
}
.user-userprofile .thread-list.content-fragment div.filter {
  padding:0;
  height:auto;
}

.user-userprofile .content-fragment.with-header .content-fragment-header div{
  font-size: 16px ;
  color: #52524a;
  border: none;
  text-transform: capitalize;
  padding: 0;
}

.user-userprofile .custom-bottom-widget.user-page div.custom-bottom-left div.thread-list.content-fragment div.content-fragment-content {
  padding:6px 0 6px 0;
}
.user-userprofile .custom-bottom-widget.user-page div.custom-bottom-left div.thread-list.content-fragment div.content-fragment-content div.filter {
  border-bottom: solid #D4E7C5 1px;
  height:auto;
  padding:0;
}

.user-userprofile .custom-bottom-widget.user-page div.custom-bottom-left div.thread-list.content-fragment div.content-fragment-content div.filter span.filter-option.selected {
  height:auto;
  padding:0;
}

.user-userprofile .custom-bottom-widget.user-page div.custom-bottom-left div.thread-list.content-fragment div.content-fragment-content div.filter div.product-add-edit {
  margin-top:0px;
}

.user-userprofile .custom-bottom-widget div.custom-bottom-left ,.user-userprofile .custom-bottom-widget div.custom-bottom-left div.thread-list.content-fragment {
  margin-top:0px;
}

.user-userprofile .custom-bottom-widget .custom-bottom-left div.product-list {
  border-top: 1px solid #d4e7c4;
  padding-top: 5px;
}
.user-userprofile .custom-bottom-widget .custom-bottom-left .scroll-down {
  overflow: hidden;
}
.user-userprofile .custom-bottom-widget .custom-bottom-left .scroll-down img {
  margin-left: -10px;
}
.user-userprofile .content-fragment.favorable-content-list.no-wrapper-with-spacing.with-header {
    clear: right;
    float: right;
    width: 249px;
}
.user-userprofile .content-fragment.friendship-list.no-wrapper-with-spacing.with-header {
  clear: right;
  float: right;
   width: 249px;
}
.user-userprofile .content-fragment.friendship-list.no-wrapper-with-spacing.with-header .content-fragment-content {
  border-top: 1px solid #d4e7c4;
  padding-top: 10px;
}
.user-userprofile .content-fragment.friendship-list .user-name, .user-userprofile .content-fragment.friendship-list .user-name a{
  font: arial;
  color: #999;
  font-size: 11px;
  font-weight: normal;
}
.user-userprofile .content-fragment.friendship-list .avatar img {
  max-height: 24px !important;
    max-width: 24px !important;
}
.user-userprofile .content-fragment.with-header.friendship-list .full-post {
  border: none;
}
.user-userprofile .content-fragment.activity-message-list.no-wrapper.with-header {
  clear: left;
  width: 440px;
}
.user-userprofile .content-fragment.activity-message-list.no-wrapper.with-header .content-fragment-content {
  border: 1px solid #d4e7c4;
  padding: 15px 10px;
}
.user-userprofile .content-fragment.activity-message-list .content-list-name {
  display: none;
}

.user-userprofile .content-fragment.activity-message-list .content-list li.content-item {
  padding: 0;
}

.user-userprofile .content-fragment.activity-message-list .full-post .post-author .avatar {
  top: 0;
}
.user-userprofile .content-fragment.activity-message-list .full-post .post-content a, .content-fragment.activity-message-list .full-post .post-content a:link , .content-fragment.activity-message-list .full-post .post-content a:visited, .content-fragment.activity-message-list .full-post .post-content a:hover, .content-fragment.activity-message-list .full-post .post-content a:active {
  color: ;
  font-size: 12;
}

.user-userprofile .content-fragment.activity-story-stream.no-wrapper-with-spacing.with-header {
    float: left;
    margin-top: 0;
    width: 425px;
}

.activity-message-application {
  color:#666 !important;

}

.post-author-name-activity {
  color: #999898 !important;
  font-weight: bold !important;
}

.view-user-profile {
  color: #999898 !important;
  font-weight: bold !important;
}

.filter-option {
  background: #D4E7C5;
}

.user-userprofile #fragment-389_list .internal-link.delete, .internal-link.delete a:link, .internal-link.delete a:visited, .internal-link.delete a:hover, .internal-link.delete a:active {
  color: #ccc;
  font-size: 11px;
}
.user-userprofile .content-fragment.activity-message-list .full-post .post-date{
  color: #ccc;
  font-size: 11px
}

.user-userprofile  .thread-list.content-fragment div.filter {
  clear:none !important;
}

.user-userprofile .custom-bottom-left {
  float: none;
/*  width: 230px;
  margin-bottom: 25px;*/
}
.user-userprofile .content-fragment.thread-list .filter-option.selected {
  border: none;
}
.user-userprofile .custom-bottom-widget .custom-bottom-left .product-list {
  border-left: none;
  border-bottom: none;
  border-right: none;
}
.user-userprofile .custom-bottom-widget .custom-bottom-left .product-list .product .selected {
  background: none;
}
.user-userprofile .custom-bottom-widget .custom-bottom-left .product-list img {
  max-height: 24px !important;
  max-width: 24px !important;
   padding-right: 6px;
   vertical-align: middle;
}
.user-userprofile .custom-bottom-widget .custom-bottom-left .product a {
  font-size: 11px;
}
.user-userprofile .custom-bottom-widget .custom-bottom-left .all-products {
  background-color: #f4f4f3;
  color: #444;
}
.user-userprofile .custom-bottom-widget .custom-bottom-left .all-products a, .user-userprofile .custom-bottom-widget .custom-bottom-left .all-products a:link, .user-userprofile .custom-bottom-widget .custom-bottom-left .all-products a:visited, .user-userprofile .custom-bottom-widget .custom-bottom-left .all-products a:hover, .user-userprofile .custom-bottom-widget .custom-bottom-left .all-products a:active {
  background-color: #f4f4f3;
  color: #444;
}
.user-userprofile .custom-bottom-widget .custom-bottom-left .scroll-up {
  border: none;
  overflow: hidden;
}
.user-userprofile .custom-bottom-widget .custom-bottom-left .scroll-up img {
  margin-left: -10px;
}
.user-userprofile .content-fragment.thread-list .filter {
  border: none;
}
.user-userprofile #fragment-890 .content-list {
  border-top: 1px solid #d4e7c4;
  padding-top: 10px;
}

.user-userprofile #fragment-890 .content-list .content-item {
  border: none;
}

.user-userprofile .custom-bottom-widget .custom-bottom-left .content-fragment.thread-list .product-add-edit {
  /*display: none;*/
}}

.user-userprofile .custom-my-stuff {
  margin: 10px;
}
div.login-left {
  width: 49%; 
  float: left;
}

div.login-right {
  width: 49%; 
  float: left;
}

.login h2 {
    color: #52524A;
    font-size: 16px;
    padding: 0 0 5px 0;
    text-transform: capitalize;
  border-bottom: #d4e7c4 1px solid; 
  margin-bottom: 5px;
}

div.login-banner {
  width:450px;
  float:left;
}

div.register-banner  img{
  width:450px;
}

div.register-banner {
  width:450px;
  float:left;
}


 .content-fragment.login-and-create-user a{
  color:#5F9933;
 }

.content-fragment.login-and-create-user input {
  width:190px;
}

.content-fragment.login-and-create-user input[type="checkbox"] {
  width:auto;
}

 
 .content-fragment.login-and-create-user .register-left {
  width:55%;
  float:left;
 }
 
 .content-fragment.login-and-create-user .register-left span.field-item-description {
  display:none;
} 

 .content-fragment.login-and-create-user .register-right {
  width:178px;
  float:right;
  margin-top:10px;
 }

div.login-banner  img{
  width:450px;
}
.home .group-membership-link {
    float: right;
  padding-top: 7px;
}

.user-defined-markup h2 {
  border: none;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body, html {
    background-color: #EDEDED;
    color: #000;
    font-family: Arial,Helvetica;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
body, html {
    color: #000;
    font-family: Arial,Helvetica;
    font-size: 13px;
}
.field-item-input .internal-link.disabled {
line-height: 44px;
  height: 44px;
  padding: 0 30px 0 30px;
  border: 0px;
  border-radius: 3px;
  display: inline-block;
  background: none;
  background-color: #6bac39;
  color: white;
  font-family: Arial, 'Helvetica', sans-serif;
  font-size: 13px;
  margin-right: 10px;
  -webkit-transition: background-color 0.15s;
  -moz-transition: background-color 0.15s;
  transition: background-color 0.15s;
}

.field-item-input .internal-link.disabled span {
  background: url("/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/button_2D00_sprite.gif") no-repeat scroll 0 -44px transparent !important;
    display: inline-block;http://www.facebook.com/ajax/emu/end.php?eid=AQLyq4HgffPN1DA1CzfTnicFw1kbToX2zVUTAKZto1AsXmDDgeQqoMAt8DDcsrQaqaQj3W-xKvbJcf228FCJ0O_HRFdaH6pzDc7b5Sqcx4tK1doZR8vQ5kYTkfs9UV6Baca8NFwYqmToqzFH3XdBSfq1ut9c5rLFSWLrj10nNrKD3ix_eZnf2Ah8HTuGCrszzjszYCMyEG-HVXVifgqlqeSoWhhcPbJcIh8hbLJ8Z9dPOIDV0gBROvDp-9yeHy7pltxnSPsR9Xz4E8iTI626xwW7akmxKOqxvrfmtjowCfaQKDGUjLuy_1z4PxNPKdm9uaR5ilGKYf_62YXCE94OchvYHrzMLaexyAbeCCg1-YaTsVXNEso1b2buqhOHP-y9fokgiYmXVBhxBJafa0b7F2JX9T2WytKxMNKHqdanlXpetZj5vI7QpoyUvABEY_WRHj0xqNkT4PBQfbn2osQlKgquWbnf9l6PiBxbbSpTiHF-Uc1PBmd97-Zbo_nXTzyct39czDZDcq7P0bvByudvYRCE0RFiit4-gxs7-JdM2X9m7M3eANIZiVNvoEKTeve3NUogdXvvNfMKpd528bobdzHtaU3meOs2aLm8dgn5x24YwiQocyPe9im9mf8pqzaPq2jl8rl2IirDSQK2tro2b2SYptqys2knmkLVV-0miKSsluvyKw5BDt1KmF9CQXVg6uK9ilXaJDgyyLZp395DbiJ-gxHEXpXlUkvPkd8ojx0WC9jewBD_OLlQMo392jFTvmyP2JWBTBA2soFZkX6-5KvvmEhOfRQ-xHAsQ5S_fB8ccz5C2XLYZSMk_86b97enMcnCgzp6tExFtyXYOg8Ww3rLLFZ-DlO6Qn5sIfeF0aS5ztA9qeY9EOoL4dCNU1rTruxasKSWBluh4SrchPNAuNQ1PyfJLEq9K3WvO-nfnLsBIrtFJlavSDJ3ffrTvgTGMFkFAH_nVUnBCfi94ZHnnURvtvoVy-R6U2ARQ_KSWafunUR_Ov49ZhSRR1OTdh_YbQE_P0g1jhljMeufDFRpODVhI7mY2jFLcfGYDzOetov6Ym-puDT3SDEoAUtBMQLLFhk&f=0&ui=6010086040720-id_50bd08907a05c8019084017&en=1&a=0&sig=126686
    height: 22px;
    left: -12px !important;
    position: absolute !important;
    top: 0 !important;
    width: 12px !important;
 }
.common-logout .fiji-content-fragment-top .fiji-r1, .fiji-content-fragment-top .fiji-r2, .fiji-content-fragment-top .fiji-r3, .fiji-content-fragment-top .fiji-r4, .fiji-content-fragment-bottom .fiji-r1, .fiji-content-fragment-bottom .fiji-r2, .fiji-content-fragment-bottom .fiji-r3, .fiji-content-fragment-bottom .fiji-r4  {
  border: none;
} 

.common-logout .content-fragment-content  {
  border: none;
}
.common-logout .navigation-list .navigation-item:last-child a, .common-logout .navigation-list .navigation-item:last-child a:link, .common-logout .navigation-list.navigation-item:last-child a:visited, .common-logout .navigation-list .navigation-item:last-child a:hover, .common-logout .navigation-list .navigation-item:last-child a:active {
  color: #fff;
}


.content-fragment-page .content-fragment.with-header .content-fragment-header div {
  border: medium none;
    color: #53534B;
    font-size: 16px;
    padding: 0;
    text-transform: capitalize;
  border-bottom: 1px solid #D4E7C5;
}
.content-fragment-page .user-defined-markup h2{
    color: #80A4B7;
    font-size: 24px;
    padding: 17px 0;
	font-weight: bold;
}

.content-fragment-page .tab-set.with-panes {
    background-color: #fff;
}
.content-fragment-page .tab-set {
  background: none;
}

.content-fragment-page .tab-set.with-panes .tab a, .content-fragment-page .tab-set.with-panes .tab a:visited, .content-fragment-page .tab-set.with-panes .tab {
  color: #999 !important;
    font-size: 16px;
    text-decoration: none;
}
.content-fragment-page .tab-set.with-panes .tab.selected a, .content-fragment-page .tab-set.with-panes .tab.selected, .content-fragment-page .tab-set.with-panes .tab.selected a:visited {
  color: #53534B !important;
    font-size: 16px;
    font-weight: normal;
}

.content-fragment-page .layout-content.split-content .layout-region.right-sidebar .content-fragment, .layout-content.header-top-split-content .layout-region.right-sidebar .content-fragment {
  margin: 0 0 0 5px;
}

.content-fragment.blog-banner .application-banner{
  background:none;
}

.content-fragment.blog-post-comment-form .field-item .internal-link.add-reply{
  background:none;
  color:#5F9933;
}

.content-fragment.blog-post-comment-form .field-item .internal-link.add-reply:hover {
  background:none;
  text-decoration:underline;
}
.content-fragment.blog-post-comment-form .field-item .internal-link.add-reply span, 
.content-fragment.blog-post-comment-form .field-item .internal-link.add-reply:hover span{
  background:none;
}


.navigation-list.omnicelldropdown .navigation-item .group-avatar{
  display:none;
}

.content-fragment.thread-list .abbreviated-post .post-name a, 
.content-fragment.thread-list .abbreviated-post .post-name a:link, 
.content-fragment.thread-list .abbreviated-post .post-name a:visited, 
.content-fragment.thread-list .abbreviated-post .post-name a:hover, 
.content-fragment.thread-list .abbreviated-post .post-name a:active{
  color: #5F9933;
  font-size:12px;
  font-weight:normal;
}

.content-fragment.thread-list.myproducts .content-item.simple{
  margin-left:20px;
}



.content-fragment.api-key-list .table-header-column .internal-link.sort-descending, 
.content-fragment.api-key-list .table-header-column .internal-link.sort-ascending {
  background-image: none;
  display: inline-block;
  font-weight: normal;
  height: auto;
  line-height: 18px;
  margin: 0;
  overflow: hidden;
  padding: 0 18px 0 0;
  position: relative;
  width: auto;
}

.content-fragment.api-key-list .table-header-column .internal-link.sort-descending span 
 {
  background: url("/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/descending.gif") no-repeat scroll center top transparent;
  height: 6px;
  margin: 0;
  padding: 0 3px;
  position: absolute;
  right: 0;
  top: 6px;
  width: 10px;
}

.content-fragment.api-key-list .table-header-column .internal-link.sort-ascending span {
  background: url("/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/ascending.gif") no-repeat scroll center top transparent;
  height: 6px;
  margin: 0;
  padding: 0 3px;
  position: absolute;
  right: 0;
  top: 6px;
  width: 10px;
}

.content-fragment-page.service-request-tickets .with-header.content-fragment.service-requests .content-fragment-header div
{
  font-size: 24px;
  color: #7fa3b7;
}

.content-fragment.login-and-create-user .page.join-manual label
{
  font-weight: bold; 
  display: block; 
}

.content-fragment.login-and-create-user .page.join-manual label + div
{
  margin-bottom:7px;
}

li.navigation-item a#LoggedOutLoginLink
{
  position: relative; 
  background: Transparent url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/login.png') no-repeat top left; 
  width: 97px; 
  height: 24px; 
  display: inline-table; 
  display: -moz-inline-box; 
  display: inline-block; 
  z-index: 3; 
  font-size:0px; 
}

li.navigation-item a#RegisterSeventeen
{
  position: relative; 
  background: Transparent url("/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/register.png") no-repeat top left; 
  width: 97px; 
  height: 24px; 
  display: inline-table; 
  display: -moz-inline-box; 
  display: inline-block; 
  z-index: 3; 
  font-size:0px; 
}

.content-fragment.thread-list.myproducts div.message.norecords
{
  margin-left:2px;
  margin-right:-2px;
}

div.content-fragment-page.user-userprofile .user-banner-actions a.internal-link.request-friendship
{
  display:none;
}


#newpostbutton {
    border-bottom: none;
    position: absolute;
    margin: 18px 683px;
}

a.internal-link.view-post {
  font-weight: normal;
}

a.internal-link.view-post.product-name {
  font-size:11px;
}


.required {
  color:red;
}

#nav a.active {
color: #5F9933;
}

#title-facility {
    color: #999;
    margin-left: 95px;
    margin-top: -75px;
    padding-bottom: 30px;
  line-height:60%;
}

.content-fragment.user-profile-group-content-fragment .attribute-item {
    border-bottom: none;
}

ul#title-facility a {
 color: #999;
 font-weight:normal;   
}

.service-footer-text {
float:right;
padding: 10px;
margin-right:10px;
color: #B3B2B2;
font-size: 11px;
font-weight: normal;
}

.service-footer-text a {
    color:#B3B2B2;
    font-weight:normal;
    }

.news-tab-item {
padding: 15px 20px !important;
}

.news-tab-summary {
line-height: 14px;
padding: 6px 0px;
}

/* styles for product document details page */
div.document {
  padding: 5px 5px 0 0;
} 

div.document > span {
  font-weight: bold;
}

/* header style for service request right sidebar widget */
div.service-header {
  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #D4E7C5;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #53534B;
    font-size: 16px;
    padding: 0;
    text-transform: capitalize;
}

/* style for the show hide associated product functionality */
a.showHide {
  font-style: italic;
}

/* fetch homepage link widget */
.main-fetch {
  border: 1px solid #000;
  padding: 0px 10px;
  margin-top: 10px; /* added for responsive theme adjustment */
}
.main-fetch h3 {
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}

.main-fetch a {
  border: 1px solid #000;
  display: block;
  margin-bottom: 0;
  padding: 5px;
  text-align: center;
}

.layout-content.header-top-content-left-sidebar-right .layout-region.right-sidebar {
    background-color: #f2f2f1;
    clear: both;
    float: right;
    margin-bottom: -1500px;
    margin-left: 20px;
    padding: 10px 10px 1500px;
    width: 250px;
}

/* styles for the responsive header */
.layout-region.right-sidebar .content-fragment.site-user-navigation .navigation-list {
    float: right;
  /*  position: absolute; */
    right: 30px;
    white-space: nowrap;
    z-index: 100;
}

.content-fragment.site-user-navigation .navigation-item {
  border-left: 1px solid  #999898;
}

.content-fragment.site-user-navigation .navigation-item .user-information {
  border-left: none;
}

.content-fragment.site-user-navigation .navigation-item.user-information {
    font-weight: bold;
    border-left: none;
    position: relative;
}

.content-fragment.site-user-navigation .navigation-item {
    display: inline;
  border-left: 1px solid  #999898;
    font-size: 11px;
    line-height: 29px;
    margin: 0;
    padding-right: 5px;
}

.content-fragment.site-user-navigation .navigation-item a {
  margin: 0;
}

.content-fragment.site-user-navigation .avatar img {
  display: inline;
  vertical-align: middle;
    max-height: 20px !important;
    max-width: 20px !important;
}

.user-defined-markup h4 {
  border-bottom: dotted 1px;
  margin: 0 0 1em 0;
  padding-top: 0.5em;
  clear: both;
}

object.BrightcoveExperience {
  margin-left: -10px;
}

/* sidebar group administration styles */
.content-fragment.group-links .navigation-list {
  margin-bottom: 5px;
}
.content-fragment.group-links .navigation-item {
    border-bottom: 1px dotted #ccc;
  padding-bottom: 3px;
    position: relative;
}

/* search results menu popup */
.menu.search-content.results {
    width: 320px;
    background:#ffffff;
    border:solid 3px #F4F4F3;
    padding: 20px;
}
.menu.search-content.results .internal-link.search {
    display: block;
    margin: 1.5em 0;
}
.menu.search-content.results .content-list li.content-item {
    border-top: 1px dotted #40535c;
    padding: 1px 0;
}
.menu.search-content.results .content-list-footer {
    margin-bottom: 1.5em;
}

.menu.search-content.results fieldset.field-list {
    margin: 20px;
}
.menu.search-content.results fieldset.field-list li.field-item {
    border-bottom: 1px dotted #f4f4f3;
    margin: 10px 0;
}

.header-fragments .layout-content .layout-region .layout-region-inner {
  overflow: visible;
}

.content-fragment-page .tab-set {
  margin: 0;
}

.group-membership-list .tab-pane table.table-list {
  width: 100%;
}

.group-membership-list .tab-pane .table-list .table-column {
  padding: 0;
}

.group-membership-list .tab-pane .table-list .table-column .avatar {
  display: inline-block;
}

.content-fragment.group-membership-list .table-column .user-name {
  position: absolute;
  padding-left: 5px;
  padding-top: 8px;
}

.content-fragment.group-membership-list .table-item .table-column .field-list, 
.content-fragment.group-membership-list .table-item .table-column.membership-status {
  text-align: right;
}

.content-fragment.group-membership-list fieldset {
  padding: 0;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
}

.group-membership-list .tab-pane .field-list .field-item .field-item-input .internal-link.add-member,
.group-membership-list .tab-pane .field-list .field-item .field-item-input .internal-link.invite-member {
  margin: 1px;
  padding: 4px;
  border: solid 1px #999;
  border-color: #ccc #999 #999 #ccc;
  background: #eee;
  color: #333;
  font-size: 14px;
  white-space: nowrap;
  display: inline-table;
  display: -moz-inline-box;
  display: inline-block;
  height: auto;
  line-height: normal;
}

.group-membership-list li.field-item.username {
  float: left;
}

.group-membership-list li.field-item.membership-type {
  padding: 1.4em;
  margin: 0 !important;
}

.group-membership-list li.field-item.membership-type,
.group-membership-list li.field-item.user-name {
  float: left;
}

.group-membership-list li.field-item.email + li.field-item.membership-type {
  margin: 0 0 5px 0 !important;
}

.group-membership-list li.field-item.add-member {
  float: left;
  clear: left;
}

.group-membership-list .tab-pane legend.field-list-description {
  font-weight: bold;
  font-size: 16px;
}

.group-membership-list .tab-pane .field-item.invite-message .field-item-header,
.group-membership-list .tab-pane .field-item.message-body .field-item-header {
  clear: left;
}

.group-membership-list .tab-pane .field-item-input .glow-lookuptextbox {
  width: 17.571em !important;
}

.add-member .tab-set {
  display: none;
}

fieldset a.submit-form, 
fieldset input[type="button"], 
fieldset a.save-form, 
fieldset .button,
fieldset .internal-link.save-post, 
fieldset.setting-list ul.setting-list .submit-button {
  line-height: 44px;
  height: 44px;
  padding: 0 30px 0 30px;
  border: 0px;
  border-radius: 3px;
  display: inline-block;
  background: none;
  background-color: #6bac39;
  color: white;
  font-family: Arial, 'Helvetica', sans-serif;
  font-size: 13px;
  margin-right: 10px;
  -webkit-transition: background-color 0.15s;
  -moz-transition: background-color 0.15s;
  transition: background-color 0.15s;
}

fieldset a.submit-form, 
fieldset input[type="button"], 
fieldset a.save-form, 
fieldset .button, 
fieldset .internal-link.save-post, 
fieldset.setting-list ul.setting-list .submit-button {
  line-height: 44px !important;
  height: 44px;
  padding: 0 30px 0 30px !important;
  border: 0px;
  border-radius: 3px;
  display: inline-block;
  background: none;
  background-color: #6bac39 !important;
  color: white;
  font-family: Arial, 'Helvetica', sans-serif;
  font-size: 13px;
  margin-right: 10px;
  -webkit-transition: background-color 0.15s;
  -moz-transition: background-color 0.15s;
  transition: background-color 0.15s;
}

.group-membership-list .tab-pane .field-list .field-item .field-item-input .internal-link.add-member, 
.group-membership-list .tab-pane .field-list .field-item .field-item-input .internal-link.invite-member {
  margin: 13px 0 0 0;
  padding: 4px;
  border: solid 1px #999;
  border-color: #ccc #999 #999 #ccc;
  background: #eee;
  color: #333;
  font-size: 14px;
  white-space: nowrap;
  display: inline-table;
  display: -moz-inline-box;
  display: inline-block;
  height: auto;
  line-height: normal;
}

.thread .content .content p {
  padding-bottom: 0px;
}

.thread .ui-webpreview img {
  width: 64px;
}

.thread .content .content p a {
  width: 64px;
  display: inline;
  padding-top: 6px;
  border-bottom: none;
}

.thread .content .content p a:hover {
  border-bottom: none;
}

.content-fragment .content.full .name {
  color: #7FA3B7;
  font-weight: bold;
}

.navigation-list.links a {
  font-family: Arial, 'Helvetica', sans-serif;
  font-size: .9em;
  display: block;
  margin-bottom: 6px;
  padding: 4px;
  text-align: left;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid #6bac39;
  color: #6bac39;
  border-radius: inherit;
  -webkit-transition: background-color 0.15s;
  -moz-transition: background-color 0.15s;
  transition: background-color 0.15s;
}

.thread-details .attribute-list .attribute-item {
  font-family: Arial, 'Helvetica', sans-serif;
  font-size: .9em;
  display: block;
  margin-bottom: 6px;
  padding: 0 0 0 4px;
  text-align: left;
  font-weight: 300;
  border: none;
  color: #666;
  border-radius: 3px;
  -webkit-transition: background-color 0.15s;
  -moz-transition: background-color 0.15s;
  transition: background-color 0.15s;
}

.content-fragment.thread .content-list .content-item > .content > .content .in-reply-to a {
  color: #a1aab0;
  text-decoration: none;
  border-width: 0;
  display: inline;
}

.menu.moderation-content.menu__moderation-content,
.menu.media-format-list {
  background-color: white;
  border: 1px solid #999;
  font-size: 11px;
}

td.menu-item.menu__moderation-content__menu-item,
td.menu-item.media-format {
  padding: 4px;
  margin: 4px;
}

.menu-item.hover.menu__moderation-content__menu-item__hover,
.menu-item.media-format.selected {
  cursor: pointer;
  background-color: #ededed;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding: 5px;
}

.menu-item.expanded {
  
}

.message {
  margin: 10px;
}

.edit-user fieldset.setting-list {
  padding: 1em;
}

.edit-user fieldset.setting-list ul.setting-list .setting-item {
  padding: 10px 0;
  position: relative;
}

.edit-user fieldset.setting-list .setting-list-description {
  display: none;
}

.edit-user fieldset.setting-list fieldset.setting-list {
  padding-left: 0;
}

.edit-user fieldset.setting-list fieldset.setting-list .setting-list-description {
  display: block;
  font-weight: bold;
  font-size: 1.2em;
  padding: 5px 0;
}

.edit-user label.setting-item-header {
  display: inline-block;
  float: left;
  clear: left;
  font-weight: bold;
}

.edit-user label.setting-item-header:after {
  content: ":";
  padding-right: 2px;
}

.edit-user a.internal-link.edit-password {
  position: absolute;
  left: 68px;
  top: 17px;
}

div#fragment-32949_LastLogin {
  position: absolute;
  top: 58px;
  left: 72px;
}

.edit-user li.setting-item.setting-password {
  padding-top: 0 !important;
}

.edit-user span.setting-item-description {
  float: left;
  clear: both;
  color: #666;
}

.edit-user .setting-item-label,
.edit-user span.setting-item-input {
  line-height: 2;
}

.email-group-header {
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px 0;
}

.content-fragment.edit-user div.email-setting-item-group .email-setting-item .email-setting-item-header, 
.content-fragment.edit-user div.email-setting-item-group .email-setting-item .email-setting-item-description{
  padding-left: 25px;
}
.content-fragment.edit-user div.email-setting-item-group {
  margin: 10px 0px;
}

.email-setting-item-header,
.email-settings-table-title {
  font-weight: bold;
  margin-bottom: 2px;
}

.email-setting-item.right, 
.email-setting-item-checkboxinput {
  float: left;
}

.content-fragment.edit-user div.email-setting-item-group .email-setting-item {
  float: left;
  width: 40%;
}

.content-fragment.edit-user div.email-setting-item-group .email-setting-item.left {
  clear: left;
}

.content-fragment.edit-user div.email-setting-item-group .email-setting-item.right {
  clear: right;
}

div#fragment-32949_EmailDigestTabs .tab-set {
  display: none;
}

.content-fragment div.email-setting-groups {
  width: 49%;
  float: left;
  overflow: hidden;
}

.content-fragment div.email-setting-groups .email-setting-groups-header {
  min-height: 45px;
}

.content-fragment.edit-user .email-setting-table {
  margin: 0 0 5px;
  border: 1px solid #d6d6d6;
  width: 90%;
  table-layout: fixed;
}

.content-fragment.edit-user .email-setting-table .email-setting-table-header {
  background: #ccc;
  font-weight: bold;
}

.content-fragment.edit-user .email-setting-table .email-setting-table-row {
  height: 30px;
}

.content-fragment.edit-user .email-setting-table .email-setting-table-row:nth-child(odd) {
  background: #eee;
}

.content-fragment.edit-user table.email-setting-table tr.email-setting-table-row td {
  padding: 4px;
  overflow: hidden;
}

.content-fragment.edit-user table.email-setting-table tr.email-setting-table-row td .email-setting-group {
  max-width: 200px;
}

.email-digest-subscription {
  cursor: pointer;
  width: 185px;
  word-wrap: normal;
  white-space: nowrap;
}

.email-digest-subscription span.email-digest-rollup {
  border: 1px solid #d6d6d6;
  padding: 3px;
}

.email-digest-subscription span.email-digest-rollup span.drop-down-arrow {
  padding-right: 11px;
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/login_2D00_create_2D00_sprite_2D00_arrows.png') no-repeat right 2px;
}

.notification-setting-item-group tbody tr th {
  text-align: left;
}

th.notification-distribution-type-header,
td.notification-setting-item-checkboxinput {
  padding-left: 10px;
}

/* Search Results */

.content-fragment.search-result-list .content .attachment .navigation-list li, .popup-list .content .attachment .navigation-list li {
  float: right;
  margin: 0 20px 0 0;
}

.content-fragment.search-result-list a {
  font-weight: normal;
}

.search-result-list li.content-item:after {
  content: "";
  display: table;
  clear: both;
}

.content-fragment.search-result-list .content.abbreviated .name, 
.popup-list .content.abbreviated .name {
  font-size: 16px;
  word-wrap: break-word;
  padding-top: 1em;
  padding-left: 25%;
  width: 100%;
  position: absolute;
  top: 0;
} 

.content-fragment.search-result-list .content.abbreviated .name .internal-link {
	color: #5F9933;
}

.content-fragment.search-result-list .content.abbreviated .author .avatar {
  position: relative;
  margin-bottom: 4px;
}

.content-fragment .content.abbreviated .author .avatar, 
.popup-list .content.abbreviated .author .avatar {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  left: inherit;
  top: inherit;
  overflow: hidden;
}

.content-fragment.search-result-list .content.abbreviated .author .avatar .internal-link img {
	margin: 0 auto;
}

.search-result-list .content.abbreviated .author {
  display: inline;
  float: left;
  padding: 0 !important;
  text-align: center;
  position: absolute;
}

.content-fragment .content.abbreviated .author, .popup-list .content.abbreviated .author {
  float: left;
  width: 25%;
  height: auto;
  position: relative;
  padding: 4px 0 0 54px;
  margin-top: 4px;
}

.search-result-list .attributes {
  padding-left: 0;
}

.content-fragment .content.abbreviated .attributes, 
.popup-list .content.abbreviated .attributes {
  clear: right;
  width: auto;
  padding-left: 0;
  text-align: left;
  margin-top: 1em;
  color: #bdc3c7;
  display: inline-block;
  float: none;
}

.content-fragment.search-result-list .search-results-wrapper {
  float: left;
  margin-left: 13px;
}

.content-fragment.search-result-list .search-results-wrapper {
	width: 80%;
}

.content-fragment .content.abbreviated .content, .popup-list .content.abbreviated .content {
  clear: none;
  line-height: 1.4em;
}

.content-fragment.search-result-list li.content-item {
  padding: 24px 0;
  height: 155px;
  border-bottom: 1px solid #eee;
  position: relative;
}

.content-fragment.search-result-list li.content-item:last-child {
	border-bottom: none;
}

.content-fragment.search-result-list li.attribute-item {
  padding-right: 1em;
  padding-bottom: 1px;
}

.content-fragment.search-result-list li.attribute-item.container {
  float: left;
}

.content-fragment.search-result-list li.attribute-item.application {
  float: left;
}

.search-results-wrapper .search-results .content-item .content:after {
  content: "";
  display: table;
  clear: both;
}

.search-result-list .content > .content {
  padding-top: 10px;
  padding-left: 25%;
  width: 100%;
  clear: none;
}

.content-fragment .content.abbreviated > .avatar, .popup-list .content.abbreviated > .avatar {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  float: left;
  width: 25%;
  height: auto;
  position: relative;
  padding: 4px 0 0 54px;
}

/* Search Bar */

.content-fragment.search-result-list .search-query .field-item {
  padding: 0px;
  margin: 1em 1em 2em 0 !important;
}

.content-fragment.search-result-list .search-query .field-list {
  margin: 0px;
  position: relative;
}

.content-fragment.search-result-list .search-query .search {
  float: left;
  margin: 1em 0 2em 0 !important;
}

.content-fragment.search-result-list .search-query .field-item .field-item-input {
	margin: 0;
}

.content-fragment.search-result-list .search-query .search .field-item-input input[type="text"] {
	width: 100%;
	border: 1px solid #d4d4d4;
  border-right: none;
	background-color: #f2f2f2;
  padding: 4px;
}

.content-fragment.search-result-list .search-query .search .field-item-input input[type="text"]:hover,
.content-fragment.search-result-list .search-query .search .field-item-input input[type="text"]:focus {
	border-color: #d4d4d4
}

.content-fragment.search-result-list .search-query .sort {
  height: 28px;
  padding-top: 5px !important;
  float: left;
  border: none !important;
  display: inline-block;
}

.content-fragment.search-result-list .search-query .searchbutton {
  display: inline-block;
  width: 41px;
  height: auto;
  position: relative;
  top: auto;
  left: auto;
  float: left;
  padding: 0;
}

.content-fragment.search-result-list .search-query .searchbutton a {
  display: block;
  text-indent: -3000em;
  width: auto;
  height: 25px;
  background-repeat: no-repeat;
  border: 1px solid #d4d4d4;
  border-left: none;
}

.content-fragment.search-result-list .search-query .rss {
  width: 16px;
  height: 16px;
  float: left;
  padding-left: 15px;
  padding-top: 6px !important;
}

.content-fragment.search-result-list .search-query .sort label {
  display: none;
}

.content-fragment.search-result-list .search-query .sort select {
  border: 0px;
  font-size: 11px;
  margin: 0;
}

.content-fragment.search-result-list .search-query .rss a {
  float: left;
  width: 16px;
  height: 16px;
  text-indent: -3000em;
  background: url("/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_rss.png") no-repeat scroll left top transparent;
}

.content-fragment.search-result-list .search-query .rss {
  padding-left: 15px;
  padding-top: 7px;
}

/* jcarousel */

.common-home .product-list .jcarousel-skin-tango .jcarousel-item {
  height: 54px;
  width: 247px;
}
.jcarousel-skin-tango .jcarousel-clip-vertical {
  height: 540px;
  width: 247px;
}
.jcarousel-skin-tango .jcarousel-clip {
  overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}
.overview-list .content-fragment.thread-list .filter {
    height: 44px !important;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 245px;
    padding: 20px 40px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 245px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  245px;
    height: 75px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
}
.user-userprofile .jcarousel-skin-tango .jcarousel-clip-vertical 
{
    height: 220px;
    width:  247px;
}

.common-home .product-list .jcarousel-skin-tango .jcarousel-clip-vertical 
{
    height: 540px;
    width:  247px;
}

.jcarousel-skin-tango .jcarousel-item {
}

.user-userprofile .jcarousel-skin-tango .jcarousel-item {
    height: 40px;
    width: 247px;
}

.common-home .product-list .jcarousel-skin-tango .jcarousel-item {
    height: 54px;
    width: 247px;
}

.user-userprofile .jcarousel-skin-tango .jcarousel-item {
    height: 54px;
}


.jcarousel-skin-tango .jcarousel-item  span.productName{
	line-height:15px;
	display:inline-block;
	width:170px;
	vertical-align:middle;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin: 0;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 43px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/next_2D00_horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/prev_2D00_horizontal.png);
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 43px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/prev_2D00_horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(http://dev.myomnicell.com/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/next_2D00_horizontal.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {

    position: absolute;
    left: 0;
    width: 249px;
    height: 14px;
    cursor: pointer;
    background: transparent url(/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/scrolldown.png) no-repeat center 0;

	}
.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: -12px;
    left: 0;
    width: 249px;
    height: 14px;
    cursor: pointer;
    background: transparent url(/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/scrollup.png) no-repeat center 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.documents-post-list .jcarousel-skin-tango .jcarousel-next-vertical {
    width: 699px;
}

.documents-post-list .jcarousel-skin-tango .jcarousel-prev-vertical {
    width: 699px;
}

.documents-post-list .jcarousel-container-vertical {
    width: 699px;
}

.documents-post-list .jcarousel-skin-tango .jcarousel-clip-vertical 
{
    height: 600px;
}


.training-list .jcarousel-skin-tango .jcarousel-next-vertical {
    width: 325px;
}

.training-list .jcarousel-skin-tango .jcarousel-prev-vertical {
    width: 325px;
}

.training-list .jcarousel-container-vertical {
    width: 325px;
}

.static-training .jcarousel-skin-tango .jcarousel-clip-vertical 
{
    height: 622px;
}

.static-training .jcarousel-skin-tango .jcarousel-item {
    width: 325px;
}

.scheduled-training .jcarousel-skin-tango .jcarousel-clip-vertical 
{
    height: 650px;
}

.scheduled-training .jcarousel-skin-tango .jcarousel-item {
    width: 325px;
}


.common-home .custom-bottom-right .content-fragment.overview-list.myproducts .jcarousel-skin-tango .jcarousel-next-vertical {
    width: 439px;
}

.common-home .custom-bottom-right .content-fragment.overview-list.myproducts .jcarousel-skin-tango .jcarousel-prev-vertical {
    width: 439px;
}

.common-home .custom-bottom-right .content-fragment.overview-list.myproducts .jcarousel-container-vertical {
    width: 459px;
}

.common-home .custom-bottom-right .content-fragment.overview-list.myproducts .jcarousel-skin-tango .jcarousel-clip-vertical 
{
    height: 580px;
    width: 459px;
}

.common-home .custom-bottom-right .content-fragment.overview-list.myproducts .jcarousel-skin-tango .jcarousel-item {
    width: 439px;
}

.overview-documentation-list .jcarousel-skin-tango .jcarousel-item {
}

.common-home .custom-bottom-right .content-fragment.overview-list.myproducts ul
{
	list-style-type: none; 
	list-style-position: inside; 
	list-style-image: none; 
	padding-left: 0px; 
}

.user-userprofile .custom-bottom-widget .custom-bottom-left .product-list img {
	max-height: inherit !important;
	max-width: inherit !important;
}

/* Other */

.menu.group-application-navigation-content .navigation-item a{
  color:#5F9933; 
}

.menu.group-application-navigation-content .navigation-item {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 5px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e1e1e1;
}

.menu.group-application-navigation-content {
  background-color: #f6f6f6;
  left: 415px;
  width: 202px;
  border: 1px solid #e1e1e1;
}

.menu.group-application-navigation-content .navigation-list#newpostbutton {
	top: 0;
}

.user-banner .internal-link {
	padding-left: 0;
}

.user-profile-group-content-fragment fieldset.field-list h3 {
	display: none;
}

.user-profile-group-content-fragment fieldset.field-list .field-item-input input {
	width: 96%;
}

div#fragment-32636 {
  width: 33%;
  float: right;
  margin: 9px;
}

.overview-list .content-fragment.thread-list .filter {
  height: auto !important;
}

.message {
  clear: both;
  line-height: 1.35em;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  color: black;
  border: 1px solid black;
  font-style: inherit;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: rgb(203, 219, 237);
}

.nav-container .menu-container ul {
  list-style: none;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-top: 20px;
  font-size: 12px;
}

.api-key-list table.table-list {
	width: 100%;
}

.error {
	color: red;
}

.logout-title{
  color: #80A4B7;
  font-size: 24px;
  margin-left: 0px;
  font-weight: bold;
  letter-spacing: -2px;
  margin-bottom: 10px;
}

a.internal-link.view-group:hover {
	border-bottom: none;
}

.breadcrumb-list {
	margin-left: 0 !important;
}

.overview-list .content-fragment.thread-list .filter {
  height: 44px !important;
}

.email-digest-selectWrapper {
  background-color: white;
  border: 1px solid #ccc;
}

.email-digest-selectable {
  padding-left: 4px;
}

.email-digest-selectable:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: #ccc;
}

.content-fragment.blog-post-list .content-item {
  clear: both;
  max-height: 167px;
}

.blog-post-list .content-list li.content-item:after {
  content: "";
  display: table;
  clear: both;
}

.blog-post-list .content-list li.content-item:after {
  content: "";
  display: table;
  clear: both;
}

.blog-post-list .sort {
  margin-top: 1em;
}

.navigation-list.navigation {
  float: right;
  margin: 10px 0 10px 10px;
  font-size: 10.4px;
  line-height: 26px;
  font-family: Arial, 'Helvetica', sans-serif;
  font-weight: 300;
}

.blog-post-list .content.abbreviated .author {
  float: left;
  width: 12%;
  height: auto;
  position: inherit;
  padding: 0;
  margin-top: 0;
  text-align: center;
}

.blog-post-list .content.abbreviated .author .avatar {
	-webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  left: inherit;
  top: inherit;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.blog-post-list .content.abbreviated .author .avatar img {
	-webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  overflow: hidden;
  margin: 0 auto;
}

.blog-post-list .content.abbreviated .author .user-name {
	display: inline-block;
  padding-top: 0;
  float: none;
  text-align: center;
 	clear: none;
  margin-top: 4px;
}

.blog-post-list .content.abbreviated .name {
  font-size: 20.8px;
  margin: 0;
  word-wrap: break-word;
  display: inline-block;
  padding-left: 20px;
  float: none;
  width: 76%;
}

.blog-post-list .content.abbreviated .name a {
	color: #5F9933;
}

.blog-post-list .content.abbreviated .attributes {
  clear: none;
  width: 12%;
  padding-left: 0;
  text-align: right;
  margin-top: 6px;
  color: #bdc3c7;
  display: inline-block;
  float: right;
}

.blog-post-list .content.abbreviated .post-summary {
  display: inline-block;
  margin-top: 1em;
  width: 76%;
  padding-left: 20px;
}

.content-fragment.blog-links .navigation-list-item .internal-link {
  padding-left: 18px;
  position: relative;
  font-weight: normal;
}

.content-fragment.blog-links .navigation-list-item .internal-link span {
  background-image: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_sprite.gif');
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  line-height: 15px;
  width: 16px;
  height: 15px;
}

.content-fragment.blog-links .navigation-list-item .internal-link.favorite-off span {
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_sprite.gif') no-repeat 2px -510px;
}

.content-fragment.blog-links .navigation-list-item .internal-link.add-post span {
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_add.gif') no-repeat center center;
}

.content-fragment.blog-links .navigation-list-item .internal-link.rss span {
  width: 10px;
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_rss.gif') no-repeat center center;
  left: 3px;
}

.content-fragment.blog-links .navigation-list-item .internal-link.weblogSubscribe span {
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_sprite.gif') no-repeat 3px -1561px;
}

.content-fragment.blog-links .navigation-list-item .internal-link.edit-application.weblog span {
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_cog.gif') no-repeat center center;
}

.content-fragment.blog-links .navigation-list-item .internal-link.add-application span {
  background: url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/icon_2D00_add.gif') no-repeat center center;
}

.content-fragment.blog-links .navigation-list-item .internal-link.edit-theme span {
  background-position: 3px -468px;
}

.uiselect:hover {
	background-color: #5F9933 !important;
	border-color: #5F9933 !important;
}

.uiselect:hover > span {
	background-color: #5F9933 !important;
}

.sort:hover {
  border-color: #5F9933 !important;
}

////// END CUSTOM.CSS

@media only screen and (min-width: ${theme:minimumWidth}) {
  .page-editing,
  .header-fragments .layout .layout-content,
  .header-fragments .layout .header-top-content .layout-region-inner,
  .content-fragment-page > .layout,
  .footer-fragments > .layout {
    min-width: ${theme:minimumWidth};
    max-width: ${theme:maximumWidth};
    padding-left: ${theme:widgetspacing}px;
    padding-right: ${theme:widgetspacing}px;
    _width: ${theme:width}; /* IE6 only */
  }
  .content-fragment.top-border{margin-top:${theme:widgetspacing}px; padding-top: ${theme:widgetspacing}px !important; }
  .content-fragment.with-spacing{padding:${theme:widgetspacing}px 0 ${theme:widgetspacing}px 0}
  .content-fragment .content-fragment-header{padding:0 0 ${theme:widgetspacing}px 0}
  .content-fragment.with-header{margin-top:${theme:widgetspacing}px}
  .layout-content.content-left-sidebar-right .layout-region.content{padding-right:${theme:widgetspacing}px}
  .layout-content.content-left-sidebar-right .layout-region.right-sidebar{padding-left:${theme:widgetspacing}px}
  .layout-content.sidebar-left-content-right .layout-region.content{padding-left:${theme:widgetspacing}px}
  .layout-content.sidebar-left-content-right .layout-region.left-sidebar{padding-right:${theme:widgetspacing}px}
  .layout-content.sidebar-left-content-center-sidebar-right .layout-region.content{padding-left:${theme:widgetspacing}px;padding-right:${theme:widgetspacing}px}
  .layout-content.sidebar-left-content-center-sidebar-right .layout-region.left-sidebar{padding-right:${theme:widgetspacing}px}
  .layout-content.sidebar-left-content-center-sidebar-right .layout-region.right-sidebar{padding-left:${theme:widgetspacing}px}
  .layout-content.content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.split-sidebar-left,.layout-content.content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.split-sidebar-right{padding-left:${theme:widgetspacing}px;padding-right:${theme:widgetspacing}px}
  .layout-content.content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.content{padding-right:${theme:widgetspacing}px}
  .layout-content.content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.right-sidebar{padding-left:${theme:widgetspacing}px}
  .layout-content.header-top-content-left-sidebar-right .layout-region.content{padding-right:${theme:widgetspacing}px}
  .layout-content.header-top-content-left-sidebar-right .layout-region.right-sidebar{padding-left:${theme:widgetspacing}px}
  .layout-content.header-top-sidebar-left-content-right .layout-region.content{padding-left:${theme:widgetspacing}px}
  .layout-content.header-top-sidebar-left-content-right .layout-region.left-sidebar{padding-right:${theme:widgetspacing}px}
  .layout-content.header-top-sidebar-left-content-center-sidebar-right .layout-region.content{padding-left:${theme:widgetspacing}px;padding-right:${theme:widgetspacing}px}
  .layout-content.header-top-sidebar-left-content-center-sidebar-right .layout-region.left-sidebar{padding-right:${theme:widgetspacing}px}
  .layout-content.header-top-sidebar-left-content-center-sidebar-right .layout-region.right-sidebar{padding-left:${theme:widgetspacing}px}
  .layout-content.header-top-split-content-footer .layout-region.left-sidebar{padding-right:${theme:widgetspacing}px}
  .layout-content.header-top-split-content-footer .layout-region.right-sidebar{padding-left:${theme:widgetspacing}px}
  .layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.right-sidebar{padding-left:${theme:widgetspacing}px}
  .layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.content{padding-right:${theme:widgetspacing}px}
  .layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.split-sidebar-left{padding-left:${theme:widgetspacing}px;padding-right:${theme:widgetspacing}px}
  .layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.split-sidebar-right{padding-left:${theme:widgetspacing}px}
  .layout-content.split-content .layout-region.content{padding-right:${theme:widgetspacing}px}
  .layout-content.split-content .layout-region.right-sidebar{padding-left:${theme:widgetspacing}px}
  .layout-content.header-top-split-content .layout-region.content{padding-right:${theme:widgetspacing}px}
  .layout-content.header-top-split-content .layout-region.right-sidebar{padding-left:${theme:widgetspacing}px}
  .layout-content.header-top-content-left-sidebar-right-footer .layout-region.content{padding-right:${theme:widgetspacing}px}
  .layout-content.header-top-content-left-sidebar-right-footer .layout-region.right-sidebar{padding-left:${theme:widgetspacing}px}
  .layout-content.header-top-sidebar-left-content-right-footer .layout-region.content{padding-left:${theme:widgetspacing}px}
  .layout-content.header-top-sidebar-left-content-right-footer .layout-region.left-sidebar{padding-right:${theme:widgetspacing}px}
  .layout-content.header-top-sidebar-left-content-center-sidebar-right-footer .layout-region.content{padding-left:${theme:widgetspacing}px;padding-right:${theme:widgetspacing}px}
  .layout-content.header-top-sidebar-left-content-center-sidebar-right-footer .layout-region.left-sidebar{padding-right:${theme:widgetspacing}px}
  .layout-content.header-top-sidebar-left-content-center-sidebar-right-footer .layout-region.right-sidebar{padding-left:${theme:widgetspacing}px}
  .layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom-footer .layout-region.content{padding-left:${theme:widgetspacing}px;padding-right:${theme:widgetspacing}px}
  .layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom-footer .layout-region.left-sidebar{padding-right:${theme:widgetspacing}px}
  .layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom-footer .layout-region.right-sidebar{padding-left:${theme:widgetspacing}px}
  .layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom-footer .layout-region.split-sidebar-left{padding-left:${theme:widgetspacing}px;padding-right:${theme:widgetspacing}px}
  .layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom-footer .layout-region.split-sidebar-right{padding-left:${theme:widgetspacing}px}
}
@media screen and (max-width: ${theme:maximumWidth}) {
   .content-fragment.featured-content-slider .content-fragment-content .featured-content-slider {
     max-width: 100%;
       padding-left: 0;
       padding-right: 0;
  }
}
@media screen and (max-width: 575px) {
        .header-fragments .layout {
		border-top: 0;
	}
}

@media screen and (max-width: 480px) {
     body {
            padding-top: 10px !important;
        }
	
	.content-fragment.site-user-navigation .navigation-item {
		line-height: 50px;
		padding-right: 5px;
	}

	.content-fragment.site-user-navigation a {
		font-size: 9px !important;
	}

	.layout-region.right-sidebar .content-fragment.site-user-navigation .navigation-list {
		padding-right: 15px;
	}
     
         .site-user-navigation .header-logo-mobile {
        display: block;
        width: 60px;
        height: 60px;
        margin-left: 10px;
    }
    
    .layout-region.right-sidebar .content-fragment.site-user-navigation {
        float: left;
       /* margin-bottom: -35px; */
        margin-left: -10px;
    }
}

/* site header styles */
.home-search-ask .submit-buttons .search-button {
  padding-right: 0 !important;
  float: left;
}

.site-search .home-search-ask .submit-buttons {
  margin: -20px 321px -40px !important;
  padding: 20px 5px 30px !important;
}

.header-logo-mobile {
    display: none;
}

@media screen and (max-width: 990px) {
     .myproducts, .myproducts-list  {
        display: none !important;
    }
}

@media screen and (min-width: 945px) and (max-width: 1040px) {
     .group-search-ask {
        width: 600px;
    }
}

@media screen and (max-width: 945px) {
    
     .group-search-ask .search-bar {
        padding: 55px 0 5px 10px;
        width: 250px; 
        float: none;
        background-color: transparent;
    }
    
     .group-search-ask .search-bar input {
        width: 95%;
    }
    
     .group-search-ask {
        margin-top: -15px;
    }
    
    .group-search-ask .search-bar .submit-buttons .search-button {
        padding: 5px 0;
    }
    
     .home-search-ask .submit-buttons {
        margin: 0!important;
        padding: 0 !important;
    }
}

@media screen and (max-width: 365px) {
    
    .layout-content.split-content .layout-region.right-sidebar {
        width: auto !important;
        float: none !important;
    }
    
     .header-logo {
        display: none;
    }
}

/* End Header Styles */

.menu.save-page-content input[type="button"], .menu.select-page-content input[type="button"] {
	padding: 0 10px!important;
	height: 30px !important;
	line-height: 30px !important;
}

/* .field-item.override{display:none !important} */
