$core_v2_page.SetContentType("text/css")

.content-fragment.user-banner .user-banner {
    min-height: 115px;
    padding: 0;
    position: relative;
}
.user-banner {
    height: 115px;
}

.user-banner .user-name {
   color: #7fa3b7;
   font-size: 24px;
   font-weight: bold;
   padding: 0 !important;
   padding-right: 5px;
   letter-spacing: -1.25px;
   margin: 0;
   margin-left: 5px;

}

.user-banner .user-avatar {
    border: 1px solid #ccc; 
    max-width: 70px !important;
    padding: 2px;
    float: left;
}

.user-banner .user-avatar img {
    float: left;
    padding: 1px;
 /*   height: 70px !important;
    width: 70px !important; */
}
.user-banner .user-avatar img {
    border-width: 0;
 /*   max-height: 70px !important;
    max-width: 70px !important;*/
}

.user-banner .user-banner-actions {
    float: right;
    top: 1em;
 /*  position: absolute;
   right: 20px;
   top: 15px; */
}

.user-banner .user-banner-actions .navigation-list {
    margin-right: 0;
    list-style: outside none none;
    padding: 0;
}

.user-banner .user-banner-actions .navigation-item {
    border-bottom: 1px dotted #ccc;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 5px 5px 5px 0;
    position: relative;
    text-align: left;
    white-space: nowrap;
}

.user-banner .internal-link {
    padding-left: 28px;
    position: relative;
}

.user-banner .internal-link.send-email span, .user-banner .internal-link.start-conversation span {
    background: rgba(0, 0, 0, 0) url("/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/send_2D00_message.gif") no-repeat scroll left center;
}
.user-banner .internal-link span {
    height: 16px;
    float: left;
    width: 16px;
}

.user-banner .internal-link.edit-user-profile span {
    background: rgba(0, 0, 0, 0) url("/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/save_2D00_user_2D00_profile.gif") no-repeat scroll left center;
}

.layout-content.content-left-sidebar-right .layout-region.content .content-fragment, .layout-content.sidebar-left-content-right .layout-region.left-sidebar .content-fragment, .layout-content.sidebar-left-content-center-sidebar-right .layout-region.left-sidebar .content-fragment, .layout-content.sidebar-left-content-center-sidebar-right .layout-region.content .content-fragment, .layout-content.content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.content .content-fragment, .layout-content.content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.split-sidebar-left .content-fragment, .layout-content.header-top-content-left-sidebar-right .layout-region.content .content-fragment, .layout-content.header-top-sidebar-left-content-right .layout-region.left-sidebar .content-fragment, .layout-content.header-top-sidebar-left-content-center-sidebar-right .layout-region.left-sidebar .content-fragment, .layout-content.header-top-sidebar-left-content-center-sidebar-right .layout-region.content .content-fragment, .layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.content .content-fragment, .layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.split-sidebar-left .content-fragment {
    margin-right: 0;
}

.content-fragment.user-profile-group-content-fragment {
    word-wrap: break-word;
}

#title-facility {
    color: #999;
    line-height: 60%;
    padding-bottom: 30px; 
    margin: 0 5px !important;
    display: block;
}
.attribute-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    display: block;
}

.attribute-item {
    margin-top: 5px;
    display: block !important;
}

.content-fragment.user-profile-group-content-fragment .attribute-item {
	border-bottom: medium none;
    display: block; 
    margin: 5px 5px 0 0;
    padding-bottom: 5px;
}

.content-fragment.user-profile-group-content-fragment .attribute-name {
    display: block;
    font-weight: bold;
}
.attribute-name {
    margin: 0 3px 0 0;
}

.content-fragment.user-profile-group-content-fragment .attribute-value {
    color: #666;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
}

ul#title-facility a {
    color: #999;
    font-weight: normal;
}

.attribute-name {
    display: block;
    font-weight: bold;
}
.attribute-name {
    margin: 0 3px 0 0;
}

.user-banner .internal-link.favorite-on span, .user-banner .internal-link.favorite-off span, .user-banner .internal-link.processing span {
    background: rgba(0, 0, 0, 0) url("/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/follow.gif") no-repeat scroll left center;
}

.activity-story-stream {
    float: left;
    width: 60%;
}

.favorable-content-list {
    float: right;
    margin-top: 10px;
    width: 33%;
    clear: right;
}

@media screen and (max-width: 990px) {
     .myproducts, .myproducts-list  {
        display: none !important;
    }
    
     .favorable-content-list {
            clear: none;
            float: none;
            margin-top: 10px;
            width: auto;
        }
}

@media screen and (max-width: 570px) {
		.user-userprofile .content-fragment.favorable-content-list.no-wrapper-with-spacing.with-header {
			float: none;
			width: auto; 
		}
	
	    .user-userprofile .content-fragment.activity-story-stream.no-wrapper-with-spacing.with-header {
			float: none;
			width: auto;
		}
		
	.user-profile	.user-defined-markup {
        clear: both;
        padding-top: 20px;
    
    } 
    
       
    .directions {
        margin-top: 40px !important;
    }
        
    .defaultSkin table.mceLayout {
		  clear: both;
	}
	    
	.mceToolbar td {
        display:table-row;
        float: left;
    }
        
    .mceToolbar td:nth-of-type(11){
        clear: left;
    }

}