#set($fetchGroupId = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('parentGroup', 'Group=25')).Value("Group"))
#set($parent = $core_v2_utility.ParseInt($fetchGroupId))
#set($userId = $core_v2_user.Accessing.Id)
#set($parent = $core_v2_utility.ParseInt($fetchGroupId))
#set($groupUser = $core_v2_groupUserMember.Get($parent, "%{UserId = $userId}"))
#set($roles = $core_v2_role.List("%{UserId = $userId}"))
#set($administratorsRoleString = "Administrators")
#set($IsAdmin = false)

#foreach($role in $roles)
    #if($role.Name == $administratorsRoleString)
        #set($IsAdmin = true)
    #end
#end
#set($IsOwner = false)
#if($groupUser.MembershipType == "Owner")
    #set($IsOwner = true)
#end

#set($IsManager = false)
#if($groupUser.MembershipType == "Manager")
    #set($IsManager = true)
#end

#set($isFetchGroup = false)
#if($fetchGroupId == $core_v2_group.Current.Id)
    #set($isFetchGroup  = true)
#end
#*
#if($IsOwner == false && $IsManager == false)
    $core_v2_widget.Hide()
#end
*#
##if($IsOwner)
<ul class="sidebar_links">
    #if($IsOwner || $IsManager)
    <li>
        <a href="/ops/fetch/m/operationsdocuments/default.aspx">Operations Documents</a></li>
    #end
    #*<li>
        ## tech docs on my omnicell
        <a href="/tech-documents/default.aspx">Technical Documents</a><span style="font-size:80%;"> on myOmnicell</span></a>
    </li>*#
    #if($IsOwner)
    <li>
     <a href="/ops/fetch/m/omnicell_management_documents/default.aspx">Omnicell Management Documents</a></li>
    <li>
    #end
    <li>
        <a href="/ops/fetch/m/projectplans/default.aspx">Project Implementation Templates</a>
    </li>
 </ul>
    
 ##   <div class="read_more"><a href="#">Read More</a></div>
 ## <BR />
#*
#elseif ($IsManager)
    <ul class="sidebar_links">
       <li>
           <a href="/ops/fetch/m/operationsdocuments/default.aspx">Operations Documents</a>
       </li>
       <li>
        <a href="/tech-documents/default.aspx">Technical Documents</a><span style="font-size:80%;"> on myOmnicell</span></a>
       <li>
    </ul>
#end
*#