$core_v2_page.SetContentType("text/css")

.omnicell-projecthealth .field-item .field-item-input input,
.omnicell-projecthealth .field-item .field-item-input textarea { width: 100%;}
.omnicell-projecthealth .field-item .field-item-input .submit-button {display: block; width:59px; height: 16px; background: url('/cfs-file.ashx/__key/themefiles/s-7e987e474b714b01ba29b4336720c446-files/button_2D00_bg.png') no-repeat; color: #fff; font-family: Arial, Helvetica; font-size: 14px; font-weight: bold; white-space: nowrap; padding: 7px 7px 7px 19px;}

.omnicell-projecthealth legend { background: #ccc; font-size: 21px; width: 97%; padding: 9px 15px; }
    .omnicell-projecthealth legend span { float: right; color: #f00; font-size: 15px; margin-top: 7px; }
    
.omnicell-projecthealth .updatecontainer{ width: 520px;}
.omnicell-projecthealth .updatecontainer .header {border-bottom: 1px solid #F3F3F2; padding-bottom: 5px;}
.omnicell-projecthealth .updatecontainer .field-item-validation {display: block; }
.omnicell-projecthealth .product-list { float:left; margin-right: 10px; width: auto; }
.omnicell-projecthealth .projecthealth-date { float:left; }
.omnicell-projecthealth .projecthealth-date input { height:15px; }
.omnicell-projecthealth .projecthealth-date span img {margin-left: 5px !important; margin-top: -6px !important; padding: 0px !important; border: 0px !important; height: 15px !important; }
.omnicell-projecthealth .projecthealth-status { float:left; margin-right: 10px; width: 100%;}
.omnicell-projecthealth .projecthealth-completionstatus { float:left;}


/*.omnicell-projecthealth .resultscontainer{ width: 520px;}*/
.omnicell-projecthealth .resultscontainer .pager.ui-page{ text-align: left;}
.omnicell-projecthealth .resultscontainer div.title{ /*background: #ccc; font-size: 21px; padding: 9px 15px; margin-bottom: 10px;*/
    background-image:-moz-linear-gradient(53% 3% 180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%); 
    background-image:-webkit-gradient(linear,53% 3%,53% 97%,color-stop(0, rgb(146,203,99)),color-stop(1, rgb(101,159,53)));
    background-image:-webkit-linear-gradient(180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%);
    background-image:-o-linear-gradient(180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%);
    background-image:-ms-linear-gradient(180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%);
    background-image:linear-gradient(180deg,rgb(146,203,99) 0%,rgb(101,159,53) 100%);
    border-color:rgb(226,226,225);
    border-width:1px;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    border-radius:1px;
    border-style:solid;
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff92cb63,endColorstr=#ff659f35,GradientType=0)";
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff92cb63,endColorstr=#ff659f35,GradientType=0);
    color: #FFF;
    font-size: 20px;
    padding: 5px 0 5px 10px;

}
.omnicell-projecthealth .resultscontainer .resultstable{ width: 100%;}
.omnicell-projecthealth .resultscontainer td { padding:5px; font-size:12px;}
.omnicell-projecthealth .resultscontainer td.tablecol { padding: 5px;}
.omnicell-projecthealth .resultscontainer td.tablecol a {color:#006699; font-weight: normal;}
.omnicell-projecthealth .resultscontainer td.postedby { width:125px;}
.omnicell-projecthealth .resultscontainer td.postdate { width:50px;}
.omnicell-projecthealth .resultscontainer td.product { width:125px;}
.omnicell-projecthealth .resultscontainer td.completionstatus { width:200px;}
.omnicell-projecthealth .resultscontainer td.healthstatus { width:35px;}
.omnicell-projecthealth .resultscontainer td.tablecol a.sort-button-asc {background: url("$core_v2_widget.GetFileUrl('sort_up_green_12_12.png')") no-repeat scroll left top transparent;  padding-left: 12px;}
.omnicell-projecthealth .resultscontainer td.tablecol a.sort-button-desc {background: url("$core_v2_widget.GetFileUrl('sort_down_green_12_12.png')") no-repeat scroll left top transparent;  padding-left: 12px;}

.omnicell-projecthealth .resultscontainer tr:nth-child(odd) { background-color:#fff;}
.omnicell-projecthealth .resultscontainer tr:nth-child(even) { background-color:#F3F3F2;}

 .processing {color: #CE2029; padding-top: 10px; font-size: 14px; display: block !important;}