$core_v2_page.SetContentType("text/css")

.content-fragment.login-and-create-user .content-fragment-content .page.temp-reg{
    background: -moz-linear-gradient(center top , #E5E6E7 0%, #F2F2F2 52%) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    border-radius: 8px 8px 8px 8px;
    float: left;
    min-height: 260px !important;
    padding: 18px 10px 0 15px;
    margin-left: 20px;
    width: 236px !important;
}
.content-fragment.login-and-create-user .content-fragment-content .page.temp-reg p{
    padding-bottom: 30px;
}

.content-fragment.login-and-create-user .content-fragment-content .page{
   width: auto !important;
   min-height: 278px !important;
}
div.login-left {
   width: auto !important;
}

div.login-right {
    display: none;
}

.content-fragment.login-and-create-user .content-fragment-content .page.temp-reg a.omnicell-temp-reg-button { padding:1px 18px 7px 10px; letter-spacing:0.4px; font-size:16px; background: url("$core_v2_widget.GetFileUrl('btnGreen.png')") no-repeat scroll right -24px transparent; color: #FFFFFF; display: inline-block; font-weight: bold; height: 24px; line-height: 24px; margin-left: 0px; min-width: 50px; position: relative; z-index: 3; text-decoration:none; }
.content-fragment.login-and-create-user .content-fragment-content .page.temp-reg a.omnicell-temp-reg-button span { background: url("$core_v2_widget.GetFileUrl('btnGreen.png')") no-repeat scroll left top transparent; display: inline-block; height: 24px; left: -5px; position: absolute; top: 0; width: 7px;}

