#set($mf = false)
#set($mf = $omnicell_v1_mediaformat.Get($currMediaFormat))

#set ($formatText = $core_v2_language.GetResource('Omnicell_All_Formats'))
#if($mf)
    #set ($formatText = $mf.Value)
#end

<a href="#" class="omnicell-filter-list-button" id="$core_v2_widget.UniqueId('formatTypeButton')"><span></span>$core_v2_language.GetResource('Omnicell_Format_Label') $formatText</a>
<div id="$core_v2_widget.UniqueId('formatTypeMenu')"></div>

<script type="text/javascript">

   jQuery(function(){
    
    var formatTypeButton = $("#$core_v2_widget.UniqueId('formatTypeButton')")
    var formatTypeMenu = $("#$core_v2_widget.UniqueId('formatTypeMenu')")
    
    formatTypeMenu.glowPopUpMenu({
        groupCssClass: 'menu moderation-content menu__moderation-content',
		itemCssClass: 'menu-item menu__moderation-content__menu-item',
		itemSelectedCssClass: 'menu-item hover menu__moderation-content__menu-item__hover',
		itemExpandedCssClass: 'menu-item expanded',
		position: 'down',
		zIndex: 100,
		iconWidth: 30,
		iconHeight: 30,
		menuItems: [
            ['0', '$core_v2_language.GetResource('Omnicell_All_Formats')', '$core_v2_page.AdjustQueryString($filterQs, "$formatParam=")']
            #foreach($format in $tg.MediaFormatFilters)
                ,['$format.Id', '$format.Value', '$core_v2_page.AdjustQueryString($filterQs, "$formatParam=$format.Id")']
            #end
        ]
	});
 
	formatTypeButton.click(function()
	{
		if (!formatTypeMenu.glowPopUpMenu('isOpen'))
			formatTypeMenu.glowPopUpMenu('open', this);
		else
			formatTypeMenu.glowPopUpMenu('close');
            
		return false;
	});
});
</script>

