#set($pageSize = $core_v2_widget.GetIntValue('pageSize',5))
#set($pageIndex = $core_v2_ui.GetCurrentPageIndex())
#set($sort = false)
#set($sort = $core_urls.GetQueryStringValue('Sort'))
#set($sortOrder = false)
#if($sort == "PublishDate")
	#set($sortOrder = "Ascending")
#elseif($sort == "MostRecent" || $sort == "RatingAverage")
	#set($sortOrder = "Descending")
#end
#set ($accessingUserIsRegistered = $core_v2_user.IsRegistered($core_v2_user.Accessing.Id))
#set($comments = $core_v2_wikiComment.List($wiki_v2_wikiPage.CurrentOrDefault.WikiId, $core_v2_wikiPage.CurrentOrDefault.Id, "%{PageSize=$pageSize,PageIndex=$pageIndex}"))

#foreach($comment in $comments)
#beforeall
	<a name="comments"></a>
	<div class="content-list-header"></div>
	<div class="content-list-name">$core_v2_language.GetResource("Comments")</div>
	<ul class="content-list">
#each
	#set($IsAnonymous = true)
	#set($IsAnonymous = !$core_v2_User.IsRegistered($comment.Author.Id))
	<li class="content-item" data-commentid="$comment.Id" data-editurl="$core_v2_encoding.HtmlAttributeEncode($core_v2_wikiUrls.EditComment($comment.Id))">
		<div class="full-post-outer fiji-full-post-outer evolution2-full-post-outer">
			<div class="full-post-header">
				<div class="r fiji-r evolution2-r"></div>
			</div>
			<div class="full-post">
				<div class="full-post-inner fiji-full-post-inner evolution2-full-post-inner">
					<a name="comment-$comment.Id"></a>
					<div class="post-author">
						<span class="avatar">
							#if ($comment.Author.ProfileUrl)
								<a href="$core_v2_encoding.HtmlAttributeEncode($comment.Author.ProfileUrl)">
									$core_v2_ui.GetResizedImageHtml($comment.Author.AvatarUrl,32,32,"%{ style='border-width: 0px;', alt=$comment.Author.DisplayName}")
								</a>
							#else
								$core_v2_ui.GetResizedImageHtml($comment.Author.AvatarUrl,32,32,"%{ style='border-width: 0px;', alt=$comment.Author.DisplayName}")
							#end
						</span>
						<span class="user-name">
							#if ($comment.Author.ProfileUrl)
								<a href="$core_v2_encoding.HtmlAttributeEncode($comment.Author.ProfileUrl)" class="internal-link view-user-profile">
									<span></span>$comment.Author.DisplayName
								</a>
							#else
								<span></span>$comment.Author.DisplayName
							#end
						</span>
					</div>
					<div class="post-date">
						<span class="value">$core_v2_language.FormatDateAndTime($comment.PublishedDate)</span>
					</div>
				    <div class="post-moderate">
				        #if ($accessingUserIsRegistered)
							#set ($DQ = '"')
							#set ($moderateOptions = "%{}")
							#set ($deleteLink = "")
							#if ($core_v2_nodePermission.Get('wikispagecomments', $comment.Id, "Wiki_DeleteComment").IsAllowed)
								#set ($deleteLink = "{${DQ}href${DQ}:${DQ}#${DQ},${DQ}text${DQ}:${DQ}${core_v2_language.GetResource('Delete')}${DQ},${DQ}className${DQ}:${DQ}delete-post${DQ}}")
							#end
							#set ($editLink = "")
							#if ($core_v2_nodePermission.Get('wikispagecomments', $comment.Id, "Wiki_ModifyComment").IsAllowed)
								#set ($editLink = "{${DQ}href${DQ}:${DQ}#${DQ},${DQ}text${DQ}:${DQ}${core_v2_language.GetResource('Edit')}${DQ},${DQ}className${DQ}:${DQ}edit-post${DQ}}")
							#end
							#set ($divider = '')
							#if ($deleteLink.length > 0 && $editLink.length > 0)
								#set ($divider = ',')
							#end
							$moderateOptions.Add('AdditionalLinks',"[${editLink}${divider}${deleteLink}]")
				            $core_v2_ui.Moderate($comment.CommentId, $comment.CommentContentTypeId, $moderateOptions)
				        #end
				    </div>
					<div class="post-content user-defined-markup">
						$comment.Body
					</div>
					<div class="post-actions">
						<div class="navigation-list-header"></div>
						<ul class="navigation-list">
							<li class="navigation-item post-like-count">
								#if ($accessingUserIsRegistered)
									#set ($likeFormat = '{toggle} <span class="count"><span class="like-indicator inline"></span>{count}</span>')
								#else
									#set ($likeFormat = '<span class="count"><span class="like-indicator inline"></span>{count}</span>')
								#end
				            	<span class="attribute-value">$core_v2_ui.Like($comment.CommentId, $comment.CommentContentTypeId, "%{ Format = $likeFormat }")</span>
				            </li>
						</ul>
						<div class="navigation-list-footer"></div>
					</div>
				</div>
			</div>
			<div class="full-post-footer">
				<div class="r fiji-r evolution2-r"></div>
			</div>
		</div>
	</li>
#afterall
	</ul>
	<div class="content-list-footer"></div>
#end

#set($baseUrl = $core_v2_page.Url)
#set($baseUrl = $core_v2_page.GetQueryStringValue('w_baseUrl'))

$core_v2_ui.Pager($comments.PageIndex, $comments.PageSize, $comments.TotalCount, "%{Target='comments',BaseUrl=$baseUrl,PagedContentFile='load.vm',Transition='none'}")