$core_v2_page.SetContentType("text/css")

.content-fragment {
  font-family: Arial, 'Helvetica', sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 10px;
}

.content-fragment.group-application-navigation .navigation-list {
  border-bottom: 1px solid #D4E7C5;
  background: none;
  color: #999;
  height: 25px;
  margin-left: 0;
  padding: 0;
  list-style-type: none;
  margin: 0;
  position: relative;
}

.content-fragment.group-application-navigation .navigation-item.selected {
  border-left: 1px solid #D4E7C5;
  border-right: 1px solid #D4E7C5;
  border-top: 1px solid #D4E7C5;
  height: 25px;
  color: #52524a;
  background: none repeat scroll 0 0 #FFF;
  border-collapse: collapse;
}

.content-fragment.group-application-navigation .navigation-item {
  float: left;
  display: block;
  background: #D4E7C5;
  border-right: 1px solid #fff;
  height: 25px;
  margin: 0px;
  padding: 0 0 0 6px;
  border-left: none;
  border-collapse: collapse;
}

.content-fragment.group-application-navigation .navigation-item.add-post {
	visibility: hidden;
}

li {
  text-align: -webkit-match-parent;
}

.content-fragment.group-application-navigation .navigation-item.selected a:link {
	color: #52524a;
  text-decoration: none;
}

.content-fragment.group-application-navigation .navigation-item a {
  display: block;
  height: 27px;
  line-height: 25px;
  padding: 2px 16px 0 10px;
  font-size: 13px !important;
}

.content-fragment.group-application-navigation .internal-link.add-post {
	position: absolute;
	height: 26px;
	font-weight: bold;
	line-height: 19px;
  background: url("/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/newpost.png") no-repeat scroll left top transparent;
  padding: 3px 74px 0;
  right: 1px;
  font-size: 0px;
  z-index: 1;
  visibility: visible;
}

.content-fragment.group-application-navigation .navigation-list a, .content-fragment.group-application-navigation .navigation-list a:link, .content-fragment.group-application-navigation .navigation-list a:visited, .content-fragment.group-application-navigation .navigation-list a:hover, .content-fragment.group-application-navigation .navigation-list a:active {
    color: #999;
    text-decoration: none;
    font-weight: normal;
}
.content-fragment.group-application-navigation.omnicellgroup-application-navigation .navigation-item a, .content-fragment.group-application-navigation.omnicellgroup-application-navigation .navigation-item.selected a {
    font-size: 12px;
}

@media screen and (max-width: 480px){
    .user-defined-markup object { display:none;}
    
    .content-fragment.group-application-navigation.omnicellgroup-application-navigation .internal-link.add-post {
	    top: inherit;
	    padding: 3px 85px 0;
	    margin-top: 10px;
    }
    
    .navigation-list-header {
        margin-bottom: 5px;
    }
    .navigation-list-footer {
        min-height: 25px;
    }
    
}