$core_v2_page.AddLink("stylesheet", $core_v2_widget.GetExecutedFileUrl('online.css'))

#set($fetchGroupId = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('parentGroup', 'Group=25')).Value("Group"))
#set($userId = $core_v2_user.Accessing.Id)

#set($parent = $core_v2_utility.ParseInt($fetchGroupId))
#set($userId = $core_v2_user.Accessing.Id)

#set($groupUser = $core_v2_groupUserMember.Get($parent, "%{UserId = $userId}"))
#set($roles = $core_v2_role.List("%{UserId = $userId}"))
#set($administratorsRoleString = "Administrators")
#set($IsAdmin = false)

#foreach($role in $roles)
    #if($role.Name == $administratorsRoleString)
        #set($IsAdmin = true)
    #end
#end
#set($IsOwner = false)
#if($groupUser.MembershipType == "Owner")
    #set($IsOwner = true)
#end

#set($IsManager = false)
#if($groupUser.MembershipType == "Manager")
    #set($IsManager = true)
#end

#if ($IsAdmin == false && $IsManager == false && $IsOwner == false)
    #$core_v2_widget.Hide()
#end

#set($pageUrl = $core_v2_page.Url)
#set($dgId = -1)

#set($dgId = $core_v2_utility.ParseInt($core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('selectedMediaGalleryOrGroup','')).Value('MediaGallery')))

#set($isSingleProd = false)
#set($singleProdId = 0)
#set($singleProdName = '')

#set($prodFilterSetting = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('productFilters','FilterType=0')))
#set($prodFilterType = $core_v2_utility.ParseInt($prodFilterSetting.Value('FilterType')))
#set($productFilters = false)
#set($productFilters = $prodFilterSetting.Values('Product'))

#set($widgetId = $core_v2_widget.WrapperElementId.Replace("fragment-", ""))

#set($prodParam = "pid${widgetId}")
#set($currProduct = -1)
#set($currProduct = $core_v2_utility.ParseInt($core_v2_page.GetQueryStringValue($prodParam)))

#set($documentTypeParam = "dtid${widgetId}")
#set($currDocumentType = -1)
#set($currDocumentType = $core_v2_utility.ParseInt($core_v2_page.GetQueryStringValue($documentTypeParam)))

#set($filterProds = true)
#set($qsProdFilter = $core_v2_page.GetQueryStringValue('pf'))
#if($qsProdFilter == 'all')
    #set($filterProds = false)
#end

#set($pageIndex = $core_v2_ui.GetCurrentPageIndex())

#set($pageSize = $core_v2_widget.GetStringValue('pageSize', '20'))
#set($pageSize =$core_v2_utility.ParseInt($pageSize))

#set($sortBy = $core_v2_widget.GetStringValue('sortBy', 'titlesort'))
#set($onlyCurrent = $core_v2_widget.GetBoolValue('onlyShowCurrent', false))

#set ($pageUrl = $core_v2_page.Url)
#set ($filterQs = $core_v2_page.AdjustQueryString($pageUrl, "${core_v2_ui.PageIndexQueryStringKey}="))

#set ($selDocumentTypeFilter = $core_v2_widget.GetIntValue('documentTypeFilter', -1))

## This will be built by the product-list.vm if $filterProds is true
#set ($userProdFilter = '')

<div class="filter-panel" style="display: none;">
    #if($prodFilterType < 2 || ($prodFilterType == 2 && $productFilters.Count > 1))
        <div class="filter-list">$core_v2_widget.ExecuteFile('product-list.vm')</div>
    #else
    	#set($isSingleProd = true)
        #foreach($prodId in $productFilters)
			#set($singleProdId = $prodId)
            #set($userProdFilter = $prodId.ToString())
        #end
		#set($singleProdGroup = false)
		#set($singleProdGroup = $core_v2_group.Get("%{Id = $singleProdId}"))
		#if($singleProdGroup)
			#set($singleProdName = $singleProdGroup.Name)
		#end
    #end
	
    #if($selDocumentTypeFilter > 0)
        #set($currDocumentType = $selDocumentTypeFilter)
    #else
        <div class="filter-list">$core_v2_widget.ExecuteFile('document-type-list.vm')</div>
    #end
        
</div>
<div class="filter-product-panel" style="display: none;">
    <div class="filter-products">
        $core_v2_language.GetResource('Omnicell_FilterProducts') 
        <input type="checkbox" id="$core_v2_widget.UniqueId('filterProducts')"#if($filterProds) checked="checked"#end />
    </div>
</div>

##########
<div class="resultscontainer">

#set($options = "%{PageIndex = $pageIndex, PageSize = $pageSize}")
$options.Add("Sort", "$sortBy")
$options.Add("OnlyShowCurrent", $onlyCurrent)
#if($currProduct > 0)
    $options.Add("Product", $currProduct)
#elseif($userProdFilter.Length > 0)
   ## $options.Add("Product", "($userProdFilter)")
#end

#if($currDocumentType > 0)
    $options.Add("DocumentType", $currDocumentType)
#end

#set($pagedResults = $omnicell_v1_document.List($dgId, $options))

#foreach($media in $pagedResults)
## #beforeall
##    <ul class="media-list">
## #afterall
##    </ul>
    ##$core_v2_ui.Pager($pagedResults.PageIndex, $pagedResults.PageSize, $pagedResults.TotalCount)
#nodata
	#if(!$isSingleProd)
		$core_v2_language.GetResource('Omnicell_No_Data')
	#else
		$core_v2_language.FormatString($core_v2_language.GetResource('Omnicell_SingleProduct_Msg'), $singleProdName)
	#end
#each
 ##   <li>
 ##       <div class="title"><a href="$core_v2_encoding.HtmlAttributeEncode($media.Url)" class="internal-link view-post"><span></span>$media.Title</a></div>
 ##       <div class="title">&nbsp;&nbsp; $media.DocumentType</div>
 ##       #if( $selDocumentTypeFilter <= 0 )
 ##       <div class="info-panel">
 ##           #if($media.DocumentType.Length > 0)
 ##               <div class="document-type">$core_v2_language.GetResource('Omnicell_Type_Label') $media.DocumentType</div>
 ##           #end
 ##       </div>
 ##       #end
        
        
<table class="docs-table">
    <tr>
        <td class="row-one col-one">
            <span><img src="/cfs-file.ashx/__key/themefiles/s-7e987e474b714b01ba29b4336720c446-files/fetch_2D00_discussion_2D00_icon.png"></span>
        </td>
    	<td class="table-column post-name row-one col-two">
            <a href="$core_v2_encoding.HtmlAttributeEncode($media.Url)" style="font-size: 16px;color:#006699;font-weight: normal;"><span></span>$media.Title</a>
    	</td>
##    </tr>

##    <tr>
        <td class="table-column post-author row-two col-one">
##        	<span class="user-name">Posted by <a href="$core_v2_urls.User($thread.Author.Id)" class="internal-link view-user-profile">$thread.Author.DisplayName</a></span>
##            on <span class="value">$core_v2_language.FormatDateAndTime($thread.Date)</span>
            <div class="floatright"><span class="attribute-name">Document type: $media.DocumentType</span></div>
        </td>
    </tr>
</table>
   
   
   
   <div class="clear"></div>
 ##   </li>
#end


<div class="table-list-footer">
#set($galleryUrl = $core_v2_mediaUrls.Gallery($dgId))
    <a href="$galleryUrl">View All Documents</a> 
    $core_v2_ui.Pager($pagedResults.PageIndex, $pagedResults.PageSize, $pagedResults.TotalCount)
</div>


</div>

#registerEndOfPageHtml()
    <script type="text/javascript">
        jQuery(function() {
            $('#$core_v2_widget.UniqueId('filterProducts')').change(function(e) {
               if($(this).is(':checked')) {
                   window.location = "?pf=filter";
               } else {
                   window.location = "?pf=all";
               }
            });
        });
    </script>
#end