$core_v2_page.SetContentType("text/css") 

.save-post {
  font-weight: bold;
  margin-left: 22px;
  position: relative;
  background: Transparent url('/cfs-filesystemfile.ashx/__key/themefiles/s-fd-7e987e474b714b01ba29b4336720c446-files/button_2D00_sprite.gif') no-repeat right -66px;
  height: 22px;
  display: inline-table;
  display: -moz-inline-box;
  display: inline-block;
  line-height: 22px;
  color: #fff !important;
  font-size: 11px;
  padding: 0px 12px 0px 0px;
  z-index: 3; 
    
}