#set ($activeTab = $core_v2_page.GetQueryStringValue("ActiveTab"))
#set ($activeGroup = $groupId)
###set ($activeGroup = $core_v2_page.GetQueryStringValue("Group"))
###set ($activeMediaKey = "")
#if (!$activeTab)
	 ## #set ($activeTab = $core_v2_widget.GetStringValue('defaultActiveTab', 'documentation'))
    #set ($activeTab = "documentation")
#end

	<div class="custom-bottom-right">
		<div class="content-fragment thread-list myproducts">
			<div class="content-fragment-content">

<div class="filter">
    <div class="view-type">
		#if($viewType=='standard')
			#if ($activeTab == "home")
				<span class="filter-option selected">
			#else
				<span class="filter-option">
			#end
					<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "ActiveTab=home&$core_v2_ui.PageIndexQueryStringKey=1"))"><span></span>$core_v2_language.GetResource("Home")</a>
				</span>
				<span class="separator">|</span>
		#end
		
		#if ($activeTab == "documentation")
			<span class="filter-option selected">
		#else
			<span class="filter-option">
		#end
				<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "ActiveTab=documentation&$core_v2_ui.PageIndexQueryStringKey=1"))"><span></span>$core_v2_language.GetResource("Documentation")</a>
			</span>
			<span class="separator">|</span>
			
		#if ($activeTab == "training")
			<span class="filter-option selected">
		#else
			<span class="filter-option">
		#end
				<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "ActiveTab=training&$core_v2_ui.PageIndexQueryStringKey=1"))"><span></span>$core_v2_language.GetResource("Training")</a>
			</span>
			<span class="separator">|</span>
		#if ($activeTab == "news")
			<span class="filter-option selected">
		#else
			<span class="filter-option">
		#end	
				<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "ActiveTab=news&$core_v2_ui.PageIndexQueryStringKey=1"))"><span></span>$core_v2_language.GetResource("News")</a>
			</span>
##            <span class="separator">|</span>
##
##        #if ($activeTab == "discussions")
##        	<span class="filter-option selected">
##        #else
##        	<span class="filter-option">
##        #end
##        		<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($core_v2_page.Url, "ActiveTab=discussions&$core_v2_ui.PageIndexQueryStringKey=1"))"><span></span>$core_v2_language.GetResource("Discussions")</a>
##        	</span>

<span style="clear:both"></span>
	</div>
</div>

#if ($activeTab == "home")
	$core_v2_widget.ExecuteFile('group-home.vm')	
#elseif ($activeTab == "discussions")
	$core_v2_widget.ExecuteFile('discussions-tab.vm')
#elseif ($activeTab == "documentation")
         #set($mediaGalleryTypeId = "1")
## search is problematic on staging.  can't set correct media gallery; flipping for now
         #set($config = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('documentGallery','')))
##         #set ($activeMediaKey = "documentation")
	$core_v2_widget.ExecuteFile('media-gallery-tab.vm')
#elseif ($activeTab == "training")
         #set($config = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('trainingGallery','')))
#set($mediaGalleryTypeId = "2,3,4")
##         #set ($activeMediaKey = "training")
	$core_v2_widget.ExecuteFile('media-gallery-tab.vm')
#elseif ($activeTab == "news")
	$core_v2_widget.ExecuteFile('news-tab.vm')
#end


				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
##		<div class="scroll-down">
##					<img src="http://dev.myomnicell.com/cfs-file.ashx/__key/themefiles/s-7e987e474b714b01ba29b4336720c446-files/longscrolldown.png" width="439" height="14" />
##		</div>
##		<div class="view-all">
##			<a href="">View All</a>
##		</div>
			
	</div>
    <div class="clear"></div>
    

