$core_v2_widget.ExecuteFile("subview-perform-blogquery.vm")
#set($excerptSize = 250)

#foreach($post in $posts)
#beforeall
    <div class="content-list-header simple-expanded"></div>
    <ul class="content-list simple-expanded">
#each
		<li class="content-item">
			<div class="abbreviated-post-header"></div>
			<div class="abbreviated-post news-tab-item">
				#if($velocityCount == 1)
##					<div class="post-application">
##						<span class="value">
##							<a href="$core_v2_encoding.HtmlAttributeEncode($core_v2_blog.Current.Url)" class="internal-link view-application">
##								<span></span>$core_v2_blog.Current.Name
##							</a>
##						</span>
##					</div>
					<h4 class="post-name fiji-first evolution2-first">
						<a href="$core_v2_encoding.HtmlAttributeEncode($post.Url)" class="internal-link view-post">
							<span></span>$post.Title
						</a>
					</h4>
					<div class="post-summary news-tab-summary">
						#if($post.Excerpt && $post.Excerpt.Length > 0)
							$core_v2_language.Truncate($post.Excerpt, $excerptSize, '...')
						#else
							$core_v2_language.Truncate($post.Body(), $excerptSize, '...')
						#end
					</div>
				#else
					<h4 class="post-name">
						<a href="$core_v2_encoding.HtmlAttributeEncode($post.Url)" class="internal-link view-post">
							<span></span>$post.Title
						</a>
					</h4>
				#end
				<div class="post-date">
					<span class="label">$core_v2_language.GetResource('Weblog_EntryList_Posted')</span>
					<span class="value">$core_v2_language.FormatAgoDate($post.PublishedDate)</span>
				</div>
				<div class="post-author">
					<span class="user-name">
						<span class="fiji-post-author-by">$core_v2_language.GetResource('by')</span>
						#if ($post.Author.ProfileUrl)
							<a class="internal-link view-user-profile" href="$core_v2_encoding.HtmlAttributeEncode($post.Author.ProfileUrl)">
								<span></span>$post.Author.DisplayName
							</a>
						#else
							<span></span>$post.Author.DisplayName
						#end
					</span>
				</div>
			</div>
			<div class="abbreviated-post-footer"></div>
		</li>
#afterall
	</ul>
	<div class="content-list-footer simple-expanded"></div>
#nodata
	<div class="message norecords">$core_v2_language.GetResource('Weblog_NoPosts_Created')</div>
#end

$core_v2_ui.Pager($posts.PageIndex, $posts.PageSize, $posts.TotalCount)