#set ($productsGroupId = $core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('productsGroup','Group=5')).Value('Group'))
#set ($groups = $core_v2_group.List("%{ParentGroupId=$productsGroupId,PageSize=100, IncludeAllSubGroups=1}"))
#set($pageUrl = $core_v2_page.Url)

<a href="#" id="$core_v2_widget.UniqueId('productSelectionButton')"><img src="/cfs-file.ashx/__key/themefiles/s-7e987e474b714b01ba29b4336720c446-files/my_2D00_products_2D00_button.jpg" style="border:none" /></a>
<div id="$core_v2_widget.UniqueId('productGroupMenuContainer')"></div>

##<a #if($filterAllGroups  != 'false') style="display:none" #end href="" id="$core_v2_widget.UniqueId('productSelectionButton')"><img src="/cfs-file.ashx/__key/themefiles/s-7e987e474b714b01ba29b4336720c446-files/my_2D00_products_2D00_button.jpg" style="border:none" /></a>
##<div id="$core_v2_widget.UniqueId('productGroupMenuContainer')"></div>



<script type="text/javascript">
	var productSelectButton = jQuery("#$core_v2_widget.UniqueId('productSelectionButton')");
	var productGroupsMenuContainer = jQuery("#$core_v2_widget.UniqueId('productGroupMenuContainer')");
	var productGroupsMenuContainerString = "$core_v2_widget.UniqueId('productGroupMenuContainer')";
	var productGroupsMenuContainer = jQuery('#' + productGroupsMenuContainerString );
##	var productGroups = new Array();
##	#foreach ($group in $groups)
##		#set($groupUser = false)
##		#set($groupUser = $core_v2_groupUserMember.Get($group.Id, "%{UserId=$core_v2_user.Accessing.Id}"))
##		#if ($groupUser != false && $groupUser.IsDirectMember)
##			#set($selected = "")
##			#if($filterGroupId  == $group.Id)
##				#set($selectedProductGroup = $group.Name)
##			#end
##
##			var menuItem$group.Id = 
##			{
##				id:'$group.Id',
##				text:'$group.Name',
##				url:'$core_v2_encoding.HtmlAttributeEncode($core_v2_page.AdjustQueryString($pageUrl, "FilterGroupId=$group.Id"))',
##				iconurl:'$group.AvatarUrl'
##			};		
##			productGroups.push(menuItem$group.Id);
##	
##		#end		
##
##	#end
	

   jQuery(function(){
//   jQuery(document).ready(function(){  
	productGroupsMenuContainer.glowPopUpMenu({
		groupCssClass: 'menu moderation-content menu__moderation-content',
		itemCssClass: 'menu-item menu__moderation-content__menu-item',
		itemSelectedCssClass: 'menu-item hover menu__moderation-content__menu-item__hover',
		itemExpandedCssClass: 'menu-item expanded',
		position: 'down',
		zIndex: 100,
		iconWidth: 30,
		iconHeight: 30,
		menuItems: []
	});
    
    ## mhunter - give option for all products
    productGroupsMenuContainer.glowPopUpMenu('add', productGroupsMenuContainer.glowPopUpMenu('createMenuItem', {
	id:'',
	text:'All Products',
	url:'$core_v2_page.AdjustQueryString($pageUrl, "FilterGroupId=")',
	icon_url:'$group.AvatarUrl'
    }));	

	#foreach ($group in $groups)
		#set($groupUser = false)
		#set($groupUser = $core_v2_groupUserMember.Get($group.Id, "%{UserId=$core_v2_user.Accessing.Id}"))
		#if ($filterAllGroups == "false" || ($groupUser != false && $groupUser.IsDirectMember)) 
			#set($selected = "")
			#if($filterGroupId  == $group.Id)
				#set($selectedProductGroup = $group.Name)
			#end

			productGroupsMenuContainer.glowPopUpMenu('add', productGroupsMenuContainer.glowPopUpMenu('createMenuItem', {
				id:'$group.Id',
				text:'$group.Name',
				url:'$core_v2_page.AdjustQueryString($pageUrl, "FilterGroupId=$group.Id")',
				icon_url:'$group.AvatarUrl'
			}));	
		#end		

	#end

	
	productSelectButton.click(function()
	{
##		#if($filterAllGroups  == 'false')
			if (!productGroupsMenuContainer.glowPopUpMenu('isOpen'))
				productGroupsMenuContainer.glowPopUpMenu('open', this);
			else
				productGroupsMenuContainer.glowPopUpMenu('close');
##		#end
		
##		event.preventDefault();
		return false;
	});
});
</script>

